<% if( ( typeof store_id == 'number' || typeof store_id == 'string' ) && store_id){ } else{ store_id = "0" } %>
<% if(  typeof service_type_name  == 'string'  && service_type_name ){ } else{ service_type_name = "" } %>

<% if( ( typeof store_name  == 'string'
 ||  typeof store_name  == 'number' ) 
 && service_type_name  && service_type_name.length > 0)
 {
	store_name = store_name 
} else{ 
	store_name  = "" 
} %>




<%
//order check
if (typeof news_sum == 'number' && news_sum && news_sum > 0 ) { 
	news_sum = '<span class="red">' + news_sum + '</span>';
} else{ 
	news_sum = "";
}

%>






<div id="sidebar" class="sidebar">
	<ul class="admin-menu">
		<!-- //admin -->	
		<% if(users_type == "admin"){ %>		
		<li>
			<a href="/admin/">
				<i class="fas fa-tachometer-alt"></i>
				<div class="menu-name">Admin</div>
			</a>
		</li>
		<% } %>
		<!-- //bussiness -->
		<li>
			<a href="/bussiness/<%= user_id %>">
				<i class="fas fa-user"></i>
				<div class="menu-name">Quản lý Doanh nghiệp </div>
			</a>
		</li>
		
		

		<!-- //cua hàng  -->
		<li>
			<i class="fas fa-box-open"></i>
			<div class="menu-name">Cửa hàng <%= store_name %> </div>
			<ul>
				<li id="sidebar_quan_ly"><a href="/stores/manage/<%= store_id %>/<%= user_id %>">Quản lý  <%- news_sum %></a></li>
			</ul>		
		</li>			
		
	
			<!-- //tạo mới  -->
		<li>
			<i class="fas fa-box-open"></i>
			<div class="menu-name">Đơn hàng</div>
			<ul>
				<li id="sidebar_don_hang"><a href="/stores/manage/orders/<%= store_id %>/1">Đơn hàng</a></li>
			</ul>		
		</li>	

	
			<!-- //tạo mới  -->
		<li>
			<i class="fas fa-box-open"></i>
			<div class="menu-name">Tạo mới  </div>
			<ul>
				
				<li id="sidebar_tao_san_pham"><a href="/products/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Tạo sản phẩm</a></li>
				<li id="sidebar_tao_danh_muc"><a href="/categorys/general/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Tạo danh mục</a></li>
				<li id="sidebar_tao_option"><a href="/options/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Tạo options</a></li>
				<li id="sidebar_tao_thuong_hieu"><a href="/brands/add/<%= store_id %>/<%= user_id %>">Tạo thương hiệu</a></li>					
				
			</ul>		
		</li>			
		
		
		
		<!-- //quản lý  -->
		<li>
			<i class="fas fa-box-open"></i>
			<div class="menu-name">Quản lý </div>
			<ul>
				<li id="sidebar_san_pham"><a href="/products/<%= service_type_name %>/<%= store_id %>">Sản phẩm </a></li>
				<li id="sidebar_danh_muc"><a href="/categorys/general/<%= service_type_name %>/<%= store_id %>">Danh mục</a></li>
				<li id="sidebar_option"><a href="/options/<%= service_type_name %>/<%= store_id %>">options</a></li>
				<li id="sidebar_thuong_hieu"><a href="/brands/<%= store_id %>">Thương hiệu</a></li>
			</ul>		
		</li>		
		
		
	</ul>
</div>