<% if( typeof order_list == 'object' && order_list && order_list.length > 0){  } else{ order_list=[] } %>









<%
if(order_list.length == 0){
%>
	<div class="not_order"><span>Chưa có đơn hàng nào ...... </span></div>
<% } else{
%>


	<table class="table-list">
		<thead>
			<tr>
				<th class="user-name">Tên cửa hàng</th>
				<th class="user-name">Số lượng bán</th>
				<th class="user-name">Tổng tiền bán</th>
				<th class="user-name">Tổng tiền chiếc khấu</th>
				<th class="user-name">Tổng tiền nhận được</th>
			</tr>
		</thead>
		<tbody>	


			<% 
			
			var sum_price = 0;
			var sum_qty = 0;
			var sum_discount = 0;
			var total = 0;			
			
			
			if(order_list.length > 0){
			for( var  x in order_list ) { 
			sum_price = sum_price + order_list[x].orders_details_speciality_price_sum;
			sum_qty = sum_qty + order_list[x].orders_details_speciality_qty_sum;
			sum_discount = sum_discount + order_list[x].orders_details_speciality_discount_sum;
			total = total + (order_list[x].orders_details_speciality_price_sum + order_list[x].orders_details_speciality_discount_sum);
			
			
			%>

			   <tr>
					<td class="user-name"><%- ojs_share.unCape(order_list[x].stores_name) %></td>
					<td class="user-name"><%= order_list[x].orders_details_speciality_qty_sum %></td>		
					<td class="user-name"><%- ojs_share.show_price_vnd(order_list[x].orders_details_speciality_price_sum,0,",",".","đ") %></td>
					<td class="user-name"><%- ojs_share.show_price_vnd(order_list[x].orders_details_speciality_discount_sum,0,",",".","đ") %></td>
					<td class="user-name"><%- ojs_share.show_price_vnd(order_list[x].orders_details_speciality_price_sum + order_list[x].orders_details_speciality_discount_sum,0,",",".","đ") %></td>
			   </tr>

			<% 
			}
			}
			%>	


				<th class="user-name">Tổng cộng</th>
				<th class="user-name"><%= sum_qty %></th>
				<th class="user-name"><%- ojs_share.show_price_vnd(sum_price,0,",",".","đ") %></th>
				<th class="user-name"><%- ojs_share.show_price_vnd(sum_discount,0,",",".","đ") %></th>
				<th class="user-name"><%- ojs_share.show_price_vnd(total,0,",",".","đ") %></th>




		</tbody>
		<tfoot>

		</tfoot>
	</table>	




<% 
}
%>

























