





<% 
if (typeof datas == 'object' && datas) { 
	data_parent_id = datas[0].shipping_speciality_parent_id;
	data_id = datas[0].shipping_speciality_ID ;
}else{ 
	let DanhMucChungMacDinhID = 0;
	data_parent_id = DanhMucChungMacDinhID;
	data_id = DanhMucChungMacDinhID;
}
if (typeof shipping_list == 'object' && shipping_list) { } else {shipping_list = [];}
%>	





<option value="0">Chọn khu vuc cha</option>
<% 
for(var  x in shipping_list) { %>
	<% if(shipping_list[x].shipping_speciality_parent_id == 0) { %>

			<% 
			if(shipping_list[x].shipping_speciality_ID  == data_parent_id ){ 
			%>
				<option  style="font-weight:bold;color:red;"  selected value="<%= shipping_list[x].shipping_speciality_ID %>"><%= shipping_list[x].shipping_speciality_name %></option>
			<% 
			}else if(shipping_list[x].shipping_speciality_ID  == data_id){ 
			%>
				<option value ="<%= shipping_list[x].shipping_speciality_ID %>" disabled><%= shipping_list[x].shipping_speciality_name %></option>
			<% 
			}else{ 
			%>
				<option value ="<%= shipping_list[x].shipping_speciality_ID %>"><%= shipping_list[x].shipping_speciality_name %></option>
			<% 
			} 
			%>			
			
			
		   <% 
		   for(var  y in shipping_list) { 
		   %>
				<% 
				if(shipping_list[x].shipping_speciality_ID == shipping_list[y].shipping_speciality_parent_id) { 
				%>
					<% 
					if(shipping_list[y].shipping_speciality_ID  == data_parent_id ){ 
					%>
						<option  style="font-weight:bold;color:red;"   selected value="<%= shipping_list[y].shipping_speciality_ID %>">&nbsp;&nbsp;&nbsp;&nbsp;<%= shipping_list[y].shipping_speciality_name %></option>
					<% 
					}else if(shipping_list[y].shipping_speciality_ID  == data_id){ 
					%>	
						<option value ="<%= shipping_list[y].shipping_speciality_ID %>"  disabled >&nbsp;&nbsp;&nbsp;&nbsp;<%= shipping_list[y].shipping_speciality_name %></option>
					<% 
					} else{
					%>
						<option value ="<%= shipping_list[y].shipping_speciality_ID %>" >&nbsp;&nbsp;&nbsp;&nbsp;<%= shipping_list[y].shipping_speciality_name %></option>
					<% 
					} 
					%>
				   <% 
				   for(var  z in shipping_list) { 
				   %>
						<% 
						if(shipping_list[y].shipping_speciality_ID == shipping_list[z].shipping_speciality_parent_id) { 
						%>
							<% 
							if(shipping_list[z].shipping_speciality_ID  == data_parent_id ){ 
							%>
								<option style="font-weight:bold;color:red;" selected value="<%= shipping_list[z].shipping_speciality_ID %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= shipping_list[z].shipping_speciality_name %></option>
							<% 
							}else if(shipping_list[z].shipping_speciality_ID  == data_id){ 
							%>		
								<option value ="<%= shipping_list[z].shipping_speciality_ID %>"  disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= shipping_list[z].shipping_speciality_name %></option>
							<% 
							} else{
							%>
								<option value ="<%= shipping_list[z].shipping_speciality_ID %>"  disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= shipping_list[z].shipping_speciality_name %></option>							
							<% 
							} 
							%>							
							
							
						<% 
						} 
						%>	   
					<% 
					} 
					%>						   
				<% 
				} 
				%>	   
			<% 
			} 
			%>
   <% 
   } 
   %>
<% 
} 
%>