





<% 
if (typeof datas == 'object' && datas) { 
	data_parent_id = datas[0].options_product_speciality_parent_id;
	data_id = datas[0].options_product_speciality_ID ;
}else{ 
	let DanhMucChungMacDinhID = 0;
	data_parent_id = DanhMucChungMacDinhID;
	data_id = DanhMucChungMacDinhID;
}
if (typeof options_list == 'object' && options_list) { } else {options_list = [];}
%>	





<option value="0">Chọn option cha</option>
<% 
for(var  x in options_list) { %>
	<% 
	if(options_list[x].options_product_speciality_parent_id == 0) { %>

		<% 
		if(options_list[x].options_product_speciality_ID  == data_parent_id ){ 	%>
			<option  style="font-weight:bold;color:red;"  selected value="<%= options_list[x].options_product_speciality_ID %>"><%= options_list[x].options_product_speciality_name %></option>
		<% 
		}else if(options_list[x].options_product_speciality_ID  == data_id){ %>
			<option value ="<%= options_list[x].options_product_speciality_ID %>" disabled><%= options_list[x].options_product_speciality_name %></option>
		<% 
		}else{ 	%>
			<option value ="<%= options_list[x].options_product_speciality_ID %>"><%= options_list[x].options_product_speciality_name %></option>
		<% 
		} 
		%>			
    <% 
    } %>
<% 
} %>