
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-category-general-speciality.js"></script>	
<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../../masterpage/header %>


<% 
if(users_type == "admin"){
	var status_disebale = ' style="display:none;" ';
}else{
	var status_disebale = "";
}
%>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>


	<div class="store_row">
		<button id = "all" class="btn_add_store  active" data_btn="all"><a href="#">Tất cả</a></button>
		<button id = "complate" class="btn_add_store" data_btn="all"><a href="#">Dã phê duyệt</a></button>
		<button id = "new" class="btn_add_store" data_btn="new"><a href="#">Sản phẩm mới chờ sử lý</a></button>
		<button id = "update" class="btn_add_store" data_btn="update"><a href="#">sản phẩm chỉnh sữa</a></button>
		<button  <%- status_disebale %> id = "not" class="btn_add_store" data_btn="not"><a href="#">Sản phẩm bị từ chối</a></button>
	</div>		
	
	
	
	<br>
	<br>
	<div id="ajax-wrap">	
	<% include ../../../masterpage/widget-category-general-show-tables %>
	</div>
	



<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let cat_id = $(this).attr("data_cat_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_category_general_speciality";//function name in callback 
		let z = ' { "cat_id" : "' + cat_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
	
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	//@
	//goi ajax
	$(document).on('click','#all',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [0,1,2,3];
		
		var datas = {
			"datas":{
				status_admin : status_admin,
				store_id:store_id
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_category(datas);	

	});//end of function		
	
	//@
	//goi ajax
	$(document).on('click','#complate',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [1]
		
		var datas = {
			"datas":{
				store_id:store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_category_no(datas);	

	});//end of function

	//@
	//goi ajax
	$(document).on('click','#new',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [0]
		
		var datas = {
			"datas":{
				store_id:store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_category_no(datas);	

	});//end of function

	//@
	//goi ajax
	$(document).on('click','#update',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [2]
		
		var datas = {
			"datas":{
				store_id:store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_category_no(datas);	

	});//end of function


	//@
	//goi ajax
	$(document).on('click','#not',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [3]
		
		var datas = {
			"datas":{
				store_id:store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_category_no(datas);	

	});//end of function


	
	//	
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../../../masterpage/loader-end %>