
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../../masterpage/loader %>



<script src="../../../../../<%= js_css_version %>/javascripts/class-category-general-speciality.js"></script>	









<% //neu admin thi hien muc nay
var enable_text;
var enable_text2;
var enable_text3;
if(user_role =="admin"){ 
	enable_text = "" ;
	enable_text2 = "" ;
	enable_text3 = "" ;
}else if(datas[0].category_general_speciality_update_status == "0"){
	enable_text = "" ;
	enable_text2 = " disabled " ;
	enable_text3 = "" ;
}else{
	enable_text = " disabled " ;
	enable_text2 = " disabled " ;
	enable_text3 = " disabled " ;
}
%>










<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../../masterpage/header %>




<!-- --------------------
content
--------------------- -->
<div id="content" class="content category">

	<h1><%= title %></h1>




	<div class="value_row">
		<span>Tên danh mục</span>
		<input <%- enable_text %> type="text" value="<%- ojs_share.unCape(datas[0].category_general_speciality_name) %>" id="category_general_speciality_name"/>
	</div>




	<!-- ------------------
	//danh muc chung
	------------------- -->
	<div id="category_general_wrap" class="value_row">
		<span>Danh mục cha</span>
		<div id="category_general_box">
		<select name="category_general" id="category_general_speciality_category_parent_id" <%- enable_text %> >
			<% include ../../../masterpage/widget-category-general-check-box %>
		</select>
		</div>
	</div>
	<!-- ------------------
	//danh muc chung
	------------------- -->




	<!-- ------------------
	//hình đại diện 
	------------------- -->
	<div class="pro_box" <%- enable_text %>>
		<h3>Ảnh đại diện</h3>	
		<div class="inside">
			<input type="text" 
				value="" 
				id="featured_image" 
				data_value="<%-  ojs_share.unCape( datas[0].category_general_speciality_featured_image ) %>" 
				style="display:none;" 
			/>
			<input type="button" value="Thêm ảnh" id="btn_featured_image">
			<div id="img_box_dai_dien"></div>
			<input type='file' accept="image/*" id='upload_image' style="display:none;">
		</div>
	</div>
	<!-- ------------------
	//end of hình đại diện 
	------------------- -->



	<div class="value_row" >
		<span>Ẩn hiện danh mục</span>
		<div class="select-wrap">
			<select id="category_general_speciality_show">
				<%- ojs_share.show_hide(datas[0].category_general_speciality_show) %>
			</select>	
		</div>
	</div>



	<!-- ------------------
	//thông tin danh mục
	------------------- -->
	<div class="value_row">
		<span>Mô tả danh mục</span>
		<textarea <%- enable_text %>  class="noi_dung" id="noi_dung"  rows="20" cols="100%">
		<%- ojs_share.unCape(datas[0].category_general_speciality_infomation) %>
		</textarea>
	</div>
	<!-- ------------------
	//thông tin danh mục
	------------------- -->

	<div class="value_row">
		<span>Sắp xếp </span>
		<input type="text" value="<%= datas[0].category_general_speciality_sort_order %>" id="category_general_speciality_sort_order" />
	</div>
	

	<p>
	<span>Trạng thái cửa hàng:</span>
	<select id="category_general_speciality_stores_status"  <%- enable_text3 %> >
		<%- ojs_share.show_status_select_share_all_two(datas[0].category_general_speciality_stores_status ) %>
	</select>
	</p>
	
	

	<p>
	<span>Trạng thái admin:</span>
	<select id="category_general_speciality_admin_status" <%- enable_text2 %>>
		<%- ojs_share.show_status_select_share_all(datas[0].category_general_speciality_admin_status ) %>
	</select>
	</p>	
	

	<p>
		<span>qoute</span>
		<br>
		<textarea <%- enable_text %> id="category_general_speciality_qoute"  rows="10" cols="100%" ><%- ojs_share.unCape(datas[0].category_general_speciality_qoute) %></textarea>
	</p>	








	<div class="btn_box">
		<a href="/categorys/general/speciality/<%= store_id %>/" class="btn_back">Quay về</a>
		<button id="btn_save" class="btn_save">Save</button>
	</div>	
		

	<input type="hidden" id="user_id" value="<%= user_id %>"/>
	<input type="hidden" id="cat_id" value="<%= cat_id %>"/>
	<input type="hidden" id="store_id" value="<%= datas[0].category_general_speciality_stores_id %>"/>







</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//
	//@
	ojs_loader.loadTinyMCE('noi_dung');
	//
	//@
		
		
	
	//@
	ojs_loader.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	//@
	//@
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_loader.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien")
	});		
	//
	//xóa image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		
		//console.log(url);
		//return;
		
		
		ojs_loader.delete_s3(url);
		
		//$('#featured_image').attr("data_s3","");
		//xoa html
		$(this).parent(".img_box").remove();
		ojs_loader.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
		
	});			
	//		
	//	
	
	
	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let category_general_speciality_name = $('#category_general_speciality_name').val();
		let category_general_speciality_sort_order = $('#category_general_speciality_sort_order').val();
	
		//@
		let cat_id = $('#cat_id').val();
		let store_id = $('#store_id').val();
		//@
		let category_general_speciality_featured_image = $('#featured_image').attr('data_value');
		//@
		let category_general_speciality_category_parent_id = $('#category_general_speciality_category_parent_id  option:selected').val();
		let category_general_speciality_show = $('#category_general_speciality_show  option:selected').val();		
		//@
		let category_general_speciality_infomation = tinymce.get("noi_dung").getContent();
		
		
		let category_general_speciality_stores_status = $('#category_general_speciality_stores_status  option:selected').val();		
		let category_general_speciality_admin_status = $('#category_general_speciality_admin_status  option:selected').val();	
		
		let category_general_speciality_qoute = $('#category_general_speciality_qoute').val();
		
		
		//
		let datas = {
			"datas":{
				category_general_speciality_name : category_general_speciality_name,
				category_general_speciality_category_parent_id :  category_general_speciality_category_parent_id,
				category_general_speciality_infomation : category_general_speciality_infomation,
				category_general_speciality_featured_image : category_general_speciality_featured_image,
				category_general_speciality_sort_order : category_general_speciality_sort_order,
				category_general_speciality_show : category_general_speciality_show,
				category_general_speciality_stores_status : category_general_speciality_stores_status,
				category_general_speciality_admin_status : category_general_speciality_admin_status,
				category_general_speciality_qoute : category_general_speciality_qoute,
				category_general_speciality_stores_id : store_id
				
			}
		}
		//console.log(datas);		
		//return;
		
		ojs_category_general_speciality.ajax_update(datas,cat_id);	
		
	});//end of save ajax
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../../../masterpage/loader-end %>