

<%- include ("../../masterpage/header") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/news.css' />





<script src="../../../../../<%= js_css_version %>/javascripts/ojs-share-upload.js"></script>		
<script src="../../../../../<%= js_css_version %>/javascripts/class-news-general.js"></script>




<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<%- include ("../../masterpage/loader") %>
<%- include ("../../masterpage/function-share-all") %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>


<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>Tạo tin tức</h1>
	
	
	
	
	
	
	
	<div class="pro_content_edit">
		<div class="pro_col01">
		
		
			<div class="pro_box ten_sp_box">
				<h3>Tiêu đề</h3>
				<div class="inside">
					<input type="text" value="" id="news_title"/>
				</div>
			</div>
			
			


			<!-- ------------------
			Nội dung
			------------------- -->
			<div class="pro_box">
				<h3>Nội dung</h3>
				<div class="inside">
					<textarea class="noi_dung"  id="noi_dung"  rows="20" cols="100%"></textarea>
				</div>
			</div>
			<!-- ------------------
			//Nội dung
			------------------- -->
		</div>
		
		
		
		
		
		
		
		
		
		<div class="pro_col02">		
			<!-- ------------------
			//hình đại diện 
			------------------- -->
			<div class="pro_box">
				<h3>Ảnh đại diện</h3>	
				<div class="inside">
					<input type="text" value="" id="featured_image" data_value="" style="display:none;" />
					<input type="button" value="Thêm ảnh" id="btn_featured_image">
					<div id="img_box_dai_dien"></div>
					<input type='file' accept="image/*" id='upload_image' style="display:none;">
				</div>
			</div>
			<!-- ------------------
			//end of hình đại diện 
			------------------- -->
		
		
		
		

			<div class="pro_box trang_thai_box">
				<h3>Trạng thái</h3>	
				<div class="inside">
					<select id="news_status_admin">
						<%- ojs_share_all.show_status(0) %>
					</select>
				</div>
			</div>
		</div>
	</div>	
	
	
	
	
	
	
	
	



<div class="btn_box">
	<a href="/news/general/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	
<input type="hidden" id="user_id" value="<%= user_id %>"/>


</div>

<!-- --------------------
end content
--------------------- -->








<%- include ("../../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	
	//ojs_share_upload.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");	

	//@
	//@
	$(document).on('click','#btn_draf',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		datas.datas.news_status_admin = 0;
		
		//console.log(datas);
		//return;
		


		ojs_news_general.ajax_save(datas);	
	});
	
	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		//console.log(datas);
		//return;
		
		ojs_news_general.ajax_save(datas);	
	});


	//@
	ojs_share_upload.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	//@
	
	//@
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_share_upload.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien")
	});		
	//
	//xóa image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		
		//console.log(url);
		//return;
		
		
		ojs_share_upload.delete_s3(url);
		
		//$('#featured_image').attr("data_s3","");
		//xoa html
		$(this).parent(".img_box").remove();
		ojs_share_upload.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
		
	});			
	//		
	//		
	
	function get_datas(){
		
		let news_title = $('#news_title').val();
		let news_status_admin = $('#news_status_admin  option:selected').val();
		let news_contents = $('#noi_dung').val();
		let news_featured_image = $('#featured_image').attr('data_value');
		
		let datas = {
			"datas":{
				news_title : news_title,
				news_status_admin : news_status_admin,
				news_contents : news_contents,
				news_featured_image : news_featured_image
			}
		}
		
		
		//console.log(datas);		
		return datas;
	}
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>












<%- include ("../../masterpage/loader-end") %>






	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	