

<%- include ("../../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/news.css' />





<script src="../../../../../<%= js_css_version %>/javascripts/ojs-share-upload.js"></script>		
<script src="../../../../../<%= js_css_version %>/javascripts/class-news-general.js"></script>






<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<%- include ("../../masterpage/header") %>
<%- include ("../../masterpage/function-share-all") %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>


<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>Danh sách tin tức</h1>
	
	
	
	
		<%- include ("../../masterpage/widget-news-show-tables") %>
	
	
	
		
	
	
	
</div>
<!-- --------------------
end content
--------------------- -->






<%- include ("../../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let news_id = $(this).attr("data_news_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_news";//function name in callback 
		let z = ' { "news_id" : "' + news_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
		
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	
	//Loc trang thai
	///////////////////////////
	$("#loc_trang_thai").change(function() {
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: 0,
				store_id	:0,
				status_admin : JSON.parse(status_admin)
			}
		}	
		///console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option(datas);	
	});



///////////////////////////////////////////////////////
});//end of document
</script>








<%- include ("../../masterpage/loader-end") %>











	
	
	
	
	
	
	
	
	
	
	
	
	
	