
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-coupon-speciality.js"></script>		


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-coupon %>




<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	







<% //neu admin thi hien muc nay
var	enable_text = " disabled " ;
var	enable_text2 = " " ;
var	enable_text3 = " disabled " ;


var admin_view = " admin_hide ";



if(user_role =="admin"){ 
	enable_text3 = "" ;
	enable_text2 = " disabled ";
	admin_view = " admin_show "
}

%>






<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/coupon/speciality/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>
	<a href="coupon/speciality/add/<%= store_id %>">coupon</a><i class="fas fa-chevron-right"></i>Tạo coupon</h1>
	
	<div class="coupon_content pro_content_edit">
		<div class="pro_col01">
			<!-- Mã coupon -->
			<div class="pro_box">
				<h3>Mã coupon</h3>
				<div class="inside">
					<input type="text" value="" id="coupon_speciality_code" />
				</div>
			</div>
			
			
			<div class="noi_dung_coupon">
				<div class="thong_tin_coupon">	

					<p style="" class="<%= admin_view %>"><span>Loại coupon<span><br>
						<select id="coupon_speciality_type">
							<%- ojs_share.show_coupon_type_select(0) %>
						</select>
						<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/lo%E1%BA%A1i-coupon"  target="_blank"  class="giai_thich_link">
						<span class="giai-thich"><span>Chọn loại coupon chỉ dành cho cửa ah2ng hay tất cả cửa hàng được dùng</span></span>	
						</a>						
					</p>		
						

					<p>
					<span>Điều kiện<span><br>
						<select id="coupon_speciality_condition">
							<%- ojs_share_coupon.show_coupon_condition_select( 0 ) %>
						</select>	
						
						<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/dieu-kien-dung-coupon"  target="_blank" class="giai_thich_link">
						<span class="giai-thich"><span>Điều kiện để sử dụng mã giảm giá này</span></span>	
						</a>			
						
					<p>
					<span>Giá trị điều kiện<span><br>
					<input 
						class="number_change" type="text" 
						data_value="0"
						value="0" 
						id="coupon_speciality_condition_value" 
					/>			

						<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/dieu-kien-dung-coupon"  target="_blank" class="giai_thich_link">
						<span class="giai-thich"><span>Nhập giá trị cho điều kiện ở trên</span></span>	
						</a>
					
					</p>
					
					
				</div>
				<div class="cong_thuc_coupon">
					<p>
					<span>Tên công thức<span>
						<select id="coupon_speciality_formula_price">
							<%- ojs_share_coupon.show_coupon_formula_select() %>
						</select>	
						
						<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/cong-thuc-tinh-tien-giam-gia"  target="_blank" class="giai_thich_link">
						<span class="giai-thich"><span>Công thức tình tiền mã giảm giá</span></span>	
						</a>
						
					</p>
				

					<p><span>Tiền giảm giá </span>
						<input 
							class="number_change" type="text" 
							data_value="0"
							value="0" 
							id="coupon_speciality_formula_price_value" 
						/>
						<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/cong-thuc-tinh-tien-giam-gia"  target="_blank" class="giai_thich_link">
						<span class="giai-thich"><span>Giá trị công thức tính tiền mã giảm giá</span></span>	
						</a>						
					</p>
				</div>
				
				<div class="cong_thuc_coupon">
					<p><span>Giảm giá tối đa</span>
						<input 
							class="number_change" type="text" 
							data_value=""
							value="" 
							id="coupon_speciality_price_max" 
						/>
						
						<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/giam-gia-toi-da"  target="_blank" class="giai_thich_link">
						<span class="giai-thich"><span>Giá trị giảm giá tối đa cho chương trình khuyến mãi</span></span>	
						</a>						
						
					</p>	
						

				</div>
			</div>			
			
			
			
			
			
			
			
			
			<!-- ----------------------------------
					//của bảo
			------------------------------------ -->
			
			
			
			<!-- Kiểu coupon -->
			<div class="pro_box kieu_km" style="display:none;">
				<h3>Kiểu khuyến mãi</h3>
				<div class="inside">
					<label class="labl">
						<input type="radio" name="kieu_km" value="giamphantram" checked="checked"/>
						<div><p>Giảm <input type="text" value=""> % đơn hàng</p>
						<p>Tối đa <input 
							class="number_change" type="text" 
							data_value="0"
							value="0" 
							id="coupon_speciality_price_max" 
						/> đ</p>
						</div>
						
					</label>
					<label class="labl">
						<input type="radio" name="kieu_km" value="giamcodinh" />
						<div>Giảm cố định <input type="text" value=""> đ </div>
					</label>
					<label class="labl">
						<input type="radio" name="kieu_km" value="freeship" />
						<div><p>Freeship</p>
							<p>Tối đa <input 
								class="number_change" type="text" 
								data_value="0"
								value="0" 
								id="coupon_speciality_price_max" 
							/> đ</p>
						</div>
						
					</label>
				</div>
			</div>
			
			<!-- Điều kiện coupon -->
			<div class="pro_box kieu_km"  style="display:none;">
				<h3>Điều kiện</h3>
				<div class="inside">
					<label class="labl">
						<input type="radio" name="dk_km" value="khongdk" checked="checked"/>
						<div>Không có điều kiện</div>
					</label>
					<label class="labl">
						<input type="radio" name="dk_km" value="dontu" />
						<div>Đơn tối thiểu <input type="text" value=""> đ</div>
					</label>
					<label class="labl">
						<input type="radio" name="dk_km" value="sptu"/>
						<div>Đơn có ít nhất <input type="text" value=""> SP</div>
					</label>
					<label class="labl">
						<input type="radio" name="dk_km" value="dondau" />
						<div>Đơn hàng đầu tiên trên DALA</div>
					</label>
				</div>
			</div>
			
			<!-- Áp dụng cho -->
			<div class="pro_box coupon_apply"  style="display:none;">
				<h3>Áp dụng cho</h3>
				<div class="inside">
					<div class="col">
						<h4>Danh mục sản phẩm</h4>	
						<div class="category_wrap inside">
							<div id="category_inner">
								<% include ../../masterpage/widget-category-product %>
							</div>	
						</div>
					</div>
					<div class="col">
						<h4>Thương hiệu</h4>	
						<div class="category_wrap inside">
							<div id="category_inner">
								Load danh sach thương hiệu dạng checkbox
							</div>	
						</div>
					</div>
					<div class="col">
						<h4>Sản phẩm</h4>	
						<div class="category_wrap inside">
							<div id="category_inner">
								Load danh sach SP dạng checkbox
							</div>	
						</div>
					</div>
				</div>
			</div>
			
			
			
			<!-- ----------------------------------
					// end of của bảo
			------------------------------------ -->			
			
			
			
			
			
			
			
			
			<!-- ------------------
			Mô tả coupon
			------------------- -->
			<div class="pro_box ">
				<h3>Mô tả coupon</h3>
				<div class="inside">
					<textarea class="noi_dung"  id="noi_dung"  rows="10" cols="100%"></textarea>
				</div>
			</div>
		</div>
		<div class="pro_col02">
			<!-- Thời gian -->
			<div class="pro_box">
				<h3>Hiệu lực</h3>
				<div class="inside">
					<p><span>Từ</span><input type="text" value="" id="coupon_speciality_date_star" /> </p>
					<p><span>Đến</span><input type="text" value="" id="coupon_speciality_date_end" /> </p>
				</div>
			</div>
			
			<!-- Số lượng coupon -->
			<div class="pro_box"  style="display:none;">
				<h3>Số lượng coupon</h3>
				<div class="inside">
					<input type="text" value="" id="coupon_speciality_limit_number" />
				</div>
			</div>
			
			<!-- Sử dụng chung coupon -->
			<div class="pro_box">
				<h3>Dùng chung với Coupon khác?</h3>
				<div class="inside">
					<select id="coupon_speciality_multiple">
						<%- ojs_share.show_coupon_multi_select(0) %>
					</select>	
				</div>
				
				<a href="https://sites.google.com/view/huong-dan-cua-hang-dala/tao-coupon/dung-chung-ma-giam-gia"  target="_blank" class="giai_thich_link">
				<span class="giai-thich"><span>Dùng chung với mã giảm giá khác</span></span>	
				</a>					
			</div>
			
			<!-- KH dùng tối đa -->
			<div class="pro_box"   style="display:none;">
				<h3>Mỗi khách dùng tối đa bao nhiêu lần?</h3>
				<div class="inside">
					<input 
					class="number_change" type="text" 
					data_value="0"
					value="0" 
					id="coupon_speciality_limit_user" 
					/>
				</div>
			</div>
			
			<!-- Tin nhắn admin -->
			<div class="pro_box trang_thai_box ">
				<h3>Lời nhắn</h3>
				<div class="inside">
					<textarea class="quote"  id="coupon_speciality_qoute"  rows="10" cols="100%"></textarea>					
				</div>
				
				
				<span class="giai-thich"><span>Gữi tin nhắn tới admin duyệt sản phẩm</span></span>	
	
				
			</div>	
			
			<!-- Trạng thái admin -->
			<div class="pro_box trang_thai_box <%= admin_view %>">
				<h3>Trạng thái admin</h3>
				<div class="inside">
					<select id="coupon_speciality_status_admin" <%= enable_text3 %>>
						<%- ojs_share.show_status_discount_programs(0) -%>
					</select>						
				</div>
			</div>	
	
		</div>
	</div>
	
	
	<br>
	<br>
	<br>
	

	
	
	

<div class="btn_box">
	<a href="/coupon/speciality/<%= store_id %>/" class="btn_back">Quay về</a>
	<a href="/coupon/speciality/<%= store_id %>/" class="btn_back" id="btn_draf">Lưu & Ẩn</a>
	<button id="btn_save" class="btn_save">Đăng</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	var user_id = $('#user_id').val();
	var store_id = $('#store_id').val();
	
	
	
	$( "#coupon_speciality_date_star" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( "#coupon_speciality_date_end" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);

	//@
	//@
	//@
	//@
	$(document).on('click','#btn_draf',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		datas.datas.coupon_speciality_status_admin = -1;
		
		//console.log(datas);
		//return;
		


		ojs_coupon_speciality.ajax_save(datas);	
	});
	
	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		//console.log(datas);
		//return;
		
		ojs_coupon_speciality.ajax_save(datas);	
	});


	
	
	function get_datas(){
		
		
		let coupon_speciality_code = $('#coupon_speciality_code').val();

		var date_01 = $('#coupon_speciality_date_star').datepicker( "getDate" );
		var coupon_speciality_date_star = $.datepicker.formatDate("yy-mm-dd", date_01);

		
		var date_02 = $('#coupon_speciality_date_end').datepicker( "getDate" );
		var coupon_speciality_date_end = $.datepicker.formatDate("yy-mm-dd", date_02);
		
		if(coupon_speciality_date_end.length > 0){			
			coupon_speciality_date_end = coupon_speciality_date_end + " 23:59:59"
		}
		
		if(coupon_speciality_code == "" ){
			ojs_message.message_ok_show("Chưa nhập mã coupon");
		}

		

		let coupon_speciality_condition = $('#coupon_speciality_condition  option:selected').val();
		let coupon_speciality_condition_value = $('#coupon_speciality_condition_value').attr("data_value");
		
		let coupon_speciality_formula_price = $('#coupon_speciality_formula_price  option:selected').val();
		let coupon_speciality_formula_price_value = $('#coupon_speciality_formula_price_value').attr("data_value");
		
		
		let coupon_speciality_price_max = $('#coupon_speciality_price_max').attr("data_value");
		let coupon_speciality_limit_user = $('#coupon_speciality_limit_user').val();
		let coupon_speciality_limit_number = $('#coupon_speciality_limit_number').val();	
			
			
			
			
		//@
		//@
		let coupon_speciality_type = $('#coupon_speciality_type  option:selected').val();
		let coupon_speciality_multiple = $('#coupon_speciality_multiple  option:selected').val();	
		//@
		let coupon_speciality_info = $('#noi_dung').val();
		var coupon_speciality_status_admin = $('#coupon_speciality_status_admin').val();





		
		let datas = {
			"datas":{
				coupon_speciality_date_star : coupon_speciality_date_star,				
				coupon_speciality_date_end : coupon_speciality_date_end,				
				coupon_speciality_code : coupon_speciality_code,	
				
				coupon_speciality_condition : coupon_speciality_condition,				
				coupon_speciality_condition_value : coupon_speciality_condition_value,	
				
				coupon_speciality_formula_price : coupon_speciality_formula_price,
				coupon_speciality_formula_price_value : coupon_speciality_formula_price_value,	

				
				coupon_speciality_price_max : coupon_speciality_price_max,	
				coupon_speciality_type : coupon_speciality_type,				
								
								
				coupon_speciality_info : coupon_speciality_info,				
				coupon_speciality_multiple : coupon_speciality_multiple,
				coupon_speciality_limit_user : coupon_speciality_limit_user,
				coupon_speciality_limit_number:coupon_speciality_limit_number,
				
				coupon_speciality_status_admin:coupon_speciality_status_admin,
				coupon_speciality_stores_id_created:store_id				
			}
		}
		
		return datas;
	}

	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../../masterpage/loader-end %>