

<%- include ("../../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/coupon.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/coupon-add.css' />




<script src="../../../../../<%= js_css_version %>/javascripts/ojs-share-upload.js"></script>		
<script src="../../../../../<%= js_css_version %>/javascripts/class-coupon-speciality-admin.js"></script>






<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">



<!-- --------------------
page wrap 
--------------------- -->



<%- include ("../../masterpage/header") %>
<%- include ("../../masterpage/function-share-coupon") %>
<%- include ("../../masterpage/function-share-all") %>
<%- include ("../../masterpage/function-share-all-admin") %>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>


<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/admin/">home</a><i class="fas fa-chevron-right"></i>
	<a href="coupon/speciality/">coupons</a><i class="fas fa-chevron-right"></i>tạo coupon</h1>

	
	
	
	
	<div class="coupon_content pro_content_edit">
		<div class="pro_col01">
			<!-- Mã coupon -->
			<div class="pro_box">
				<h3>Mã coupon</h3>
				<div class="inside">
					<input type="text" value="" id="coupon_speciality_code" />
				</div>
			</div>
			
			
			
			
			
			
			
			<!-- --------------------------
				//Điều kiện dùng coupon
			--------------------------- -->
			
			<div class="pro_box">
			<h3>Điều kiện áp dụng</h3>
			<div class="noi_dung_coupon inside">
			
				<div class="thong_tin_coupon">	

					<p style="display:none;" class="">
					<span>Loại coupon<span>
					<a href="#"  target="_blank"  class="giai_thich_link">
						<span class="giai-thich"><span>Chọn loại coupon chỉ dành cho cửa hàng hay tất cả cửa hàng được dùng</span></span>	
						</a>
						<select id="coupon_speciality_type">
							<%- ojs_share_coupon.show_coupon_type_select(0) %>
						</select>
												
					</p>		
						

					<p>
						<span>Điều kiện<span>
						<a class="giai-thich" 
						href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#dieu-kien" 
						target="_blank"><span>Điều kiện để sử dụng mã giảm giá này</span></a>	
							<select id="coupon_speciality_condition">
								<%- ojs_share_coupon.show_coupon_condition_select( 0 ) %>
							</select>	
					</p>		
					<p  id="gia_tri_dieu_kien_coupon" style="">
					<span>Giá trị điều kiện<span>
					<input 
						class="number_change" type="text" 
						data_value="0"
						value="0" 
						id="coupon_speciality_condition_value" 
					/>			
					</p>				
				</div>
			</div>		
			</div>		
	
			<!-- --------------------------
				//Điều kiện dùng coupon
			--------------------------- -->	
	
	
	
	
	
	
	
			<!-- --------------------------
				//Công thức tính giá
			--------------------------- -->		
			<div class="pro_box">
			<h3>Công thức tính</h3>
			<div class="noi_dung_coupon inside">			
				<div class="cong_thuc_coupon">
					<p>
					<span>Tên công thức</span>
						<a class="giai-thich" 
						href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#cong-thuc" target="_blank">
							<span>Công thức tính tiền mã giảm giá</span>
						</a>	
						<select id="coupon_speciality_formula_price">
							<%- ojs_share_coupon.show_coupon_formula_select() %>
						</select>	
					</p>
				

					<p id="gia_tri_cong_thuc_coupon">
						<span>Nhập % hoặc số tiền giảm</span>
						<a class="giai-thich" href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#gia-tri" target="_blank">
							<span>Nhập giá trị % nếu bên trên chọn Giảm giá theo %, nhập số tiền giảm nếu chọn giảm giá cố định.</span>
						</a>
						<input 
							class="number_change" type="text" 
							data_value="0"
							value="0" 
							id="coupon_speciality_formula_price_value" 
						/>
												
					</p>

					<p><span>Giảm giá tối đa</span>
						<a class="giai-thich" 
						href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#giam-toi-da" 
						target="_blank"><span>Nhập số tiền giảm tối đa.</span></a>	
						<input 
							class="number_change" type="text" 
							data_value=""
							value="" 
							id="coupon_speciality_price_max" 
						/>						
					</p>				
				</div>
			</div>		
			</div>		
			
			<!-- --------------------------
				//Công thức tính giá
			--------------------------- -->		
	
	
	
	
	
	
	
	
	
	
			
			
			<!-- --------------------------
				//hoa hồng người giới thiệu
			--------------------------- -->	
			
			<div class="pro_box">
			<h3>Người giới thiệu</h3>
			<div class="noi_dung_coupon inside">
				<div class="thong_tin_coupon">	
					<span>Chọn người giới thiệu<span>
					<a href="#"  target="_blank"  class="giai_thich_link">
						<span class="giai-thich"><span>Chọn người hưởng ưu đãi khi giới thiệu coupon</span></span>	
						</a>
						<select id="coupon_speciality_intro">
							<option value="">Chọn người giới thiệu</option>
							<%
							for(x in user_list){
							%>	
								<option value="<%= user_list[x].users_ID %>">
									<%- user_list[x].users_full_name %> (
									<%- user_list[x].users_phone %> )
								</option>							
							<%
							}
							%>								
						</select>												
					</p>		
						

					<p>
						<span>Phần trăm chiếc khấu<span>
						<a class="giai-thich" href="#" target="_blank"><span>Phần trăm được hưởng trên mã coupon này</span></a>	
						<input 
						class="number_change" type="text" 
						data_value="0"
						value="0" 
						id="coupon_speciality_intro_price" 
					/>	
					</p>		
				</div>
			</div>		
			</div>
			
			<!-- --------------------------
				//hoa hồng người giới thiệu
			--------------------------- -->		
	
	
		<p class="" style="display:none;"><span>Tiền khuyến mãi<span>
			<select id="coupon_speciality_pay_type">
				<%- ojs_share_coupon.show_coupon_pay_type_select(0) %>
			</select>	
		</p>		
	
	
			
			
			<!-- ------------------
			Mô tả coupon
			------------------- -->
			<div class="pro_box ">
				<h3>Mô tả coupon</h3>
				<div class="inside">
					<textarea class="noi_dung"  
					id="noi_dung"  rows="10" 
					cols="100%" placeholder="Vài mô tả cho mã giảm giá này."></textarea>
				</div>
			</div>
			
			<!-- ------------------------------
			//Tin nhắn admin 
			------------------------------- -->
			<div class="pro_box trang_thai_box ">
				<h3>Lời nhắn từ admin</h3>
				<div class="inside">
					<textarea class="quote"  
					id="coupon_speciality_qoute"  rows="10" cols="100%" 
					placeholder="Không bắt buộc, chỉ nhập khi nhắn tin với admin"></textarea>					
				</div>
			</div>				
		</div>
		
		
		
		
		
		<div class="pro_col02">		
			
			<!-- ------------------
			//hình đại diện 
			------------------- -->
			<div class="pro_box">
				<h3>Ảnh đại diện 
				<a class="giai-thich" 
				href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#banner" 
				target="_blank"><span>Chọn ảnh banner cho coupon, tỉ lệ 3:1</span></a>	
				</h3>	
				<div class="inside">
					<input type="text" value="" id="featured_image" data_value="" style="display:none;" />
					<input type="button" value="Thêm ảnh" id="btn_featured_image">
					<div id="img_box_dai_dien"></div>
					<input type='file' accept="image/*" id='upload_image' style="display:none;">
				</div>
			</div>
			<!-- ------------------
			// end of hình đại diện 
			------------------- -->			
	
	
	
		
		
			<!-- Thời gian -->
			<div class="pro_box">
				<h3>Hiệu lực</h3>
				<div class="inside">
					<p><span>Từ</span><input type="text" value="" id="coupon_speciality_date_star" placeholder="Chọn ngày bắt đầu"/></p>
					<p><span>Đến</span><input type="text" value="" id="coupon_speciality_date_end" placeholder="Chọn ngày kết thúc"/></p>
				</div>
			</div>
			
			
			
			<!-- --------------
			//Sử dụng chung coupon 
			---------------- -->			
			<div class="pro_box">
				<h3>Dùng chung với Coupon khác?</h3>
				<div class="inside">
					<select id="coupon_speciality_multiple">
						<%- ojs_share_coupon.show_coupon_multi_select(0) %>
					</select>	
				</div>									
			</div>		
	
	
	
			<!-- ---------------------------
			//Số lượng coupon 
			------------------------------ -->
			<div class="pro_box">
				<h3>Số lượng coupon 
				<a class="giai-thich" 
				href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#so-luong" 
				target="_blank"><span>Số lượng coupon được tạo ra</span></a></h3>
				<div class="inside">
					<input type="text" value="" id="coupon_speciality_limit_number" />
				</div>
			</div>	
			
			
			<!-- ------------------------------
			//KH dùng tối đa 
			------------------------------ -->
			<div class="pro_box" >
				<h3>Mỗi khách dùng tối đa mấy lần?</h3>
				<div class="inside">
					<input 
					type="text" 
					value="" 
					id="coupon_speciality_limit_user" 
					placeholder="Nhập số lần khách được dùng mã này"
					/>
				</div>
			</div>				
	
	
	
	
			<!-- --------------
			//ẩn hiện coupon
			---------------- -->			
			<div class="pro_box">
				<h3>Ẩn hiện ngoài app ? 
				<a href="https://hotro.appdala.com/tao-ma-giam-gia-moi/#an-hien"  
				target="_blank" class="giai-thich"><span>Chọn hiện thì khi vào giỏ 
				hàng coupon sẽ tự hiển thị</span></a></h3>
				<div class="inside">
					<select id="coupon_speciality_show_hide">
						<%- ojs_share_coupon.show_coupon_show_hide(0) %>
					</select>	
				</div>									
			</div>
			
			


			<!-- ----------------------------
			//Trạng thái admin 
			-------------------------- -->
			<div class="pro_box trang_thai_box">
				<h3>Trạng thái admin</h3>
				<div class="inside">
					<select id="coupon_speciality_status_admin">
						<%- ojs_share_all.show_status_pay(0) -%>
					</select>						
				</div>
			</div>	
	
		</div>
	</div>			
			
			
			

	
	
	
	

	<div class="btn_box">
		<a href="/coupon/speciality/" class="btn_back">Quay về</a>
		<button id="btn_save" class="btn_save">Đăng</button>
	</div>	
		

	<input type="hidden" id="user_id" value="<%= user_id %>"/>
	<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<%- include ("../../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	var user_id = $('#user_id').val();
	var store_id = $('#store_id').val();
	
	
	//@
	ojs_share_upload.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	//@	
	//@
	//@
	
	//@
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	
	
	
	
	
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_share_upload.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien",user_id)
	});		
	
	
	
	
	
	
	
	//
	//xóa image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		
		//console.log(url);
		//return;
		
		
		//ojs_share_upload.delete_s3(url);
		ojs_share_upload.delete_wp(url);
		$('#featured_image').attr("data_value","");
		//xoa html
		$(this).parent(".img_box").remove();
		ojs_share_upload.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
	});			
	//		
	//	
	
		
	
	
	
	$( "#coupon_speciality_date_star" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( "#coupon_speciality_date_end" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);












	$(document).on('change','#coupon_speciality_condition',function(e) {		
		e.preventDefault();
		var x = $(this).find("option:selected").val();
		if(x == 0 || x == 3){
			$('#gia_tri_dieu_kien_coupon').css('display','none');
		}else{
			$('#gia_tri_dieu_kien_coupon').css('display','block');
		}
	});

	$(document).on('change','#coupon_speciality_formula_price',function(e) {		
		e.preventDefault();
		var x = $(this).find("option:selected").val();
		if(x == 2){
			$('#gia_tri_cong_thuc_coupon').css('display','none');
		}else{
			$('#gia_tri_cong_thuc_coupon').css('display','block');
		}
	});






	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();
		if(datas.datas.coupon_speciality_code == "" ){
			ojs_message.message_ok_show("Chưa nhập mã coupon");
			return;
		}


		
		//console.log(datas);
		//return;
		
		ojs_coupon_speciality_admin.ajax_save_admin(datas);	
	});


	
	
	function get_datas(){
		
		
		let coupon_speciality_code = $('#coupon_speciality_code').val();

		var date_01 = $('#coupon_speciality_date_star').datepicker( "getDate" );
		var coupon_speciality_date_star = $.datepicker.formatDate("yy-mm-dd", date_01);

		
		var date_02 = $('#coupon_speciality_date_end').datepicker( "getDate" );
		var coupon_speciality_date_end = $.datepicker.formatDate("yy-mm-dd", date_02);
		
		if(coupon_speciality_date_end.length > 0){			
			coupon_speciality_date_end = coupon_speciality_date_end + " 23:59:59"
		}
		
		let coupon_speciality_condition = $('#coupon_speciality_condition  option:selected').val();
		let coupon_speciality_condition_value = $('#coupon_speciality_condition_value').attr("data_value");
		
		let coupon_speciality_formula_price = $('#coupon_speciality_formula_price  option:selected').val();
		let coupon_speciality_formula_price_value = $('#coupon_speciality_formula_price_value').attr("data_value");
		
		
		let coupon_speciality_price_max = $('#coupon_speciality_price_max').attr("data_value");
		let coupon_speciality_limit_user = $('#coupon_speciality_limit_user').val();
		let coupon_speciality_limit_number = $('#coupon_speciality_limit_number').val();	
			
		let coupon_speciality_intro_price = $('#coupon_speciality_intro_price').attr('data_value');	
		//@
		let coupon_speciality_featured_image = $('#featured_image').attr('data_value');			
			
		//@
		//@
		let coupon_speciality_type = $('#coupon_speciality_type  option:selected').val();
		let coupon_speciality_intro = $('#coupon_speciality_intro  option:selected').val();
		let coupon_speciality_pay_type = $('#coupon_speciality_pay_type  option:selected').val();
		let coupon_speciality_multiple = $('#coupon_speciality_multiple  option:selected').val();
		let coupon_speciality_show_hide = $('#coupon_speciality_show_hide  option:selected').val();			
		//@
		let coupon_speciality_info = $('#noi_dung').val();
		var coupon_speciality_status_admin = $('#coupon_speciality_status_admin').val();





		
		let datas = {
			"datas":{
				coupon_speciality_date_star : coupon_speciality_date_star,				
				coupon_speciality_date_end : coupon_speciality_date_end,				
				coupon_speciality_code : coupon_speciality_code,	
				
				coupon_speciality_condition : coupon_speciality_condition,				
				coupon_speciality_condition_value : coupon_speciality_condition_value,	
				
				coupon_speciality_formula_price : coupon_speciality_formula_price,
				coupon_speciality_formula_price_value : coupon_speciality_formula_price_value,	

				
				coupon_speciality_price_max : coupon_speciality_price_max,	
				coupon_speciality_type : coupon_speciality_type,
				coupon_speciality_intro : coupon_speciality_intro,
				coupon_speciality_intro_price : coupon_speciality_intro_price,
				coupon_speciality_pay_type : coupon_speciality_pay_type,				
				
				coupon_speciality_featured_image : coupon_speciality_featured_image,
								
				coupon_speciality_info : coupon_speciality_info,				
				coupon_speciality_multiple : coupon_speciality_multiple,
				coupon_speciality_show_hide : coupon_speciality_show_hide,
				coupon_speciality_limit_user : coupon_speciality_limit_user,
				coupon_speciality_limit_number:coupon_speciality_limit_number,
				
				coupon_speciality_status_admin:coupon_speciality_status_admin,
				coupon_speciality_stores_id_created:store_id				
			}
		}
		
		return datas;
	}

	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<%- include ("../../masterpage/loader-end") %>













