
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-coupon %>
<% include ../../masterpage/function-share-all %>





<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>Mã giảm giá</h1>
	<div class="mb20" style="text-align:right;"><a href="/coupon/speciality/quan-ly" class="btn_green">quản lý</a></div>
	
	<div class="coupon_content">
	
	<%
	if(coupon_list.length > 0){
	%>
		<%
		for(x in coupon_list ){
		%>	
			<div class="coupon">
				<div class="coupon_title"><%- ojs_share.unCape(coupon_list[x].coupon_speciality_code) -%></div>
				<div class="coupon_info">
					<div class="coupon_giam"><%- ojs_share_coupon.show_name_formula_coupon(
					coupon_list[x].coupon_speciality_formula_price,
					coupon_list[x].coupon_speciality_formula_price_value
					) -%></div>
					<div class="coupon_don_tu">
						<%- ojs_share_coupon.show_name_formula_condition_coupon(
						coupon_list[x].coupon_speciality_condition,
						coupon_list[x].coupon_speciality_condition_value
						) -%>					
					
					</div>
					<div class="coupon_don_tu">
						Tối đa : <%- ojs_share_all.show_price_vnd(coupon_list[x].coupon_speciality_price_max,0,",",".","đ") -%>						
					</div>					
					
					
					<div class="coupon_da_dung">ngày bắt đầu: <%- ojs_share_all.format_date_coupon(coupon_list[x].coupon_speciality_date_star) %></div>
					<div class="coupon_thoi_han">ngày kết thúc: <%- ojs_share_all.format_date_coupon(coupon_list[x].coupon_speciality_date_end) %></div>
				</div>
				<div class="coupon_btn">
					<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
					<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
				</div>
			</div>
		<%
		}
		%>
	<%
	} else{
	%>	
	
	<h1 style="text-align:center">Chưa có mã giảm giá nào </h1> 
	
	<%
	}
	%>	
	</div>
</div>
<!-- --------------------
end content
--------------------- -->






<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let option_id = $(this).attr("data_option_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_option_speciality";//function name in callback 
		let z = ' { "option_id" : "' + option_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
		
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	
	//Loc trang thai
	///////////////////////////
	$("#loc_trang_thai").change(function() {
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: 0,
				store_id	:0,
				status_admin : JSON.parse(status_admin)
			}
		}	
		///console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option(datas);	
	});
	
	/*
	//@
	//goi ajax
	$(document).on('click','#all',function(e) {	
		e.preventDefault();
		//@
		//@
		let status_admin = [0,1,2,3];
		
		var datas = {
			"datas":{
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_bussiness(datas);	

	});//end of function		

	//@
	//goi ajax
	$(document).on('click','#complate',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [1]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function

	//@
	//goi ajax
	$(document).on('click','#new',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [0]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function

	//@
	//goi ajax
	$(document).on('click','#update',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [2]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function


	//@
	//goi ajax
	$(document).on('click','#not',function(e) {	
		e.preventDefault();
		//@
		//@
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = [3]
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id 	: store_id,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_option_no(datas);	

	});//end of function	
	
	*/
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../../masterpage/loader-end %>















