

<%- include ("../../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/coupon.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/coupon-show-all.css' />




<script src="../../../../../<%= js_css_version %>/javascripts/class-coupon-speciality.js"></script>	



<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<%- include ("../../masterpage/header") %>
<%- include ("../../masterpage/function-share-coupon") %>
<%- include ("../../masterpage/function-share-all") %>
<%- include ("../../masterpage/function-share-all-manage") %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>





<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/stores/manage/<%= store_id %>/"><%= store_list[0].stores_name %></a><i class="fas fa-chevron-right"></i>Danh sách coupon</h1>
	
	
	
		<!--  -----------------------------------
			//dala
		------------------------------------- -->

		<%
		if(coupon_list.length > 0){	
		%>
		<div class="coupon_content" style="width: 100%; padding-top: 50px;">
			<%
			for(x in coupon_list ){
			if(coupon_list[x].stores_ID == store_id){	
			%>
			
			
				<div class="coupon">
					<div class="coupon_title"><%- ojs_share_all.unCape(coupon_list[x].coupon_speciality_code) -%></div>
					<div class="coupon_info">
						<div class="coupon_giam"><%- ojs_share_coupon.show_name_formula_coupon(
						coupon_list[x].coupon_speciality_formula_price,
						coupon_list[x].coupon_speciality_formula_price_value
						) -%></div>
						<div class="coupon_don_tu">
							<%- ojs_share_coupon.show_name_formula_condition_coupon(coupon_list[x].coupon_speciality_condition,
							ojs_share_all.show_price_format(coupon_list[x].coupon_speciality_condition_value,0,",",".","đ")
							) -%>								
						</div>
						
						
						<div class="coupon_don_tu">
							Tối đa : <%- ojs_share_all.show_price_format(coupon_list[x].coupon_speciality_price_max,0,",",".","đ") -%>						
						</div>	

						<div class="discount-status">
							<span>Trạng thái : 
							<%- ojs_share_all.show_status_pay_html(coupon_list[x].coupon_speciality_status_admin) -%>
						</div>							
						
						
						
						<%
						if(coupon_list[x].check_expired_coupon == 0){
						%>						
							<div class="coupon_da_dung" 
							style="color:red;font-size:10px;">Bắt đầu: 
							<%- ojs_share_all.format_date(coupon_list[x].coupon_speciality_date_star) %>
							</div>
							
							<div class="coupon_thoi_han" 
							style="color:red;font-size:10px;">Kết thúc: 
							<%- ojs_share_all.format_date(coupon_list[x].coupon_speciality_date_end) %>
							</div>
						<%
						}else{
						%>	
							<%
							if(coupon_list[x].coupon_speciality_time_type == 0){
							%>
								<div class="coupon_da_dung" 
								style="color:green;font-size:10px;">Bắt đầu: Không có thời hạn
								</div>
								
								<div class="coupon_thoi_han" 
								style="color:green;font-size:10px;">Kết thúc: Không có thời hạn
								</div>							
							<%
							}else{
							%>	
								<div class="coupon_da_dung" 
								style="color:green;font-size:10px;">Bắt đầu: 
								<%- ojs_share_all.format_date(coupon_list[x].coupon_speciality_date_star) %>
								</div>
								
								<div class="coupon_thoi_han" 
								style="color:green;font-size:10px;">Kết thúc: 
								<%- ojs_share_all.format_date(coupon_list[x].coupon_speciality_date_end) %>
								</div>
							<%
							}
							%>	
						
						<%
						}
						%>				


						<div style="">
						<a href="/coupon/speciality/manage/show/<%= coupon_list[x].coupon_speciality_ID %>/<%= store_id %>"> Update </a>  |  
						<a href="#" class="submitdelete" data_id="<%= coupon_list[x].coupon_speciality_ID %>"> Delete </a>
						</div>					
						
						
						
					</div>
				</div>	
				
				

				
				
				
				
				
			<%
			}
			}//end of for
			%>
		</div>
		<%
		}//end of length
		%>

		<!--  -----------------------------------
			//dala
		------------------------------------- -->
	
	
	
	
	
	
	
	
	
	<input type="hidden" id="user_id" value="<%= user_id %>"/>
	<input type="hidden" id="store_id" value="<%= store_id %>"/>
</div>
<!-- --------------------
end content
--------------------- -->





<%- include ("../../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	

	
	//@
	//@
	//@
	//@	
	//@ [submitdelete]
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let coupon_id = $(this).attr("data_id");
		let store_id = $('#store_id').val();
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_coupon";//function name in callback 
		let z = ' { "coupon_id" : "' + coupon_id + '","store_id": "' + store_id  + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	
	
	
	
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<%- include ("../../masterpage/loader-end") %>










	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	