
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-coupon-speciality.js"></script>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>





<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	





<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>Mã giảm giá</h1>
	<div class="mb20" style="text-align:right;"><a href="/coupon/speciality/store-quan-ly/<%= store_id %>/" class="btn_green">quản lý</a></div>
	<div class="coupon_content">
		<div class="coupon">
			<div class="coupon_title">DALA10</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 10% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		<div class="coupon">
			<div class="coupon_title">DALA20</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 20% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		<div class="coupon">
			<div class="coupon_title">DALA10</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 10% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		<div class="coupon">
			<div class="coupon_title">DALA10</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 10% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		<div class="coupon">
			<div class="coupon_title">DALA10</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 10% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		<div class="coupon">
			<div class="coupon_title">DALA10</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 10% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
	</div>
	
	<!-- Coupon chờ duyệt -->
	<hr>
	<h3>Mã giảm giá đang chờ duyệt:</h3>
	<div class="coupon_content">
		<div class="coupon">
			<div class="coupon_title">DALA0209</div>
			<div class="coupon_info">
				<div class="coupon_giam">Giảm 50% tối đa 50k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
		<div class="coupon">
			<div class="coupon_title">FREESHIP20</div>
			<div class="coupon_info">
				<div class="coupon_giam">Freeship tối đa 20k</div>
				<div class="coupon_don_tu">Đơn tối thiểu 100k</div>
				<div class="coupon_da_dung">Đã dùng: 98/200</div>
				<div class="coupon_thoi_han">Thời hạn: 02/09/2021</div>
			</div>
			<div class="coupon_btn">
				<a href="/coupon/speciality/show/13/17" title="Quản lý" class="ctkm_btn_ql"><i class="fas fa-pen"></i></a>
				<a href="#" title="Xóa" class="ctkm_btn_xoa"><i class="fas fa-trash"></i></a>
			</div>
		</div>
	</div>
	

	

<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	
	//Loc trang thai
	///////////////////////////
	$("#loc_trang_thai").change(function() {
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id	:store_id,
				status_admin : JSON.parse(status_admin)
			}
		}	
		//console.log(datas);
		//return;
		ojs_discount_program_speciality.ajax_load_discount_program(datas);	
	});
	
	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let coupon_id = $(this).attr("data_coupon_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_coupon";//function name in callback 
		let z = ' { "coupon_id" : "' + coupon_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	
	
	
	
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../../masterpage/loader-end %>