
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>

<% if( (typeof users_type == 'string' || typeof users_type == 'number')  && users_type){  } else{ users_type = 0 } %>


<% 
if( (typeof users_type == 'string' 
|| typeof users_type == 'number')
&& users_type){ 
	users_type = users_type;
} else{ 
	users_type = 0 
} 
%>

<% 
if( typeof datas_local == 'object' 
&& datas_local && datas_local.length > 0){ 
	datas_local = datas_local;
} else{ 
	datas_local = [] 
} 
%>





<% 
if(users_type == "admin"){
	var status_disebale = "";
}else{
	var status_disebale = "disabled";
}
%>






<% include ../masterpage/loader %>


<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	


<!-- --------------------
content
--------------------- -->
<div id="content" class="content user_edit">

	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i><%= title %></h1>

	<!-- --------------------------
			// block 1
	---------------------------- -->
	<div class="store_content">
	<div class="white_box">
		<p><span>Tên cửa hàng</span><input type="text" class= "" value="<%- ojs_share.unCape(datas[0].stores_name) %>" id="stores_name"/></p>
		<div id="loai_service_wrap">
			<span>Loại dịch vụ </span>
			<select name="stores_service_type_id" id="stores_service_type_id">
				<option value="0">Chọn service</option>
				<% include ../masterpage/widget-service-type %>
			</select>
			<span class="giai-thich"><span>Special: đặc sản, food-drink: quán nước</span></span>
		</div>
		<br>
		
		<div class="select-box-tinh-thanh">
		<span>Tỉnh thành</span>
		<select id="select_stores_province">
			<%- ojs_share.show_local_province(datas_local,datas[0].stores_province) %>
		</select>
		<p style="display:none"><span>Tỉnh thành</span>
			<input type="text" class= "" 
			value="<%- ojs_share.unCape(datas[0].stores_province) %>" 
			id="stores_province" 
			data_value="<%- ojs_share.unCape(datas[0].stores_province) %>"
			/>
		</p>
		</div>
		
		<br>
		<div class="select-box-tinh-thanh">
		<span>Quận huyện</span>
		<select id="select_stores_district">
			<%- ojs_share.show_local_district(datas_local,datas[0].stores_province,datas[0].stores_district) %>
		</select>	
		<p style="display:none"><span>Quận huyện</span>
			<input type="text" 
			class= "" 
			value="<%- ojs_share.unCape(datas[0].stores_district) %>" 
			data_value="<%- ojs_share.unCape(datas[0].stores_district) %>" 
			id="stores_district"
			/>
		</p>
		</div>
		
		
		<br>
		<div class="select-box-tinh-thanh">
		<span>Phường xã</span>
		<select id="select_stores_wards">
			<%- ojs_share.show_local_wards(datas_local,datas[0].stores_district,datas[0].stores_wards) %>
		</select>		
		<p style="display:none"><span>Phường xã</span>
			<input type="text" 
			class= "" 
			value="<%- ojs_share.unCape(datas[0].stores_wards) %>" 
			data_value="<%- ojs_share.unCape(datas[0].stores_wards) %>" 
			id="stores_wards"
			/>
		</p>
		</div>	
		
		<p><span>Địa chỉ</span><input type="text" class= "" value="<%- ojs_share.unCape(datas[0].stores_adress) %>" id="stores_adress"/></p>
		<p>
			<span>Điện thoại liên hệ</span><input type="text" class= "" 
			value="<%- ojs_share.unCape(datas[0].stores_phone) %>" id="stores_phone"/>
			<span class="giai-thich"><span>Điện thoại để shipper liên hệ lấy hàng đi giao</span></span>
		</p>
		<br>		
		
		
		
		
		
		
		
		<p><span>Tọa độ X</span><input type="text" class= "" value="<%- ojs_share.unCape(datas[0].stores_local_x) %>" id="stores_local_x"/>
		<span class="giai-thich"><span>Vào <a href="https://www.google.com/maps" target="_blank">Google Map</a> ấn chuột phải vào vị trí cửa hàng của mình và chọn dãy số X,Y để copy.</span></span></p>
		<p><span>Tọa độ Y</span><input type="text" class= "" value="<%- ojs_share.unCape(datas[0].stores_local_y) %>" id="stores_local_y"/></p>
		<p style="display:none"><span>Local adress</span><input type="text" class= "" value="<%- ojs_share.unCape(datas[0].stores_local_adress) %>" id="stores_local_adress"/><span class="giai-thich"><span>không bắt buộc</span></span></p>
	</div>


	<!-- --------------------------
			//  block  2
	---------------------------- -->


	<div class="white_box">
		<p><span>giới hạn upload hình trong ngày</span><input  <%- status_disebale %> type="text" class= "" value="<%= datas[0].stores_upload_limit_day  %>" id="stores_upload_limit_day"/></p>
		<p><span>giới hạn upload hình trong tháng</span><input  <%-  status_disebale %> type="text" class= "" value="<%= datas[0].stores_upload_limit_month  %>" id="stores_upload_limit_month"/></p>
		
		<p>
			<span>Hạn mức thanh toán</span>
			<input type="text" class= "number_change" <%- status_disebale %>
				data_value="<%= datas[0].stores_payment_limit %>" 
				value="<%- ojs_share.show_price_format(datas[0].stores_payment_limit,0,",",".","") %>" 
				id="stores_payment_limit"
			/>
			<span class="giai-thich"><span>Khi doanh số đạt hạn mức, Dala sẽ chuyển khoản cho cửa hàng. Để trống sẽ thanh toán theo ngày</span></span>
		</p>
		
		
		
		<p>
			<span>Thông tin chuyển khoản</span>
			<textarea id="stores_info_banking" class="area365" rows="10" cols="100%" placeholder="Nhập số tài khoản, ngân hàng và tên chủ tài khoản." ><%- ojs_share.unCape(datas[0].stores_info_banking) %></textarea>
		</p>	
		
		
		<p>
			<span>% Chiết khấu DALA</span>
			<input type="text"  id="stores_discount_price" value="<%= datas[0].stores_discount_price %>"/>
		</p>		
		
		
		<!-- 
		<p>
			<span>Số tiền cần thanh toán</span>
			<span class="green" style="font-size: 120%;">2.500.000đ</span>
		</p>
		
		<p>
			<span>Đã chuyển khoản</span>
			<a href="#" class="btn_bd_green">Đặt lại doanh thu</a>
		</p>
		-->
		<p>
			<span>Trạng thái admin:</span>
			<select id="stores_status_admin" <%- status_disebale %>>
				<%- ojs_share.show_status_select_share_all(datas[0].stores_status_admin) %>
			</select>	
			<span class="giai-thich"><span>Cửa hàng đã được admin duyệt chưa</span></span>
		</p>
		
		<!--
		<p>
			<span>Lời nhắn</span>
			<textarea id="stores_qoute" class="area365" rows="10" cols="100%" placeholder="Trong quá trình xét duyệt cửa hàng, nếu lỗi admin sẽ để lại lời nhắn ở đây." ><%- ojs_share.unCape(datas[0].stores_qoute) %></textarea>
		</p>	-->	
	</div>

	<!-- --------------------------
			// end of  block  2
	---------------------------- -->
	<!-- ------------------
	//hình đại diện 
	------------------- -->
	<div class="pro_box">
		<h3>Logo cửa hàng</h3>	
		<div class="inside l-ed">
			<input type="text" value="" id="featured_image"
			data_value="<%-  ojs_share.unCape( datas[0].stores_logo_image ) %>"
			style="display:none;" />
			<input type="button" value="Thêm ảnh" id="btn_featured_image">
			<div id="img_box_dai_dien"></div>
			<input type='file' accept="image/*" id='upload_image' style="display:none;">
		</div>
	</div>
	<!-- ------------------
	// end of hình đại diện 
	------------------- -->	

<div class="btn_box">
	<button id="btn_save" class="btn_save">Lưu</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>
<input type="hidden" id="stores_status_update" value="<%= datas[0].stores_status_update %>"/>





</div>
<!-- --------------------
//end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//


	var user_id = $('#user_id').val();
	//
	//@
	//ojs_loader.loadTinyMCE('noi_dung');
	//
	//@
		
		
	
	//@
	ojs_loader.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	//@
	
	//@
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	
	
	
	
	
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_loader.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien",user_id)
	});		
	
	
	
	
	
	
	
	//
	//xóa image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		
		//console.log(url);
		//return;
		
		
		//ojs_loader.delete_s3(url);
		ojs_loader.delete_wp(url);
		$('#featured_image').attr("data_value","");
		//xoa html
		$(this).parent(".img_box").remove();
		ojs_loader.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
	});			
	//		
	//		
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
			
		//@
		
		var stores_name = $('#stores_name').val();
		var stores_phone = $('#stores_phone').val();
		var stores_user_id = $('#user_id').val();
		
		var stores_service_type_id = $('#stores_service_type_id  option:selected').val();	
		
		var stores_adress = $('#stores_adress').val();
		
		var stores_local_x = $('#stores_local_x').val();
		var stores_local_y = $('#stores_local_y').val();
		
		var stores_logo_image = $('#featured_image').attr('data_value');
		
		var stores_province = $('#stores_province').attr("data_value");
		var stores_district = $('#stores_district').attr("data_value");
		var stores_wards = $('#stores_wards').attr("data_value");

		
		var stores_local_adress = $('#stores_local_adress').val();
		
		var stores_info_banking = $('#stores_info_banking').val();
		var stores_qoute = $('#stores_qoute').val();
		
		var stores_status_admin = $('#stores_status_admin  option:selected').val();
		
		
		var stores_payment_limit = $('#stores_payment_limit').attr("data_value");
		var stores_discount_price = $('#stores_discount_price').val();			
		var store_id = $('#store_id').val();
		var stores_status_update = $('#stores_status_update').val();
	
		var stores_upload_limit_day = $('#stores_upload_limit_day').val();
		var stores_upload_limit_month = $('#stores_upload_limit_month').val();

	
		
		//@
		
		//@
		//@

		//
		var datas = {
			"datas":{
				stores_name : stores_name,
				stores_phone : stores_phone,
				stores_user_id: stores_user_id,
				stores_logo_image : stores_logo_image,
				stores_service_type_id : stores_service_type_id,
				stores_province : stores_province,
				stores_district : stores_district,
				stores_wards : stores_wards,				
				stores_adress : stores_adress,
				stores_local_x : stores_local_x,
				stores_local_y : stores_local_y,
				stores_local_adress : stores_local_adress,
				stores_payment_limit : stores_payment_limit,
				stores_info_banking : stores_info_banking,
				stores_status_admin : stores_status_admin,
				stores_upload_limit_day :stores_upload_limit_day,
				stores_upload_limit_month : stores_upload_limit_month,
				stores_discount_price : stores_discount_price
			}
		}
		
		
		//console.log(datas);		
		//return;
		
		
		ojs_bussiness.ajax_update(datas,store_id);	
		
	});//end of save ajax
	//
	
	$.getJSON( "../../../../uploads/files/local.json", function( datas ) {
		//console.log(datas);
		var tinh_thanh = ojs_loader.get_tinh_thanh(datas);
		ojs_loader.tinh_thanh_datas = datas;
		console.log(ojs_loader.tinh_thanh_datas);
	});	
	
	

	
	// thay đổi quận huyện
	$(document).on('change','#select_stores_province',function(e) {		
		e.preventDefault();
		

		//@		
		var taget = $(this).val();
		var quan_huyen =  ojs_loader.get_quan_huyen(ojs_loader.tinh_thanh_datas,taget);
		
		$('#select_stores_district').html(quan_huyen);
		$('#select_stores_wards').html('<option value="0"></option>');
		
		//@
		//@		
		ojs_loader.set_value_local();
		//return;	
	});//end of
	//
	// thay đổi quận huyện
	$(document).on('change','#select_stores_district',function(e) {		
		e.preventDefault();
		
		var taget = $(this).val();
		var phuong_xa =  ojs_loader.get_phuong_xa(ojs_loader.tinh_thanh_datas,taget);
		
		$('#select_stores_wards').html(phuong_xa);
		
		//@
		//@		
		ojs_loader.set_value_local();		
		//return;	
	});//end of	
	
	
	//
	// thay đổi quận huyện
	$(document).on('change','#select_stores_wards',function(e) {		
		e.preventDefault();
		//@
		//@		
		ojs_loader.set_value_local();		
		//return;	
	});//end of			
	
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../masterpage/loader-end %>



















