
<% include ../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	
<script src="../../../../<%= js_css_version %>/javascripts/class-orders-speciality.js"></script>



<div id="page_wrap" class="page_wrap no_sidebar">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>
<% include ../masterpage/function-share-orders %>
<% include ../masterpage/function-share-all %>

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>		



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">


<%
if(store_id && store_id > 0 ){
%>	


	<h1><%= title %></h1>

	<!-- --------------------
		// 2. hiển thị cửa hàng
	--------------------- -->

	<%
	var go_sum = 0;
	for( let i = 0; i < news_bussiness_menu.length - 1; i ++ ){
		go_sum = go_sum + news_bussiness_menu[i];
	}
	%>
	
	<div class="store_box">
		<div class="store_name">
			<h3>
				<a href="/stores/manage/<%= datas[0].stores_ID %>/<%= user_id %>">
					<%- ojs_share.unCape(datas[0].stores_name) %>
				</a>
			</h3>
		</div>
		
		<div class="store_thong_tin">
			<p>Địa chỉ: <span><%- ojs_share.unCape(datas[0].stores_adress) %>,
			<%- ojs_share.unCape(datas[0].stores_wards) %>,
			<%- ojs_share.unCape(datas[0].stores_district) %>,
			<%- ojs_share.unCape(datas[0].stores_province) %></span></p>
			<p>Hạn mức: <span><%- ojs_share.show_price_format(datas[0].stores_payment_limit,0,",",".","") %></span></p>
		</div>			
		
		<div>
		<a id="change_pass" style="right: 175px;" class="store_btn_ql" href="<%= user_id %>">Thay đổi mật khẩu</a>
		<a class="store_btn_ql" href="/stores/manage/<%= datas[0].stores_ID %>/<%= user_id %>">
			Quản lý
			<span><%= go_sum %></span>
		</a>
		</div>

	<!-- --------------------
		//2. end of hiển thị cửa hàng
	--------------------- -->		




	<!-- --------------------
	//doanh thu
	--------------------- -->
	<%
	var data_sum = 0;
	var line_product = 0;
	var coupon = 0;
	var coupon_of = 0;
	var add = 0;
	var reduce = 0;
	var shipping = 0;
	var tax = 0;
	var percen = 0;
	var qty = 0;
	var chiec_khau = 0;
	var pull_price = 0;


	for(let x in coupon_data){	
		if(coupon_data[x].coupon_speciality_type == '1'){
			coupon_of = coupon_of + coupon_data[x].sum_orders_details_speciality_price
		}
	}


	if(orders_list.length > 0){
		for(let x in orders_list){
			if(orders_list[x].orders_details_speciality_line_order == "product"){
				line_product = line_product + orders_list[x].price_caution;
				qty = qty + orders_list[x].orders_details_speciality_qty;

			}else if(orders_list[x].orders_details_speciality_line_order == "add"){
				add = add + orders_list[x].orders_details_speciality_price

			}else if(orders_list[x].orders_details_speciality_line_order == "tax"){
				tax = tax + orders_list[x].orders_details_speciality_price
				
			}else if(orders_list[x].orders_details_speciality_line_order == "reduce"){
				reduce = reduce + orders_list[x].orders_details_speciality_price
				
			}else if(orders_list[x].orders_details_speciality_line_order == "shipping"){
				shipping = shipping + orders_list[x].orders_details_speciality_price		
				
			}

		}
		//@
		//@
		data_sum = line_product + add + tax + shipping -( coupon + reduce );
		percen = line_product * 100 / datas[0].stores_payment_limit;
	}


	chiec_khau = line_product *  datas[0].stores_discount_price / 100;
	pull_price = line_product - chiec_khau - coupon_of;
	tong_dt = line_product;
	%>
	
	
	<div class="store_row">
		<!-- /* Neu cửa hàng chọn thanh toán hạn mức thì hiện cái này */ -->
		<div class="store_col doanh_thu_han_muc">
			<h2 style="text-align:center;">Tổng doanh thu</h2>
			<!--
				<a href="#" class="btn_bd_green">Yêu cầu thanh toán</a>
			-->
			<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
				<circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
				<circle class="circle-chart__circle" stroke="#4a914b" stroke-width="2" 
				stroke-dasharray="<%= percen  %>,100" 
				stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
				<g class="circle-chart__info">
				
					<text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="4.5">
						<%- 
						ojs_share_all.show_price_vnd(line_product ,0,",",".","đ")    						
						-%>
					</text>
					
					<text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">
					Hạn mức <%- ojs_share.show_price_format(datas[0].stores_payment_limit,0,",",".","") %>
					</text>
				</g>
			</svg>
			<p>Sản phẩm bán ra :<b> [ <%= qty  %> ]</b></span></p>
			<p>Mã giảm giá (coupon) : <span class="orange"><b>
				<%- 
				ojs_share_all.show_price_vnd(coupon_of ,0,",",".","đ")    						
				-%>
			</b></span></p>
			<p>chiếc khấu DALA : <span class="orange"><b>
				<%- 
				ojs_share_all.show_price_vnd(chiec_khau ,0,",",".","đ")    						
				-%>
			</b></span></p>			
		</div>



		<!-- -----------------------------------
		// sản pham đang khuyen mai 
		--------------------------------------->		
		
		
		<div class="store_col store_sp_km">
			<h2>Sản phẩm đang khuyến mãi</h2>
			<ul>
			<% 
			if(product_sale.length > 0){
			for(let x in product_sale){	
			%>			
				<li>
					<a href="/products/speciality/show/<%= product_sale[x].products_speciality_ID %>/<%= store_id %>">
						<div class="sp_img"><img src="<%- ojs_share.unCape(product_sale[x].products_speciality_featured_image) %>"></div>
						<h3><%- ojs_share.unCape(product_sale[x].products_speciality_name) %></h3>
						<div class="orange">
						<%- ojs_share_all.show_price_vnd(product_sale[x].products_speciality_price ,0,",",".","đ") %>
						<i class="fas fa-long-arrow-alt-right"></i>
						<%- ojs_share_all.show_price_vnd(product_sale[x].products_speciality_sale_of_price ,0,",",".","đ") %></div>
					</a>
				</li>
			<% 
			}
			}	
			%>					
			</ul>
		
			
		</div>
		
		
		
		<!-- -----------------------------------
		// sản pham đang khuyen mai 
		--------------------------------------->	



		<!-- -----------------------------------
		// sản pham ban chay
		--------------------------------------->

		
		
		<div class="store_col store_sp_ban_chay">
			<h2>Sản phẩm bán chạy</h2>
			<ul>
			<% 
			if(product_sale_max.length > 0){
			for(let x in product_sale_max){	
			%>				
			
				<li>
					<a href="/products/speciality/show/<%= product_sale_max[x].orders_details_speciality_product_id %>/<%= store_id %>">
						<% 
						if(product_max_detail.length > 0){
						for(let xx in product_max_detail){
						if(product_max_detail[xx].products_speciality_ID == product_sale_max[x].orders_details_speciality_product_id ){
						%>						
						
						<div class="sp_img"><img src="<%- product_max_detail[xx].products_speciality_featured_image  %>"></div>
						<h3>						
						<%- product_max_detail[xx].products_speciality_name  %>						
						</h3>
						<div class="sp_price">
							<%- ojs_share_all.show_price_vnd(product_max_detail[xx].products_speciality_price_caution ,0,",",".","đ") %> 
							(<%= product_sale_max[x].orders_details_speciality_qty %>) sản phẩm 
						</div>
						<% 
						}
						}	
						}
						%>							
						
						
						
					</a>
				</li>
			<% 
			}
			}	
			%>					
				
			</ul>
		</div>
	</div>
	
	
		<!-- -----------------------------------
		// sản pham ban chay
		--------------------------------------->



		<!-- -----------------------------------
		// thanh toan
		--------------------------------------->

	
	<div class="store_box_content">
		<div class="store_thang_nay">
			<p>Tiền được rút về</p>
			<p style="font-size:22px;"><strong><%- ojs_share_all.show_price_vnd(pull_price ,0,",",".","đ") %> </strong></p>
		</div>
		
		<div class="store_thang_nay don_hang_box">
			<% 
			//@
			//@
			//@
			//@tao arr order
			var order_arr = [];
			var order_arr_pull = [];
			
			var order_line = 0;	
			for(let x in orders_list){	
				if(order_line == 0 ){ 
					order_line = orders_list[x].orders_speciality_ID;
					order_arr.push(order_line);
					order_arr_pull.push(orders_list[x].orders_speciality_status_pull_money);
				}else{
					if(order_line > 0 &&  orders_list[x].orders_speciality_ID != order_line){
						order_arr.push(orders_list[x].orders_speciality_ID);
						order_arr_pull.push(orders_list[x].orders_speciality_status_pull_money);
					}
					order_line = orders_list[x].orders_speciality_ID;
					
				}
			}	
			%>	
			
			
			<% 
			//@
			//@
			//@
			//@show order line
			for(let s in order_arr){	
				let data_sum = 0;
				let line_product = 0;
				let coupon = 0;
				let coupon_of = 0;
				let add = 0;
				let reduce = 0;
				let shipping = 0;
				let tax = 0;
				let percen = 0;
				let qty = 0;
				let chiec_khau = 0;
				let pull_price = 0;	
				
				
				for(let x in coupon_data){	
					if(coupon_data[x].coupon_speciality_type == '1' && coupon_data[x].orders_speciality_ID == order_arr[s]){
						coupon_of = coupon_data[x].sum_orders_details_speciality_price;
					}
				}
				
				
				
				
				for(let x in orders_list){	
					if(orders_list[x].orders_speciality_ID == order_arr[s]){
						
						if(orders_list[x].orders_details_speciality_line_order == "product"){
							line_product = line_product + orders_list[x].price_caution;
							qty = qty + orders_list[x].orders_details_speciality_qty;

						}else if(orders_list[x].orders_details_speciality_line_order == "add"){
							add = add + orders_list[x].orders_details_speciality_price

						}else if(orders_list[x].orders_details_speciality_line_order == "tax"){
							tax = tax + orders_list[x].orders_details_speciality_price
							
						}else if(orders_list[x].orders_details_speciality_line_order == "reduce"){
							reduce = reduce + orders_list[x].orders_details_speciality_price
							
						}else if(orders_list[x].orders_details_speciality_line_order == "shipping"){
							shipping = shipping + orders_list[x].orders_details_speciality_price		
							
						}
						
					}
				}//enf of for orders_list	
				chiec_khau = line_product *  datas[0].stores_discount_price / 100;
				pull_price = line_product - chiec_khau - coupon_of;
				%>
				
				<div class="line-box" style="display: flex;justify-content: space-between;">
					<div class="inner">
						<p><strong>Mã đơn hàng</strong></p>
						<p>[ #<%= order_arr[s] %> ]</p>
					</div>
					<div class="inner">
						<p><strong>Tổng tiền</strong></p>
						<p><%- ojs_share_all.show_price_vnd( line_product ,0,",",".","đ")  -%></p>
					</div>		
					<div class="inner">
						<p><strong>Coupon</strong></p>
						<p><%- ojs_share_all.show_price_vnd( coupon_of ,0,",",".","đ")  -%></p>
					</div>						
					<div class="inner">
						<p><strong>Chiết khấu</strong></p>
						<p><%- ojs_share_all.show_price_vnd( chiec_khau ,0,",",".","đ")  -%></p>
					</div>		

					<div class="inner">
						<p><strong>Tiền nhận</strong></p>
						<p><%- ojs_share_all.show_price_vnd( pull_price ,0,",",".","đ")  -%></p>
					</div>	
					
					<%
					if(order_arr_pull[s] == 0  && tong_dt > datas[0].stores_payment_limit ){
					%>	
					
						<div class="inner"  style="display: flex; justify-content: center; align-items: center;">
							<div class="btn-pull btn-design no-pull" style="padding:5px;" dala_order_id="<%= order_arr[s] %>" >Yêu cầu rút tiền</div>
						</div>
					
					<%
					}else if(order_arr_pull[s] == 1){
					%>	
						<div class="inner"  style="display: flex; justify-content: center; align-items: center;">
							<div class="btn-no-pull btn-design"  style="padding:5px;background-color: #ccc;pointer-events: none;" dala_order_id="<%= order_arr[s] %>" >Yêu cầu rút tiền</div>
						</div>
						
					<%
					}else if(order_arr_pull[s] == 2){
					%>							
						<div class="inner"  style="display: flex; justify-content: center; align-items: center;">
							<div class="btn-ok-pull btn-design"  style="padding:5px;background-color: #ccc;pointer-events: none;" dala_order_id="<%= order_arr[s] %>" >Đã yêu cầu rút tiền</div>
						</div>						
						
					<%
					}else{
					%>	
					
						<div class="inner"  style="display: flex; justify-content: center; align-items: center;">
							<div class="btn-pull-x btn-design " style="padding:5px;background-color: #ccc;pointer-events: none;" dala_order_id="<%= order_arr[s] %>" >Chưa đủ hạn mức</div>
						</div>					
					<%
					}
					%>						
					

				</div>
				
				
				<%				
			} //enf of for show order line	
			%>		





<%
}else{
%>
<br>
<br>
<br>
<h1 style="text-align:center;width:100%;">Chưa có cửa hàng</h1>
<%
}
%>








</div>
<!-- --------------------
end content
--------------------- -->










<input type="hidden" id="user_id" value="<%= user_id %>"/>




<% //include ../masterpage/footer %>

</div><!-- //content_wrap -->	

<% //include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
	$(document).ready(function(){
	//////////////////////////////////////////////

	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":2
				}
		}
		//alert(order_id);
		//return;
		//
		//@
		let x = "xác nhận rút tiền";		
		let y = "yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});		

	//@
	//@
	//@
	$(document).on('click','.btn-no-pull',function(e) {	
		//@
		e.preventDefault();	
		ojs_message.message_ok_show("Chưa đủ hạn mức rút tiền");
		return;
	});		
	//@
	//@
	//@
	$(document).on('click','.btn-ok-pull',function(e) {	
		//@
		e.preventDefault();	
		ojs_message.message_ok_show(" Đã yêu cầu rút tiền rồi");
		return;
	});		
	
	


	//@
	//@
	//@
	//@ 
	$(document).on('click','#change_pass',function(e) {	
		//@
		e.preventDefault();	
		var user_id = $('#change_pass').attr('href');
		let html = "" + 
		'<div class="ajax-box">' + 
			'<div class="ajax-box-inner">' + 
				'<h1> Nhập mật khẩu mới </h1>' + 
				'<textarea rows="10" cols="50" id="tu-choi-content"></textarea>' + 
				'<div class="btn-tu-choi-go" style="text-align:right">' + 
					'<span id="send" data_user_id="' + user_id + '" class="btn-design">save</span>' + 
				'</div>' + 
			'</div>';	
		'</div>';
		
		
		ojs_loadding.ajax_show_content( html );
		//@
	});		
	
	
	//@
	//@
	//@
	//@ 	
	$(document).on('click','#send',function(e) {	
		//@
		e.preventDefault();		
		var user_id = $(this).attr("data_user_id");
		var content = $('#tu-choi-content').val();
		
		var datas = {
			"datas": {   
				"user_id" : user_id ,
				"user_pass":content
			}
		}
		//console.log( datas );
		//return;

		ojs_bussiness.change_pass(datas);
		//@
	});		
	
	
	
	
	
	/////////////////////////////////////////////////		
	});
</script>	























<% include ../masterpage/loader-end %>


















