
<% include ../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	
<script src="../../../../<%= js_css_version %>/javascripts/class-orders-speciality.js"></script>



<div id="page_wrap" class="page_wrap no_sidebar">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>
<% include ../masterpage/function-share-orders %>
<% include ../masterpage/function-share-all %>

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>		



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">


	<h1><%= title %></h1>

	<!-- --------------------
		// 2. hiển thị cửa hàng
	--------------------- -->
	<% for(x in datas) { %>
	
		<% 
		//@
		//@ sale sum
		var count_product_sale = 0;
		var sum_product_sale = 0;
		for(i in product_sale) { 
			if(datas[x].stores_ID == product_sale[i].stores_ID){
				count_product_sale = count_product_sale + product_sale[i].orders_details_speciality_qty;
				sum_product_sale = sum_product_sale + product_sale[i].price_caution;
			}
		}
		
		//@
		//@ sale sum ok
		var sum_product_sale_ok = 0;
		for(i in product_sale) { 
			if(
			datas[x].stores_ID == product_sale[i].stores_ID 
			&& product_sale[i].orders_speciality_status_orders == 100 
			){
				sum_product_sale_ok = sum_product_sale_ok + product_sale[i].price_caution;
			}
		}		
		
		
		//@
		//@ order_sum	
		var order_count = 0;		
		for(s in order_list) { 
			if(datas[x].stores_ID == order_list[s].orders_speciality_store_id){
				order_count = order_count + order_list[s].count_orders_speciality_store_id;
			}
		}		
		
		
		//@
		//@ order_sum_ok	
		var order_count_ok = 0;		
		for(a in order_list) { 
			if(
			datas[x].stores_ID == order_list[a].orders_speciality_store_id 
			&& order_list[a].orders_speciality_status_orders == 100 
			){
				order_count_ok = order_count_ok + order_list[a].count_orders_speciality_store_id;
			}
		}		
		
		%>
		
	
	
		<div class="store_box">
			<div class="store_name">
				<h3>
					<a href="/stores/manage/<%= datas[x].stores_ID %>/<%= user_id %>">
						Cửa hàng <strong><%- ojs_share.unCape(datas[x].stores_name) %> </strong>
					</a>
				</h3>
			</div>
			
			<div class="store_thong_tin">
				<p>Địa chỉ: <span><%- ojs_share.unCape(datas[x].stores_adress) %>,
				<%- ojs_share.unCape(datas[x].stores_wards) %>,
				<%- ojs_share.unCape(datas[x].stores_district) %>,
				<%- ojs_share.unCape(datas[x].stores_province) %></span></p>
			</div>			
			
			<div>
			<a class="store_btn_ql" href="/stores/manage/<%= datas[x].stores_ID %>/<%= user_id %>">
				Quản lý
			</a>
			</div>
			
			<div class="report">
				<div class="report-box">
					<span> Có <strong> [  <%= order_count %>  ] </strong> Đơn hàng mới vừa bán</span>
				</div>				
			
				<div class="report-box">
					<span> Mới bán <strong> [ <%= count_product_sale %> ] </strong> Sản phẩm</span>
				</div>
				
				<div class="report-box">
					<span> Vừa bán được <strong> [ <%= ojs_share.show_price_format(sum_product_sale,0,",",".","") %> ] </strong> VND</span>
				</div>
			</div>
			<p>-----------------</p>
			<div class="report">
				<div class="report-box">
					<span> Có  <strong> [  <%= order_count_ok %>  ] </strong> Đơn hàng đã giao</span>
				</div>				
			
				<div class="report-box">
					<span> Tiền có thể rút về <strong> [ <%= ojs_share.show_price_format(sum_product_sale_ok,0,",",".","") %> ] </strong> VND</span>
				</div>
			</div>			
			
		</div>	
	<% 
	} 
	%>
	<!-- --------------------
		//2. end of hiển thị cửa hàng
	--------------------- -->		



</div>
<!-- --------------------
end content
--------------------- -->










<input type="hidden" id="user_id" value="<%= user_id %>"/>




<% //include ../masterpage/footer %>

</div><!-- //content_wrap -->	

<% //include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
	$(document).ready(function(){
	//////////////////////////////////////////////

	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":2
				}
		}
		//alert(order_id);
		//return;
		//
		//@
		let x = "xác nhận rút tiền";		
		let y = "yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});		

	//@
	//@
	//@
	$(document).on('click','.btn-no-pull',function(e) {	
		//@
		e.preventDefault();	
		ojs_message.message_ok_show("Chưa đủ hạn mức rút tiền");
		return;
	});		
	//@
	//@
	//@
	$(document).on('click','.btn-ok-pull',function(e) {	
		//@
		e.preventDefault();	
		ojs_message.message_ok_show(" Đã yêu cầu rút tiền rồi");
		return;
	});		
	
	


	//@
	//@
	//@
	//@ 
	$(document).on('click','#change_pass',function(e) {	
		//@
		e.preventDefault();	
		var user_id = $('#change_pass').attr('href');
		let html = "" + 
		'<div class="ajax-box">' + 
			'<div class="ajax-box-inner">' + 
				'<h1> Nhập mật khẩu mới </h1>' + 
				'<textarea rows="10" cols="50" id="tu-choi-content"></textarea>' + 
				'<div class="btn-tu-choi-go" style="text-align:right">' + 
					'<span id="send" data_user_id="' + user_id + '" class="btn-design">save</span>' + 
				'</div>' + 
			'</div>';	
		'</div>';
		
		
		ojs_loadding.ajax_show_content( html );
		//@
	});		
	
	
	//@
	//@
	//@
	//@ 	
	$(document).on('click','#send',function(e) {	
		//@
		e.preventDefault();		
		var user_id = $(this).attr("data_user_id");
		var content = $('#tu-choi-content').val();
		
		var datas = {
			"datas": {   
				"user_id" : user_id ,
				"user_pass":content
			}
		}
		//console.log( datas );
		//return;

		ojs_bussiness.change_pass(datas);
		//@
	});		
	
	
	
	
	
	/////////////////////////////////////////////////		
	});
</script>	























<% include ../masterpage/loader-end %>


















