
<% include ../masterpage/loader %>
<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	




<div id="page_wrap" class="page_wrap no_sidebar">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>		



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>



	<!-- --------------------
		//1. Hiển thị tin tức
	--------------------- -->


		<%-  //JSON.stringify(news_bussiness_menu); -%>
		<%-  //ojs_share.show_news_bussiness_menu_html(news_bussiness_menu,3) -%>
		<%-  //ojs_share.show_news_bussiness_menu_home_page(news_bussiness_menu,store_id) -%>	

		<br>
		<br>
		<br>
		<br>		
	<!-- --------------------
		//end of Hiển thị tin tức
	--------------------- -->





	<!-- --------------------
		// 2. hiển thị cửa hàng
	--------------------- -->

	<%
	var go_sum = 0;
	for( let i = 0; i < news_bussiness_menu.length - 1; i ++ ){
		go_sum = go_sum + news_bussiness_menu[i];
	}
	%>

	<div class="store_box">
		<div class="store_name">
			<h3>
				<a href="/stores/manage/<%= datas[0].stores_ID %>/<%= user_id %>">
					<%- ojs_share.unCape(datas[0].stores_name) %>
				</a>
			</h3>
		</div>	


		<div class="store_thong_tin">
			<p>Địa chỉ: <span><%- ojs_share.unCape(datas[0].stores_adress) %>,
			<%- ojs_share.unCape(datas[0].stores_wards) %>,
			<%- ojs_share.unCape(datas[0].stores_district) %>,
			<%- ojs_share.unCape(datas[0].stores_province) %></span></p>
			<p>Hạn mức: <span><%- ojs_share.show_price_format(datas[0].stores_payment_limit,0,",",".","") %></span></p>
		</div>	
		<a class="store_btn_ql" href="/stores/manage/<%= datas[x].stores_ID %>/<%= user_id %>">
			Quản lý
			<span><%= go_sum %></span>
		</a>


	<!-- --------------------
		//2. end of hiển thị cửa hàng
	--------------------- -->
	
	
	
	



	<!-- --------------------
	//doanh thu
	--------------------- -->
	
	<div class="store_row">
		<!-- /* Neu cửa hàng chọn thanh toán hạn mức thì hiện cái này */ -->
		<div class="store_col doanh_thu_han_muc">
			<h2>Doanh thu</h2>
			<a href="#" class="btn_bd_green">Yêu cầu thanh toán</a>
			<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
				<circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
				<circle class="circle-chart__circle" stroke="#4a914b" stroke-width="2" stroke-dasharray="62.9,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
				<g class="circle-chart__info">
					<text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="4.5">12.580.000đ</text>
					<text class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Hạn mức 20.000.000đ</text>
				</g>
			</svg>
			<p>70 sản phẩm bán ra. Tổng tiền nhận được <span class="orange"><b>11.250.000đ</b></span></p>
		</div>
		
		
		<div class="store_col store_sp_km">
			<h2>Sản phẩm đang khuyến mãi</h2>
			<ul>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="orange">65.000đ <i class="fas fa-long-arrow-alt-right"></i> 39.000đ</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="orange">65.000đ <i class="fas fa-long-arrow-alt-right"></i> 39.000đ</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="orange">105.000đ <i class="fas fa-long-arrow-alt-right"></i> 99.000đ</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="orange">129.000đ</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="store_col store_sp_ban_chay">
			<h2>Sản phẩm bán chạy</h2>
			<ul>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="sp_price">90.000đ</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="sp_price">90.000đ</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="sp_img"><img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg"></div>
						<h3>Mứt dâu tây lọ 200g</h3>
						<div class="sp_price">90.000đ</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="store_box_content">
		<div class="store_thang_nay">

		</div>
	</div>		

	</div>	
	
	<!-- --------------------
	//end of doanh thu
	--------------------- -->




</div>
<!-- --------------------
end content
--------------------- -->










<input type="hidden" id="user_id" value="<%= user_id %>"/>




<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	

<% //include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
	$(document).ready(function(){
	//////////////////////////////////////////////

		
	/////////////////////////////////////////////////		
	});
</script>	























<% include ../masterpage/loader-end %>