<%


//@
//@
//@
//@ check variable
if( typeof title == 'string' && title && title.length > 0){} else{ title="" }
if( typeof store_list == 'object' && store_list && store_list.length > 0){ datas = store_list;} else{ datas=[] ;} 



%>



<% include ../masterpage/loader %>
<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	




<div id="page_wrap" class="page_wrap no_sidebar">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>		



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>



	<!-- --------------------
		//1. Hiển thị tin tức
	--------------------- -->


		<%-  //JSON.stringify(news_bussiness_menu); -%>
		<%-  //ojs_share.show_news_bussiness_menu_html(news_bussiness_menu,3) -%>
		<%-  //ojs_share.show_news_bussiness_menu_home_page(news_bussiness_menu,store_id) -%>	

		<br>
		<br>
		<br>
		<br>		
	<!-- --------------------
		//end of Hiển thị tin tức
	--------------------- -->





	<!-- --------------------
		// 2. hiển thị cửa hàng
	--------------------- -->

	<%
	
	//@
	//@
	//@
	//@tổng từ chối
	var news_sum = 0;
	for(var i = 0; i < news_bussiness_menu.length - 1 ; i++){
		if(news_bussiness_menu[i] == 0){
			news_sum = news_sum ;
		}else{
			var s = parseInt(news_bussiness_menu[i]);
			news_sum = news_sum + s ;
		}
	}

	%>
	
	
	
	<% 
	for( var  x in datas ) { %>



		<div class="store_box">
			
			
			<div class="store_name">
				<h3>
					<a href="/stores/manage/<%= datas[x].stores_ID %>/<%= datas[x].stores_user_id %>">
						<%- ojs_share.unCape(datas[x].stores_name) %>
					</a>
				</h3>
			</div>			
			
		

			<a class="store_btn_ql" href="/stores/manage/<%= datas[x].stores_ID %>/<%= datas[x].stores_user_id %>">
				Quản lý
				<span><%= news_sum %></span>
			</a>



		
			
			
			<ul class="store_don_hang">
				<li>
					<a href="/stores/manage/orders/<%= [datas[x].stores_ID] %>/0">
						<span class="number"><%= order_list.length %>
						</span>Tổng đơn hàng
						</a>
				</li>	

				<li>
					<a href="/stores/manage/orders/<%= [datas[x].stores_ID] %>/0">
						<span class="number"><%= ojs_share.show_count_status_order_by_store(order_list,datas[x].stores_ID,0) %>
						</span>Chờ xác nhận
						</a>
				</li>


				<li>
					<a href="/stores/manage/orders/<%= [datas[x].stores_ID] %>/2">
					<span class="number"><%= ojs_share.show_count_status_order_by_store(order_list,datas[x].stores_ID,2) %>
					</span>Chờ lấy hàng</a>
				</li>
				
				
				<li>
					<a href="/stores/manage/orders/<%= [datas[x].stores_ID] %>/3"><span class="number">
					<%= ojs_share.show_count_status_order_by_store(order_list,datas[x].stores_ID,3) %></span>Đang giao</a>
				</li>

				
				<li>
					<a href="/stores/manage/orders/<%= [datas[x].stores_ID] %>/4">
					<span class="number"><%= ojs_share.show_count_status_order_by_store(order_list,datas[x].stores_ID,4) %></span>Đổi trả</a>
				</li>				

			</ul>			
			

			<div class="store_box_content">
				<div class="store_thang_nay">
					Doanh thu tháng này 
					<span class="number">
						<%-  ojs_share.show_price_format( ojs_share.show_price_sale_by_store(order_list_sum,datas[x].stores_ID), 0,",",".","đ") -%>
					</span> với <span><%= ojs_share.show_qty_sale_by_store(order_list_sum,datas[x].stores_ID) %></span> sản phẩm bán ra.
				</div>
			</div>		


			
			
			<div class="store_thong_tin">
				<p>Địa chỉ: <span><%- ojs_share.unCape(datas[x].stores_adress) %>,
				<%- ojs_share.unCape(datas[x].stores_wards) %>,
				<%- ojs_share.unCape(datas[x].stores_district) %>,
				<%- ojs_share.unCape(datas[x].stores_province) %></span></p>
				<p>Dịch vụ: <span><%- ojs_share.unCape(datas[x].service_type_name) %></span></p>
				<p>Hạn mức: <span><%- ojs_share.show_price_format(datas[x].stores_payment_limit,0,",",".","") %></span></p>
			</div>	
			
		</div>








	<% 
	} //end of for
	%>	
	
	
	
	
	

	<!-- --------------------
		//2. end of hiển thị cửa hàng
	--------------------- -->









</div>
<!-- --------------------
end content
--------------------- -->










<input type="hidden" id="user_id" value="<%= user_id %>"/>




<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	

<% //include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
	$(document).ready(function(){
	//////////////////////////////////////////////

		
	/////////////////////////////////////////////////		
	});
</script>	























<% include ../masterpage/loader-end %>