
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../../masterpage/loader %>


<script src="../../../../<%= js_css_version %>/javascripts/class-category-news-general.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>




<!-- --------------------
content
--------------------- -->
<div id="content" class="content category">

	<h1><%= title %></h1>

	<div class="value_row">
		<span>Tên danh mục</span>
		<input type="text" class= "" value="<%- ojs_share.unCape(datas[0].category_news_name) %>" id="category_news_name"/>
	</div>
	
	<!-- ------------------
	//danh muc chung
	------------------- -->
	<div id="category_general_wrap" class="value_row">
		<span>Danh mục cha</span>
		<div id="category_general_box">
		<select name="category_general" id="category_news_parent_id"  >
			<option value="0">Chọn danh mục cha</option>
			<% include ../../masterpage/widget-category-news-general-check-box-update %>
		</select>
		</div>
	</div>
	<!-- ------------------
	//danh muc chung
	------------------- -->
	<div class="value_row">
		<span>Sắp xếp </span>
		<input type="text" value="<%= datas[0].category_news_sort_order %>" id="category_news_sort_order" /> 
	</div>





	
	<!-- ------------------
	//hình đại diện 
	------------------- -->
	<div class="pro_box">
		<h3>Ảnh đại diện</h3>	
		<div class="inside">
			<input type="text" 
				value="" 
				id="featured_image" 
				data_value="<%-  ojs_share.unCape( datas[0].category_news_featured_image ) %>" 
				style="display:none;" 
			/>
			<input type="button" value="Thêm ảnh" id="btn_featured_image">
			<div id="img_box_dai_dien"></div>
			<input type='file' accept="image/*" id='upload_image' style="display:none;">
		</div>
	</div>
	<!-- ------------------
	//end of hình đại diện 
	------------------- -->	
	
	
	
	
	
	<div class="value_row">
		<span>Ẩn hiện danh mục</span>
		<div class="select-wrap">
			<select id="category_news_show">
				<%- ojs_share.show_hide(datas[0].category_news_show) %>
			</select>	
		</div>
	</div>
	
	
	

	<!-- ------------------
	Mô tả danh mục
	------------------- -->
	<div class="value_row">
		<span>Mô tả danh mục</span>
		<textarea class="noi_dung"  id="noi_dung"  rows="20" cols="100%"><%- ojs_share.unCape(datas[0].category_news_infomation) %></textarea>
	</div>
	<!-- ------------------
	//Mô tả danh mục
	------------------- -->


<div class="btn_box">
	<a href="/categorys/news/general/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	

<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="cat_id" value="<%= cat_id %>"/>







</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	ojs_loader.loadTinyMCE('noi_dung');
	
	
	
	
	//@
	ojs_loader.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	//@
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_loader.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien")
	});		
	//
	//
	//xua image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		ojs_loader.delete_s3(url);

		//xoa html
		$(this).parent(".img_box").remove();
		ojs_loader.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
	});			
	//		
	//	
	//	
	
	
	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let category_news_name = $('#category_news_name').val();
		let category_news_sort_order = $('#category_news_sort_order').val();
	
		//@
		let cat_id = $('#cat_id').val();
		//@
		let category_news_featured_image = $('#featured_image').attr("data_value");
		//@
		let category_news_parent_id = $('#category_news_parent_id  option:selected').val();
		let category_news_show = $('#category_news_show  option:selected').val();		
		//@
		let category_news_infomation = tinymce.get("noi_dung").getContent();
		
		
		//
		let datas = {
			"datas":{
				category_news_name : category_news_name,
				category_news_parent_id :  category_news_parent_id,
				category_news_infomation : category_news_infomation,
				category_news_featured_image : category_news_featured_image,
				category_news_sort_order : category_news_sort_order,
				category_news_show : category_news_show
			}
		}
		//console.log(datas);		
		//return;
		
		ojs_category_news_general.ajax_update(datas,cat_id);	
		
	});//end of save ajax
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../../masterpage/loader-end %>