


<% 
//order check
if (typeof orders_check == 'object' && orders_check && orders_check.length > 0 ) { 
	orders_check_show = '<span class="status_menu">' + orders_check.length + '</span>';
} else{ 
	orders_check_show = "";
}

//order check
if (typeof product_check == 'object' && product_check && product_check.length > 0 ) { 
	product_check_show = '<span class="status_menu">' + product_check.length + '</span>';
} else{ 
	product_check_show = "";
}


//order check
if (typeof news_sum == 'number' && news_sum && news_sum > 0 ) { 
	news_sum = '<span class="red">' + news_sum + '</span>';
} else{ 
	news_sum = "";
}

%>




<div id="sidebar" class="sidebar admin">
	<ul class="admin-menu">
		<li class="sidebar_name">Quản lý Admin</li>
		
		
		
			
		<!-- --------------------------------
					//tổng quan
		--------------------------------- -->		
			<li id="sidebar_tong_quan">
				<a href="/admin/">
					<i class="fas fa-tachometer-alt"></i>
					<div class="menu-name">
						Tổng quan <%- //ojs_share.show_news_admin_menu_sum(news_admin_menu); -%>								
					</div>
				</a>
			</li>



		<!-- --------------------------------
					//thống kê doanh thu
		--------------------------------- -->		
			<li id="sidebar_thong_ke">
				<a href="/admin/thong-ke/">
					<i class="fas fa-tachometer-alt"></i>
					<div class="menu-name">
						Thống kê Doanh thu <%- //ojs_share.show_news_admin_menu_sum(news_admin_menu); -%>								
					</div>
				</a>
			</li>



		<!-- --------------------------------
					//thống kê marketing
		--------------------------------- -->		
			<li id="sidebar_thong_ke_marketing">
				<a href="/admin/thong-ke-marketing/">
					<i class="fas fa-tachometer-alt"></i>
					<div class="menu-name">
						Thống kê marketing <%- //ojs_share.show_news_admin_menu_sum(news_admin_menu); -%>								
					</div>
				</a>
			</li>
			
			
			

		<!-- --------------------------------
					//users
		--------------------------------- -->		
			<li id="sidebar_danh_sach_tai_khoan">
				<a href="/users/">
					<i class="fas fa-user"></i>
					<div class="menu-name">
						Danh sách tài khoản								
					</div>
				</a>
				<a href="/users/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>








		<!-- --------------------------------
					//store
		--------------------------------- -->	
		
			<li id="sidebar_danh_sach_cua_hang">
				<a href="/stores/">
					<i class="fas fa-store"></i>
					<div class="menu-name">
						Cửa hàng								
					</div>
				</a>
				<a href="/stores/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>






		<!-- --------------------------------
					//orders
		--------------------------------- -->	
		
			<li id="sidebar_don_hang_dac_san">
				<a href="/orders/speciality/">
					<i class="fas fa-clipboard-list"></i>
					<div class="menu-name">
						Đơn hàng  <%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,3); -%>								
					</div>
				</a>
			</li>
			
			
			
			
			
			
		<!-- --------------------------------
					//sản phẩm
		--------------------------------- -->	
		
			<li id="sidebar_product">
				<a href="/products/speciality/">
					<i class="fas fa-box-open"></i>
					<div class="menu-name">
						Sản phẩm  <%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,7); -%>		
												
					</div>
				</a>
				<a href="/products/speciality/add/17" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>	
				
			</li>			
			
			
			

		
		
		
		
		<!-- --------------------------------
					//category
		--------------------------------- -->	
		
			<li id="sidebar_category">
				<a href="/categorys/general/speciality/">
					<i class="fas fa-archive"></i>
					<div class="menu-name">
						Danh mục  <%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,4); -%>		
												
					</div>
				</a>
				<a href="/categorys/general/speciality/add/17/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>
			
		

		
		
		
		
		<!-- --------------------------------
					//option
		--------------------------------- -->	
	
			<li id="sidebar_option">
				<a href="/options/speciality/">
					<i class="fas fa-filter"></i>
					<div class="menu-name">
						Tuỳ chọn  <%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,5); -%>		
					</div>
				</a>
				<a href="/options/speciality/add/17/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>				
			</li>		
		
		
		
		
		
		
		
			
		
		<!-- --------------------------------
					//brand
		--------------------------------- -->	
	
			<li id="sidebar_brand">
				<a href="/brands/">
					<i class="fas fa-award"></i>
					<div class="menu-name">
						Thương hiệu  <%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,6); -%>							
					</div>
				</a>
				<a href="/brands/add/17/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>
			
			
			
			
			
			
			
		<!-- --------------------------------
					//notes
		--------------------------------- -->	
	
			<li id="sidebar_note">
				<a href="/notes/send">
					<i class="fas fa-comment"></i>
					<div class="menu-name">
						Gửi tin nhắn 													
					</div>
				</a>
			</li>
			
			
			
			
			
			
				
			
		<!-- --------------------------------
			//chương trìh khuyến mãi
		--------------------------------- -->	
	
			<li id="sidebar_discount_program">
				<a href="/discount-program/speciality/">
					<i class="fas fa-percent"></i>
					<div class="menu-name">
						CT khuyến mãi	
						<%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,[8]); -%>	
						<%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,[10]); -%>
					</div>
				</a>
				<a href="/discount-program/speciality/add/17/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>			
			
			
					
			
			
		<!-- --------------------------------
			// mã giảm giá
		--------------------------------- -->	
	
			<li id="sidebar_coupon">
				<a href="/coupon/speciality/">
					<i class="fas fa-ticket-alt"></i>
					<div class="menu-name">
						Mã giảm giá	<%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,14); -%>												
					</div>
				</a>
				<a href="/coupon/speciality/add/17/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>				
			
			
			
			
					
		
			
			
			
			
			
			
		<!-- --------------------------------
			// Tin tuc
		--------------------------------- -->	
	
			<li id="sidebar_news">
				<a href="/news/general/">
					<i class="fas fa-newspaper"></i>
					<div class="menu-name">
						Tin tức													
					</div>
				</a>
				<a href="/news/general/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>			
			
			
			
			
			
			
		
		
		<!-- --------------------------------
			// shipping
		--------------------------------- -->	
	
			<li id="sidebar_shipping">
				<a href="/shipping/speciality/">
					<i class="fas fa-newspaper"></i>
					<div class="menu-name">
						Shipping												
					</div>
				</a>
				<a href="/shipping/speciality/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>			
		
		
		
		
		
		
		
		
		<!-- --------------------------------
			// review
		--------------------------------- -->	
	
			<li id="sidebar_reviews">
				<a href="/reviews/speciality/">
					<i class="fas fa-newspaper"></i>
					<div class="menu-name">
						Reviews	<%- ojs_share_all_admin.show_news_admin_menu_html(news_admin_menu,12); -%>											
					</div>
				</a>
			</li>		
		
	</ul>
</div>







