<% if( ( typeof store_id == 'number' || typeof store_id == 'string' ) && store_id){ } else{ store_id = "0" } %>
<% if(  typeof service_type_name  == 'string'  && service_type_name ){ } else{ service_type_name = "" } %>

<% if( ( typeof store_name  == 'string'
 ||  typeof store_name  == 'number' ) 
 && store_name  && store_name.length > 0)
 {
	store_name = store_name 
} else{ 
	store_name  = "" 
} %>




<%
//order check
if (typeof news_sum == 'number' && news_sum && news_sum > 0 ) { 
	news_sum = '<span class="red">' + news_sum + '</span>';
} else{ 
	news_sum = "";
}

%>




<div id="sidebar" class="sidebar">
	<ul class="admin-menu">
		<!-- //admin -->	
		<% if(users_type == "admin"){ %>		
		<li>
			<a href="/admin/">
				<i class="fas fa-tachometer-alt"></i>
				<div class="menu-name">Admin</div>
			</a>
		</li>
		<% } %>
		
		<!-- //cua hàng  -->
		<li class="store_name">
			<a href="/bussiness/<%= user_id %>" title="Về trang chủ"><i class="fas fa-home"></i></a><i class="fas fa-chevron-right"></i><div class="menu-name"><%= store_name %> </div>
															  
			<ul>
				<li id="sidebar_quan_ly"><a href="/stores/manage/<%= store_id %>/<%= user_id %>">Quản lý <%- news_sum %></a></li>
				<li id="sidebar_chinh_sua_cua_hang"><a href="/bussiness/stores/show/<%= store_id %>/<%= user_id %>">Chỉnh sửa thông tin</a></li>
			</ul>		
		</li>	
		
		<!--
		//Đơn hàng
		-->
		<li>
			<i class="fas fa-clipboard-list"></i>
			<div class="menu-name">Đơn hàng</div>
			<ul>
				<li id="sidebar_don_hang"><a href="/stores/manage/orders/<%= store_id %>/all">Tất cả đơn hàng</a></li>
				<li><a href="/stores/manage/orders/<%= store_id %>/0">Chờ xác nhận</a></li>																											 
			</ul>
		</li>		
		
		<!--
		//Sản phẩm
		-->
		<li>
			<i class="fas fa-box-open"></i>
			<div class="menu-name">Sản phẩm</div>
			<ul>
				<li id="sidebar_san_pham"><a href="/products/<%= service_type_name %>/<%= store_id %>">Tất cả sản phẩm</a></li>
				<li id="sidebar_tao_san_pham"><a href="/products/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Thêm sản phẩm</a></li>
			</ul>
		</li>	

		<!--
		//Danh mục
		-->
		<li>
			<i class="fas fa-archive"></i>
			<div class="menu-name">Danh mục</div>
			<ul>
				<li id="sidebar_danh_muc"><a href="/categorys/general/<%= service_type_name %>/<%= store_id %>">Tất cả danh mục<span class="num_noti">4</span></a></li>
				<li id="sidebar_tao_danh_muc"><a href="/categorys/general/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Thêm danh mục</a></li>
			</ul>
		</li>
		
		<!--
		//Tùy chọn
		-->
		<li>
			<i class="fas fa-filter"></i>
			<div class="menu-name">Tùy chọn sản phẩm</div>
			<ul>
				<li id="sidebar_option"><a href="/options/<%= service_type_name %>/<%= store_id %>">Tất cả tùy chọn</a></li>
				<li id="sidebar_tao_option"><a href="/options/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Thêm tùy chọn</a></li>
			</ul>
		</li>
		
		<!--
		//Thương hiệu
		-->
		<li>
			<i class="fas fa-archive"></i>
			<div class="menu-name">Thương hiệu</div>
			<ul>
				<li id="sidebar_thuong_hieu"><a href="/brands/<%= store_id %>">Tất cả thương hiệu</a></li>
				<li id="sidebar_tao_thuong_hieu"><a href="/brands/add/<%= store_id %>/<%= user_id %>">Thêm thương hiệu</a></li>																   
			</ul>
		</li>
		
				
		
	</ul>
</div>