


<% 
//order check
if (typeof orders_check == 'object' && orders_check && orders_check.length > 0 ) { 
	orders_check_show = '<span class="status_menu">' + orders_check.length + '</span>';
} else{ 
	orders_check_show = "";
}

//order check
if (typeof product_check == 'object' && product_check && product_check.length > 0 ) { 
	product_check_show = '<span class="status_menu">' + product_check.length + '</span>';
} else{ 
	product_check_show = "";
}


//order check
if (typeof news_sum == 'number' && news_sum && news_sum > 0 ) { 
	news_sum = '<span class="red">' + news_sum + '</span>';
} else{ 
	news_sum = "";
}



%>


<div id="sidebar" class="sidebar admin">
	<ul class="admin-menu">
	<!-- 
		<li id="sidebar_tong_quan">
			<a href="/admin/">
				<i class="fas fa-tachometer-alt"></i>
				<div class="menu-name">Tổng quan <%- news_sum %></div>
			</a>
		</li>
	-->	
	
	
		<li class="sidebar_name">Quản lý Admin</li>
			
		<!-- --------------------------------
					//tổng quan
		--------------------------------- -->		
			<li id="sidebar_tong_quan">
				<a href="/admin/">
					<i class="fas fa-tachometer-alt"></i>
					<div class="menu-name">
						Tổng quan <%- ojs_share.show_news_admin_menu_sum(news_admin_menu); -%>								
					</div>
				</a>
			</li>

		<!-- --------------------------------
					//users
		--------------------------------- -->		
			<li id="sidebar_danh_sach_tai_khoan">
				<a href="/users/">
					<i class="fas fa-user"></i>
					<div class="menu-name">
						Danh sách tài khoản								
					</div>
				</a>
				<a href="/users/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>
		<!-- --------------------------------
					//store
		--------------------------------- -->	
		
			<li id="sidebar_danh_sach_cua_hang">
				<a href="/stores/">
					<i class="fas fa-store"></i>
					<div class="menu-name">
						Cửa hàng								
					</div>
				</a>
				<a href="/bussiness/stores/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>
			
		
		<!-- --------------------------------
					//orders
		--------------------------------- -->	
		
			<li id="sidebar_don_hang_dac_san">
				<a href="/orders/speciality/">
					<i class="fas fa-clipboard-list"></i>
					<div class="menu-name">
						Đơn hàng  <%- ojs_share.show_news_admin_menu_html(news_admin_menu,3); -%>								
					</div>
				</a>
			</li>
			
		<!-- --------------------------------
					//sản phẩm
		--------------------------------- -->	
		
			<li id="sidebar_product">
				<a href="/products/speciality/">
					<i class="fas fa-box-open"></i>
					<div class="menu-name">
						Sản phẩm  <%- ojs_share.show_news_admin_menu_html(news_admin_menu,7); -%>		
												
					</div>
				</a>
			</li>
			
		
		<!-- --------------------------------
					//category
		--------------------------------- -->	
		
			<li id="sidebar_category">
				<a href="/categorys/general/speciality/">
					<i class="fas fa-archive"></i>
					<div class="menu-name">
						Danh mục  <%- ojs_share.show_news_admin_menu_html(news_admin_menu,4); -%>		
												
					</div>
				</a>
			</li>
			
		
		<!-- --------------------------------
					//option
		--------------------------------- -->	
	
			<li id="sidebar_option">
				<a href="/options/speciality/">
					<i class="fas fa-filter"></i>
					<div class="menu-name">
						Tuỳ chọn  <%- ojs_share.show_news_admin_menu_html(news_admin_menu,5); -%>		
												
					</div>
				</a>
			</li>
			
		
		<!-- --------------------------------
					//brand
		--------------------------------- -->	
	
			<li id="sidebar_brand">
				<a href="/brands/">
					<i class="fas fa-award"></i>
					<div class="menu-name">
						Thương hiệu  <%- ojs_share.show_news_admin_menu_html(news_admin_menu,6); -%>							
					</div>
				</a>
			</li>
			
		
		<!-- --------------------------------
					//notes
		--------------------------------- -->	
	
			<li id="sidebar_note">
				<a href="/notes/send">
					<i class="fas fa-comment"></i>
					<div class="menu-name">
						Gửi tin nhắn 													
					</div>
				</a>
			</li>
			
			
			
		<!-- --------------------------------
			//chương trìh khuyến mãi
		--------------------------------- -->	
	
			<li id="sidebar_discount_program">
				<a href="/discount-program/speciality/">
					<i class="fas fa-percent"></i>
					<div class="menu-name">
						CT khuyến mãi													
					</div>
				</a>
				<a href="/discount-program/speciality/add/17/51" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>			
			
			
			
		<!-- --------------------------------
			// mã giảm giá
		--------------------------------- -->	
	
			<li id="sidebar_coupon">
				<a href="/coupon/speciality/">
					<i class="fas fa-ticket-alt"></i>
					<div class="menu-name">
						Mã giảm giá													
					</div>
				</a>
				<a href="/coupon/speciality/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>				
			
			
		<!-- --------------------------------
			// Tin tuc
		--------------------------------- -->	
	
			<li id="sidebar_news">
				<a href="/news/general/">
					<i class="fas fa-newspaper"></i>
					<div class="menu-name">
						Tin tức													
					</div>
				</a>
				<a href="/news/general/add/" class="btn_add" title="Thêm mới"><i class="fas fa-plus"></i></a>
			</li>			
			
		
		<!-- 
		//cửa hàng
		
		<li>
		<i class="fas fa-store"></i>
		<div class="menu-name">Quản lý</div>
		<ul>
			<liid="sidebar_cua_hang"><a href="/stores/">Cửa hàng</a></li>
			<li id="sidebar_don_hang_dac_san"><a href="/orders/speciality">Đơn hàng</a>  </li>
			<li><a href="/products/speciality/17"> Sản phẩm</a></li>
			<li><a href="/categorys/general/speciality/17">Danh mục</a></li>
			<li><a href="/options/speciality/17">options</a></li>
			<li><a href="/brands/17">Danh sách thương hiệu</a></li>
		</ul>
		</li>	
		-->
	</ul>
</div>