

<% if( typeof datas == 'object' && datas){ } else{ datas=[] } %>

<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên thương hiệu</th>
			<th>Trạng thái admin</th>
			<th>Trạng thái cửa hàng</th>		
		</tr>
	</thead>
	<tbody>

	<% 
	for(var  x in datas) { %>
		   <tr>
			<td class="user-name"><a href="#"><%- ojs_share.unCape(datas[x].brands_name) %></a>
				<% //neu nếu đã chấp nhận thì ko cho update nua
				if( datas[x].brands_status_admin != "1" ){ 
				%>
			
				<div class="row-actions">
						<span class="edit"><a href="/brands/show/<%= datas[x].brands_ID %>/<%= datas[x].stores_ID %>">Chỉnh sửa</a> | </span>
						<span class="delete"><a href="#" data_brand_id="<%= datas[x].brands_ID %>" class="submitdelete">Xóa</a></span>
				</div>
				
				<%
				}
				%>					

			</td>
			<td><%- ojs_share.show_status_table_share_all(datas[x].brands_status_admin) %></td>
			<td><%- ojs_share.show_status_table_share_all(datas[x].brands_status_stores) %></td>

	   </tr>
	<% 
	} %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên danh thương hiệu</th>
			<th>Trạng thái admin</th>
			<th>Trạng thái cửa hàng</th>			
		</tr>
	</tfoot>
</table>