<!-- -----------------------------------------
	//Chương trình khuyến mãi của hệ thống DALA
------------------------------------------- -->
<%		
var i_loop = 0;
if(discount_program_list.length > 0){ %>	
	<h1 style="font-weight:bold; font-size:20px;margin:0;">Các Chương trình khuyến mãi của hệ thống DALA</h1>
	<hr>
	<br>
	
	<div class="discount-wrap">
	<% 
	for( var  x in discount_program_list ) { 
	if(
	discount_program_list[x].discount_program_type == "1" ){
	i_loop = i_loop + 1;
	%>	
		<div class="discount-box" style="flex-wrap:wrap;">
			<div class="discount-image-wrap">
				<img  style="cursor: pointer;"   class="view-discount" data_id="<%= discount_program_list[x].discount_program_ID %>" src="<%- ojs_share.unCape(discount_program_list[x].discount_program_featured_image) -%>"/>
			</div>
			
			<div style="padding: 0px 20px;">
			<span >Tên chương trình : </span>
				<div class="discount-title">
					<div style="cursor: pointer;"  class="view-discount" data_id="<%= discount_program_list[x].discount_program_ID %>" ><strong>
					<%- ojs_share.unCape(discount_program_list[x].discount_program_name) -%></strong>
					</div>

				</div>
				<a href="/admin/discount/show/<%= discount_program_list[x].discount_program_ID %>
				/<%= discount_program_list[x].stores_ID %>" clas="btn_update">update</a>			
			
				<div class="discount-posittiom">
					<span> Vị trí khuyến mãi : <%- ojs_share_discount.show_discount_position_html(discount_program_list[x].discount_program_position) %></span>
				</div>	

				
				<div class="discount-status">
					<span> trạng thái : <%- ojs_share.show_status_discount_detail_html(discount_program_list[x].discount_program_status_admin) -%>
				</div>
			</div>
			
			
			
			
			
			<!-- ---------------------------
				// product
			------------------------------ -->
			<%
			if(discount_program_product_add_list.length > 0){
			%>
			<div style="width: 100%;">
				<div style="">
					<h1> Sản phẩm tham gia</h1>				
					<table class="table-list">
						<thead>

						</thead>
						<tbody>



						</tbody>
						<tfoot>
							<tr>
		
							</tr>
						</tfoot>
					</table>				
				
				
				
				
				</div>
			</div>
			
			<%
			}else{
			%>
			<div style="width: 100%;">

			</div>
			
			<%
			}
			%>			
			<!-- ---------------------------
				// product
			------------------------------ -->		



			
		</div>
	<%
	} //end if
	}// end for
	%>	
	
	

	<%
	//@
	//@i_loop
	if(i_loop == 0){
	%>
		<div style="text-align:right;">
		<h1> Không có chương trình khuyến mãi nào</h1>
		<a style=" background: #5e6a5f;" href="/discount-program/speciality/add/17/<%= user_id %>" class="btn_green">
			Tạo một chương trình khuyến mãi
		</a>
		</div>
	<%
	}
	%>	
	</div>		
<%
} //end if
%>		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	