

<% if( typeof datas == 'object' && datas){ } else{ datas=[] } %>
<%
if(datas.length == 0){
%>
	<div class="not_order"><span>Chưa có đơn hàng nào ...... </span></div>
<% } else{
%>	
	
	<table class="table-list">
		<thead>
			<tr>
				<th class="user-name">ID đơn hàng</th>
				<th class="user-name">Ngày đặt hàng</th>
				<th class="user-name">Khách hàng</th>
				<th class="user-name">Cửa hàng</th>
				<th class="user-name">Địa chỉ</th>
				<th class="user-name">Ghi chú</th>
				<th class="user-name">Thanh toán</th>
				<th class="user-name">Hoàn thành</th>
			</tr>
		</thead>
		<tbody>
		

		<% 
		for( var  x in datas ) { 
		%>

		   <tr>
				<td class="user-name"><a href="#">#<%- datas[x].orders_speciality_ID %></a>
					<div class="row-actions">
						<span class="edit"><a href="/orders/speciality/show/<%= datas[x].orders_speciality_ID  %>">Chỉnh sửa</a> | </span>
						<span class="delete"><a href="#" data_order_id="<%= datas[x].orders_speciality_ID  %>" class="submitdelete">Xóa</a></span>
					</div>
				</td>
				
				<td class="user-name"><%- datas[x].orders_speciality_date_orders %></td>
				<td class="user-name"><%- datas[x].users_full_name %></td>
				<td class="user-name"><%- datas[x].stores_name %></td>
				<td class="user-name"><%- datas[x].orders_speciality_adress %></td>
				<td class="user-name"><%- datas[x].orders_speciality_notes %></td>
				<td class="user-name"><%- ojs_share.show_status_orders_checkout(datas[x].orders_speciality_status_payment) %></td>				
				<td class="user-name"><%- ojs_share_orders.show_order_status_html(datas[x].orders_speciality_status_orders) %></td>
			
				
				
		   </tr>


		<% } %>
		
		</tbody>
		<tfoot>
			<tr>
				<th class="user-name">ID đơn hàng</th>
				<th class="user-name">Ngày đặt hàng</th>
				<th class="user-name">Khách hàng</th>
				<th class="user-name">Cửa hàng</th>				
				<th class="user-name">Địa chỉ</th>
				<th class="user-name">Ghi chú</th>
				<th class="user-name">Thanh toán</th>
				<th class="user-name">Hoàn thành</th>
			</tr>
		</tfoot>
	</table>
<% 
}
%>