

<% if( typeof options_list == 'object' && options_list){ options_list = options_list } else{ options_list=[] } %>

<table class="table-list">

	<thead>
		<tr>
			<th class="user-name">Tên tùy chọn</th>
			<th>Admin</th>
			<th>Cửa hàng</th>		
		</tr>
	</thead>
	<tbody>

	<% 
	for(var  x in options_list) { %>
		<% 
		if(options_list[x].options_product_speciality_parent_id == 0) { %>
				<% //nếu chủ cữa hàng thì hiện màu đỏ
				if(options_list[x].options_product_speciality_stores_id == store_id  &&  user_role != "admin"){ 		
					var ex1 = 'my_store';
				}else{
					var ex1 = '';
				}
				%>				
		
		
			   <tr class="<%= ex1 %>">
				<td class="user-name"><a href="#"><%= options_list[x].options_product_speciality_name %></a>
					<div class="row-actions">
						<% //nếu là admin thì hiển thị update
						if(user_role == "admin" ||  options_list[x].options_product_speciality_stores_id == store_id  ){ %>
							<% //neu nếu đã chấp nhận thì ko cho update nua
							if( options_list[x].options_product_speciality_status_update != "1"   || user_role == "admin"){ %>
								<span class="edit">
									<a href="/admin/option/show/<%= options_list[x].options_product_speciality_ID %>/<%= options_list[x].options_product_speciality_stores_id %>">
										Chỉnh sửa</a> | 
								</span>
								<span class="delete">
									<a href="#" data_option_id="<%= options_list[x].options_product_speciality_ID %>" class="submitdelete">
										Xóa
									</a>
								</span>
							<% // end if
							}  
							%>								
						<% //enf of if
						}
						%>
						
					</div>
				</td>
				
				
					<td><%- ojs_share.show_status_table_share_all(options_list[x].options_product_speciality_status_admin) %></td>
					<td><%- ojs_share.show_status_table_share_all(options_list[x].options_product_speciality_status_stores) %></td>

		   </tr>
		   
		    <% 
		    for(var  y in options_list) { %>
				<% 
				if(options_list[x].options_product_speciality_ID == options_list[y].options_product_speciality_parent_id) { %>
				
					<% //nếu chủ cữa hàng thì hiện màu đỏ
					if(options_list[y].options_product_speciality_stores_id == store_id &&  user_role != "admin"){ 		
						var ex1 = 'my_store';
					}else{
						var ex1 = '';
					}
					%>				
			
			
				   <tr class="<%= ex1 %>">
						<td class="user-name cat_child01" ><a href="#"><%= options_list[y].options_product_speciality_name %></a>
						<div class="row-actions">
							<% //nếu là admin thì hiển thị update
							if(user_role == "admin" || options_list[y].options_product_speciality_stores_id == store_id){ %>
							
								<% //neu nếu đã chấp nhận thì ko cho update nua
								if( options_list[y].options_product_speciality_status_update != "1"   || user_role == "admin"){ %>
									<span class="edit"><a href="/admin/option/show/<%= options_list[y].options_product_speciality_ID %>/<%= options_list[y].options_product_speciality_stores_id %>"">Chỉnh sửa</a> | </span>
									<span class="delete"><a  data_option_id="<%= options_list[y].options_product_speciality_ID %>" href="#" class="submitdelete">Xóa</a></span>
								<% //enf of if
								}
								%>
							
							<% //enf of if
							}
							%>								
							
						</div>
						</td>
				
							<td><%- ojs_share.show_status_table_share_all(options_list[y].options_product_speciality_status_admin) %></td>
							<td><%- ojs_share.show_status_table_share_all(options_list[y].options_product_speciality_status_stores) %></td>
	
						%>								
				   </tr>
					   
				<% 
				} %>					
		    <% 
		    } %>	   
		<% 
	    } %>
	<% 
	} %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên tùy chọn</th>
			<th>Admin</th>
			<th>Cửa hàng</th>			
		</tr>
	</tfoot>
</table>
	
	