<div class="content-box-2">
	<p><b>Kính gửi:</b><span style="font-weight: 400;"> Cục Thương mại điện tử và Kinh tế số – Bộ Công Thương</span></p>
	<p><span style="font-weight: 400;">Công ty Cổ phần Thương mại DALA.VN báo cáo tình hình hoạt động của website và ứng dụng do công ty quản lý, cụ thể như sau:</span></p>
	
	</ol>
	<p><span style="font-weight: 400;">I. Số lượng truy cập: <strong>[ <%= ojs_share_all.show_price_format(traffic[0].traffic_app,0,",","."," lượt truy cập") %> ] </strong></span></p>
	<ol>	
	
	
	
	
	
	</ol>
	<p><span style="font-weight: 400;">II. Số người bán: </span></p>
	<ol>	
		<li>
			<p>
				<span style="font-weight: 400;"> Tổng số trên hệ thống:  <strong>[ <%= store_all[0].count_stores_ID %> ] </strong></span>
			</p>
			<p>
				là tổng số cửa hàng từ lúc app hoạt động đến thời điểm thống kê 
				(ví dụ: app của mình hoạt động từ 12/8/2020 tuy nhiên báo cáo yêu cầu 
				từ 01/01/2021 đến 30/9/2021 thì tổng số cửa hàng ở đây được tính từ thời 
				điểm app hoạt động là 12/8/2020 đến 30/9/2021)
			</p></li>
		<li>
			<p>
				<span style="font-weight: 400;"> Số lượng người bán mới: <strong>[ <%= store_new[0].count_stores_ID %> ] </strong></span>
			</p>
			<p>
				Là số lượng cửa hàng đang hoạt động trong khoảng thời gian được chọn ở phía trên.</span>
			</p>
		</li>	
	</ol>
	
	
	<p><span style="font-weight: 400;">III. Số lượng sản phẩm: </span></p>
	<ol>
	
	<li><span style="font-weight: 400;"> Tổng số sản phẩm (SKU): <strong>[ <%= product_all[0].count_products_speciality_ID %> ] </strong> Là số lượng sản phẩm đang hoạt động đến thời điểm thống kê (giống ví dụ ở mục I).</span></li>
	<li><span style="font-weight: 400;"> Số sản phẩm đăng bán mới:  <strong>[ <%= product_new[0].count_products_speciality_ID %> ] </strong> Là số lượng sản phẩm đang hoạt động trong khoảng thời gian ở phía trên.</span></li>
	
	</ol>
	<p><span style="font-weight: 400;">IV. Số lượng giao dịch: </span></p>
	<ol>	
	
	<li><span style="font-weight: 400;"> Tổng số đơn hàng:  <strong>[ <%= order_all[0].count_orders_speciality_ID %> ] </strong> Là số lượng đơn hàng trong khoảng thời gian ở phía trên.</span></li>
	<li><span style="font-weight: 400;"> Tổng số đơn hàng thành công:  <strong>[ <%= order_ok[0].count_orders_speciality_ID %> ] </strong>  Là số lượng đơn hàng được giao thành công trong khoảng thời gian ở phía trên.</span></li>
	<li><span style="font-weight: 400;"> Tổng số đơn hàng không thành công:   <strong>[ <%= order_no_ok[0].count_orders_speciality_ID %> ] </strong>  Là số lượng đơn hàng không thành công trong khoảng thời gian ở phía trên.</span></li>
	
	
	</ol>
	<p><span style="font-weight: 400;">V. Tổng giá trị giao dịch: </span></p>
	<ol>		
	
	
	<li><span style="font-weight: 400;"> Tổng giá trị giao dịch:   <strong>[ <%= ojs_share_all.show_price_format(total_sale[0].sum_price_caution,0,",",".","đ") %> ] </strong> Tổng số này ứng với tổng số đơn hàng giao dịch thành công ở phía trên.</span></li>
	</ol>

</div>