

<% if( typeof order_list == 'object' && order_list){ } else{ order_list=[] } %>
<%
if(order_list.length == 0){
%>
	<div class="not_order"><span>Chưa có đơn hàng nào ...... </span></div>
<% } else{
%>	
	
	<table class="table-list">
		<thead>
			<tr>
				<th class="user-name">STT</th>
				<th class="user-name">ID đơn hàng</th>
				<th class="user-name">Ngày đặt hàng</th>
				<th class="user-name">Tổng tiền hàng</th>
				<th class="user-name">Mã giảm giá</th>
				<th class="user-name">Người giới thiệu</th>
				<th class="user-name">chiếc khấu</th>
				<th class="user-name">Doanh thu</th>
				<th class="user-name">Trạng thái đơn hàng</th>				
				<th class="user-name">Công nợ</th>
				<th class="user-name">Đã thanh toán</th>
				<th class="user-name">Chưa thanh toán</th>
			</tr>
		</thead>
		<tbody>
		

		<% 
		var i = 1;
		for( var  x in order_list ) { 
		%>

		   <tr>
				<td class="user-name"><%= i %></a>
				<td class="user-name"><a href="#">#<%- order_list[x].orders_speciality_ID %></a>
					<div class="row-actions">
						<span class="thanh-toan">						
						<a 
							data_id="<%- order_list[x].orders_speciality_ID %>" 
							data_coupon_code="<%- order_list[x].coupon_speciality_code %>" 
							href="#">Thanh toán công nợ
						</a> | </span>
					</div>
				</td>
				<td class="user-name"><%- order_list[x].orders_speciality_date_orders %></td>
				<td class="user-name"><%- ojs_share_all.show_price_format(order_list[x].orders_speciality_total_product,0,",",".","đ") %></td>
		
				<td class="user-name"><%- order_list[x].coupon_speciality_code %></td>
				<td class="user-name"><%- order_list[x].users_full_name %></td>
	
				<td class="user-name">
					<p>Chiếc khấu <%- order_list[x].coupon_speciality_intro_price %> %</p>
					<%
					if(order_list[x].coupon_speciality_intro_price_limit > 0){
					%>
						<p>tối đa <%- ojs_share_all.show_price_format(order_list[x].coupon_speciality_intro_price_limit,0,",",".","đ") %></p>					
					<%
					}
					%>
				</td>	
				<td class="user-name">
					<%
					var chiec_khau = order_list[x].orders_speciality_total_product * order_list[x].coupon_speciality_intro_price /100;
					if(order_list[x].coupon_speciality_intro_price_limit > 0){
						if(chiec_khau > order_list[x].coupon_speciality_intro_price_limit){
							chiec_khau = order_list[x].coupon_speciality_intro_price_limit;
						}
					}
					%>
					<span class="chiec_khau_caution" data_price="<%=  chiec_khau %>">
					<%- ojs_share_all.show_price_format(chiec_khau,0,",",".","đ") %>
					</span>				
				</td>

				<td class="user-name"><%- ojs_share_orders.show_order_status_html(order_list[x].orders_speciality_status_orders) %></td>
				<% 
				if(order_list[x].payment_coupon_ID == null){				
				%>
					<td class="user-name"><span style="color:red;">Chưa thanh toán</td>	
				<%
				}else{
				%>	
					<td class="user-name"><span style="color:green;">Đã thanh toán</td>					
				<%
				}
				%>	

	
		   </tr>


		<% 
		i = i + 1;
		} 
		%>
		
		</tbody>
		<tfoot>
			<tr>
				<th class="user-name">STT</th>
				<th class="user-name">ID đơn hàng</th>
				<th class="user-name">Ngày đặt hàng</th>
				<th class="user-name">Tổng tiền hàng</th>
				<th class="user-name">Mã giảm giá</th>
				<th class="user-name">Người giới thiệu</th>
				<th class="user-name">chiếc khấu</th>
				<th class="user-name">Doanh thu</th>	
				<th class="user-name">Trạng thái đơn hàng</th>					
				<th class="user-name">Công nợ</th>				
				<th class="user-name">Đã thanh toán</th>
				<th class="user-name">Chưa thanh toán</th>				
			</tr>
		</tfoot>
	</table>
<% 
}
%>

<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	$('.status_nomal').each(function(index, value) {
		if($(this).html() == "Cửa hàng đã từ chối đơn hàng"){
			$(this).css('color','red');
		}
	});
	
});//end of document
</script>










