
<%- include ("./function-share-page-nav") %>
<%- include ("./function-share-product") %>

<% if( typeof products_list == 'object' && products_list){ } else{ products_list=[] } %>
<% if( typeof category_link_datas == 'object' && category_link_datas){ } else{ category_link_datas=[] } %>

<div class="page-nav">
	<div class="page-nav-inner">
		<%- ojs_share_page_nav.show_page_nav(product_count_all.length,20,"#") -%>
	</div>
</div>
<div id="ajax-table">
<table class="table-list" style="table-layout: auto;">
	<thead>
		<tr>
			<th class="user-name">Sản phẩm</th>
			<th class="user-name"  style="text-align:center;">Cửa hàng</th>
			<th>Danh mục</th>
			<th>Giá</th>
			<th>Đã bán</th>
			<th>Chương trình khuyến mãi đang tham gia</th>
			<th>Tồn kho</th>
			<th>Trạng thái</th>
		</tr>
	</thead>
	<tbody>
	<% 
	for( var  x in products_list ) { 
	%>

	   <tr>
			<td class="user-name">
				<a href="#"  data_product_id="<%= products_list[x].products_speciality_ID  %>" 
				class="pro-img btn-xem"><img src="<%- products_list[x].products_speciality_featured_image  %>" /></a>
				<a href="#"  data_product_id="<%= products_list[x].products_speciality_ID  %>" 
				class="btn-xem"><%- products_list[x].products_speciality_name %></a>
				
				
				
				<div class="row-actions">
					<span class="edit">
					<a href="/products/speciality/show/<%= products_list[x].products_speciality_ID  %>/<%= products_list[x].stores_ID %>">Chỉnh sửa
					</a> | </span>
					<span class="btn-xem" data_product_id="<%= products_list[x].products_speciality_ID  %>"><a href="#">xem</a> | </span>	

					<%
					if(products_list[x].products_speciality_status_admin != "1"){
					%>
						<span class="btn-duyet"  data_product_id="<%= products_list[x].products_speciality_ID  %>" ><a href="#">duyệt</a> | </span>
						<span class="btn-tu-choi"  data_product_id="<%= products_list[x].products_speciality_ID  %>"><a href="#" >từ chối</a> | </span>	
					<%
					}
					%>

					
					<span class="btn-delete"  data_product_id="<%= products_list[x].products_speciality_ID  %>"><a href="#">Xóa</a></span>
				</div>
			</td>
			
			<td><%= products_list[x].stores_name %></td>
			
			<td><%- ojs_share_product.show_category_products(products_list[x].products_speciality_ID,category_link_datas ) %></td>			
			
			
			<% if( products_list[x].products_speciality_sale_of_price != null ){ %>
				<td class="pro-price" style="white-space: nowrap;">
					<%- ojs_share_product.show_han_km(products_list[x].products_speciality_sale_of_price_time_check) %>
					<span class="price-off">
					<%- ojs_share_all.show_price_format(products_list[x].products_speciality_price,0,",",".","đ") %></span>
					<%- ojs_share_all.show_price_format(products_list[x].products_speciality_sale_of_price,0,",",".","đ") %>
				</td>
			<% } else { %>
				<td class="pro-price"  style="white-space: nowrap;"><%- ojs_share_all.show_price_format(products_list[x].products_speciality_price,0,",",".","đ")  %></td>		
			<% } %>				
			
			
		<td><%= products_list[x].so_luong_da_ban %></td>					
		<td>
			<%- products_list[x].discount_program[0].name %>
				   <%
				   for(var s in products_list[x].product_price){
				   %>									   
					   <div style="font-size:12px;color:#9bcdc1;">
							 <span> Số lượng từ  :  </span>
							 <%= products_list[x].product_price[s].from %>
							 <span> --->  </span>
							  <%= products_list[x].product_price[s].to  %>
							 <span> giá bán  --->  </span>
							  <%- ojs_share_all.show_price_format(products_list[x].product_price[s].price,0,",",".","đ") %>	
							 <p><span> Giảm thêm  --->  </span>
							 <%- 
								 ojs_share_all.show_price_format((products_list[x].product_price[s].percent - products_list[x].products_speciality_sort_by_percen),0,",",".","%"
								 ) 
							 %>	
							  </p>
							<p style="border-bottom:1px dashed #ccc;"></p>
					   </div>
				   <% 
				   }
				   %>				
			
			
					<%
					//hien thi san pham qua tang
					var gift_text = "";
					for(let os in products_list[x].product_gift){
						gift_text = gift_text + 
						'<div style="display:flex;align-item:center;">' + 
							'<img style="width:30px;" src="' + products_list[x].product_gift[os].product_gift_image + '"/>' + 
							'<span style="display:block;font-size:12px;"><i>' +  
								products_list[x].product_gift[os].product_gift_name + 
							'</i></span>' + 
						'</div>';
					}		
					if(gift_text.length > 0){
					%>
						<p><span style="text-decoration: underline;font-weight:bold;">Quà tặng: </span></p>
						<%- gift_text %>
					
					<%
					}								
					%>				
		</td>
		
		<td  style="white-space: nowrap;">
			<%- ojs_share_product.show_stock_html(
				products_list[x].products_speciality_stock_status,
				products_list[x].products_speciality_stock
			) -%>
			
		</td>			
		<td><%- ojs_share_all.show_status_html(products_list[x].products_speciality_status_admin) %></td>			
			
	   </tr>


	<% } %>
	
	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Sản phẩm</th>
			<th class="user-name">Cửa hàng</th>
			<th>Danh mục</th>
			<th>Giá</th>
			<th>Đã bán</th>
			<th>Chương trình khuyến mãi đang tham gia</th>
			<th>Tồn kho</th>
			<th>Trạng thái</th>
		</tr>
	</tfoot>
</table>
</div>


<div class="page-nav">
	<div class="page-nav-inner">
		<%- ojs_share_page_nav.show_page_nav(product_count_all.length,20,"#") -%>
	</div>
</div>
	













