

<% if( typeof option_list_create == 'object' && option_list_create && option_list_create.length > 0){ option_list_create = option_list_create } else{ option_list_create=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên tùy chọn</th>
			<th class="user-name"  style="text-align:center;">Trạng thái</th>
		</tr>
	</thead>
	<tbody>



	<% 
	if(option_list_create.length > 0){
	for(var  x in option_list_create) { %>
  
	   <tr class="">

			<td class="user-name"><a href="#"><%= option_list_create[x].options_product_speciality_name %></a>
			
				<%
				if(option_list_create[x].options_product_speciality_status_admin != 1 ){
				%>			
					<div class="row-actions">
						<span class="edit">
						<a href="/options/speciality/manage/show/<%= option_list_create[x].options_product_speciality_ID %>/<%= option_list_create[x].stores_ID %>">Chỉnh sửa</a> | </span>
						<span class="delete"><a href="#" data_option_id="<%= option_list_create[x].options_product_speciality_ID %>" class="submitdelete">Xóa</a></span>
					</div>
				
				<%
				}
				%>					
				
				
			</td>
	
			<td style="text-align:center;"><%- ojs_share_all.show_status_html(option_list_create[x].options_product_speciality_status_admin) %></td>			
	   </tr>
  
	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên tùy chọn</th>
			<th class="user-name"  style="text-align:center;">Trạng thái</th>
		</tr>
	</tfoot>
</table>
	