





<% 
var check_datas_category_general = 1;

try{
  var x = datas_category_general.length;
  
} catch (error) {
	
  var check_datas_category_general = 0;
}

%>	





<option value="0" selected >Chọn danh mục cha</option>
<% 
if(check_datas_category_general && datas_category_general.length > 0){
for(var  x in datas_category_general) { %>
	<% if(datas_category_general[x].category_general_speciality_category_parent_id == 0) { %>
	
		<option  value="<%= datas_category_general[x].category_general_speciality_ID %>">
		<%= datas_category_general[x].category_general_speciality_name %>
		</option>
			
			
		  <!-- -------------------------------------------------			
				//@ cap 2			
		  --------------------------------------------------- -->
			
		   <% 
		   for(var  y in datas_category_general) { 
		   %>
				<% 
				if(datas_category_general[x].category_general_speciality_ID == 
				datas_category_general[y].category_general_speciality_category_parent_id) { 
				%>
					<option 
					value="<%= datas_category_general[y].category_general_speciality_ID %>">
					&nbsp;&nbsp;&nbsp;&nbsp;<%= datas_category_general[y].category_general_speciality_name %>
					</option>
		
					
					
				  <!-- -------------------------------------------------			
						//@ cap 3			
				  --------------------------------------------------- -->					
					
				   <% 
				   for(var  z in datas_category_general) { 
				   %>
						<% 
						if(datas_category_general[y].category_general_speciality_ID == 
						datas_category_general[z].category_general_speciality_category_parent_id) { 
						%>
							<option 
							value="<%= datas_category_general[z].category_general_speciality_ID %>">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<%= datas_category_general[z].category_general_speciality_name %>
							</option>
						<% 
						} 
						%>	   
					<% 
					} 
					%>						   
				<% 
				} 
				%>	   
			<% 
			} 
			%>
   <% 
   } 
   %>
<% 
} 
%>
<% 
} 
%>