
<% include ./function-share-page-nav %>


<% if( typeof products_list == 'object' && products_list){ } else{ products_list=[] } %>
<% if( typeof category_link_datas == 'object' && category_link_datas){ } else{ category_link_datas=[] } %>

<div class="page-nav">
	<div class="page-nav-inner">
		<%- ojs_share_page_nav.show_page_nav(product_count_all[0].count_products_speciality_ID,20,"#") -%>
	</div>
</div>

<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Sản phẩm</th>
			<th>Danh mục</th>
			<th>Giá</th>
			<th>Đã bán</th>
			<th>Chương trình khuyến mãi đang tham gia</th>
			<th>Cửa hàng phê duyệt</th>
			<th>Admin phê duyệt</th>
		</tr>
	</thead>
	<tbody>
	<% 
	for( var  x in products_list ) { 
	%>

	   <tr>
			<td class="user-name">
				<a href="#"  data_product_id="<%= products_list[x].products_speciality_ID  %>" class="pro-img btn-xem"><img src="<%- products_list[x].products_speciality_featured_image  %>" /></a>
				<a href="#"  data_product_id="<%= products_list[x].products_speciality_ID  %>" class="btn-xem"><%- products_list[x].products_speciality_name %></a>
				<div class="row-actions">
					<span class="edit"><a href="/products/speciality/show/<%= products_list[x].products_speciality_ID  %>/<%= products_list[x].stores_ID %>">Chỉnh sửa</a> | </span>
					<span class="delete"><a href="#" data_product_id="<%= products_list[x].products_speciality_ID  %>" class="submitdelete">Xóa</a></span>
				</div>
			</td>
			<td><%- ojs_share.show_category_products(products_list[x].products_speciality_ID,category_link_datas ) %></td>			
			
			
			<% if( products_list[x].products_speciality_sale_of_price != null ){ %>
				<td class="pro-price">
					<%- ojs_share.show_han_km(products_list[x].products_speciality_sale_of_price_time_check) %>
					<span class="price-off">
					<%- ojs_share_all.show_price_vnd(products_list[x].products_speciality_price,0,",",".","đ") %></span>
					<%- ojs_share_all.show_price_vnd(products_list[x].products_speciality_sale_of_price,0,",",".","đ") %>
				</td>
			<% } else { %>
				<td class="pro-price"><%- ojs_share_all.show_price_vnd(products_list[x].products_speciality_price,0,",",".","đ")  %></td>		
			<% } %>				
			
			
		<td><%= products_list[x].so_luong_da_ban %></td>					
		<td><%- products_list[x].discount_program[0].name %></td>		
			
		<td><%- ojs_share.show_status_table_share_all(products_list[x].products_speciality_status_store) %></td>	
		<td><%- ojs_share.show_status_table_share_all(products_list[x].products_speciality_status_admin) %></td>			
			
	   </tr>


	<% } %>
	
	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Sản phẩm</th>
			<th>Danh mục</th>
			<th>Giá</th>
			<th>Đã bán</th>
			<th>Chương trình khuyến mãi đang tham gia</th>
			<th>Cửa hàng phê duyệt</th>
			<th>Admin phê duyệt</th>
		</tr>
	</tfoot>
</table>



<div class="page-nav">
	<div class="page-nav-inner">
		<%- ojs_share_page_nav.show_page_nav(product_count_all[0].count_products_speciality_ID,20,"#") -%>
	</div>
</div>
	













