<%		
if(typeof discount_program_store_add_list == 'object' && discount_program_store_add_list.length > 0){ %>		
		
	<div class="discount-wrap">
		<% 
		for( var  x in discount_program_store_add_list ) { 
		%>
			<div class="discount-box">
				<div class="discount-image-wrap">
					<img src="<%- ojs_share.unCape(discount_program_store_add_list[x].discount_program_featured_image) -%>"/>
				</div>
			
				<div class="discount-title">
					<span>Tên chương trình : </span><div><strong>
					<%- ojs_share.unCape(discount_program_store_add_list[x].discount_program_name) -%></strong>
					</div>
					<a href="/admin/discount-details/show-admin/<%= discount_program_store_add_list[x].discount_program_ID %>/<%= discount_program_store_add_list[x].discount_program_details_ID %>/" 	class="btn_update">update</a>
				</div>
			
			
				<div class="discount-status">
					<span> trạng thái : <%- ojs_share.show_status_discount_detail_html(discount_program_store_add_list[x].discount_program_details_status_admin) -%>
				</div>
				
				<div class="discount-store-name">
					Cửa hàng yêu cầu tham gia : [ <%- ojs_share.unCape(discount_program_store_add_list[x].discount_program_details_stores_name) -%> ]
				</div>				
			
			
			</div>	
		<%
		} //end of for
		%>
		
	</div>		
		
<%
} else{
%>
	<h1> Không có chương trình khuyến mãi nào</h1>
<%
} //end of discount_program_store_add_list.length
%>		
		
		
		
		
		
	