

<% if( typeof category_sale == 'object' && category_sale && category_sale.length > 0){ category_sale = category_sale } else{ category_sale=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên danh mục</th>

		</tr>
	</thead>
	<tbody>



	<% 
	if(category_sale.length > 0){
	for(var  x in category_sale) { %>
		<% 
		if(category_sale[x].category_general_speciality_category_parent_id == 0) { 
		%>	   
		   <tr class="">
				<td class="user-name">
					<a href="/categorys/general/speciality/manage/product/<%= category_sale[x].category_general_speciality_ID %>/<%= store_id %> ">
					<%- category_sale[x].category_general_speciality_name %>
					(<%- category_sale[x].count_category_general_speciality_link_product_id %>)
					</a>
				</td>
		   </tr>
		<% 
		}
		%>		




		<!-- ----------
		// vong 2
		------------ -->
	   <% 
	   for(var  y in category_sale) { 
	   %>
			<% 
			if(
			category_sale[x].category_general_speciality_ID 
			== category_sale[y].category_general_speciality_category_parent_id) { 
			%>			
			   <tr class="">
					<td class="user-name" style="padding-left: 30px;">
					<a href="/categorys/general/speciality/manage/product/<%= category_sale[y].category_general_speciality_ID %>/<%= store_id %> "> - 
						<%- category_sale[y].category_general_speciality_name %>
						(<%- category_sale[y].count_category_general_speciality_link_product_id %>)
						</a>
					</td>
			   </tr>   
			   
			   
			   
				<!-- ----------
				// vong 3
				------------ -->
			   <% 
			   for(var  z in category_sale) { 
			   %>
					<% 
					if(
					category_sale[y].category_general_speciality_ID 
					== category_sale[z].category_general_speciality_category_parent_id) { 
					%>			
					   <tr class="">
							<td class="user-name" style="padding-left: 60px;">
							<a href="/categorys/general/speciality/manage/product/<%= category_sale[z].category_general_speciality_ID %>/<%= store_id %> "> - 
								<%- category_sale[z].category_general_speciality_name %>
								(<%- category_sale[z].count_category_general_speciality_link_product_id %>)
								</a>
							</td>
					   </tr>   
				   <% 
				   } 
				   %>	   
				<%
				} 
				%>

				<!-- ----------
				// vong 3
				------------ -->				   
			   
			   
		   <% 
		   } 
		   %>	  
		<%
		} 
		%>

		<!-- ----------
		// vong 2
		------------ -->


		   
	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên danh mục</th>
		</tr>
	</tfoot>
</table>
	