

<% if( typeof order_list == 'object' && order_list){ } else{ order_list=[] } %>


<script>
	console.log(<%- JSON.stringify({"datas" : [order_list,order_list2]}) %>);
</script>	





<%
if(order_list.length == 0){
%>
	<div class="not_order"><span>Chưa có đơn hàng nào ...... </span></div>
<% } else{
%>	
<div class="ajax-table-box">	
	<div class="thong-ke-box-1">	
	<table class="table-list">
		<thead>
			<tr>
				<th class="user-name">STT</th>
				<th class="user-name">ID đơn hàng</th>
				<th class="user-name">Cửa hàng</th>
				<th class="user-name">Tổng tiền hàng</th>				
				<th class="user-name">Cửa hàng nhận</th>			
				<th class="user-name">Chiếc khấu dala</th>
				<th class="user-name">DALA thực nhận</th>
				<th class="user-name">Công nợ</th>	
			</tr>
		</thead>
		<tbody>
		

		<% 
		var i = 1;
		for( var  x in order_list ) { 
		%>

		   <tr>
				<td class="user-name"><%= i %></a>
				<td class="user-name"><a href="#">#<%- order_list[x].orders_speciality_ID %></a>
				<%- order_list[x].orders_speciality_date_orders %>
				<p><%- ojs_share_orders.show_order_status_html(order_list[x].orders_speciality_status_orders) %></p>				
					<div class="row-actions">
						<span class="thanh-toan"><a data_id="<%- order_list[x].orders_speciality_ID %>" href="#">Thanh toán công nợ</a> | </span>
					</div>
				</td>
				
				<td class="user-name"><%- ojs_share_all.unCape(order_list[x].stores_name) %></td>
				<td class="user-name">				
					<strong>[ <%- ojs_share_all.show_price_format(order_list[x].orders_speciality_total_product,0,",",".","đ") %> ] </strong> 
					<p>Vận chuyển : <%- ojs_share_all.show_price_format(order_list[x].orders_speciality_total_shipping,0,",",".","đ") %></p>
					<p>Mã giảm giá : <%- ojs_share_all.show_price_format(order_list[x].orders_speciality_total_coupon ,0,",",".","đ") %></p>
					<p>phụ thu: <%- ojs_share_all.show_price_format(order_list[x].orders_speciality_total_fee ,0,",",".","đ") %></p>				
				
				</td>
				<td class="user-name">				
					<%
					var cua_hang_nhan = 0;
					var sa = 0;
					if(order_list[x].stores_discount_price == 0 ){
						cua_hang_nhan = order_list[x].orders_speciality_total_product;
					}else{						
						sa = order_list[x].orders_speciality_total_product * order_list[x].stores_discount_price /100;
						cua_hang_nhan =  parseInt(order_list[x].orders_speciality_total_product) - sa;
					}					
					%>
				
				
					<%- ojs_share_all.show_price_format(cua_hang_nhan ,0,",",".","đ") %>
				</td>		
				<td class="user-name">
				<%
					var chiec_khau_dala = 0;
					var sa = 0;
					if(order_list[x].stores_discount_price == 0 ){
						chiec_khau_dala = 0;
					}else{						
						chiec_khau_dala = order_list[x].orders_speciality_total_product * order_list[x].stores_discount_price /100;
					}					
					%>			
					<%- ojs_share_all.show_price_format(chiec_khau_dala ,0,",",".","đ") %>		
				</td>
						

				<td class="user-name">
				<%- ojs_share_all.show_price_format(order_list[x].orders_speciality_total_caution ,0,",",".","đ") %>		
				</td>

						
				<% 
				if(order_list[x].payment_period_ID == null){				
				%>
					<td class="user-name"><span style="color:red;">Chưa thanh toán</td>	
				<%
				}else{
				%>	
					<td class="user-name"><span style="color:green;">Đã thanh toán</td>					
				<%
				}
				%>					
				
		   </tr>


		<% 
		i = i + 1;
		} 
		%>
		
		</tbody>
		<tfoot>
			<tr>
				<th class="user-name">STT</th>
				<th class="user-name">ID đơn hàng</th>
				<th class="user-name">Cửa hàng</th>
				<th class="user-name">Tổng tiền hàng</th>				
				<th class="user-name">Cửa hàng nhận</th>			
				<th class="user-name">Chiếc khấu dala</th>
				<th class="user-name">DALA thực nhận</th>
				<th class="user-name">Công nợ</th>				
				
			</tr>
		</tfoot>
	</table>
	</div>
	<% 
	var i = 1;
	var tong_tien_ban = 0;
	var tong_tien_ban_ok = 0;
	var tong_tien_ban_no_ok = 0;
	
	var tong_chiec_khau = 0;
	var tong_chiec_khau_ok = 0;
	var tong_chiec_khau_no_ok = 0;	
	var tong_cong_no = 0;		
	var tong_cong_no_ok = 0;
	var tong_cong_no_no_ok = 0;		
	
	
	for( var  x in order_list2 ) { 	

		var chiec_khau_dala = 0;
		if(order_list2[x].stores_discount_price == 0 ){
			chiec_khau_dala = 0;
		}else{						
			chiec_khau_dala = order_list2[x].orders_speciality_total_product * order_list2[x].stores_discount_price /100;
		}					

	
		if(order_list2[x].orders_speciality_status_orders == 100){
			tong_tien_ban = tong_tien_ban + parseInt(order_list2[x].orders_speciality_total_product);
			tong_tien_ban_ok = tong_tien_ban_ok + parseInt(order_list2[x].orders_speciality_total_product);
			
		
			tong_chiec_khau = tong_chiec_khau + chiec_khau_dala;
			tong_chiec_khau_ok = tong_chiec_khau_ok + chiec_khau_dala;			
		}else{
			tong_tien_ban = tong_tien_ban + parseInt(order_list2[x].orders_speciality_total_product);
			tong_tien_ban_no_ok = tong_tien_ban_no_ok + parseInt(order_list2[x].orders_speciality_total_product);

			tong_chiec_khau = tong_chiec_khau + chiec_khau_dala;
			tong_chiec_khau_no_ok = tong_chiec_khau_no_ok + chiec_khau_dala;			
			
		}	
		
		
		if(order_list2[x].payment_period_ID != null){
			tong_cong_no = tong_cong_no + parseInt(order_list2[x].orders_speciality_total_product) - chiec_khau_dala;
			tong_cong_no_ok = tong_cong_no_ok + parseInt(order_list2[x].orders_speciality_total_product) - chiec_khau_dala;
		}else{
			tong_cong_no = tong_cong_no + parseInt(order_list2[x].orders_speciality_total_product) - chiec_khau_dala;
			tong_cong_no_no_ok = tong_cong_no_no_ok + parseInt(order_list2[x].orders_speciality_total_product) - chiec_khau_dala;			
		}
	}
	%>
	
	
	<div class="thong-ke-box-2">
		<div class="thong-ke-inner-1">
			<p>Tổng doanh thu : <%- ojs_share_all.show_price_format(tong_tien_ban,0,",",".","đ") %></p>
			<p>Tổng tiền đơn đã giao : <%- ojs_share_all.show_price_format(tong_tien_ban_ok,0,",",".","đ") %></p>
			<p>Tổng tiền đơn chưa giao : <%- ojs_share_all.show_price_format(tong_tien_ban_no_ok,0,",",".","đ") %></p>
		</div>
		
		<div class="thong-ke-inner-1">
			<p>Tổng công nợ : <%- ojs_share_all.show_price_format(tong_cong_no,0,",",".","đ") %></p>
			<p>Tổng tiền đơn đã giao : <%- ojs_share_all.show_price_format(tong_cong_no_ok,0,",",".","đ") %></p>
			<p>Tổng tiền đơn chưa giao : <%- ojs_share_all.show_price_format(tong_cong_no_no_ok,0,",",".","đ") %></p>
		</div>		
		
		<div class="thong-ke-inner-2">
			<p>Tổng chiếc khấu DALA nhận: <%- ojs_share_all.show_price_format(tong_chiec_khau,0,",",".","đ") %></p>
			<p>Tổng tiền đơn đã giao : <%- ojs_share_all.show_price_format(tong_chiec_khau_ok,0,",",".","đ") %></p>
			<p>Tổng đơn chưa giao : <%- ojs_share_all.show_price_format(tong_chiec_khau_no_ok,0,",",".","đ") %></p>
		</div>
	
	</div>
	
</div>		
	
	
	
<% 
}
%>

<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	$('.status_nomal').each(function(index, value) {
		if($(this).html() == "Cửa hàng đã từ chối đơn hàng"){
			$(this).css('color','red');
		}
	});
	
});//end of document
</script>










