

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas}) %>);
</script>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content" style="width: 100%;max-width: 480px; padding: 30px; background-color: white; border-radius: 10px;">
<div id="content-inner">


	<div class="content-image">
		<img src="<%- datas[0].discount_program_featured_image -%>" style="max-width:100%; marginBottom: 10px;"/>
	</div>


	<div class="content-title">
		<span>Tên CTKM:</span>
		<strong style="color: #4a914b;">[ <%- datas[0].discount_program_name -%> ]</strong>
		<br>
	</div>
	
	
	
	
	<hr>
	<div class="content-date">
		<span><strong>Thời gian:</strong></span><br>
		
		<%
		if(datas[0].discount_program_time_type == 0){
		%>
			<p>Khuyến mãi vô thời hạn </p>		
		<%
		}else{
		%>	
			<p>
				<span> ngày bắt đầu : </span>
				[ <%= ojs_share_all.format_date(datas[0].discount_program_date_star) -%> ]
			</p>	
			<p>
				<span> ngày kết thúc: </span>
				[ <%= ojs_share_all.format_date(datas[0].discount_program_date_end) -%> ]
			</p>
			
		<%
		}
		%>		
	</div>
		
	
	
	<hr>
	<div class="content-information">
		<span>Nội dung:</span>
		<br>
		<br>
		<%- datas[0].discount_program_information -%>
	</div>	
	
	
	
	
	
	
	
</div>
</div>

<!-- --------------------
end content
--------------------- -->

	
	
	
	
	
	
	
	
	
	