




<%
//@ kiểm tra nếu biến không có thì set empty
//@ tránh trường hợp báo lỗi

try {var x = order_taget.length;} catch (error) { order_taget = []; }
try {var x = orders_detail.length;} catch (error) { orders_detail = []; }
try {var x = order_tracking.length;} catch (error) { order_tracking = []; }
try {var x = coupon_list.length;} catch (error) { coupon_list = []; }

%>









<%- include ("../masterpage/function-share-orders") %>

<%
	var sum_qty = 0;
	var sum_price = 0;
	var sum_line = 0;
	var sum_discount = 0;
	var sum_all = 0;
	//@
	//@
	var shipping = 0;
	var fee = 0;
	var coupon = 0;
	//@
	//@
	var tong_tien_thanh_toan = 0;

%>

<%
if(coupon_list.length > 0){
	coupon = coupon_list[0].orders_details_speciality_price
}
%>




<script>
	console.log(<%- JSON.stringify(orders_detail) %>);
</script>






<%
if(order_taget.length > 0){
%>	
<div class="order_detail_top">
	<div class="order_id">Đơn hàng<span>#<%= order_taget[0].orders_speciality_ID %></span></div>
	<div class="order_status"><%- ojs_share_orders.show_order_status_html(order_taget[0].orders_speciality_status_orders) %></div>
</div>

<div class="ship_number">
	GHTK | Mã vận đơn : 
	<span>
		<a href="https://i.ghtk.vn/<%- ojs_share_all.unCape(order_taget[0].orders_speciality_shipping_code) %>">
		<%- ojs_share_all.unCape(order_taget[0].orders_speciality_shipping_code) %>
		</a>
	</span>
</div>
<%
}
%>	





<!-- -------------------------------------------
	//details
--------------------------------------------- -->

<div class="order_content" style="align-items: flex-end;">
	<div class="order_content_col01">
		<div class="order_customer">
			<div class="customer_name">Khách hàng<span><%= order_taget[0].users_full_name %></span></div>
			<div class="customer_address">Địa chỉ nhận hàng<span><%= order_taget[0].orders_speciality_adress %></span></div>
			<div class="order_date">Đặt hàng lúc<span><%= order_taget[0].orders_speciality_date_orders %></span></div>
		</div>
		<table class="table-list">
			<thead>
				<tr>
					<th class="user-name">Tên sản phẩm</th>
					<th>Số lượng</th>
					<th>Giá</th>
					<th>Tổng tiền</th>
			</thead>
			<tbody>

			<% 
			if(orders_detail.length > 0){
			for(var  x in orders_detail) { 
			%>
				<% 
				if(orders_detail[x].orders_details_speciality_line_order == "product") { 
				%>
				   <tr>
						<td class="line_order" data_product_id="orders_detail[x].orders_details_speciality_product_id %>">
							<%= orders_detail[x].products_speciality_name %>
						</td>	
						<td class="qty_box" data_qty="<%= orders_detail[x].orders_details_speciality_qty %>">
							<%= orders_detail[x].orders_details_speciality_qty %>
						</td>
						<td class="" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
							<%= ojs_share_all.show_price_format(orders_detail[x].orders_details_speciality_price,0,",",".","") %>
						</td>
						<td class="" data_price="<%= orders_detail[x].price_caution %>">
							<%= ojs_share_all.show_price_format(orders_detail[x].price_caution,0,",",".","") %>
						</td>						
						
					</tr>
			   
					<% 
					sum_qty = sum_qty + orders_detail[x].orders_details_speciality_qty;
					sum_price =  sum_price + orders_detail[x].orders_details_speciality_price; 
					sum_line = sum_line + orders_detail[x].price_caution;
					
				}//end of product 
				%>
			<% 
			} 
			}
			%>
			
			</tbody>
		</table>
		
		
		
		
		
		
		<!- ---
		// coupon	
		----- -->	
		<%
		if(coupon > 0){
		%>
		<table class="table-list">
			<thead>
			</thead>
			<tbody>
			   <tr>
					<td class="line_order"">
						Mã giảm giá 
					</td>	
					<td class="qty_box">

					</td>	
					<td class="qty_box">

					</td>						
					<td class="qty_box">
						<%- ojs_share_all.show_price_format(coupon,0,",",".","") %>
					</td>	
				</tr>
			</tbody>
		</table>	
		<%
		}
		%>		
	</div>	
	
	
	
	<!- ---
	// tổng cộng	
	----- -->
	
	
	<table class="order_sum">
		<tr>
			<td>Tổng cộng:</td>
			<td><%= ojs_share_all.show_price_format(sum_line,0,",",".","")  %></td>
		</tr>
		<tr>
			<td>Giảm giá</td>
			<td><%- ojs_share_all.show_price_format(coupon,0,",",".","") %></td>
		</tr>
		<tr>
			<td>Tổng đơn</td>
			<td><%- ojs_share_all.show_price_format(sum_line- coupon,0,",",".","") %></td>
		</tr>
		
	</table>
	
	<!-- --
	//end of tổng cộng	
	-- -->			
</div>


<% if(
	order_taget[0].orders_speciality_status_orders == '0'
	|| 	
	order_taget[0].orders_speciality_status_orders == '102'		
) { %>
	<div style="text-align: right;margin-bottom:15px;"><a href="#" data_order_id = "<%= order_taget[0].orders_speciality_ID %>" id="btn_xac_nhan_order" class="btn_green">Xác nhận đơn hàng</a></div>
	<div style="text-align: right;background-color: white;"><a style="background-color:#ee4d2d;" href="#"  data_order_id = "<%= order_taget[0].orders_speciality_ID %>"  id="btn_tu_choi_order" class="btn_green">Từ chối đơn hàng</a></div>
<% } %>


<!-- -------------------------------------------
	//details end
--------------------------------------------- -->







<!-- -------------------------------------------
	//shipping tracking
--------------------------------------------- -->

<div class="order_tracking">
	<h1 class="tracking-title">Theo dõi vận chuyển</div>
	
	<div class="order_tracking_box">
	
		<table class="table-list">
			<thead>
				<tr>
					<th>STT</th>
					<th>Trạng thái</th>
					<th>Thời gian</th>
					<th>shipper</th>
				</tr>
			</thead>
			<tbody>	
	
			<% 
			if(order_tracking.length > 0){
			let stt = 1;	
			for(var  x in order_tracking) { 
				%>		
			   <tr>
					<td class="title"><%= stt %></td>			
					<td><%- ojs_share_orders.show_order_status_html(order_tracking[x].shipping_tracking_orders_status) %></td>
					<td><%= ojs_share_all.format_date(order_tracking[x].shipping_tracking_date_created) %></td>	
					<td>
						Tên : <%- ojs_share_all.unCape(order_tracking[x].users_full_name) %><br>
						Điện thoại : <%- ojs_share_all.unCape(order_tracking[x].users_phone) %>
					</td>						
			   </tr>		
			<% 
			stt ++;
			} 
			}
			%>		
			</tbody>
			<tfoot>
				<tr>
					<th>STT</th>
					<th>Trạng thái</th>
					<th>Thời gian</th>
					<th>shipper</th>
				</tr>
			</tfoot>
		</table>
				
	</div>
</div>

<!-- -------------------------------------------
	//end of shipping tracking
--------------------------------------------- -->


















<script>
	$(document).ready(function($){		
		
		//@
		//@
		//@
		//@
		//@		

		$(document).on('click','#btn_xac_nhan_order',function(e) {				
			e.preventDefault();
			//alert('abc');			
			let orders_speciality_status_orders = 101;
			//
			var datas = {
				"datas":{
					orders_speciality_status_orders : orders_speciality_status_orders
				}
			}
			//console.log(datas);		
			//return;			
			//goi api
			 $.ajax({
			  type : "put",	  
			  contentType : "application/json",
			  url : ojs_loader.host + "/orders/speciality/manage/update/" + 
			  <%= order_taget[0].orders_speciality_ID %> + "/" + 
			  <%= order_taget[0].orders_speciality_store_id %> ,
			  data : JSON.stringify(datas),
			  dataType : 'json',
			  beforeSend:  function(xhr){
				ojs_loadding.ajax_show_loadding();
			  },			  
			  error: function (request, status, error) {
					ojs_loader.show_ajax_error(error);
					ojs_loadding.ajax_hide_loadding();
			  },
			  success : function(result) {
				  
				//console.log(result);
				//ojs_loadding.ajax_hide_loadding();	
				//return;
				  
				if(result.error){
					ojs_message.message_ok_show(result.message);
				}else{
					ojs_message.message_ok_show(" Đã xác nhận đơn hàng ",location.href);
				}
				ojs_loadding.ajax_hide_loadding();		 
				
			  }//end of success			  
			});	//end of ajax
		});
		
		
		
		
		
		//@
		//@
		//@
		//@
		//@
		$(document).on('click','#btn_tu_choi_order',function(e) {				
			e.preventDefault();
			//alert('abc');			
			let orders_speciality_status_orders = 102;
			//
			var datas = {
				"datas":{
					orders_speciality_status_orders : orders_speciality_status_orders
				}
			}
			//console.log(datas);		
			//return;			
			//goi api
			 $.ajax({
			  type : "put",	  
			  contentType : "application/json",
			  url : ojs_loader.host + "/orders/speciality/manage/update/" + 
			  <%= order_taget[0].orders_speciality_ID %> + "/" + 
			  <%= order_taget[0].orders_speciality_store_id %> ,
			  data : JSON.stringify(datas),
			  dataType : 'json',
			  beforeSend:  function(xhr){
				ojs_loadding.ajax_show_loadding();
			  },			  
			  error: function (request, status, error) {
					ojs_loader.show_ajax_error(error);
					ojs_loadding.ajax_hide_loadding();
			  },
			  success : function(result) {
				  
				//console.log(result);
				//ojs_loadding.ajax_hide_loadding();	
				//return;
				  
				if(result.error){
					ojs_message.message_ok_show(result.message);
				}else{
					ojs_message.message_ok_show(" Đã từ chối ",location.href);
				}
				ojs_loadding.ajax_hide_loadding();		 
				
			  }//end of success			  
			});	//end of ajax
		});		
		
		
		
		//@
		//@
		//@
		//@
		//@
		$(document).on('click','#ok',function(e) {				
			e.preventDefault();
			location.reload();
		});			
		
		
		
		
		
		
		
		
	});
</script>













