<!-- -----------------------------------------
	//Chương trình khuyến mãi của hệ thống DALA
------------------------------------------- -->
<%		
var i_loop = 0;
if(discount_program_list.length > 0){ %>	
	<h1 style="font-weight:bold; font-size:20px;margin:0;">Các Chương trình khuyến mãi của hệ thống DALA</h1>
	<hr>
	<br>
	
	<div class="discount-wrap">
	<% 
	for( var  x in discount_program_list ) { 
	if(
	discount_program_list[x].discount_program_type != "-1" ){
	i_loop = i_loop + 1;
	%>	
		<div class="discount-box" style="flex-wrap:wrap;">
			<div class="discount-image-wrap">
				<img  style="cursor: pointer;"   class="view-discount" 
				data_id="<%= discount_program_list[x].discount_program_ID %>" 
				src="<%- ojs_share_all.unCape(discount_program_list[x].discount_program_featured_image) -%>"/>
			</div>
			
			<div style="padding: 0px 20px;">
			<span >Tên chương trình : </span>
				<div class="discount-title">
					<div style="cursor: pointer;"  class="view-discount" 
					data_id="<%= discount_program_list[x].discount_program_ID %>" ><strong>
					<%- ojs_share_all.unCape(discount_program_list[x].discount_program_name) -%></strong>
					</div>

				</div>
				<a href="/discount-program/speciality/show/<%= discount_program_list[x].discount_program_ID %>
				/<%= discount_program_list[x].stores_ID %>" clas="btn_update">update</a>   |    		
		
				<span class="delete">
				<a href="#" data_discount_id="<%= discount_program_list[x].discount_program_ID  %>" class="submitdelete_discount">Xóa</a></span>

		
				<div class="discount-posittiom">
					<span> Vị trí khuyến mãi : 
					<%- ojs_share_discount.show_discount_position_html(discount_program_list[x].discount_program_position) %></span>
				</div>	

				<%
				if(discount_program_list[x].check_expired == 0){
				%>
				
				<div class="discount-posittiom">
					<span style="color: burlywood;"> đã hết hạn khuyến mãi</span>
				</div>						
				
				<%
				}
				%>


				
				<div class="discount-status">
					<span> trạng thái : 
					<%- ojs_share_all.show_status_pay_html(discount_program_list[x].discount_program_status_admin) -%>
				</div>
			</div>
			
			
			
			
			
			
			
			
			<!-- ----------------------
				// product
			------------------------- -->	
			
			<div class="pro_col01" style="width: 100%; margin-top: 30px;">					
			<%
			if(typeof discount_program_product_list == 'object' && discount_program_product_list.length > 0){  
			%>
				<div class="inside">
				   <table name="cars" id="">
				   <%
				   for(var xx in discount_program_product_list){
				   if(
				   discount_program_product_list[xx].discount_program_product_link_discount_program_id 
				   == discount_program_list[x].discount_program_ID 
				   ){
				   %>
				   <tr>				
						<td style="padding:0px 10px;" data_id="<%= discount_program_product_list[xx].products_speciality_ID %>">
							<img style="width:30px;" src="<%- discount_program_product_list[xx].products_speciality_featured_image -%>"/>
						</td>	
						<td style="padding:0px 10px;" data_id="<%= discount_program_product_list[xx].products_speciality_ID %>">
							
							<a href="#" data_product_id="<%= discount_program_product_list[xx].products_speciality_ID %>" class="btn-xem-product">
							<%- discount_program_product_list[xx].products_speciality_name -%>
							</a>
							
							<strong>( <%- discount_program_product_list[xx].stores_name -%> )</strong>
							<a href="#" class="submitdelete_add" data_id="<%= discount_program_product_list[xx].discount_program_product_link_ID %>">Huỷ tham gia</a>
							   <%
							   for(var s in products_gift_in){
							   if(
							   discount_program_product_list[xx].products_speciality_ID 
							   == 
							   products_gift_in[s].discount_program_gift_link_product_speciality_id 
							   ){
							   %>
							   
								 <div style="font-size:12px;color:#9bcdc1;">
								 <span> Sản phẩm tặng : </span>
								 <%- products_gift_in[s].products_speciality_name -%>
								</div>
								
							   <% 
							   }
							   }
							   %>												
							
							
																			
							
							   <%
							   for(var s in price_list){
							   if(
							   discount_program_product_list[xx].products_speciality_ID 
							   == 
							   price_list[s].products_speciality_ID  
							   ){
							   %>									   
								   <div style="font-size:12px;color:#9bcdc1;">
										 <span> Số lượng từ  :  </span>
										 <%= price_list[s].products_speciality_price_meta_from %>
										 <span> --->  </span>
										  <%= price_list[s].products_speciality_price_meta_to  %>
										 <span> giá bán  --->  </span>
										  <%- ojs_share_all.show_price_format(price_list[s].products_speciality_price_meta_price,0,",",".","đ") %>													 
								   </div>
							   <% 
							   }
							   }
							   %>	
						</td>
						
						<td style="padding:0px 10px;" data_id="<%= discount_program_product_list[xx].products_speciality_ID %>">
							<% if( discount_program_product_list[xx].products_speciality_sale_of_price != null ){ %>
								<td class="pro-price">
									<%- ojs_share_all.show_han_km(discount_program_product_list[xx].products_speciality_sale_of_price_time_check) %>
									<span class="price-off">
									<%- ojs_share_all.show_price_format(discount_program_product_list[xx].products_speciality_price,0,",",".","đ") %></span>
									<%- ojs_share_all.show_price_format(discount_program_product_list[xx].products_speciality_sale_of_price,0,",",".","đ") %>
								</td>
							<% } else { %>
								<td class="pro-price"><%- ojs_share_all.show_price_format(discount_program_product_list[xx].products_speciality_price,0,",",".","đ")  %></td>		
							<% } %>	
						</td>	
						<td style="padding:0px 10px;" data_id="<%= discount_program_product_list[xx].products_speciality_ID %>">
							<%- ojs_share_discount.show_status_discount_detail_html(discount_program_product_list[xx].discount_program_product_link_status) -%>
						</td>	
			
						<% 
						if(
						discount_program_product_list[xx].discount_program_product_link_status == 1
						|| discount_program_product_list[xx].discount_program_product_link_status == 3
						){
							//go
						}else{
						%>	
						<td style="padding:0px 10px;">
							<a href="#" class="btn-duyet" data_id="<%= discount_program_product_list[xx].discount_program_product_link_ID %>">Duyệt</a>  |  
							<a href="#" class="btn-tu-choi" data_id="<%= discount_program_product_list[xx].discount_program_product_link_ID %>">Từ chối</a>
						</td>	
						<% 
						}
						%>	

				   </tr>	
				   <%
				   }
				   } //end of for
					%>
				   </table>
				</div>			
								
			<%
			}else{
			%>

			<%
			}//end of typeof discount_program_product_list
			%>			
			</div>				
	
			<!-- ----------------------
				// product
			------------------------- -->	
			
			
			
			
			
			
			
			
			
			
			
			
			



			
		</div>
	<%
	} //end if
	}// end for
	%>	
	
	

	<%
	//@
	//@i_loop
	if(i_loop == 0){
	%>
		<div style="text-align:right;">
		<h1> Không có chương trình khuyến mãi nào</h1>
		<a style=" background: #5e6a5f;" href="/discount-program/speciality/add/17/<%= user_id %>" class="btn_green">
			Tạo một chương trình khuyến mãi
		</a>
		</div>
	<%
	}
	%>	
	</div>		
<%
} //end if
%>		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	