<% if( typeof user_role == 'string' && user_role && user_role.length > 0 ){ user_role = user_role } else{ user_role="" } %>
<% if( typeof store_list == 'object' && store_list && store_list.length > 0){ datas = store_list } else{ datas=[] } %>

	<% 
	if(datas.length > 0){
		
	for( var  x in datas ) { %>
		<tr>
			<td class="user-name"><a href="#"><%- ojs_share.unCape(datas[x].stores_name) %></a>
				<div class="row-actions">
					<span class="edit"><a href="/bussiness/<%= datas[x].stores_user_id %>">Quản lý</a> | </span>
					<span class="edit"><a href="/notes/add/store/<%= datas[x].stores_user_id %>">Gửi tin nhắn</a> | </span>
					<span class="edit"><a href="/bussiness/stores/show/<%= datas[x].stores_ID %>/<%= datas[x].stores_user_id %>">Chỉnh sửa</a> | </span>
					<span class="delete"><a href="#" data_users_id ="<%= datas[x].stores_user_id  %>" data_stores_id="<%= datas[x].stores_ID  %>" class="submitdelete">Xóa</a> | </span>
				</div>	
			</td>
			<td>
				<span class="doanhthu">120.000.xxx</span>
			</td>
			<td>
				<span class="doanhthu">4.000.000</span>
				<span class="hanmuc"><%- ojs_share.show_price_format(datas[x].stores_payment_limit,0,",",".","") %></span>
			</td>
			<th>
				<span class="ck-ok" title="Đủ ĐK thanh toán"><i class="fab fa-cc-visa"></i></span> <!-- /* Đủ Dk nhận tiền thì hiện icon màu cam này */ -->
				<span class="ck" title="Chưa đủ ĐK"><i class="fab fa-cc-visa"></i></span>
			</th>
			<td><%- ojs_share.unCape(datas[x].users_full_name) + " " + ojs_share.unCape(datas[x].users_full_name) %></td>
			<td><%- ojs_share.unCape(datas[x].service_type_name) %></td>
			<td class="user-name">
				<%- ojs_share.unCape(datas[x].stores_province) %>, 
				<%- ojs_share.unCape(datas[x].stores_district) %>, 
				<%- ojs_share.unCape(datas[x].stores_wards) %>, 
				<%- ojs_share.unCape(datas[x].stores_adress) %>, 
			</td>
			
			<!--<td><%- ojs_share.show_status_table_share_all(datas[x].stores_status_stores  ) %></td>-->
			<td><%- ojs_share.show_status_table_share_all(datas[x].stores_status_admin  ) %></td>		
			
			
		</tr>
	<% 
	} 
	%>
	<% 
	} 
	%>
	
	
	
	