<%		
if(typeof discount_program_list == 'object' && discount_program_list.length > 0){ %>		
		
	<div class="discount-wrap">
	<% 
	for( var  x in discount_program_list ) { 
	%>
		<div class="discount-box">
			<div class="discount-image-wrap">
				<img src="<%- ojs_share.unCape(discount_program_list[x].discount_program_featured_image) -%>"/>
			</div>
			<div class="discount-title">
				<span>Tên chương trình : </span><div><strong><%- ojs_share.unCape(discount_program_list[x].discount_program_name) -%></strong> </div>
				<% 
				if(
				discount_program_list[x].stores_ID == store_id
				|| user_role == "admin" 
				){
				%>
					<a href="/discount-program/speciality/show/<%= discount_program_list[x].discount_program_ID %>/<%= store_id %>" clas="btn_update">update</a>
				<% 
				}
				%>
			</div>
			
			<div class="discount-status">
			
				<span> trạng thái : <%- ojs_share.show_status_discount_detail_html(discount_program_list[x].discount_program_status_admin) -%>
			</div>
			
			<div class="discount-store-name">
				Cửa hàng tạo : [ <%- ojs_share.unCape(discount_program_list[x].stores_name) -%> ]
			</div>	
			
			
			
			<!- -----------------------------------
			//details/
			------------------------------------- -->
			
			<%
			//check trạng thái tham gia
			var join_check = 0;
			var details_id = 0;
			if(typeof discount_program_details_list == 'object' && discount_program_details_list.length > 0){ 
			for( var  y in discount_program_details_list ) { 
			if(
			discount_program_list[x].discount_program_ID ==  
			discount_program_details_list[y].discount_program_details_discount_program_id)
			{ 
			join_check = 1 ;
			details_id = discount_program_details_list[y].discount_program_details_ID;
			%>
				<div class="details-box">
				<div>
					<span class="trang-thai-tham-gia">Trạng thái tham gia : </span>
					<span class="da-tham-gia">
					    <%- ojs_share.show_status_discount_detail_html(discount_program_details_list[y].discount_program_details_status_admin) -%>
					</span>
				</div>
				
				
				<div>
					<span class="trang-thai-tham-gia"> Ngày tham gia</span>
					<span class="ngay-tham-gia">
						<%- ojs_share.unCape(discount_program_details_list[y].discount_program_details_date_created) -%>
					</span>
				</div>
				
				<div>
					<span class="trang-thai-tham-gia">số sản phẩm tối đa : </span>
					<span class="ngay-tham-gia">
						<%= discount_program_details_list[y].discount_program_details_limit_product %>
					</span>
				</div>

				<div>
					<span class="trang-thai-tham-gia">Số ngày tham gia : </span>
					<span class="ngay-tham-gia">
						<%= discount_program_details_list[y].discount_program_details_limit_day %>
					</span>
				</div>
				
				<%
				if(discount_program_details_list[y].discount_program_details_store_id == store_id 
				|| user_role == "admin" 
				){ %>
					<a href="/discount-program/speciality/details/show/<%= details_id %>/<%= store_id %>/<%= discount_program_list[x].discount_program_ID %>/" id="btn-tham-gia">update</a>
				<% 
				}
				%>					
				
				
				</div>

			<% 
			}//end if
			}//end if
			}//end for
			%>				



			<!- -----------------------------------
			//end of details
			------------------------------------- -->
			
			


			<!- -----------------------------------
			//product
			------------------------------------- -->
			<div class="details-box">
			<div class="add-box">Sản phẩm đã tham gia </div>
			<%
			//check trạng thái tham gia

			if(typeof discount_program_product_list == 'object' && discount_program_product_list.length > 0){ %>
				
				<%
				var product_count = 0;
				for( var  z in discount_program_product_list ) { 
				if(
				discount_program_list[x].discount_program_ID ==  
				discount_program_product_list[z].discount_program_ID)
				{ 
				product_count = product_count + 1;
				%>

					
					<div class="product-add">
						<span class="ngay-tham-gia">
							<%- ojs_share.unCape(discount_program_product_list[z].products_speciality_name) -%>
						</span>
						<span class="ngay-tham-gia">
							<%- ojs_share.show_status_table_share_all(discount_program_product_list[z].discount_program_product_link_status) -%>
						</span>	

						<%
						if(
						discount_program_product_list[z].stores_ID == store_id	
						|| user_role == "admin" 
						){ %>
						
						<a href="/discount-program/speciality/product-show/<%= discount_program_product_list[z].discount_program_product_link_ID %>/<%= store_id %>/<%= discount_program_product_list[z].discount_program_details_ID %>" id="btn-update-add">update</a>
						<a href="#" data_discount_program_link_id="<%= discount_program_product_list[z].discount_program_product_link_ID %>" class="submitdelete">delete</a>
						<%
						}
						%>

						
					</div>
				<% 
				}//end if
				}//end for
				%>
				<%
				if(product_count == 0){ %>
					<div class="add-box">Chưa có sản phẩm tham gia</div>
				<%	
				}
				%>
			<%	
			}else{//else if
			%>		
				<div class="add-box">Chưa có sản phẩm tham gia</div>
			<% 
			}//end if
			%>	

			
			
			</div>


			<!- -----------------------------------
			//end of product
			------------------------------------- -->


			
			
			<div class="discount-action" style="padding-top:20px; text-align:right;">
				<%
				if(join_check == 0){ %>
					<a href="/discount-program/speciality/details/add/<%= discount_program_list[x].discount_program_ID %>/<%= store_id %>/<%= user_id %>" id="btn-tham-gia">Tham gia</a>
				<% 
				}
				%>
				
				<%
				if(join_check == 1){ %>
					<a href="/discount-program/speciality/product/add/<%= details_id %>/<%= store_id %>/<%= user_id %>" id="btn-tham-gia">Thêm sản phẩm</a>
				<% 
				}
				%>					

			</div>				
		</div>	
	<%
	} //end of for
	%>
	</div>
		
		
<%
} else{
%>
	<h1> Không có chương trình khuyến mãi nào</h1>
<%
} //end of discount_program_list.length
%>		
		
		
		
		
		
	