

<% if( typeof orders_detail == 'object' && orders_detail){  } else{ orders_detail=[] } %>
<% include ../masterpage/function-share-orders %>

<%
	var sum_qty = 0;
	var sum_price = 0;
	var sum_line = 0;
	var sum_discount = 0;
	var sum_all = 0;
	//@
	//@
	var shipping = 0;
	var fee = 0;
	var coupon = 0;
	//@
	//@
	var tong_tien_thanh_toan = 0;

%>

<%
if(coupon_list.length > 0){
	if(coupon_list[0].coupon_speciality_type == '1'){
		coupon = coupon_list[0].sum_orders_details_speciality_price
	}
}
%>




<script>
	console.log(<%- JSON.stringify(orders_detail) %>);
</script>




<div class="order_detail_top">
	<div class="order_id">Đơn hàng<span>#<%= order_taget[0].orders_speciality_ID %></span></div>
	<div class="order_status"><%- ojs_share_orders.show_order_status_html(order_taget[0].orders_speciality_status_orders) %></div>
</div>

<div class="ship_number">
	GHTK | Mã vận đơn : <span><%- ojs_share.unCape(order_taget[0].orders_speciality_shipping_code) %></span>
</div>

<div class="order_content" style="align-items: flex-end;">
	<div class="order_content_col01">
		<div class="order_customer">
			<div class="customer_name">Khách hàng<span><%= order_taget[0].users_full_name %></span></div>
			<div class="customer_address">Địa chỉ nhận hàng<span><%= order_taget[0].orders_speciality_adress %></span></div>
			<div class="order_date">Đặt hàng lúc<span><%= order_taget[0].orders_speciality_date_orders %></span></div>
		</div>
		<table class="table-list">
			<thead>
				<tr>
					<th class="user-name">Tên sản phẩm</th>
					<th>Số lượng</th>
					<th>Giá</th>
					<th>Tổng tiền</th>
			</thead>
			<tbody>

			<% 
			for(var  x in orders_detail) { 
			%>
				<% 
				if(orders_detail[x].orders_details_speciality_line_order == "product") { 
				%>
				   <tr>
						<td class="line_order" data_product_id="orders_detail[x].orders_details_speciality_product_id %>">
							<%= orders_detail[x].products_speciality_name %>
						</td>	
						<td class="qty_box" data_qty="<%= orders_detail[x].orders_details_speciality_qty %>">
							<%= orders_detail[x].orders_details_speciality_qty %>
						</td>
						<td class="" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
							<%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_price,0,",",".","") %>
						</td>
						<td class="" data_price="<%= orders_detail[x].price_caution %>">
							<%= ojs_share.show_price_format(orders_detail[x].price_caution,0,",",".","") %>
						</td>						
						
					</tr>
			   
					<% 
					sum_qty = sum_qty + orders_detail[x].orders_details_speciality_qty;
					sum_price =  sum_price + orders_detail[x].orders_details_speciality_price; 
					sum_line = sum_line + orders_detail[x].price_caution;
					
				}//end of product 
				%>
			<% 
			} 
			%>
			
			</tbody>
		</table>
		
		
		<table class="table-list">
			<thead>
			</thead>
			<tbody>
			   <tr>
					<td class="line_order"">
						Mã giảm giá 
					</td>	
					<td class="qty_box">

					</td>	
					<td class="qty_box">

					</td>						
					<td class="qty_box">
						<%- ojs_share.show_price_format(coupon,0,",",".","") %>
					</td>	
				</tr>
			</tbody>
		</table>		
		
		
	</div>
	
	
	
	
	<!- ----------------------------------------------
		// tổng cộng	
	---------------------------------------------- -->
	
	
	<table class="order_sum">
		<tr>
			<td>Tổng cộng:</td>
			<td><%= ojs_share.show_price_format(sum_line,0,",",".","")  %></td>
		</tr>
		<tr>
			<td>Giảm giá</td>
			<td><%- ojs_share.show_price_format(coupon,0,",",".","") %></td>
		</tr>
		<tr>
			<td>Tổng đơn</td>
			<td><%- ojs_share.show_price_format(sum_line- coupon,0,",",".","") %></td>
		</tr>
		
	</table>
	
	<!- ----------------------------------------------
		// end of tổng cộng	
	---------------------------------------------- -->	
	
	
</div>


<% if(
	order_taget[0].orders_speciality_status_orders == '0'
	|| 	
	order_taget[0].orders_speciality_status_orders == '102'		
) { %>
	<div style="text-align: right;margin-bottom:15px;"><a href="#" data_order_id = "<%= order_taget[0].orders_speciality_ID %>" id="btn_xac_nhan_order" class="btn_green">Xác nhận đơn hàng</a></div>
	<div style="text-align: right;background-color: white;"><a style="background-color:#ee4d2d;" href="#"  data_order_id = "<%= order_taget[0].orders_speciality_ID %>"  id="btn_tu_choi_order" class="btn_green">Từ chối đơn hàng</a></div>
<% } %>




<div class="order_tracking">
	<h1 class="tracking-title">Theo dõi vận chuyển</div>
	
	<div class="order_tracking_box">
	
		<table class="table-list">
			<thead>
				<tr>
					<th>STT</th>
					<th>Trạng thái</th>
					<th>Thời gian</th>
					<th>shipper</th>
				</tr>
			</thead>
			<tbody>	
	
			<% 
			for(var  x in order_tracking) { 
				var stt = x;
				stt ++;
			%>		
			   <tr>
					<td class="title"><%= stt %></td>			
					<td><%- ojs_share_orders.show_order_status_html(order_tracking[x].shipping_tracking_orders_status) %></td>
					<td><%= ojs_share.format_date(order_tracking[x].shipping_tracking_date_created) %></td>	
					<td>
						Tên : <%- ojs_share.unCape(order_tracking[x].users_full_name) %><br>
						Điện thoại : <%- ojs_share.unCape(order_tracking[x].users_phone) %>
					</td>						
			   </tr>		
			<% 
			} 
			%>		
			</tbody>
			<tfoot>
				<tr>
					<th>STT</th>
					<th>Trạng thái</th>
					<th>Thời gian</th>
					<th>shipper</th>
				</tr>
			</tfoot>
		</table>
				
	</div>
</div>


<script>
	$(document).ready(function($){
		$('#btn_xac_nhan_order').click(function(e){
			e.preventDefault();
			//alert('abc');
			
			
			let orders_speciality_status_orders = 101;
		
			//
			var datas = {
				"datas":{
					orders_speciality_status_orders : orders_speciality_status_orders
				}
			}
			//console.log(datas);		
			//return;
			
			//goi api
			 $.ajax({
			  type : "POST",	  
			  contentType : "application/json",
			  url : ojs_loader.host + "/orders/speciality/update/" + <%= order_taget[0].orders_speciality_ID %>,
			  data : JSON.stringify(datas),
			  dataType : 'json',
			  beforeSend:  function(xhr){
				ojs_loadding.ajax_show_loadding();
			  },			  
			  error: function (request, status, error) {
					ojs_loader.show_ajax_error(error);
					ojs_loadding.ajax_hide_loadding();
			  },
			  success : function(result) {
				//ojs_loader.evn = "dev";
				if(ojs_loader.evn == "dev"){
					ojs_message.message_ok_show("Lấy dữ liệu thành công. xem datas ở console");
					console.log(result);
				}else{
					if(result.error.length > 0){
						ojs_message.message_ok_show(result.message);
					}else{
						ojs_message.message_ok_show(" Đã xác nhận đơn hàng ",location.href);
					}
				}				
				ojs_loadding.ajax_hide_loadding();		  
			  }//end of success			  
			});	//end of ajax
			
			//$('.status_yellow').html('Chờ lấy hàng');
			
		});
		
		
		$('#btn_tu_choi_order').click(function(e){
			e.preventDefault();
			//alert('abc');
			
			
			let orders_speciality_status_orders = 102;
		
			//
			var datas = {
				"datas":{
					orders_speciality_status_orders : orders_speciality_status_orders
				}
			}
			//console.log(datas);		
			//return;
			
			//goi api
			 $.ajax({
			  type : "POST",	  
			  contentType : "application/json",
			  url : ojs_loader.host + "/orders/speciality/update/" + <%= order_taget[0].orders_speciality_ID %>,
			  data : JSON.stringify(datas),
			  dataType : 'json',
			  beforeSend:  function(xhr){
				ojs_loadding.ajax_show_loadding();
			  },			  
			  error: function (request, status, error) {
					ojs_loader.show_ajax_error(error);
					ojs_loadding.ajax_hide_loadding();
			  },
			  success : function(result) {
				//ojs_loader.evn = "dev";
				if(ojs_loader.evn == "dev"){
					ojs_message.message_ok_show("Lấy dữ liệu thành công. xem datas ở console");
					console.log(result);
				}else{
					if(result.error.length > 0){
						ojs_message.message_ok_show(result.message);
					}else{
						ojs_message.message_ok_show(" Đã từ chối đơn hàng ",location.href);
					}
				}				
				ojs_loadding.ajax_hide_loadding();		  
			  }//end of success			  
			});	//end of ajax
			
			//$('.status_yellow').html('Chờ lấy hàng');
			
		});		
		
		
	});
</script>
