<% if( typeof products_list == 'object' && products_list){ } else{ products_list=[] } %>



<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Sản phẩm</th>
			<th>Giá</th>
			<th>Cửa hàng</th>
			<th>Cửa hàng duyệt</th>
			<th>Admin duyệt</th>
		</tr>
	</thead>
	<tbody>
	<% 
	for( var  x in products_list ) { 
	%>
	
	   <tr>
			<td class="user-name">
				<a href="#" class="pro-img"><img src="<%- products_list[x].products_speciality_featured_image  %>" /></a>
				<a href="#"><%- products_list[x].products_speciality_name %></a>
				<div class="row-actions">
					<span class="edit"><a href="/products/speciality/show/<%= products_list[x].products_speciality_ID  %>/<%= products_list[x].stores_ID %>">Chỉnh sửa</a> | </span>
					<span class="delete"><a href="#" data_product_id="<%= products_list[x].products_speciality_ID  %>" class="submitdelete">Xóa</a></span>
				</div>
			</td>	
	
			<% if( products_list[x].products_speciality_sale_of_price != null ){ %>
				<td class="pro-price">
					<%- ojs_share.show_han_km(products_list[x].products_speciality_sale_of_price_time_check) %>
					<span class="price-off"><%= products_list[x].products_speciality_price %></span><%= products_list[x].products_speciality_sale_of_price %>
				</td>
			<% } else { %>
				<td class="pro-price"><%= products_list[x].products_speciality_price %></td>		
			<% } %>	

			

			<td><%= products_list[x].stores_name %></td>	
			<td><%- ojs_share.show_status_table_share_all(products_list[x].products_speciality_status_store) %></td>	
			<td><%- ojs_share.show_status_table_share_all(products_list[x].products_speciality_status_admin) %></td>
	
	
	   </tr>	
	
	<% } %>
	
	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Sản phẩm</th>
			<th>Giá</th>
			<th>Cửa hàng</th>
			<th>Cửa hàng duyệt</th>
			<th>Admin duyệt</th>
		</tr>
	</tfoot>
</table>	
	
	
	
	
	