

<% if( typeof datas_category_news_general == 'object' && datas_category_news_general){ datas_category_news_general = datas_category_news_general } else{ datas_category_news_general=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên danh mục</th>
		</tr>
	</thead>
	<tbody>

	<% 
	for(var  x in datas_category_news_general) { %>
		<% if(datas_category_news_general[x].category_news_parent_id == 0) { %>
			   <tr>
					<td class="user-name"><a href="#"><%= datas_category_news_general[x].category_news_name %></a>
						<div class="row-actions">
							<span class="edit"><a href="/categorys/news/general/show/<%= datas_category_news_general[x].category_news_ID %>">Chỉnh sửa</a> | </span>
							<span class="delete"><a href="#" data_cat_id="<%= datas_category_news_general[x].category_news_ID %>" class="submitdelete">Xóa</a></span>
						</div>
					</td>
			   </tr>
			   
			   <% for(var  y in datas_category_news_general) { %>
					<% if(datas_category_news_general[x].category_news_ID == datas_category_news_general[y].category_news_parent_id) { %>
						    <tr>
								<td class="user-name cat_child01" ><a href="#"><%= datas_category_news_general[y].category_news_name %></a>
								<div class="row-actions">
									<span class="edit"><a href="/categorys/news/general/show/<%= datas_category_news_general[y].category_news_ID %>">Chỉnh sửa</a> | </span>
									<span class="delete"><a  data_cat_id="<%= datas_category_news_general[y].category_news_ID %>" href="#" class="submitdelete">Xóa</a></span>
								</div>
								</td>
						   </tr>
						   
						   <% for(var  z in datas_category_news_general) { %>
								<% if(datas_category_news_general[y].category_news_ID == datas_category_news_general[z].category_news_parent_id) { %>
									   <tr>
											<td class="user-name cat_child02" ><a href="#"><%= datas_category_news_general[z].category_news_name %></a>
											<div class="row-actions">
												<span class="edit"><a href="/categorys/news/general/show/<%= datas_category_news_general[z].category_news_ID %>">Chỉnh sửa</a> | </span>
												<span class="delete"><a href="#"  data_cat_id="<%= datas_category_news_general[z].category_news_ID %>"  class="submitdelete">Xóa</a></span>
											</div>
											</td>
									   </tr>
								<% } %>	   
							<% } %>						   
				    <% } %>	   
				<% } %>
	   
	   <% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên danh mục</th>
		</tr>
	</tfoot>
</table>
	