<%		
if(typeof discount_program_list == 'object' && discount_program_list.length > 0){ %>		
		
	<div class="discount-wrap">
		<% 
		for( var  x in discount_program_list ) { 
		%>
			<div class="discount-box">
			
			
				<div class="discount-image-wrap">
					<img src="<%- ojs_share.unCape(discount_program_list[x].discount_program_featured_image) -%>"/>
				</div>
			
			
				<div class="discount-title">
					<span>Tên chương trình : </span><div><strong>
					<%- ojs_share.unCape(discount_program_list[x].discount_program_name) -%></strong>
					</div>
				</div>
				<br>
			
			
			
				<!-- //-------------------------
					// details products add
				//-------------------------   -->
				<%
				for( var y in discount_program_product_add_list ) { 
				%>
					<%
					if( 
					discount_program_product_add_list[y].discount_program_ID == 
					discount_program_list[x].discount_program_ID
					){
						var p_id = discount_program_product_add_list[y].products_speciality_ID;
						var s_id = discount_program_product_add_list[y].stores_ID;
						var s_name = discount_program_product_add_list[y].stores_name;
						var p_name = discount_program_product_add_list[y].products_speciality_name;
						var dis_id = discount_program_product_add_list[y].discount_program_ID;
						var dis_de_id = discount_program_product_add_list[y].discount_program_details_ID;
						var link_id = discount_program_product_add_list[y].discount_program_product_link_ID;
						var p_status = discount_program_product_add_list[y].discount_program_product_link_status;
						var d_status = discount_program_product_add_list[y].discount_program_details_status_admin;
					%>
						<div class="product-line">
							<%
							if(d_status == "4"){
							%>
								<div class="product-name">
									<span>
										<%- p_name -%>
									</span>							
									<%- ojs_share.show_status_discount_detail_html(p_status) -%>
									<span class="btn-xem  btn-design" data_product_id="<%= p_id %>">xem</span>
								</div>
								
								<div class="store-name">
									<%- s_name -%>
								</div>
								<div class="product-action">
									<span class="btn-duyet  btn-design" data_product_add_id="<%= link_id %>">Duyệt</span>
									<span class="btn-tu-choi  btn-design"  data_product_no_id="<%= link_id %>">Từ chối</span>
								</div>
								
								<hr>
								<br>
							<%
							}
							%>
						</div>			
					<%
					} //end if
					%>			
				<%
				} //end of for
				%>
				</div><!-- //discount-box -->
				
				<!-- //-------------------------
					// end of details products add
				//-------------------------   -->			
			
			
			
		<%
		} //end of for
		%>
		
	</div>		
		
<%
} else{
%>
	<h1> Không có chương trình khuyến mãi nào</h1>
<%
} //end of discount_program_list.length
%>		
		
		
		
		
		
	