

<% if( typeof brand_list_create == 'object' && brand_list_create && brand_list_create.length > 0){ brand_list_create = brand_list_create } else{ brand_list_create=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên thương hiệu</th>
			<th class="user-name"  style="text-align:center;">Trạng thái</th>
		</tr>
	</thead>
	<tbody>



	<% 
	if(brand_list_create.length > 0){
	for(var  x in brand_list_create) { %>
  
	   <tr class="">

			<td class="user-name"><a href="#"><%= brand_list_create[x].brands_name %></a>
				<div class="row-actions">
					<span class="edit">
					<a href="/brands/show/<%= brand_list_create[x].brands_ID %>/<%= brand_list_create[x].stores_ID %>">Chỉnh sửa</a> | </span>
					<span class="delete"><a href="#" data_cat_id="<%= brand_list_create[x].brands_ID %>" class="submitdelete">Xóa</a></span>
				</div>
			</td>
	
			<td style="text-align:center;"><%- ojs_share.show_status_table_share_all(brand_list_create[x].brands_status_admin) %></td>			
	   </tr>
  
	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên thương hiệu</th>
			<th class="user-name"  style="text-align:center;">Trạng thái</th>
		</tr>
	</tfoot>
</table>
	