

<% if( typeof category_list_create == 'object' && category_list_create && category_list_create.length > 0){ category_list_create = category_list_create } else{ category_list_create=[] } %>




<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên danh mục</th>
			<th class="user-name"  style="text-align:center;">Trạng thái</th>
		</tr>
	</thead>
	<tbody>



	<% 
	if(category_list_create.length > 0){
	for(var  x in category_list_create) { %>
  
	   <tr class="">

			<td class="user-name"><a href="#"><%= category_list_create[x].category_general_speciality_name %></a>
				<div class="row-actions">
					<span class="edit">
					<a href="/categorys/general/speciality/show/<%= category_list_create[x].category_general_speciality_ID %>/<%= category_list_create[x].stores_ID %>">Chỉnh sửa</a> | </span>
					<span class="delete"><a href="#" data_cat_id="<%= category_list_create[x].category_general_speciality_ID %>" class="submitdelete">Xóa</a></span>
				</div>
			</td>
	
			<td style="text-align:center;"><%- ojs_share_all.show_status_html(category_list_create[x].category_general_speciality_admin_status) %></td>			
	   </tr>
  
	<% } %>
	<% } %>

	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên danh mục</th>
			<th class="user-name"  style="text-align:center;">Trạng thái</th>
		</tr>
	</tfoot>
</table>
	