

<% include ../masterpage/loader %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/store.css' />






<script src="../../../../<%= js_css_version %>/javascripts/class-stores.js"></script>






<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<% include ../masterpage/header %>
<% include ../masterpage/function-share-orders %>
<% include ../masterpage/function-share-all %>
<% include ../masterpage/function-share-all-manage %>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>






<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<div style="display:flex;justify-content: space-around;">
		<h1>Cửa hàng <%= store_list[0].stores_name %></h1>
		<a href="/products/speciality/add/<%= store_id %>/<%= user_id %>" class="btn_bd_green btn_add_sp">
			Tạo sản phẩm
		</a>	
	</div>
	
	
	
	<div style="">
		<h1>Sản phẩm vừa bán</h1>
	<div style="max-height: 500px;overflow: auto;">	
		
	
	
	<table class="table-list ordres-list">
		<thead>
			<tr>
				<th>Mã sản phẩm</th>
				<th>Tên sản phẩm</th>
				<th>Số lượng bán</th>
				<th>Tổng tiền bán</th>
			</tr>
		</thead>

		<% 
		if(product_sale.length > 0){
		for(var  x in product_sale) { 
		%>
		   <tr>
				<td class="qty_box">
					<%- product_sale[x].products_speciality_ID %> 
				</td>	
				<td class="qty_box">
					<%- product_sale[x].products_speciality_name %>
				</td>	

				<td class="qty_box">
					<%= product_sale[x].sum_orders_details_speciality_qty %>
				</td>			

				<td>
					<%= ojs_share_all.show_price_format(product_sale[x].sum_price_caution,0,",",".","") %>
				</td>
			</tr>
		<% 
		} 
		} else {
		%>	
		<td colsoan=4 style="text-align:center;">Chưa có sản phẩm nào được bán </td>
		<%
		}
		%>
		</tbody>
		<tfoot>
		</tfoot>
	</table>	
	</div>	
	
	
	
	<br>
	<br>
	<br>
	<div style="">
		<h1>Đơn hàng mới</h1>
	<div style="max-height: 500px;overflow: auto;">	
	
	
	<table class="table-list ordres-list">
		<thead>
			<tr>
				<th>Mã Đơn hàng</th>
				<th>Thời gian bán</th>
				<th>Số lượng bán</th>
				<th>Tổng tiền bán</th>
				<th>Trạng thái đơn hàng</th>
			</tr>
		</thead>

		<% 
		if(order_sale.length > 0){
		for(var  x in order_sale) { 
		%>
		   <tr>
				<td class="qty_box">
					<%- order_sale[x].orders_speciality_ID %> 
				</td>	
				<td class="qty_box">
					<%- order_sale[x].orders_speciality_date_orders %>
				</td>	

				<td class="qty_box">
					<%= order_sale[x].sum_orders_details_speciality_qty %>
				</td>			

				<td>
					<%= ojs_share_all.show_price_format(order_sale[x].sum_price_caution,0,",",".","") %>
				</td>
				
				<td>
					<%- ojs_share_orders.show_order_status_html(order_sale[x].orders_speciality_status_orders) %>
				</td>				

			</tr>
		<% 
		} 
		} else{ %>
		
		<td conspan=5 style="text-align:center;">Chưa có đơn hàng nào được bán </td>
		
		<%	
		}			
		%>
		</tbody>
		<tfoot>
		</tfoot>
	</table>	
	
	
	
	</div>		
	</div>	
	
	
	
	
	
	
	
	
	
	
	
</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>	
	
<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//

	
	$( "#datepicker_payment" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( "#datepicker2_payment" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	
});//end of document
</script>

<% include ../masterpage/loader-end %>	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
	
	
	
	
	
	