
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../../masterpage/loader %>

<script src="../../../../../../<%= js_css_version %>/javascripts/class-discount-program-speciality.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>




<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	







<% //neu admin thi hien muc nay
var	enable_text = " disabled " ;
var	enable_text2 = " " ;
var	enable_text3 = " disabled " ;

if(user_role =="admin"){ 
	enable_text3 = "" ;
	enable_text2 = " disabled "
}

%>






<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>
	<a href="/discount-program/speciality/<%= store_id %>">Chương trình khuyến mãi</a><i class="fas fa-chevron-right"></i>Cửa hàng tham gia chương trình khuyến mãi</h1>
	
	<div class="pro_content_edit">
		<div class="pro_col01">
		
	
			<div class="pro_box ten_sp_box">
				<h3>Số sản phẩm tham gia
					<span class="giai-thich">
					<span>
						số sản phẩm muốn tham gia chương trình khuyến mãi,
						dựa vào số sản phẩm , số ngày tham gia , phí khởi tạo để tính tổng phí tham gia
					</span>
					</span>					
				</h3>
				<div class="inside">
					<input type="text" class= "" value="3" id="discount_program_details_limit_product"/>
				</div>
			</div>			
		
	
			<div class="pro_box ten_sp_box">
				<h3>Số ngày tham gia
					<span class="giai-thich">
					<span>
						số ngày muốn tham gia chương trình khuyến mãi,
						dựa vào số sản phẩm , số ngày tham gia , phí khởi tạo để tính tổng phí tham gia
					</span>
					</span>					
				</h3>
				<div class="inside">
					<input type="text" class= "" value="10" id="discount_program_details_limit_day"/>
				</div>
			</div>		
	
	

			<div class="pro_box ten_sp_box">
				<h3>Tổng phí tham gia
					<span class="giai-thich">
					<span>
						Dựa vào số sản phẩm và số ngày tham gia và phí khởi tạo tính ra tổng phí tham gia
					</span>
					</span>				
				</h3>
				<div class="inside">
					<input type="text" class="number_change" data_value="0" value="0" id="discount_program_details_price"/>
				</div>
			</div>	
			
			<div class="pro_box ten_sp_box">
				<h3>Lời nhắn</h3>
				<div class="inside">
					<textarea class=""  id="discount_program_details_qoute"  rows="10" cols="100%"></textarea>
				</div>
			</div>				
			
			
		</div>
		<div class="pro_col02">

			<div class="pro_box ten_sp_box">
				<h3>Tên chương trình khuyến mãi</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.unCape(discount_program_tager[0].discount_program_name) -%>" id=""/>
				</div>
				<h3>ngày bắt đầu</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.unCape(discount_program_tager[0].discount_program_date_star) -%>" id=""/>
				</div>				
				<h3>ngày kết thúc</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.unCape(discount_program_tager[0].discount_program_date_end) -%>" id=""/>
				</div>	
				
			</div>	

			<div class="pro_box trang_thai_box ">
				<h3>Trạng thái admin</h3>
				<div class="inside">
					<span>ADMIN:</span><span class="giai-thich"><span>Yêu cầu tham gia chương trình phải được admin phê duyệt</span></span>
					<select id="discount_program_details_status_admin" <%= enable_text3 %>>
						<%- ojs_share.show_status_discount_programs(0) -%>
					</select>						
				</div>
			</div>	


			
		
		</div>
	</div>
	
	
	

<div class="btn_box">
	<a href="/discount-program/speciality/<%= store_id %>/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Đăng</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>
<input type="hidden" id="discount_program_id" value="<%= discount_program_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	var user_id = $('#user_id').val();
	var store_id = $('#store_id').val();
	var discount_program_id = $('#discount_program_id').val();
	
	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		//console.log(datas);
		//return;
		
		ojs_discount_program_speciality.ajax_save_details(datas);	
	});


	
	
	function get_datas(){
		

		var discount_program_details_price = $('#discount_program_details_price').attr("data_value");		
		var discount_program_details_limit_day = $('#discount_program_details_limit_day').val();
		var discount_program_details_limit_product = $('#discount_program_details_limit_product').val();
		var discount_program_details_qoute = $('#discount_program_details_qoute').val();
		
		var discount_program_details_status_admin = $('#discount_program_details_status_admin  option:selected').val();
		let datas = {
			"datas":{
				
				discount_program_details_price:discount_program_details_price,
				discount_program_details_limit_day:discount_program_details_limit_day,
				discount_program_details_limit_product:discount_program_details_limit_product,				
				discount_program_details_qoute:discount_program_details_qoute,
				
				discount_program_details_discount_program_id:discount_program_id,
				discount_program_details_store_id:store_id,
				discount_program_details_status_admin:discount_program_details_status_admin,
				
			}
		}
		
		return datas;
	}

	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../../masterpage/loader-end %>