

<%- include ("../../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/discount.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/discount-meny.css' />




<script src="../../../../../../<%= js_css_version %>/javascripts/class-discount-program-speciality.js"></script>



<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<%- include ("../../masterpage/header") %>
<%-  include ("../../masterpage/function-share-discount") %>
<%- include ("../../masterpage/function-share-all") %>
<%- include ("../../masterpage/function-share-all-manage") %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>





<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1>
		<a href="/stores/manage/<%= store_id %>/"><%= store_name %></a><i class="fas fa-chevron-right"></i>
		<a href="/discount-program/speciality/manage/<%= store_id %>">Chương trình khuyến mãi</a>
		<i class="fas fa-chevron-right"></i>Thêm sản phẩm vào chương trình khuyến mãi
	</h1>
	

	<div class="pro_content_edit">
		<div class="pro_col01">	
			<div class="pro_box ten_sp_box">
				<h3>Sản phẩm tham gia khuyến mãi
					<a class="giai-thich" href="https://hotro.appdala.com/them-san-pham-vao-chuong-trinh-khuyen-mai/" target="_blank">
					<span>
						Chọn một sản phẩm tham gia khuyến mãi
					</span>
					</a>					
				</h3>
			</div>	
			
				<%
				if(typeof products_list == 'object' && products_list.length > 0){  
				%>
					<div class="inside">
						<select name="cars" id="discount_program_product_link_product_speciality_id">
							   <option value="0">Chọn sản phẩm</option>
							   <%
							   for(var x in products_list){
							   if(
							   products_list[x].discount_program_product_link_discount_program_id <= 0 
							   )
							   {
							   %>
									<option 
									value="<%= products_list[x].products_speciality_ID %>" 
									data_price="<%= products_list[x].products_speciality_price %>" 
									data_sale_of_price="<%= products_list[x].products_speciality_sale_of_price %>" 
									>
										<%- ojs_share_all.unCape(products_list[x].products_speciality_name) -%> (  
										
										<%
										if(products_list[x].products_speciality_sale_of_price == null){
										%>
											( <%- ojs_share_all.show_price_format(products_list[x].products_speciality_price,0,",",".","đ") -%> ) 										
										
										<%
										}else{
										%>	
											( <%- ojs_share_all.show_price_format(products_list[x].products_speciality_price,0,",",".","đ") -%> 
											   -- 
											 <%- ojs_share_all.show_price_format(products_list[x].products_speciality_sale_of_price,0,",",".","đ") -%> )  
										<%
										}
										%>	
									</option>
							   <%
							   }
							   } //end of for
								%>
						</select>
					</div>
				<%
				}else{
				%>
					<h1> Cửa hàng chưa có sản phẩm nào, Hẫy tạo sản phẩm
				<%
				}//end of typeof products_list
				%>		



				<div style="padding:50px 0px;">
					<div class="price-box"></div>
					<div style="display: flex; align-items: center; white-space: nowrap;padding:20px 0px;">
						<span style="">số lượng từ : </span>
						<input class="number_change" data_value="1" 
						type="text" value="1" id="price_from" 
						style="width:60px; min-width:60px;text-align:center;">
						<span style="">Đến : </span>
						<input class="number_change" data_value="5" type="text" value="5" id="price_to"  
						style="width:60px;min-width:60px;text-align:center;">
						<span style="">Giá  : </span>
						<input class="number_change" data_value="10000" type="text" value="10.000" id="price_meny"  
						style="width:100px;min-width:100px;text-align:center;">
						<div class="btn-add-meny" 
						style="cursor: pointer;background-color: #44b795;display: flex; padding: 5px 20px; 
						margin-left: 20px; border-radius: 5px; color: white;">ADD
						</div>
					</div>
				</div>
				
		</div>
		
		
		
		
		<div class="pro_col02">

			<div class="pro_box ten_sp_box">
				<h3>Tên chương trình khuyến mãi</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(discount_tager[0].discount_program_name) -%>" id=""/>
				</div>
			</div>	
		</div>
		

		
		
	</div>


	<div class="pro_col01">	

			<%
			if(typeof products_list == 'object' && products_list.length > 0){  
			%>
				<div class="inside">
					<table name="cars" id="">
						   <%
						   for(var x in products_list){
						   if(
						   products_list[x].discount_program_product_link_discount_program_id == discount_program_id 
						   ){
						   %>
								<tr>	
									<td style="padding:0px 10px;" data_id="<%= products_list[x].products_speciality_ID %>">
										<img style="width:50px;" src="<%- ojs_share_all.unCape(products_list[x].products_speciality_featured_image) -%>"/>
									</td>								
									<td style="padding:0px 10px;" data_id="<%= products_list[x].products_speciality_ID %>">
										<%- ojs_share_all.unCape(products_list[x].products_speciality_name) -%>
										
									   <%
									   for(var s in price_list){
									   if(
									   products_list[x].products_speciality_ID 
									   == 
									   price_list[s].products_speciality_ID  
									   ){
									   %>									   
										   <div style="font-size:12px;color:#9bcdc1;">
												 <span> Số lượng từ  :  </span>
												 <%= price_list[s].products_speciality_price_meta_from %>
												 <span> --->  </span>
												  <%= price_list[s].products_speciality_price_meta_to  %>
												 <span> giá bán  --->  </span>
												  <%- ojs_share_all.show_price_format(price_list[s].products_speciality_price_meta_price,0,",",".","đ") %>													 
										   </div>
									   <% 
									   }
									   }
									   %>											
										
										
										
									</td>
									<td style="padding:0px 10px;" data_id="<%= products_list[x].products_speciality_ID %>">
										<% if( products_list[x].products_speciality_sale_of_price != null ){ %>
											<td class="pro-price">
												<%- ojs_share_all.show_han_km(products_list[x].products_speciality_sale_of_price_time_check) %>
												<span class="price-off">
												<%- ojs_share_all.show_price_format(products_list[x].products_speciality_price,0,",",".","đ") %></span>
												<%- ojs_share_all.show_price_format(products_list[x].products_speciality_sale_of_price,0,",",".","đ") %>
											</td>
										<% } else { %>
											<td class="pro-price"><%- ojs_share_all.show_price_format(products_list[x].products_speciality_price,0,",",".","đ")  %></td>		
										<% } %>	
									</td>									
									<td style="padding:0px 10px;" data_id="<%= products_list[x].products_speciality_ID %>">
										<%- ojs_share_discount.show_status_discount_detail_html(products_list[x].discount_program_product_link_status) -%>
									</td>									
									<td style="padding:0px 10px;">
										<a href="#" class="submitdelete" data_id="<%= products_list[x].discount_program_product_link_ID %>">Huỷ tham gia</a>
									</td>										
									
									
								 </tr>	
						   <%
						   }
						   } //end of for
							%>
					</table>
				</div>
			<%
			}else{
			%>

			<%
			}//end of typeof products_list
			%>			
	</div>









<div class="btn_box">
	<a href="/discount-program/speciality/stores/<%= store_id %>/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Thêm sản phẩm vào chương trình</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>
<input type="hidden" id="discount_program_id" value="<%= discount_program_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<%- include ("../../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	var user_id = $('#user_id').val();
	var store_id = $('#store_id').val();
	var discount_program_details_id = $('#discount_program_details_id').val();
	
	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		if(datas.datas.discount_program_product_link_product_speciality_id == 0){
			ojs_message.message_ok_show("chưa chọn sản phẩm");
			return;
		}

		//console.log(datas);
		//return;	
	
	
	
		ojs_discount_program_speciality.ajax_save_product_meny(datas);	
	});







	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let data_id = $(this).attr("data_id");
		//console.log(data_id );
		//return;
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_discount_program_link_id";//function name in callback 
		let z = ' { "discount_program_link_id" : "' + data_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});		
	
	

	//
	//@
	//xoa
	$(document).on('click','.btn-add-meny',function(e) {	
		//@
		e.preventDefault();		
		var from = $('#price_from').attr('data_value');
		var to = $('#price_to').attr('data_value');
		var price = $('#price_meny').attr('data_value');
		if(from == 0 || to == 0 || price == 0){
			ojs_message.message_ok_show("vui lòng nhập giá trị");
			return;			
		}
		//console.log([from,to,price]);
		
		var  html_ok =  $('.price-box').html();
		
		var x = '' + 
		'<div class="price-line" style="display:flex;padding:10px 10px";>' + 
			'Số lượng từ : <strong>  [  <span class="from">' + from + '</span>  ]  </strong>' + 
			' ---->   <strong>  [  <span class="to">' + to + '</span>  ]  </strong>' + 
			'----> Giá :  <strong>  [  <span class="price" data_value="' + price + '">' + ojs_share_all.show_price_format(price,0,",",".","đ") + '</span>  ]  </strong>' + 
			'<span class="price_delete" style="cursor: pointer;color:red;padding:0px 20px;"> X </span>' + 
		'</div>';
		html_ok = html_ok + x;
		//console.log(html_ok);
		$('.price-box').html(html_ok);
		//@
	});		


	//
	//@
	//price_delete
	$(document).on('click','.price_delete',function(e) {	
		//@
		e.preventDefault();		
		$(this).parent(".price-line").remove();
	});		






	//@	
	//@
	//@
	//@
	//@	
	function get_datas(){
		
		var product_id = $('#discount_program_product_link_product_speciality_id  option:selected').val();
		var discount_program_id = $('#discount_program_id').val();
		var price_datas = [];
		
		var ojs_price = $('.price-box .price-line');

		for(i = 0; i < ojs_price.length ; i++ ){
			let x = {
				from:$(ojs_price[i]).find('.from').html(),
				to:$(ojs_price[i]).find('.to').html(),
				price:$(ojs_price[i]).find('.price').attr('data_value')				
			}
			 price_datas.push(x); 
		}

		//@
		//@
		var datas = {
			"datas":{
				discount_program_product_link_product_speciality_id : product_id,
				discount_program_product_link_discount_program_id : discount_program_id				
			},
			"price_datas":price_datas
		}
		
		return datas;
	}
	

	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<%- include ("../../masterpage/loader-end") %>













