
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../../masterpage/loader %>

<script src="../../../../../../<%= js_css_version %>/javascripts/class-discount-program-speciality.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-all %>
<% include ../../masterpage/function-share-discount %>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>
	<a href="/discount-program/speciality/<%= store_id %>">Chương trình khuyến mãi</a><i class="fas fa-chevron-right"></i>Thêm sản phẩm vào chương trình khuyến mãi</h1>
	

	<div class="pro_content_edit">
		<div class="pro_col01">	
			<div class="pro_box ten_sp_box">
				<h3>Sản phẩm tham gia khuyến mãi
					<a class="giai-thich" href="https://hotro.appdala.com/them-san-pham-vao-chuong-trinh-khuyen-mai/" target="_blank">
					<span>
						Chọn một sản phẩm tham gia khuyến mãi
					</span>
					</a>					
				</h3>
			</div>	
			
				<%
				if(typeof products_list == 'object' && products_list.length > 0){  
				%>
					<div class="inside">
						<select name="cars" id="discount_program_product_link_product_speciality_id">
							   <option value="0">Chọn sản phẩm</option>
							   <%
							   for(var x in products_list){
							   %>
								<option 
								value="<%= products_list[x].products_speciality_ID %>" 
								data_price="<%= products_list[x].products_speciality_price %>" 
								data_sale_of_price="<%= products_list[x].products_speciality_sale_of_price %>" 
								>
									<%- ojs_share.unCape(products_list[x].products_speciality_name) -%>
								</option>
							    <%
								} //end of for
								%>
						</select>
					</div>
				<%
				}else{
				%>
					<h1> Cửa hàng chưa có sản phẩm nào, Hẫy tạo sản phẩm
				<%
				}//end of typeof products_list
				%>			
		</div>
		
		
		
		
		<div class="pro_col02">

			<div class="pro_box ten_sp_box">
				<h3>Tên chương trình khuyến mãi</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.unCape(discount_tager[0].discount_program_name) -%>" id=""/>
				</div>
			</div>	
		</div>
		
		
		
	</div>


<div class="btn_box">
	<a href="/discount-program/speciality/<%= store_id %>/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Đăng</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>
<input type="hidden" id="discount_program_id" value="<%= discount_program_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	var user_id = $('#user_id').val();
	var store_id = $('#store_id').val();
	var discount_program_details_id = $('#discount_program_details_id').val();
	
	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		if(datas.datas.discount_program_product_link_product_speciality_id == 0){
			ojs_message.message_ok_show("chưa chọn sản phẩm");
			return;
		}

		//console.log(datas );
		//return;	
	
	
	
		ojs_discount_program_speciality.ajax_save_product(datas);	
	});


	
	
	//@
	//@
	//@
	//@	
	function get_datas(){
		
		var product_id = $('#discount_program_product_link_product_speciality_id  option:selected').val();
		var discount_program_id = $('#discount_program_id').val();
		
		
		var datas = {
			"datas":{
				discount_program_product_link_product_speciality_id : product_id,
				discount_program_product_link_discount_program_id : discount_program_id				
			}
		}
		
		return datas;
	}
	
	
	//@
	//@
	//@
	//@
	/*
	$(document).on('change','#discount_program_product_link_product_speciality_id',function(e) {		
		e.preventDefault();
		var product_id = $(this).find('option:selected').val();	
		var product_price = $(this).find('option:selected').attr("data_price");	
		var product_sale_of_price = $(this).find('option:selected').attr("data_sale_of_price");	
		
		var gift_type_id = $('#gift_type_id').val();
		console.log([gift_type_id, product_id,product_price,product_sale_of_price ]);
		

		if(gift_type_id == 1){
			$('#price-wrap').css('display','none');			
		}else{
			if( product_id == 0 ){
				$('#products_speciality_price').attr('data_value','0');
				$('#products_speciality_price').val('0');
				
				$('#products_speciality_sale_of_price').attr('data_value','0');
				$('#products_speciality_sale_of_price').val('0');
				$('#price-wrap').css('display','none');
			}else{
				$('#price-wrap').css('display','block');
				$('#products_speciality_price').attr('data_value',product_price);
				$('#products_speciality_price').val(ojs_loader.show_price_format(product_price,0,",",".",""));
				
				$('#products_speciality_sale_of_price').attr('data_value',product_sale_of_price);
				$('#products_speciality_sale_of_price').val(ojs_loader.show_price_format(product_sale_of_price,0,",",".",""));
			}
		}
	});
	*/
	
	
	
	
	

	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../../masterpage/loader-end %>













