
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>

<script src="../../../../../<%= js_css_version %>/javascripts/class-discount-program-speciality.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-all %>
<% include ../../masterpage/function-share-discount %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	


<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1>
		<a href="/stores/manage/<%= store_id %>/<%= user_id %>">
			<%= store_name %>
		</a>
		<i class="fas fa-chevron-right"></i>Chương trình khuyến mãi
	</h1>


	<div style="">
		<% include ../../masterpage/widget-discount-program-show-store-all %>
	</div>





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	
	//Loc trang thai
	///////////////////////////
	$("#loc_trang_thai").change(function() {
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id	:store_id,
				status_admin : JSON.parse(status_admin)
			}
		}	
		//console.log(datas);
		//return;
		ojs_discount_program_speciality.ajax_load_discount_program(datas);	
	});
	
	
	//
	//@
	//xoa
	$(document).on('click','.btn_discount_delete',function(e) {	
		//@
		e.preventDefault();		
		let discount_program_id = $(this).attr("data_discount_program_id");
		//alert(discount_program_id);
		//return;
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_discount_program_id";//function name in callback 
		let z = ' { "discount_program_id" : "' + discount_program_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	
	
	//
	//@
	//xoa
	$(document).on('click','.btn-huy-tham-gia',function(e) {	
		//@
		e.preventDefault();		
		let discount_detail_id = $(this).attr("data_discount_detail_id");
		//alert(discount_detail_id);
		//return;
		//
		//@
		let x = "Xác nhận huỷ";		
		let y = "huy_tham_gia_discount";//function name in callback 
		let z = ' { "discount_detail_id" : "' + discount_detail_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	
	
	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let data_id = $(this).attr("data_id");
		//console.log(data_id );
		//return;
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_discount_program_link_id";//function name in callback 
		let z = ' { "discount_program_link_id" : "' + data_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});		
		
	
	//
	//@
	//xem
	$(document).on('click','.view-discount',function(e) {	
		//@
		e.preventDefault();		
		var discount_id = $(this).attr("data_id");
		
		//alert(discount_id);
		//return;
		
		ojs_discount_program_speciality.view_discount(discount_id);
		//@
	});		
	
	//
	//@
	//xem
	$(document).on('click','.view-store',function(e) {	
		//@
		e.preventDefault();		
		var store_id = $(this).attr("data_id");
		
		//alert(store_id);
		//return;
		
		ojs_discount_program_speciality.view_store(store_id);
		//@
	});		
	//
	//@	
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../../masterpage/loader-end %>












