
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../masterpage/loader %>


<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content user_edit">

	<h1><%= title %></h1>

	<p><span>Tên cửa hàng</span><input type="text" class= "" value="" id="stores_name"/></p>
	<p><span>Số điện thoại</span><input type="text" class= "" value="" id="stores_phone"/></p>
	<p><span>Tỉnh thành</span><input type="text" class= "" value="" id="stores_province"/></p>
	<p><span>Quận huyện</span><input type="text" class= "" value="" id="stores_district"/></p>
	<p><span>Phường xã</span><input type="text" class= "" value="" id="stores_wards"/></p>
	<p><span>Số nhà, tên đường</span><input type="text" class= "" value="" id="stores_adress"/></p>
	<p><span>Tọa độ x</span><input type="text" class= "" value="" id="stores_local_x"/>
	<span class="giai-thich"><span>Vào <a href="https://www.google.com/maps" target="_blank">Google Map</a> ấn chuột phải vào vị trí cửa hàng của mình và chọn dãy số X,Y để copy.</span></span></p>
	<p><span>Tọa độ y</span><input type="text" class= "" value="" id="stores_local_y"/></p>
	<p><span>Local address</span><input type="text" class= "" value="" id="stores_local_adress"/><span class="giai-thich"><span>không bắt buộc</span></span></p>
	<br>
	<br>
	<p style="display:none"><span>giới hạn upload hình trong ngày</span><input type="text" class= "" value="20" id="stores_upload_limit_day"/></p>
	<p style="display:none"><span>giới hạn upload hình trong tháng</span><input type="text" class= "" value="300" id="stores_upload_limit_month"/></p>

	<div id="loai_service_wrap">
	<span>Loại dịch vụ</span>
	<select name="stores_service_type_id" id="stores_service_type_id">
		<option value="0">Chọn dịch vụ</option>
		<% include ../masterpage/widget-service-type %>
	</select>
	<span class="giai-thich"><span>Special: đặc sản, food-drink: quán nước</span></span>
	</div>	

	
	<p>
		<span>Hạn mức thanh toán</span>
		<input type="text" class= "number_change" 
			data_value="10000000" 
			value="10.000.000" 
			id="stores_payment_limit"
		/>
		<span class="giai-thich"><span>Khi doanh số đạt hạn mức, Dala sẽ chuyển khoản cho cửa hàng.</span></span>
	</p>
	
	
	<p>
		<span>Thông tin chuyển khoản</span>
		<br>
		<textarea id="stores_info_banking" class="area365" rows="10" cols="100%" ></textarea>
		<span class="giai-thich"><span>(Nhập số tài khoản, ngân hàng và tên chủ tài khoản.)</span></span>
	</p>	
	
	
	
	<p>
	<span>Trạng thái cửa hàng:</span>
	<select id="stores_status_stores">
		<%- ojs_share.show_status_product() %>
	</select>
	<span class="giai-thich"><span>Khi thông tin cửa hàng ok, chọn "đã phê duyệt" để hiển thị cửa hàng.</span></span>
	</p>
	

	<p>
		<span>Lời nhắn</span><br>
		<textarea id="stores_qoute" class="area365" rows="10" cols="100%" ></textarea>
		<span class="giai-thich"><span>Trong quá trình xét duyệt cửa hàng, nếu lỗi admin sẽ để lại lời nhắn ở đây.</span></span>
	</p>	


	
	
	

<div class="btn_box">
	<a href="/bussiness/<%= user_id %>/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>







</div>
<!-- --------------------
//end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//

	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
			
		//@
		let stores_name = $('#stores_name').val();
		let stores_user_id = $('#user_id').val();
		
		let stores_service_type_id = $('#stores_service_type_id  option:selected').val();	
		
		
		let stores_info_banking = $('#stores_info_banking').val();
		let stores_qoute = $('#stores_qoute').val();
		
		let stores_status = $('#stores_status  option:selected').val();
		let stores_status_stores = $('#stores_status_stores  option:selected').val();
		
		
		let stores_payment_limit = $('#stores_payment_limit').attr("data_value");		
		
		
		let stores_province = $('#stores_province').val();
		let stores_district = $('#stores_district').val();
		let stores_wards = $('#stores_wards').val();
		let stores_adress = $('#stores_adress').val();
		
		
		
		let stores_local_x = $('#stores_local_x').val();
		let stores_local_y = $('#stores_local_y').val();
		let stores_local_adress = $('#stores_local_adress').val();
		
		let stores_upload_limit_day = $('#stores_upload_limit_day').val();
		let stores_upload_limit_month = $('#stores_upload_limit_month').val();

		
		
		
		
		let stores_phone = $('#stores_phone').val();
		//@
		
		//@
		//@

		//
		let datas = {
			"datas":{
				stores_name : stores_name,
				stores_users_id: stores_user_id,
				stores_service_type_id : stores_service_type_id,
				stores_province : stores_province,
				stores_district : stores_district,
				stores_wards : stores_wards,
				stores_adress : stores_adress,
				stores_local_x : stores_local_x,
				stores_local_y : stores_local_y,
				stores_local_adress : stores_local_adress,				
				stores_phone : stores_phone,
				stores_payment_limit : stores_payment_limit,
				stores_info_banking : stores_info_banking,
				stores_qoute : stores_qoute,
				stores_status : stores_status,
				stores_status_stores : stores_status_stores,
				stores_upload_limit_day :stores_upload_limit_day,
				stores_upload_limit_month : stores_upload_limit_month
			}
		}
		//console.log(datas);		
		//return;
		
		ojs_bussiness.ajax_save(datas);	
		
	});//end of save ajax
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../masterpage/loader-end %>