
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>



<% include ../masterpage/loader %>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->

<% include ../masterpage/header %>

<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>


	<div class="store_row">
		<button class="btn_add_store"><a href="/products/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Tạo sản phẩm</a></button>
		<button class="btn_add_store"><a href="/categorys/general/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Tạo danh mục</a></button>
		<button class="btn_add_store"><a href="/options/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>">Tạo options</a></button>
		<button class="btn_add_store"><a href="/brands/add/<%= store_id %>/<%= user_id %>">Tạo thương hiệu</a></button>

	</div>	





	<!-- ---------
	//thong ke theo cua hang
	---------- -->
		
		<br>
		<br>
		<hr>
		<br>
		<h1>Doanh thu theo cửa hàng</h1>
		<div class="report_wrap report_wrap_payment" id="report_wrap_payment">
			<div class="report_bock report_bock_payment">
				<ul class="report_link_box report_bock_payment">
					<li class="one report_link">
						<a href="#" class="" data_send="hom_nay">Hôm nay</a>
					</li>
					<li class="one report_link" >
						<a href="#"  data_send="hom_qua">Hôm qua</a>
					</li>				
					<li class="one report_link">
						<a href="#" data_send="tuan_nay">Tuần này</a>
					</li>
					<li class="one report_link">
						<a href="#"  data_send="thang_nay" >tháng này</a>
					</li>		
					<li class="one report_link">
						<a href="#"  data_send="thang_truoc" class="">tháng trước</a>
					</li>	
					<li class="one report_link">
						<a href="#"  data_send="view_all" class="report_active">Tất cả</a>
					</li>					
				</ul>
			</div>
			<div class="custom_date">Từ ngày: <input type="text" id="datepicker_payment"> đến ngày <input type="text" id="datepicker2_payment"><button id="btn_date_payment"  class="btn_date">Xem</button></div>
		</div>	
		
		<div id="ajax_load_payment" class="ajax_load"">
		<% include ../masterpage/widget-bussiness-report-stores %>		
		</div>	

			
	<!-- ---------
	//end of thong ke theo cua hang
	---------- -->	












</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

<% include ../masterpage/loader-end %>