<%


//@
//@
//@
//@ check variable
if( typeof title == 'string' && title && title.length > 0){} else{ title="" }
%>

<% include ../masterpage/loader %>
<script src="../../../../<%= js_css_version %>/javascripts/class-notes.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>		

<!-- --------------------
content
--------------------- -->
<div id="content" class="content">




	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i><%= title %></h1>
	
	<br>
	<hr>
	<br>
	<div class="green">Gửi tin nhắn đến <i class="fas fa-chevron-right"></i> <%= user_tager[0].users_full_name %>  </div>
	
	<div class="pro_content_edit">
		<div class="pro_col01">
		
		
		
			<!-- ------------------
			//Ten thuong hieu
			------------------- -->
			<br>
			<br>
			<div class="pro_box ten_sp_box">
				<h3> Tiêu đề </h3>
				<div class="inside">
					<input type="text" class= "" value="" id="notes_title"/>
				</div>
			</div>
		
			<!-- ------------------
			thông tin mô tả
			------------------- -->
			<div class="pro_box">
				<h3> Nội dung </h3>
				<div class="inside">
					<textarea class="noi_dung"  id="noi_dung"  rows="5" cols="100%"></textarea>
				</div>
			</div>
			<!-- ------------------
			//thông tin mô tả
			------------------- -->
		</div>
	</div>


	<div class="btn_box">
		<a href="/admin/" class="btn_back">Quay về</a>

		<button id="btn_save" class="btn_save">Gửi</button>
	</div>




<input type="hidden" id="user_id" value="<%= user_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	

		//
	//@
	ojs_loader.loadTinyMCE('noi_dung');
	//

	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		var notes_title = $('#notes_title').val();	
		var notes_user_id = $('#user_id').val();
		var notes_contents = tinymce.get("noi_dung").getContent().replace(/&nbsp;/gi, "");
		
		
		if(notes_title == ""){
			ojs_message.message_ok_show("Nhập tiêu đề");
			return;
		}
		
		if(notes_contents == ""){
			ojs_message.message_ok_show("Nhập nội dung");
			return;
		}		
		
		
		//
		var datas = {
			"datas":{
				notes_title : notes_title,
				notes_user_id : notes_user_id,
				notes_contents : notes_contents
			}
		}
		
		
		
		//console.log(datas);		
		//return;
		
		
		
		ojs_notes.ajax_save(datas);
		
	});//end of save ajax
	
	
	
	
	
	
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../masterpage/loader-end %>





























