

<% include ../masterpage/loader %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/notes.css' />




	




<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<% include ../masterpage/header %>
<% include ../masterpage/function-share-notes %>
<% include ../masterpage/function-share-all %>
<% include ../masterpage/function-share-all-manage %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>





<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/stores/manage/<%= store_id %>/"><%= store_list[0].stores_name %></a><i class="fas fa-chevron-right"></i>Danh sách tin nhắn</h1>
	


	<div id="ajax-wrap">
	
	<% include ../masterpage/widget-notes-show-tables %>

	</div>







<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	

	

///////////////////////////////////////////////////////
});//end of document
</script>





<% include ../masterpage/loader-end %>







