<% 
//@
//@
//@
//@
//@
//@
if( typeof title == 'string' && title){ title = title } else{ title="" } 
%>
<% include ../masterpage/loader %>



	<script>
		console.log(<%- JSON.stringify({"note_taget" : note_taget}) %>);
		console.log(<%- //JSON.stringify({"product_list" : product_list}) %>);		
		console.log(<%- //JSON.stringify({"order_list_sum" : order_list_sum}) %>);		
		console.log(<%- //JSON.stringify({"order_list_all" : order_list_all}) %>);	
		console.log(<%- //JSON.stringify({"order_list" : order_list}) %>);	
	</script>






<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>




<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>
	<a href="/notes/<%= store_id %>">Thương hiệu</a><i class="fas fa-chevron-right"></i><%= title %></h1>


	<div class="white_box"> 
		<h3><%= note_taget[0].notes_title %></h3>
		<p><%= note_taget[0].notes_date_created %></p>
		<hr>
		<p><%= note_taget[0].notes_contents %></p>
	</div>
	
	
	

<div class="btn_box">
	<a href="/notes/<%= store_id %>/" class="btn_back">Quay về</a>
</div>	
	







</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->




<% include ../masterpage/loader-end %>































