
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>



<% include ../../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-product-speciality.js"></script>	

<% menu_taget = "sidebar_san_pham" %>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>




<% //neu admin thi hien muc nay
var	enable_text = " disabled " ;
var	enable_text2 = " " ;
var	enable_text3 = " disabled " ;

if(user_role =="admin"){ 
	enable_text3 = "" ;
	enable_text2 = " disabled "
}

%>





<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	

<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>
	<a href="/products/<%= service_type_name %>/<%= store_id %>">Sản phẩm</a><i class="fas fa-chevron-right"></i>Thêm sản phẩm</h1>
	
	
	
	<div class="pro_content_edit">
		<div class="pro_col01">
			<div class="pro_box ten_sp_box">
				<h3>Tên Sản phẩm</h3>
				<div class="inside">
					<input type="text" value="" id="products_speciality_name"/>
				</div>
			</div>
			
			<div class="pro_box thuoc_tinh_box">
				<h3>Thuộc tính</h3>
				<div class="inside">
					<p><span>Mã sku</span><input type="text" <%= enable_text3 %> value="" id="products_speciality_sku" /> </p>	
					<p><span>Tồn kho</span><input class="number_change" data_value="" type="text" value="" id="products_speciality_stock" /> </p>
					<p><span>Cân nặng(g)</span><input  class="number_change" data_value="0"  type="text" value="500" id="products_speciality_weight" /> </p>
					<p><span>Chiều dài(cm)</span><input class="number_change" data_value=""  type="text" value="" id="products_speciality_length" /> </p>
					<p><span>Chiều rộng(cm)</span><input class="number_change" data_value=""  type="text" value="" id="products_speciality_width" /> </p>
					<p><span>Chiều cao(cm)</span><input class="number_change" data_value=""  type="text" value="" id="products_speciality_height" /> </p>	
					<p style="display:none"><span>Loại sản phẩm</span>	
						<select id="products_speciality_type">
							<%- ojs_share.show_product_type(0) %>
						</select>	
					</p>
				</div>
			</div>			
			
			<div class="pro_box gia_box">
				<h3>Giá sản phẩm</h3>
				<div class="inside">
					<p><span>Giá bán</span><input class="number_change" data_value="0" type="text" value="0" id="products_speciality_price" /> </p>
					<p><span>Giá khuyến mãi</span><span class="giai-thich"><span>Để trống nếu sản phẩm không có KM</span></span>
						<input  class="number_change_empty" data_value="0" type="text" value="" id="products_speciality_sale_of_price" /> 
					</p>
					<p><span>Ngày bắt đầu KM</span><span class="giai-thich"><span>Để trống nếu không KM, hoặc KM vô thời hạn</span></span><input type="text" value="" id="products_speciality_date_start" /> </p>	
					<p><span>Ngày kết thúc KM</span><span class="giai-thich"><span>Để trống nếu không KM, hoặc KM vô thời hạn</span></span><input type="text" value="" id="products_speciality_date_end" /> </p>
				</div>
			</div>
			
			<div class="pro_box quy_cach_box" style="display:none">
				<h3>Quy cách</h3>
				<div class="inside">
					<p><span>Option variation</span><input type="text" value="" id="products_speciality_variation_option" /> </p>
				</div>
			</div>
			
			<!-- ------------------
			//Mô tả ngắn
			------------------- -->
			<div class="pro_box" style="display:none">
				<h3>Mô tả ngắn</h3>
				<div class="inside">
					<textarea class="noi_dung" id="excerpt"  rows="10" cols="100%"></textarea>
				</div>
			</div>
			<!-- ------------------
			//Thông tin chi tiết
			------------------- -->
			<div class="pro_box">
				<h3>Mô tả sản phẩm</h3>
				<div class="inside">
					<textarea class="noi_dung" id="noi_dung"  rows="20" cols="100%"></textarea>
				</div>
			</div>
			
			<div class="pro_box">
				<h3>Lời nhắn từ admin</h3>	
				<div class="inside">
					<textarea id="products_speciality_qoute"  rows="10" cols="100%" ></textarea>	
				</div>	
			</div>
		</div>
		
		<div class="pro_col02">
			<!-- ------------------
			//category
			------------------- -->	
			<div class="pro_box">
				<h3>Danh mục sản phẩm</h3>	
				<div class="category_wrap inside">
					<div id="category_inner">
						<% include ../../masterpage/widget-category-product %>
					</div>	
				</div>
			</div>
			<!-- ------------------
			//end of category
			------------------- -->	
			
			<!-- ------------------
			//option
			------------------- -->	
			<div class="pro_box">
				<h3>Tùy chọn sản phẩm</h3>	
				<div class="option_wrap inside">
					<div id="option_inner">
						<% include ../../masterpage/widget-option-product %>
					</div>	
				</div>	
			</div>
			<!-- ------------------
			//end of option
			------------------- -->	
			
			<div class="pro_box thuong_hieu_box">
				<h3>Thương hiệu</h3>	
				<div class="inside">
					<select id="products_speciality_brand">
						<% include ../../masterpage/widget-brand-select-box %>
					</select>	
				</div>
			</div>
			
			
			<!-- ------------------
			//hình đại diện 
			------------------- -->
			<div class="pro_box">
				<h3>Ảnh đại diện</h3>	
				<div class="inside">
					<input type="text" value="" id="featured_image" data_value="" style="display:none;" />
					<input type="button" value="Thêm ảnh" id="btn_featured_image">
					<div id="img_box_dai_dien"></div>
					<input type='file' accept="image/*" id='upload_image' style="display:none;">
				</div>
			</div>
			<!-- ------------------
			//end of hình đại diện 
			------------------- -->
			
			<!-- ------------------
			//hình slider 
			------------------- -->
			<div class="pro_box">
				<h3>Bộ sưu tập (giới hạn 6 ảnh)</h3>
				<div class="inside">
					<input type="text" 
						value="" 
						id="slider_image"  
						data_value="" 
						style="display:none;"
					/> 
					<input type='file' accept="image/*" id='upload_image_arr' style="display:none;" multiple>
					<input type="button" value="Thêm ảnh" id="btn_slider_image">
					<div id="arrImgBox"></div>
				</div>
			</div>

			<!-- ------------------
			//end of hình slider 
			------------------- -->
			<!--
			<div class="pro_box chiet_khau_box">
				<h3>Chiết khấu</h3>
				<div class="inside">
					<input  class="number_change" data_value="0"  type="text" value="0" id="products_speciality_discount" />	
					<select id="products_speciality_unit_discount">
						<%- ojs_share.show_unit_discount(0) %>
					</select>
				</div>
			</div>
			
			
			<div class="pro_box trang_thai_box">
				<h3>Trạng thái</h3>
				<div class="inside">
					<span>Cửa hàng:</span><span class="giai-thich"><span>Khi thông tin sản phẩm đã sẵn sàng, chọn "đã phê duyệt" để hiển thị sản phẩm.</span></span>
					<select id="products_speciality_status_store">
						<%- ojs_share.show_status_product(0) %>
					</select>		
				</div>
			</div>
			-->
			
			
			
		</div>
	</div>				
	
	
	
	
	
	
	
	
	
	
	
	
	
			
	
<div class="btn_box">
	<a href="/products/speciality/ <%= store_id %>" class="btn_back">Quay về</a>
	<a href="#" class="btn_back" id="btn_draf">Lưu & Ẩn</a>
	<button id="btn_save" class="btn_save">Đăng</button>
</div>
	
	
<input type="hidden" id="store_id" value="<%= store_id %>"/>
<input type="hidden" id="user_id" value="<%= user_id %>"/>
</div>

<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	

	var user_id = $('#user_id').val();

	$( "#products_speciality_date_start" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( "#products_speciality_date_end" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);

	
	//@
	ojs_loader.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	ojs_loader.show_anh_slider('slider_image','arrImgBox',"","");
	//@
	
	
	
	
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	//@
	$("#upload_image").on("change",function(){
		var input = this;
		ojs_loader.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien",user_id)
	});		
	//
	//xua image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		var products_speciality_featured_image = $('#featured_image').attr("data_value");
		var url = products_speciality_featured_image;
		
		//console.log(url);
		//return;
		
		
		ojs_loader.delete_wp(url);
		
		//$('#featured_image').attr("data_s3","");
		//xoa html
		$(this).parent(".img_box").remove();
		ojs_loader.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
		
	});			
	//		
	//	
	//		
	//
	//xoa image slider
	$(document).on('click','.xoaAnhSlider',function(e) {		
		e.preventDefault();		
		$(this).parent(".img-box").remove();
		ojs_loader.set_value_anh_slider('slider_image','arrImgBox');
		ojs_loader.set_value_anh_slider_s3('slider_image_h','arrImgBox');
	});			
	//
	//	
	//
	//btn anh slider click
	$(document).on('click','#btn_slider_image',function(e) {		
		e.preventDefault();		
		$('#upload_image_arr').trigger( "click" );
	});		
	//
	//
	//upload anh slider
	$("#upload_image_arr").on("change",function(){
		var input = this;
		//alert('change');
		ojs_loader.upload_anh_slider(input,"slider_image","arrImgBox")
	});			
	//		
	//	
	
	// event keyup ngày
	$(document).on('keyup','#products_speciality_date_start',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax

	// ajax luu san pham
	$(document).on('keyup','#products_speciality_sale_of_price',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			$('#products_speciality_date_end').val('');
			$('#products_speciality_date_start').val('');
		}
	});//en


	// ajax luu san pham
	$(document).on('keyup','#products_speciality_date_end',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax
		
	
	
	
	
	
	// ajax luu san pham
	$(document).on('change','#products_speciality_date_start',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax


	// ajax luu san pham
	$(document).on('change','#products_speciality_date_end',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax
			
	
			
	
	
	
	$(document).on('click','#btn_draf',function(e) {		
		e.preventDefault();	
		var datas = get_datas();
		datas.datas.products_speciality_status_store = 0;
		console.log(datas);
		
	});//end of save ajax	
	
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();	
		var datas = get_datas();
		datas.datas.products_speciality_status_store = 1;		
		console.log(datas);				
	});//end of save ajax



	
	//@
	//@
	//@
	//@
	//@
	//@ function get datas
	function get_datas(){
		
		

		
		var cat_arr = [];
		var ojs_cat = $('#category_inner').find('.cat_check');
		
		for(var i = 0; i < ojs_cat.length ; i ++ ){
			if(    $(ojs_cat[i]).prop("checked")    ){
				var x = $(ojs_cat[i]).val();
				cat_arr.push(x);
			}
		}
		//cat_arr = [1,2,"a",4];
		var cat_string = cat_arr;
		//console.log(cat_string);		
		//return;		

		//@
		//@
		//danh sach option
		var option_arr = [];
		var ojs_option = $('#option_inner').find('.option_check');
		
		for(var i = 0; i < ojs_option.length ; i ++ ){
			if(    $(ojs_option[i]).prop("checked")    ){
				var x = $(ojs_option[i]).val();
				option_arr.push(x);
			}
		}
		//@
		var option_string = option_arr;		
		//console.log(option_string);
		//return;


		
		
		
		//@
		var products_speciality_name = $('#products_speciality_name').val();
		var products_speciality_type = $('#products_speciality_type  option:selected').val();
		var products_speciality_sku = $('#products_speciality_sku').val();
		var products_speciality_store_id = $('#store_id').val();		
		
		var products_speciality_featured_image = $('#featured_image').attr("data_value");
		var products_speciality_image_slider = $('#slider_image').attr("data_value");			
		
		var products_speciality_contents = $('#noi_dung').val();
		var products_speciality_excerpt = $('#excerpt').val();
		
		
		var products_speciality_qoute = $('#products_speciality_qoute').val();
		
		
		
		
		var products_speciality_price = $('#products_speciality_price').attr("data_value")
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').attr("data_value")
		
		
		
		var date_01 = $('#products_speciality_date_start').datepicker( "getDate" );
		var products_speciality_date_start = $.datepicker.formatDate("yy-mm-dd", date_01);

		
		var date_02 = $('#products_speciality_date_end').datepicker( "getDate" );
		var products_speciality_date_end = $.datepicker.formatDate("yy-mm-dd", date_02);
		
		if(products_speciality_date_end.length > 0){			
			products_speciality_date_end = products_speciality_date_end + " 23:59:59"
		}
		
		
		
		
		
		var products_speciality_stock = $('#products_speciality_stock').attr("data_value")
		
		var products_speciality_brand = $('#products_speciality_brand  option:selected').val();		
			
		var products_speciality_variation_option = $('#products_speciality_variation_option').val() ;
		
		
		var products_speciality_height = $('#products_speciality_height').attr("data_value")
		var products_speciality_width = $('#products_speciality_width').attr("data_value")
		var products_speciality_length = $('#products_speciality_length').attr("data_value")
		var products_speciality_weight = $('#products_speciality_weight').attr("data_value")
		
		
		
		
		var user_id = $('#user_id').val();
		
		if(products_speciality_name == "" ){
			ojs_message.message_ok_show("Chưa nhập tên sản phẩm");
		}			
		
		//@@
		if(products_speciality_stock == ""){products_speciality_stock = null;	};
		if(products_speciality_height == ""){products_speciality_height = null;};
		if(products_speciality_width == ""){products_speciality_width = null;};
		if(products_speciality_length == ""){products_speciality_length = null;};
		if(products_speciality_weight == ""){products_speciality_weight = null;};
		
		if(products_speciality_brand == ""){products_speciality_brand = null;};
		
		
		
		if(products_speciality_sale_of_price == ""){products_speciality_sale_of_price = null;};
		if(products_speciality_date_start == ""){products_speciality_date_start = null;};
		if(products_speciality_date_end == ""){products_speciality_date_end = null;};
		
		
		
	
		
		//@@
		//@@
		var datas = {
			"option_string" : option_string,
			"cat_string" : cat_string,
			"datas":{
				products_speciality_name : products_speciality_name,
				products_speciality_type :  products_speciality_type,
				products_speciality_sku : products_speciality_sku,
				products_speciality_store_id : products_speciality_store_id,
				products_speciality_featured_image : products_speciality_featured_image,
				products_speciality_image_slider : products_speciality_image_slider,
				products_speciality_contents : products_speciality_contents,
				products_speciality_excerpt : products_speciality_excerpt,
				products_speciality_price : products_speciality_price,
				products_speciality_sale_of_price : products_speciality_sale_of_price,
				products_speciality_date_start : products_speciality_date_start,
				products_speciality_date_end : products_speciality_date_end,
				products_speciality_stock : products_speciality_stock,
				products_speciality_brand : products_speciality_brand,
				products_speciality_variation_option : products_speciality_variation_option,
				products_speciality_height : products_speciality_height,
				products_speciality_width : products_speciality_width,
				products_speciality_length : products_speciality_length,
				products_speciality_weight : products_speciality_weight,
				products_speciality_qoute : products_speciality_qoute				
			}
		}
		return datas;
	}
	//@
	//@
	//@
	//@ end of function get datas
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>












<% include ../../masterpage/loader-end %>				
	
	
	
	
	
	
	
	
	
	
	
	
	
	