
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-product-speciality.js"></script>	
<script src="../../../../<%= js_css_version %>/javascripts/class-bussiness.js"></script>	
<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-all %>

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>Danh sách sản phẩm</h1>
	
	<div class="sap_xep_loc">
		<div class="sap_xep_wrap">

			<select id="sap_xep_sp">
				<option value="moinhat">Sản phẩm mới nhất</option>
				<option value="giacao">Giá cao > thấp</option>
				<option value="giathap">Giá thấp < cao</option>
			</select>
		</div>
		
	

		<div class="loc_type">
			<select id="loc_type">
				<option value="[0,1,2,3,4]">Các loại sản phẩm -> tất cả</option>
				<option value="[0]">Sản phẩm thường</option>
				<option value="[1]">Sản phẩm biến thể</option>
				<option value="[2]">Sản phẩm quà tặng</option>
			</select>
		</div>
			
		
		<div class="loc_khuyen_mai">
			<select id="loc_khuyen_mai">
				<option value="all">Chương trình khuyến mãi -> tất cả</option>
				
				<% 
				if( discount_list.length > 0){
				for(x in discount_list){
				%>	
					<option value="<%= discount_list[x].discount_program_ID %>">
						<%= discount_list[x].discount_program_name %>
						( <%= discount_list[x].count_discount_program_ID %> )
					</option>
				<%
				}
				}
				%>
				
			</select>
		</div>		
		
		
		<div class="loc_wrap">
			<select id="loc_km">
				<option value="[0,1,2,3,4]">Sản phẩm khuyến mãi -> tất cả </option>
				<option value="[1,4]">Đang khuyến mãi</option>
				<option value="[3]">Khuyến mãi đã quá hạn</option>
				<option value="[0]">Không có khuyến mãi</option>
			</select>



			
			
			<select id="loc_stock">
				<option value="tat_ca">Tồn kho -> tất cả</option>
				<option value="het_hang">Hết hàng</option>
				<option value="sap_het_hang">Sắp hết hàng</option>
			</select>				
			
			
			
			<select id="loc_danh_muc" >
				<option value="all">Tất cả danh mục</option>
				<% 
				for(x in category_by_store){
				%>	
					<option value="<%= category_by_store[x].category_general_speciality_ID %>">
						<%= category_by_store[x].category_general_speciality_name %>
						( <%= category_by_store[x].count_category_general_speciality_name %> )
					</option>
				<%
				}
				%>
			</select>
			<select id="loc_trang_thai">
				<option id="all" value="[0,1,2,3,4]" selected>Tất cả trạng thái</option>
				<option id="checking" value="[0]">Chờ duyệt</option>
				<option id="edit" value="[2]">Đã sửa chờ duyệt</option>
				<option id="refuse" value="[3]">Bị từ chối</option>
				<option id="checked" value="[1]">Đã duyệt</option>
			</select>
		</div>
	</div>	
	
	
	<div style="" id="fillter-wrap">
		<div style="" id="fillter-inner">
			<div class="loc-theo-theo-gia"></div>
			<div class="loc-theo-khuyen mai"></div>
			<div class="loc-theo-ton-kho"></div>
			<div class="loc-theo-danh-muc"></div>
			<div class="loc-theo-trang-thai"></div>
		</div>
	</div>	


	<div id="ajax-wrap">
	
	<% include ../../masterpage/widget-product-speciality-show-tables-v5-admin %>
	
	</div>		
	
	
<input type="hidden" id="user_id" value="<%= user_id %>"/>

</div>
<!----------------------
end content
----------------------->







<style>
#fillter-inner {
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.filletr-btn{
    display: flex;
    position: relative;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.f-x {
	position: absolute;
    right: -25px;
    top: 5px;
    border: 1px solid #27ad43;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: red;
    border-radius: 50px;
    text-indent: -100px;
    overflow: hidden;
}

.filletr-btn.reset-btn {
    background-color: #4a914b;
    color: white;
    cursor: pointer;
}
.sap_xep_loc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.sap_xep_loc .loc_wrap {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 30px;
}
</style>









<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!----------------------
//end of page wrap 
----------------------->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	
	
	
	//@
	//@
	//@
	//@
	add_data_fillter();
	
	
	
	
	
	
	//@
	//@
	//@
	//@Loc danh muc
	///////////////////////////	
	$("#loc_danh_muc,#loc_km,#loc_stock,#sap_xep_sp,#loc_trang_thai,#loc_type,#loc_khuyen_mai").change(function() {
		var datas = get_data_ajax();
		add_data_fillter();
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_products_admin(datas);	
	});	
	
	
	//@
	//@
	//@
	//@ refresh fillter
	$(document).on('click','.reset-btn',function(e) {	
		//@
		e.preventDefault();	
		location.reload();
	});		
		
	
	
	
	
	//@
	//@
	//@
	//xem
	$(document).on('click','.page-nav-inner a',function(e) {	
		//@
		e.preventDefault();	
		$(".page-nav-inner a").removeClass("active");
		var pav_taget = parseInt($(this).html());
		$('.page-nav-inner a:nth-child(' + pav_taget + ')').addClass("active");
		e.preventDefault();	
		
		var datas = get_data_ajax();
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_products_table_admin(datas);
		
	});		
	//
	//@		
	
	
	
		
	
	
	
	//@
	//xoa
	$(document).on('click','.btn-delete',function(e) {	
		//@
		e.preventDefault();		
		let product_id = $(this).attr("data_product_id");

		//
		//@
		let x = "xác nhận xoá";		
		let y = "admin_delete_product_speciality";//function name in callback 
		let z = ' { "product_id" : "' + product_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);	
	});			
	//		
	//	
	
	
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	

	

	
	
	//
	//@
	//xem
	$(document).on('click','.btn-xem',function(e) {	
		//@
		e.preventDefault();		
		var product_id = $(this).attr("data_product_id");
		//alert(product_id);
		//return;
		ojs_products_speciality.show_content_product(product_id);
		//@
	});		
	//
	//@	
	
	
	//
	//@
	//xem
	$(document).on('click','.btn-duyet',function(e) {	
		//@
		e.preventDefault();		
		var product_id = $(this).attr("data_product_id");
		//alert(product_id);
		//return;
		var datas = {
			"datas": {
				"products_speciality_status_admin":"1"
			}
		}

		ojs_products_speciality.ajax_duyet(datas,product_id);
		//@
	});		
	//
	//@	
		
	
	//
	//@
	//duyệt
	$(document).on('click','.btn-tu-choi',function(e) {	
		//@
		e.preventDefault();	
		var product_id = $(this).attr("data_product_id");
		//alert(product_id);
		//return;		
		

		let html = "" + 
		'<div class="ajax-box">' + 
			'<div class="ajax-box-inner">' + 
				'<h1> lý do từ chối</h1>' + 
				'<textarea rows="10" cols="50" id="tu-choi-content"></textarea>' + 
				'<div class="btn-tu-choi-go" style="text-align:right">' + 
					'<span id="btn-tu-choi-go" data_product_no_id="' + product_id + '" class="btn-design">save</span>' + 
				'</div>' + 
			'</div>';	
		'</div>';
		
		
		ojs_loadding.ajax_show_content( html);
		//@
	});			
	
	
	
	//
	//@
	//duyệt
	$(document).on('click','#btn-tu-choi-go',function(e) {	
		//@
		e.preventDefault();		
		var product_id = $(this).attr("data_product_no_id");
		var content = $('#tu-choi-content').val();
		
		//alert(product_id);
		//return;		
		
		var datas = {
			"datas": {   
				"products_speciality_status_admin" :"3",
				"products_speciality_qoute":content
			}
		}
		
		
		//alert(content);
		//return;

		ojs_products_speciality.ajax_tu_choi(datas,product_id);
		//@
	});		



	//@
	//@
	//@
	//@ get_data_ajax	
	function get_data_ajax(){
		let user_id = $('#user_id').val();
		let status_data = $('#loc_trang_thai').val();
		let category_data = $('#loc_danh_muc').val();
		let discount_data = $('#loc_km').val();
		let sort_data = $('#sap_xep_sp').val();
		let stock_data = $('#loc_stock').val();
		var data_limit = $('.page-nav-inner a.active').attr('data-limit') || 20;
		var data_offset = $('.page-nav-inner a.active').attr('data-offset') || 0;
		
		let loc_type_data = $('#loc_type').val();
		let loc_khuyen_mai_data = $('#loc_khuyen_mai').val();
		
		
		var datas = {
			"user_id" : user_id,
			"status_data" : JSON.parse(status_data),
			"category_data" :category_data,
			"discount_data" :JSON.parse(discount_data),
			"sort_data" :sort_data,	
			"stock_data" :stock_data,	
			"data_limit" :data_limit,	
			"data_offset" :data_offset,	
			"loc_type_data" :JSON.parse(loc_type_data),
			"loc_khuyen_mai_data" : loc_khuyen_mai_data,
		}
		return datas;
	}	
	
	
	//@
	//@
	//@
	//@ function add_data_fillter
	function add_data_fillter(){
		
		let sort_data = $('#sap_xep_sp').val();
		let sort_data_text = $( "#sap_xep_sp option:selected" ).text();
		
		let loc_type = $('#loc_type').val();
		let loc_type_text = $( "#loc_type option:selected" ).text();		
		
		let loc_khuyen_mai	 = $('#loc_khuyen_mai	').val();
		let loc_khuyen_mai_text = $( "#loc_khuyen_mai option:selected" ).text();				
	
		
		
		let discount_data = $('#loc_km').val();		
		let discount_data_text = $( "#loc_km option:selected" ).text();	
		
		let stock_data = $('#loc_stock').val();		
		let stock_data_text = $( "#loc_stock option:selected" ).text();		
		
		let category_data = $('#loc_danh_muc').val();
		let category_data_text = $( "#loc_danh_muc option:selected" ).text();	
		
		let status_data = $('#loc_trang_thai').val();
		let status_data_text = $( "#loc_trang_thai option:selected" ).text();	
	

		var x = "";
		x = x + '<div class="filletr-btn" data_va="' + 'moinhat' + '" data_id="sap_xep_sp">' + sort_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + 'loc_type' + '"  data_id="loc_type">' + loc_type_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + 'loc_khuyen_mai' + '"  data_id="loc_khuyen_mai">' + loc_khuyen_mai_text + '<span class="f-x"> X </span></div>'; 
		
			
		x = x + '<div class="filletr-btn" data_va="' + discount_data + '"  data_id="loc_km">' + discount_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + stock_data + '"  data_id="loc_stock">' + stock_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + category_data + '"  data_id="loc_danh_muc">' + category_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + status_data + '"  data_id="loc_trang_thai">' + status_data_text + '<span class="f-x"> X </span></div>'; 		
		x = x + '<div  class="filletr-btn reset-btn">reset</div>'; 
		$('#fillter-inner').html(x);
	}	












	

///////////////////////////////////////////////////////
});//end of document
</script>




<% include ../../masterpage/loader-end %>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	














