

<% include ../../masterpage/loader %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/product.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/product-show-all.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-page-nav.css' />




<script src="../../../../../<%= js_css_version %>/javascripts/class-product-speciality.js"></script>



<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-product %>
<% include ../../masterpage/function-share-all %>
<% include ../../masterpage/function-share-all-manage %>
<% include ../../masterpage/function-share-page-nav %>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>




<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_list[0].stores_name %></a><i class="fas fa-chevron-right"></i><%= title %></h1>
	
	
	<div class="sap_xep_loc">
		<div class="sap_xep_wrap">
			<a href="/products/<%= service_type_name %>/add/<%= store_id %>/<%= user_id %>" class="btn_green">Thêm sản phẩm</a>
			<select id="sap_xep_sp">
				<option value="moinhat">Sản phẩm mới nhất</option>
				<option value="giacao">Giá cao > thấp</option>
				<option value="giathap">Giá thấp < cao</option>
			</select>
		</div>
		
	

		<div class="loc_type">
			<select id="loc_type">
				<option value="[0,1,2,3,4]">Các loại sản phẩm -> tất cả</option>
				<option value="[0]">Sản phẩm thường</option>
				<option value="[1]">Sản phẩm biến thể</option>
				<option value="[2]">Sản phẩm quà tặng</option>
			</select>
		</div>
			
		
		<div class="loc_khuyen_mai">
			<select id="loc_khuyen_mai">
				<option value="all">Chương trình khuyến mãi -> tất cả</option>
				
				<% 
				if( discount_list.length > 0){
				for(x in discount_list){
				%>	
					<option value="<%= discount_list[x].discount_program_ID %>">
						<%= discount_list[x].discount_program_name %>
						( <%= discount_list[x].count_discount_program_ID %> )
					</option>
				<%
				}
				}
				%>
				
			</select>
		</div>		
		
		
		

		
		<div class="loc_wrap">
			<select id="loc_km">
				<option value="[0,1,2,3,4]">Sản phẩm khuyến mãi -> tất cả </option>
				<option value="[1,4]">Đang khuyến mãi</option>
				<option value="[3]">Khuyến mãi đã quá hạn</option>
				<option value="[0]">Không có khuyến mãi</option>
			</select>



			
			
			<select id="loc_stock">
				<option value="tat_ca">Tồn kho -> tất cả</option>
				<option value="het_hang">Hết hàng</option>
				<option value="sap_het_hang">Sắp hết hàng</option>
			</select>				
			
			
			
			<select id="loc_danh_muc" >
				<option value="all">Tất cả danh mục</option>
				<% 
				for(x in category_by_store){
				%>	
					<option value="<%= category_by_store[x].category_general_speciality_ID %>">
						<%= category_by_store[x].category_general_speciality_name %>
						( <%= category_by_store[x].count_category_general_speciality_name %> )
					</option>
				<%
				}
				%>
			</select>
			<select id="loc_trang_thai">
				<option id="all" value="[1,2,3,4]" selected>Tất cả trạng thái</option>
				<option id="checking" value="[0]">Bản nháp</option>
				<option id="checking" value="[4]">Chờ duyệt</option>
				<option id="edit" value="[2]">Đã sửa chờ duyệt</option>
				<option id="refuse" value="[3]">Bị từ chối</option>
				<option id="checked" value="[1]">Đã duyệt</option>
			</select>
		</div>
	</div>	
	
	
	<div class="sap_xep_loc">
		<div class="sap_xep_wrap"  style="padding-left: 14px;">
			<input type="text" id="text-search" value="" placeholder="Tìm tên sản phẩm">
			<button id="btn-text-search"> Tìm </button>
		</div>	
	</div>
	
	
	<div style="" id="fillter-wrap">
		<div style="" id="fillter-inner">
			<div class="loc-theo-theo-gia"></div>
			<div class="loc-theo-khuyen mai"></div>
			<div class="loc-theo-ton-kho"></div>
			<div class="loc-theo-danh-muc"></div>
			<div class="loc-theo-trang-thai"></div>
		</div>
	</div>







	<div id="ajax-wrap">
	<% include ../../masterpage/widget-product-speciality-show-tables-v5 %>
	</div>			
	
	
	
	
	
	
	
	
	
	<input type="hidden" id="store_id" value="<%= store_id %>"/>
	<input type="hidden" id="user_id" value="<%= user_id %>"/>
</div>

<!----------------------
end content
----------------------->


<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!----------------------
//end of page wrap 
----------------------->
</div><!-- //layout -->	
</div><!-- //pagewrap -->

<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	
	//@
	//@
	//@ loadding
	add_data_fillter();
	
	
	
	//@
	//@
	//@
	//@ refresh fillter
	$(document).on('click','.f-x',function(e) {	
		//@
		e.preventDefault();	

		var id = $(this).attr('data_id');
		var va = $(this).attr('data_va');	
		
		$('#' + id).val(va).change();		
		$(this).parent('.filletr-btn').remove();
		add_data_fillter();
		
		
		var datas = get_data_ajax();
		ojs_products_speciality.ajax_load_products(datas);

	});			
	//		

	//@
	//@
	//@
	//@ refresh fillter
	$(document).on('click','.reset-btn',function(e) {	
		//@
		e.preventDefault();	
		location.reload();
	});		
	
	
	
	
	
	
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let product_id = $(this).attr("data_product_id");
		let store_id = $('#store_id').val();
		//
		//@
		let x = "xác nhận xoá";		
		let y = "store_delete_product_speciality";//function name in callback 
		let z = ' { "product_id" : "' + product_id + '", "store_id" : "' + store_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);	
	});			
	//		
	//	
	
	
	

	
	//
	//@
	//xem
	$(document).on('click','.btn-xem',function(e) {	
		//@
		e.preventDefault();		
		var product_id = $(this).attr("data_product_id");
		let store_id = $('#store_id').val();
		//alert(product_id);
		//return;
		ojs_products_speciality.show_content_product(product_id,store_id);
		//@
	});		
	//
	//@		
	
	//tim theo ten
	///////////////////////////	
	$(document).on('click','#btn-text-search',function(e) {

		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();		
		var x  = $('#text-search').val();		

		if(x.length < 3 ){
			ojs_message.message_ok_show("Vui lòng nhập từ 3 ký tự trổ lên");
			return;
		}
		
		var datas = {
			"user_id" : user_id,
			"store_id" :store_id,
			"status_data" : JSON.parse("[0,1,2,3,4]"),
			"category_data" :"all",
			"discount_data" :JSON.parse("[0,1,2,3,4]"),
			"sort_data" :'moinhat',	
			"stock_data" :"tat_ca",	
			"data_limit" :200,	
			"data_offset" :0,	
			"loc_type_data" :JSON.parse("[0,1,2,3,4]"),
			"loc_khuyen_mai_data" : "all",
			"text_search_data" : x
		}		
		
		//console.log(datas);
		//return;
		ojs_products_speciality.ajax_load_products(datas);	
	});	
	
	
	$( "#text-search" ).keypress(function( event ) {
	  if ( event.which == 13 ) {
		 event.preventDefault();
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();		
		var x  = $('#text-search').val();		

		if(x.length < 3 ){
			ojs_message.message_ok_show("Vui lòng nhập từ 3 ký tự trổ lên");
			return;
		}
		
		var datas = {
			"user_id" : user_id,
			"store_id" :store_id,
			"status_data" : JSON.parse("[0,1,2,3,4]"),
			"category_data" :"all",
			"discount_data" :JSON.parse("[0,1,2,3,4]"),
			"sort_data" :'moinhat',	
			"stock_data" :"tat_ca",	
			"data_limit" :200,	
			"data_offset" :0,	
			"loc_type_data" :JSON.parse("[0,1,2,3,4]"),
			"loc_khuyen_mai_data" : "all",
			"text_search_data" : x
		}	
		ojs_products_speciality.ajax_load_products(datas);		
	  }
	});	
	
	
	
	
	
	
	
	
	//Loc danh muc
	///////////////////////////	
	$("#loc_danh_muc,#loc_km,#loc_stock,#sap_xep_sp,#loc_trang_thai,#loc_type,#loc_khuyen_mai").change(function() {
		var datas = get_data_ajax();
		add_data_fillter();
		//console.log(datas);
		//return;
		ojs_products_speciality.ajax_load_products(datas);	
	});	
	
	
	
	//
	//@
	//xem
	$(document).on('click','.page-nav-inner a',function(e) {	
		//@
		e.preventDefault();	
		$(".page-nav-inner a").removeClass("active");
		var pav_taget = parseInt($(this).html());
		$('.page-nav-inner a:nth-child(' + pav_taget + ')').addClass("active");
		e.preventDefault();	
		
		var datas = get_data_ajax();
		console.log(datas);
		ojs_products_speciality.ajax_load_products_table(datas);
		
	});		
	//
	//@		
	
	
	function get_data_ajax(){
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_data = $('#loc_trang_thai').val();
		let category_data = $('#loc_danh_muc').val();
		let discount_data = $('#loc_km').val();
		let sort_data = $('#sap_xep_sp').val();
		let stock_data = $('#loc_stock').val();
		var data_limit = $('.page-nav-inner a.active').attr('data-limit') || 20;
		var data_offset = $('.page-nav-inner a.active').attr('data-offset') || 0;
		
		let loc_type_data = $('#loc_type').val();
		let loc_khuyen_mai_data = $('#loc_khuyen_mai').val();
		
		
		var datas = {
			"user_id" : user_id,
			"store_id" :store_id,
			"status_data" : JSON.parse(status_data),
			"category_data" :category_data,
			"discount_data" :JSON.parse(discount_data),
			"sort_data" :sort_data,	
			"stock_data" :stock_data,	
			"data_limit" :data_limit,	
			"data_offset" :data_offset,	
			"loc_type_data" :JSON.parse(loc_type_data),
			"loc_khuyen_mai_data" : loc_khuyen_mai_data,
		}
		return datas;
	}
	
	function add_data_fillter(){
		
		let sort_data = $('#sap_xep_sp').val();
		let sort_data_text = $( "#sap_xep_sp option:selected" ).text();
		
		let loc_type = $('#loc_type').val();
		let loc_type_text = $( "#loc_type option:selected" ).text();		
		
		let loc_khuyen_mai	 = $('#loc_khuyen_mai	').val();
		let loc_khuyen_mai_text = $( "#loc_khuyen_mai option:selected" ).text();				
	
		
		
		let discount_data = $('#loc_km').val();		
		let discount_data_text = $( "#loc_km option:selected" ).text();	
		
		let stock_data = $('#loc_stock').val();		
		let stock_data_text = $( "#loc_stock option:selected" ).text();		
		
		let category_data = $('#loc_danh_muc').val();
		let category_data_text = $( "#loc_danh_muc option:selected" ).text();	
		
		let status_data = $('#loc_trang_thai').val();
		let status_data_text = $( "#loc_trang_thai option:selected" ).text();	
	

		var x = "";
		x = x + '<div class="filletr-btn" data_va="' + 'moinhat' + '" data_id="sap_xep_sp">' + sort_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + 'loc_type' + '"  data_id="loc_type">' + loc_type_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + 'loc_khuyen_mai' + '"  data_id="loc_khuyen_mai">' + loc_khuyen_mai_text + '<span class="f-x"> X </span></div>'; 
		
			
		x = x + '<div class="filletr-btn" data_va="' + discount_data + '"  data_id="loc_km">' + discount_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + stock_data + '"  data_id="loc_stock">' + stock_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + category_data + '"  data_id="loc_danh_muc">' + category_data_text + '<span class="f-x"> X </span></div>'; 
		x = x + '<div class="filletr-btn" data_va="' + status_data + '"  data_id="loc_trang_thai">' + status_data_text + '<span class="f-x"> X </span></div>'; 		
		x = x + '<div  class="filletr-btn reset-btn">reset</div>'; 
		$('#fillter-inner').html(x);
	}	
	

	
	
	

///////////////////////////////////////////////////////
});//end of document
</script>




<% include ../../masterpage/loader-end %>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	







	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	