

<% include ../../masterpage/loader %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/product.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/product-show.css' />




<script src="../../../../../../<%= js_css_version %>/javascripts/ojs-share-date.js"></script>
<script src="../../../../../../<%= js_css_version %>/javascripts/ojs-share-upload.js"></script>
<script src="../../../../../../<%= js_css_version %>/javascripts/class-product-speciality.js"></script>



<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-product %>
<% include ../../masterpage/function-share-all %>
<% include ../../masterpage/function-share-all-manage %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>




<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_list[0].stores_name %></a><i class="fas fa-chevron-right"></i><%= title %></h1>





	<div class="pro_content_edit">
		<div class="pro_col01">
			<div class="pro_box ten_sp_box">
				<h3>Tên sản phẩm</h3>
				<div class="inside">
					<input type="text" value="<%-  ojs_share_all.unCape(datas[0].products_speciality_name) %>" id="products_speciality_name"/>
				</div>
			</div>
			
			<div class="pro_box ten_sp_box">
				<h3>Loại sản phẩm 
				<a class="giai-thich" href="https://hotro.appdala.com/them-san-pham-tren-dala/#loai-san-pham" target="_blank">
				<span>Sản phẩm bình thường, Biến thể(đang phát triển) hoặc sản phẩm làm quà tặng</span>
				</a></h3>
				<div class="inside">
					<select id="products_speciality_type">
						<%- ojs_share_product.show_product_type(datas[0].products_speciality_type) %>
					</select>	
				</div>			
			</div>
			
			
			<div class="pro_box thuoc_tinh_box">
				<h3>Thuộc tính</h3>
				<div class="inside">
					<p><span>Mã sku</span>
						<input type="text" disabled value="<%-  ojs_share_all.unCape( datas[0].products_speciality_sku ) %>" id="products_speciality_sku" /> </p>	

					<p><span>Cân nặng(g)</span>
						<input 
						class="number_change" 
						data_value="<%= datas[0].products_speciality_weight %>" 						
						type="text" 
						value="<%- ojs_share_all.show_price_format(datas[0].products_speciality_weight,0,",",".","") %>" 
						id="products_speciality_weight" 
						/> 
					</p>
					
					<p><span>Giá bán</span>
						<input 
						class="number_change" 
						data_value="<%= datas[0].products_speciality_price %>" 
						type="text" 
						value="<%- ojs_share_all.show_price_format(datas[0].products_speciality_price,0,",",".","") %>" 
						id="products_speciality_price" /> 
					</p>					
					
					<p  style="display:none;" ><span>Chiều dài(cm)</span>
						<input 
						class="number_change" 
						data_value="<%= datas[0].products_speciality_length %>" 							
						type="text" 
						value="<%= datas[0].products_speciality_length %>" 
						id="products_speciality_length" 
						/> 
					</p>
					<p  style="display:none;" ><span>Chiều rộng(cm)</span>
						<input 
						class="number_change" 
						data_value="<%= datas[0].products_speciality_width %>" 							
						type="text" 
						value="<%= datas[0].products_speciality_width %>" 
						id="products_speciality_width" 
						/> 
					</p>
					<p  style="display:none;" ><span>Chiều cao(cm)</span>
						<input 
						class="number_change" 
						data_value="<%= datas[0].products_speciality_height %>" 							
						type="text" 
						value="<%= datas[0].products_speciality_height %>" 
						id="products_speciality_height" 
						/> 
					</p>	

				</div>
			</div>

			<div class="pro_box gia_box"  style="" >
				<h3>Khuyến mãi 
				<a class="giai-thich" href="https://hotro.appdala.com/them-san-pham-tren-dala" 
				target="_blank"><span>Nội dung này chỉ hiển thị khi sản phẩm tham gia CTKM</span>
				</a></h3>
				<div class="inside">
					<p style=""><span>Giá khuyến mãi</span>
						<input 
						class="number_change_empty" 
						data_value="<%= datas[0].products_speciality_sale_of_price %>" 						
						type="text"  
						value=" <%- ojs_share_all.show_price_format(datas[0].products_speciality_sale_of_price,0,",",".","") %>" 
						id="products_speciality_sale_of_price" 
						/> 
					</p>
					<p style="" ><span>Ngày bắt đầu KM</span>
						<input  type="text" value="<%= datas[0].products_speciality_date_start %>" id="products_speciality_date_start" /> 
					</p>	
					<p style="" ><span>Ngày kết thúc KM</span>
						<input  type="text" value="<%= datas[0].products_speciality_date_end %>" id="products_speciality_date_end" /> 
					</p>
					
					
				</div>
			</div>	


			<div class="pro_box ten_sp_box">
				<h3>Tồn kho</h3>
				<div class="inside">
				<p style="display: inline-flex;align-items: center;cursor: pointer;" >
					<%- ojs_share_product.show_stauts_stock(datas[0].products_speciality_stock_status) %>
					<label   style="cursor: pointer;white-space: nowrap; padding-right: 10px;width: 150px;"  
					for="products_speciality_stock_status" >Quản lý tồn kho</label>
					<a class="giai-thich" href="https://hotro.appdala.com/them-san-pham-tren-dala/#ton-kho" 
					target="_blank"><span>Chọn để đặt số lượng tồn kho, không chọn là luôn có hàng.</span></a>
				</p>
				<p id="stock-wrap"  style="align-items: center;cursor: pointer;"  >
					<span style="white-space: nowrap; padding-right: 10px;">Số lượng tồn</span>
					<input 
					class="number_change" 
					data_value="<%= datas[0].products_speciality_stock %>"  
					type="text" 
					value="<%= datas[0].products_speciality_stock %>" 
					id="products_speciality_stock" 
					/> 
				</p>
				</div>
						
			</div>
			
			<div class="pro_box quy_cach_box" style="display:none">
				<h3>Quy cách</h3>
				<div class="inside">
					
					<p><span>Option variation</span><input type="text" 
					value="<%-  ojs_share_all.unCape( datas[0].products_speciality_variation_option ) %>" 
					id="products_speciality_variation_option" /> </p>
				</div>
			</div>

			<!-- ------------------
			//Mô tả ngắn
			------------------- -->
			<div class="pro_box" style="display:none">
				<h3>Mô tả ngắn (excerpt)</h3>
				<div class="inside">
					<textarea class="noi_dung"  id="excerpt"  rows="10" cols="100%"><%-  ojs_share_all.unCape( datas[0].products_speciality_excerpt ) %></textarea>
				</div>
			</div>
			<!-- ------------------
			//Thông tin chi tiết
			------------------- -->
			<div class="pro_box">
				<h3>Mô tả sản phẩm</h3>
				<div class="inside">
					<textarea class="noi_dung"  id="noi_dung"  rows="20" cols="100%"><%= ojs_share_all.unCape( datas[0].products_speciality_contents ) %></textarea>
				</div>
			</div>
			
			<div class="pro_box">
				<h3>Lời nhắn từ admin</h3>	
				<div class="inside">
					<textarea id="products_speciality_qoute"  rows="10" cols="100%" ><%-  ojs_share_all.unCape( datas[0].products_speciality_qoute ) %></textarea>
				</div>	
			</div>
		</div>	




		<div class="pro_col02">
			<!-- ------------------
			//category
			------------------- -->	
			<div class="pro_box">
				<h3>Danh mục sản phẩm</h3>	
				<div class="category_wrap inside">
					<div id="category_inner">
						<% include ../../masterpage/widget-category-product %>
					</div>	
				</div>
			</div>
			<!-- ------------------
			//end of category
			------------------- -->	
			
			
			<!-- ------------------
			//option
			------------------- -->	
			<div class="pro_box">
				<h3>Tùy chọn sản phẩm</h3>	
				<div class="option_wrap inside">
					<div id="option_inner">
						<% include ../../masterpage/widget-option-product %>
					</div>	
				</div>	
			</div>
			<!-- ------------------
			//end of option
			------------------- -->	
			
			<div class="pro_box thuong_hieu_box">
				<h3>Thương hiệu</h3>	
				<div class="inside">
					<select id="products_speciality_brand">
						<% include ../../masterpage/widget-brand-select-box %>
					</select>	
				</div>
			</div>



			<!-- ------------------
			//hình đại diện 
			------------------- -->
			<div class="pro_box">
				<h3>Ảnh đại diện 
				<a class="giai-thich" 
				href="https://hotro.appdala.com/them-san-pham-tren-dala/#anh-dai-dien" 
				target="_blank"><span>Chọn hình có tỉ lệ vuông</span>
				</a></h3>	
				<div class="inside">
					<input type="text" 
						value="" 
						id="featured_image" 
						data_value="<%-  ojs_share_all.unCape( datas[0].products_speciality_featured_image ) %>" 
						style="display:none;" 
					/>
					<input type="button" value="Thêm ảnh" id="btn_featured_image">
					<div id="img_box_dai_dien"></div>
					<input type='file' accept="image/*" id='upload_image' style="display:none;">
				</div>
			</div>
			<!-- ------------------
			//end of hình đại diện 
			------------------- -->
			
			<!-- ------------------
			//hình slider 
			------------------- -->
			<div class="pro_box">
				<h3>Bộ sưu tập 
				<a class="giai-thich" 
				href="https://hotro.appdala.com/them-san-pham-tren-dala/#bo-suu-tap" 
				target="_blank"><span>Chọn thêm hình cho sản phẩm, tối đa 6 hình, tỉ lệ vuông</span>
				</a></h3>	
				<div class="inside">
					
					<input type="text" 
						value="" 
						data_value="<%-  ojs_share_all.unCape( datas[0].products_speciality_image_slider ) %>" 
						id="slider_image"  
						style="display:none;" 
					/> 					
		
					<input type='file' accept="image/*" id='upload_image_arr' style="display:none;" multiple>
					<input type="button" value="Thêm ảnh" id="btn_slider_image">
					<div id="arrImgBox"></div>
				</div>
			</div>


			<!-- ------------------
			//end of hình slider 
			------------------- -->

			<div class="pro_box trang_thai_box">
				<h3><%= datas[0].products_speciality_show_hide %> Ẩn hiện sản phẩm ( bán hoặc ngưng bán ) </h3>	
				<div class="inside">
				
					<span style="display:none;">Ẩn hiện</span><span 
					class="giai-thich"style="display:none;"><span style="display:none;">
					Không bán sản phẩm nữa, hãy ẩn nó đi</span></span>
					<select id="products_speciality_show_hide">
						<%- ojs_share_all.show_status_select_share_show_hide(datas[0].products_speciality_show_hide) %>
					</select>	

				</div>
			</div>


			<div class="pro_box trang_thai_box">
				<h3>Trạng thái</h3>	
				<div class="inside">
					<select id="products_speciality_status_admin" disabled>
						<%- ojs_share_all.show_status(datas[0].products_speciality_status_admin) %>
					</select>
				</div>
			</div>


			
		</div>
	</div>





















	
	
	
<div class="btn_box">
	<a href="/products/speciality/manage/<%= store_id %>/" class="btn_back">Quay về</a>
	
	<%
	if( datas[0].products_speciality_status_admin == "0" ){
	%>	
		<a href="#" class="btn_back" id="btn_draf">Lưu nháp</a>
	<%	
	}
	%>
	<button id="btn_save" class="btn_save">Gữi duyệt</button>
	<a href="/products/speciality/manage/<%= store_id %>/" class="btn_back">Quay về</a>	
	
</div>	
	
	
	
<input type="hidden" id="store_id" value="<%= datas[0].products_speciality_store_id %>"/>
<input type="hidden" id="products_speciality_status_update" value="<%= datas[0].products_speciality_status_update %>"/>

<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="product_id" value="<%= product_id %>"/>




</div>

<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->








<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	

	var user_id = $('#user_id').val();
	let date_s1 = $('#products_speciality_date_start').val();
	let date_s2 = $('#products_speciality_date_end').val();
		
	if(date_s1.length > 0){
		$( "#products_speciality_date_start" ).datepicker({
				dateFormat: "yy-mm-dd",
				timeFormat:  "hh:mm:ss",
				language: 'vi'
			}
		).datepicker ('setDate',  new Date (date_s1));
	}else{
		$( "#products_speciality_date_start" ).datepicker({
				dateFormat: "yy-mm-dd",
				timeFormat:  "hh:mm:ss",
				language: 'vi'
			}
		)		
	}
	
	if(date_s2.length > 0){	
		$( "#products_speciality_date_end" ).datepicker({
				dateFormat: "yy-mm-dd",
				timeFormat:  "hh:mm:ss",
				language: 'vi'
			}
		).datepicker ('setDate',  new Date (date_s2));
	}else{
		$( "#products_speciality_date_end" ).datepicker({
				dateFormat: "yy-mm-dd",
				timeFormat:  "hh:mm:ss",
				language: 'vi'
			}
		)		
	}


	
	//@
	ojs_share_upload.show_anh_dai_dien('featured_image','img_box_dai_dien',"","");
	//@
	ojs_share_upload.show_anh_slider('slider_image','arrImgBox',"","");
	//@
	
	
	
	$(document).on('click','#btn_featured_image',function(e) {		
		e.preventDefault();		
		$('#upload_image').trigger( "click" );
	});
	//@
	$("#upload_image").on("change",function(){
		let input = this;
		ojs_share_upload.upload_anh_dai_dien(input,"featured_image","img_box_dai_dien",user_id)
	});		
	//
	//xua image dai dien
	$(document).on('click','.xoaAnhDaiDien',function(e) {		
		e.preventDefault();		
		
		// xoa image s3
		let products_speciality_featured_image = $('#featured_image').attr("data_value");
		let url = products_speciality_featured_image;
		ojs_share_upload.delete_wp(url);

		//xoa html
		$(this).parent(".img_box").remove();
		ojs_share_upload.set_value_anh_dai_dien('featured_image','img_box_dai_dien');
	});			
	//		
	//	
	//		
	//
	//xoa image slider
	$(document).on('click','.xoaAnhSlider',function(e) {		
		e.preventDefault();		
		
		
		let url = $(this).parent(".img-box").find('.imgShow').attr("data_value");
		//console.log(url);
		//return;
		
		ojs_share_upload.delete_wp(url);		
		
		
		$(this).parent(".img-box").remove();
		ojs_share_upload.set_value_anh_slider('slider_image','arrImgBox');
		//ojs_share_upload.set_value_anh_slider_s3('slider_image_h','arrImgBox');
	});			
	//
	//	
	//
	//btn anh slider click
	$(document).on('click','#btn_slider_image',function(e) {		
		e.preventDefault();		
		$('#upload_image_arr').trigger( "click" );
	});		
	//
	//
	//upload anh slider
	$("#upload_image_arr").on("change",function(){
		let input = this;
		//alert('change');
		ojs_share_upload.upload_anh_slider(input,"slider_image","arrImgBox",user_id);
	});			
	//		
	//	
	
	
	
	
	// ajax luu san pham
	$(document).on('keyup','#products_speciality_date_start',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax

	// ajax luu san pham
	$(document).on('keyup','#products_speciality_sale_of_price',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			$('#products_speciality_date_end').val('');
			$('#products_speciality_date_start').val('');
		}
	});//en


	// ajax luu san pham
	$(document).on('keyup','#products_speciality_date_end',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax
			
	
	
	
	// ajax luu san pham
	$(document).on('change','#products_speciality_date_start',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax


	// ajax luu san pham
	$(document).on('change','#products_speciality_date_end',function(e) {		
		e.preventDefault();
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').val();
		if(products_speciality_sale_of_price.length <=0 ){
			ojs_message.message_ok_show("Vui lòng nhập gía khuyến mãi");
			$(this).val('');
		}
	});//end of save ajax
			
	
		
	/////////////////////////////////////////////////////////////////////////////////
	/////////////////////////////////////////////////////////////////////////////////
	
	$(document).on('click','.level-2 > .cat_check_edit',function(e) {		
		if($(this).prop( "checked" )){
			$(this).parent('li').parent('ul').parent('li').children('.cat_check_edit').prop('checked', true);
			$('#cat_87').prop('checked', false);
		}else{
			
			
			var i_check = 0;
			$( ".cat_check_edit" ).each(function( index ) {
				 if($(this).prop( "checked" )){
					 i_check = i_check + 1;
				 }
			});			
			
			if(i_check <= 1){
				$('#cat_87').prop('checked', true);
			}
			
			//$(this).parent('li').parent('ul').parent('li').children('.cat_check_edit').prop('checked', false);
			$(this).parent('li').find('ul li .cat_check_edit ').prop('checked', false);
			var ox = $(this).parent('li').parent('ul').parent('li').find('.cat_check_edit');
			var i = 0;
			for(let x = 0; x < ox.length; x ++){
				if($(ox[x]).prop( "checked" )){
					i = i + 1 ;
				}
			}
			if(i <= 1){
				$(this).parent('li').parent('ul').parent('li').children('.cat_check_edit').prop('checked', false);
			}
		}		
	});
	
	$(document).on('click','.level-3 > .cat_check_edit',function(e) {		
		if($(this).prop( "checked" )){
			$(this).parent('li').parent('ul').parent('li').children('.cat_check_edit').prop('checked', true);
			$(this).parent('li').parent('ul').parent('li').parent('ul').parent('li').children('.cat_check_edit').prop('checked', true);
			$('#cat_87').prop('checked', false);
		}else{
			var i_check = 0;
			$( ".cat_check_edit" ).each(function( index ) {
				 if($(this).prop( "checked" )){
					 i_check = i_check + 1;
				 }
			});			
			
			if(i_check <= 1){
				$('#cat_87').prop('checked', true);
			}
		}		
	});	
	
	
	
	
	
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();	
		
		//alert('asdasd');
		//return;
	
		var product_id = $('#product_id').val();
		var datas = get_datas();	
		datas.datas.products_speciality_status_store = 1;
		//console.log(datas);	
		//return;
		ojs_products_speciality.ajax_update(datas,product_id);			
	});//end of save ajax






	$(document).on('click','#products_speciality_stock_status',function(e) {		
		if($( this ).prop( "checked" )){
			$("#products_speciality_stock").prop('disabled', false);
		}else{
			$("#products_speciality_stock").prop('disabled', true);
		}
	});//end of save ajax

		
	if($('#products_speciality_stock_status').prop("checked")){
		$("#products_speciality_stock").prop('disabled', false);
	}else{
		$("#products_speciality_stock").prop('disabled', true);
	}







	// ajax update ton kho
	$(document).on('change','#products_speciality_stock_status,#products_speciality_stock',function(e) {		
		e.preventDefault();
		if($( '#products_speciality_stock_status' ).prop( "checked" )){
			var products_speciality_stock_status = 1;	
		}else{
			var products_speciality_stock_status = 0;	
		}
		
		//@@
		//@@
		var product_id = $('#product_id').val();
		var products_speciality_store_id = $('#store_id').val();
		var products_speciality_stock = $('#products_speciality_stock').val();
		var datas = {
			"datas":{
				products_speciality_stock : products_speciality_stock,
				products_speciality_stock_status : products_speciality_stock_status,
				products_speciality_store_id : products_speciality_store_id
			}
		}		
		//console.log([datas,product_id]);
		//return;
		ojs_products_speciality.ajax_update_stock(datas,product_id);
		
	});//end of save ajax











	// ajax update ton kho
	$(document).on('change','#products_speciality_show_hide',function(e) {		
		e.preventDefault();
		//@@
		//@@
		var product_id = $('#product_id').val();
		var products_speciality_show_hide = $('#products_speciality_show_hide').val();
		var products_speciality_store_id = $('#store_id').val();
		var datas = {
			"datas":{
				products_speciality_show_hide : products_speciality_show_hide,
				products_speciality_store_id : products_speciality_store_id
			}
		}		
		//console.log([datas,product_id]);
		//return;
		ojs_products_speciality.ajax_update_show_hide(datas,product_id);
		
	});//end of save ajax



	
	//@
	//@
	//@
	//@
	//@
	//@ function get datas
	function get_datas(){
		
		var cat_arr = [];
		var ojs_cat = $('#category_inner').find('.cat_check_edit');
		
		for(var i = 0; i < ojs_cat.length ; i ++ ){
			if(    $(ojs_cat[i]).prop("checked")    ){
				var x = $(ojs_cat[i]).val();
				cat_arr.push(x);
			}
		}
		//cat_arr = [1,2,"a",4];
		var cat_string = cat_arr;
		//console.log(cat_string);		
		//return;		

		//@
		//@
		//danh sach option
		var option_arr = [];
		var ojs_option = $('#option_inner').find('.option_check');
		
		for(var i = 0; i < ojs_option.length ; i ++ ){
			if(    $(ojs_option[i]).prop("checked")    ){
				var x = $(ojs_option[i]).val();
				option_arr.push(x);
			}
		}
		//@
		var option_string = option_arr;		
		//console.log(option_string);
		//return;


		
		
		
		//@
		var products_speciality_name = $('#products_speciality_name').val();
		var products_speciality_type = $('#products_speciality_type  option:selected').val();
		
		var products_speciality_status_admin = $('#products_speciality_status_admin  option:selected').val();
		var products_speciality_show_hide = $('#products_speciality_show_hide  option:selected').val();
		
		
		var products_speciality_sku = $('#products_speciality_sku').val();
		var products_speciality_store_id = $('#store_id').val();		
		
		var products_speciality_featured_image = $('#featured_image').attr("data_value");
		var products_speciality_image_slider = $('#slider_image').attr("data_value");			
		
		var products_speciality_contents = $('#noi_dung').val();
		var products_speciality_excerpt = $('#excerpt').val();
		
		
		var products_speciality_qoute = $('#products_speciality_qoute').val();
		
		
		
		
		var products_speciality_price = $('#products_speciality_price').attr("data_value")
		var products_speciality_sale_of_price = $('#products_speciality_sale_of_price').attr("data_value")
		
		
		
		var date_01 = $('#products_speciality_date_start').datepicker( "getDate" );
		var products_speciality_date_start = $.datepicker.formatDate("yy-mm-dd", date_01);

		
		var date_02 = $('#products_speciality_date_end').datepicker( "getDate" );
		var products_speciality_date_end = $.datepicker.formatDate("yy-mm-dd", date_02);
		
		if(products_speciality_date_end.length > 0){			
			products_speciality_date_end = products_speciality_date_end + " 23:59:59"
		}
		
		
		
		
		
		var products_speciality_stock = $('#products_speciality_stock').attr("data_value")
		
		var products_speciality_brand = $('#products_speciality_brand  option:selected').val();		
			
		var products_speciality_variation_option = $('#products_speciality_variation_option').val() ;
		
		
		var products_speciality_height = $('#products_speciality_height').attr("data_value")
		var products_speciality_width = $('#products_speciality_width').attr("data_value")
		var products_speciality_length = $('#products_speciality_length').attr("data_value")
		var products_speciality_weight = $('#products_speciality_weight').attr("data_value")
		
		
		
		if($('#products_speciality_stock_status').prop("checked")){
			var products_speciality_stock_status = 1;
		}else{
			var products_speciality_stock_status = 0;
		}		
		
		
		
		
		
		
		var user_id = $('#user_id').val();
				
		if(products_speciality_name == "" ){
			ojs_message.message_ok_show("Chưa nhập tên sản phẩm");
		}			
		
		//@@
		if(products_speciality_stock == ""){products_speciality_stock = null;	};
		if(products_speciality_height == ""){products_speciality_height = null;};
		if(products_speciality_width == ""){products_speciality_width = null;};
		if(products_speciality_length == ""){products_speciality_length = null;};
		if(products_speciality_weight == ""){products_speciality_weight = null;};
		
		if(products_speciality_brand == ""){products_speciality_brand = null;};
		
		
		
		if(products_speciality_sale_of_price == ""){products_speciality_sale_of_price = null;};
		if(products_speciality_date_start == ""){products_speciality_date_start = null;};
		if(products_speciality_date_end == ""){products_speciality_date_end = null;};
		
		
		
	
		
		//@@
		//@@
		var datas = {
			"option_string" : option_string,
			"cat_string" : cat_string,
			"datas":{
				products_speciality_name : products_speciality_name,
				products_speciality_type :  products_speciality_type,
				products_speciality_sku : products_speciality_sku,
				products_speciality_store_id : products_speciality_store_id,
				products_speciality_featured_image : products_speciality_featured_image,
				products_speciality_image_slider : products_speciality_image_slider,
				products_speciality_contents : products_speciality_contents,
				products_speciality_excerpt : products_speciality_excerpt,
				products_speciality_price : products_speciality_price,
				products_speciality_sale_of_price : products_speciality_sale_of_price,
				products_speciality_date_start : products_speciality_date_start,
				products_speciality_date_end : products_speciality_date_end,
				products_speciality_stock : products_speciality_stock,
				products_speciality_stock_status : products_speciality_stock_status,
				products_speciality_brand : products_speciality_brand,
				products_speciality_variation_option : products_speciality_variation_option,
				products_speciality_height : products_speciality_height,
				products_speciality_width : products_speciality_width,
				products_speciality_length : products_speciality_length,
				products_speciality_weight : products_speciality_weight,
				products_speciality_qoute : products_speciality_qoute,
				products_speciality_status_admin : products_speciality_status_admin,
				products_speciality_show_hide :products_speciality_show_hide				
			}
		}
		return datas;
	}
	//@
	//@
	//@
	//@ end of function get datas
	//
	//
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>












<% include ../../masterpage/loader-end %>	
	
	
















