
<%
//@ kiểm tra nếu biến không có thì set empty
//@ tránh trường hợp báo lỗi



//@
//@ title
try {	
	var x = title.length;
} catch (error) {
	title = "";
}


//@
//@ version view
try {	
	var x = js_css_version.length;
} catch (error) {
	js_css_version = "";
}


//@
//@ menu taget
try {	
	var x = menu_taget.length;
} catch (error) {
	menu_taget = "";
}



//@
//@ menu taget child
try {	
	var x = menu_taget_child.length;
} catch (error) {
	menu_taget_child = "";
}

%>


<!DOCTYPE html>
<html>
<head>

	<title><%= title %></title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	
	
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/uploads/files/jquery-ui.css">	
	<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/style.css' />
	<link rel="stylesheet" href="/<%= js_css_version %>/stylesheets/loadding-message.css" />

	
	<script src="/uploads/files/jquery.min.js"></script>	
	<script src="/uploads/files/jquery-ui.js"></script>	
	
	
	<script src="/<%= js_css_version %>/javascripts/loadding-message-callback_speciality.js"></script>
	<script src="/<%= js_css_version %>/javascripts/loadding-message.js"></script>
	<script src="/<%= js_css_version %>/javascripts/loader.js"></script>	
	<script src="/<%= js_css_version %>/javascripts/ojs-share-all.js"></script>	
	
	<% include ./function-share-all %>	

</head>
<body>

