
<%
if (typeof category_link_datas == 'object' && category_link_datas && category_link_datas.length > 0) { } else {category_link_datas = [];}
%>


<% 
if (typeof datas_category_general == 'object' && datas_category_general && datas_category_general.length > 0) { } else {datas_category_general = [];}
%>	





<ul id="ul-category" style="margin: 0; padding: 0;">
<% 
if(datas_category_general.length > 0){
for(var  x in datas_category_general) {
if(datas_category_general[x].category_general_speciality_category_parent_id == 0) {
%>	
	<!-- -------------------- 
	//cấp độ 1
	--------------------- -->
	<li class="level-1">
	<% 
	let cat_check_edit = "";
	for( var i in category_link_datas ){
		if(datas_category_general[x].category_general_speciality_ID == category_link_datas[i].category_general_speciality_link_category_general_id){
			cat_check_edit = "checked";
			break;
		}
	}
	%>
	<input type="checkbox" class="cat_check_edit" disabled <%= cat_check_edit %>
		id="cat_<%= datas_category_general[x].category_general_speciality_ID %>" 
		name="cat_<%= datas_category_general[x].category_general_speciality_ID %>" 
		value="<%= datas_category_general[x].category_general_speciality_ID %>"
	/>
	<label for="cat_<%= datas_category_general[x].category_general_speciality_ID %>">
		<%= datas_category_general[x].category_general_speciality_name %>
	</label>	

	

	<!-- -------------------- 
	//cấp độ 2 
	--------------------- -->	
	<ul class="sub-menu">
	<%
	for(var  y in datas_category_general){
	if(datas_category_general[y].category_general_speciality_category_parent_id 
	== datas_category_general[x].category_general_speciality_ID) { 
	%>
		<% 
		let cat_check = "";
		for( var ii in category_link_datas ){
			if(datas_category_general[y].category_general_speciality_ID == category_link_datas[ii].category_general_speciality_link_category_general_id){
				cat_check = "checked";
				break;
			}
		}
		%>
		<li class="level-2">		
			<input type="checkbox" class="cat_check_edit" <%= cat_check %>
				id="cat_<%= datas_category_general[y].category_general_speciality_ID %>" 
				name="cat_<%= datas_category_general[y].category_general_speciality_ID %>" 
				value="<%= datas_category_general[y].category_general_speciality_ID %>"
			/>
			<label for="cat_<%= datas_category_general[y].category_general_speciality_ID %>">
				<%= datas_category_general[y].category_general_speciality_name %>
			</label>



			<!-- -------------------- 
			//cấp độ 3 
			--------------------- -->	
			<ul class="sub-menu">
			<%
			for(var  z in datas_category_general) {
			if(datas_category_general[z].category_general_speciality_category_parent_id 
			== datas_category_general[y].category_general_speciality_ID) { 
			%>
			
				<% 
				let cat_check = "";
				for( var iii in category_link_datas ){
					if(datas_category_general[z].category_general_speciality_ID == category_link_datas[iii].category_general_speciality_link_category_general_id){
						cat_check = "checked";
						break;
					}
				}
				%>
				
				<li  class="level-3">
				<input type="checkbox" class="cat_check_edit" <%= cat_check %>
					id="cat_<%= datas_category_general[z].category_general_speciality_ID %>" 
					name="cat_<%= datas_category_general[z].category_general_speciality_ID %>" 
					value="<%= datas_category_general[z].category_general_speciality_ID %>"
				/>
				<label for="cat_<%= datas_category_general[z].category_general_speciality_ID %>">
					<%= datas_category_general[z].category_general_speciality_name %>
				</label>
				
				</li>	
			<% 
			} //end of có if
			}// end of for
			%>
			</ul>
			
			<!-- -------------------- 
			//cấp độ 3 
			--------------------- -->








			
		</li>	
	<% 
	} //end of có if
	}// end of for
	%>
	</ul>
	
	
	<!-- -------------------- 
	//cấp độ 2 
	--------------------- -->


				
	





<% 
} //end of có li
}// end of for > 0
%>

	</li>
	<!-- -------------------- 
	//end of cấp độ 1
	--------------------- -->





<%
}// end of if > 0
%>
</ul>







