



<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên thương hiệu</th>
			<th>Trạng thái</th>
		</tr>
	</thead>
	<tbody>

	<% 
	if(brand_list.length > 0){
	for(var  x in brand_list) { %>
	
	   <tr class="">
		<td class="user-name">
		<a href="#">
				<%- ojs_share_all.unCape(brand_list[x].brands_name) %>
			(  	<%= brand_list[x].count_brands_name %>  ) 
			<div class="row-actions">
				<span class="edit"><a href="/brands/show/<%= brand_list[x].brands_ID %>/">Chỉnh sửa</a> | </span>
				<span class="delete"><a href="#" data_brand_id="<%= brand_list[x].brands_ID %>" class="submitdelete">Xóa</a></span>			
			</div>
		</a>

		</td>			
		<td><%- ojs_share_all.show_status_html(brand_list[x].brands_status_admin) %></td>


	</tr>	
	
	
	
	
	
	
	
	
	
	
	<% 
	} 
	} 
	%>
	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên thương hiệu</th>
			<th>Trạng thái</th>		
		</tr>
	</tfoot>
</table>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	