
<%
if (typeof options_link_datas == 'object' && options_link_datas  && options_link_datas.length > 0) { options_link_datas = options_link_datas } else {options_link_datas = [];}
%>


<% 
if (typeof options_list == 'object' && options_list && options_list.length > 0) { options_list = options_list} else {options_list = [];}
%>	



<% 

if(options_list.length > 0){
	
for(var  x in options_list) { %>
	<% if(options_list[x].options_product_speciality_parent_id == 0) { %>
		<div class="option_line_wrap">
		<div class="option_parent_line">
			<% 
			let option_check = "";
			for( var i in options_link_datas ){
				if(options_list[x].options_product_speciality_ID == options_link_datas[i].options_product_speciality_link_option_id){
					option_check = "checked";
					break;
				}
			}
			%>
			<input type="checkbox"  disabled class="option_check" <%= option_check %>
				id="option_<%= options_list[x].options_product_speciality_ID %>" 
				name="option_<%= options_list[x].options_product_speciality_ID %>" 
				value="<%= options_list[x].options_product_speciality_ID %>"
			/>
			<label for="option_<%= options_list[x].options_product_speciality_ID %>">
				<%= options_list[x].options_product_speciality_name %>
			</label>	
		
		
		
		<!-- -------------------- 
		//cấp độ 2 
		--------------------- -->	

		
		<%
		for(var  y in options_list) { %>
			<% if(options_list[y].options_product_speciality_parent_id == options_list[x].options_product_speciality_ID) { %>
				<div class="option_child_line_wrap">
				<div class="option_child_line">
					<% 
					let option_check = "";
					for( var ii in options_link_datas ){
						if(options_list[y].options_product_speciality_ID == options_link_datas[ii].options_product_speciality_link_option_id){
							option_check = "checked";
							break;
						}
					}
					%>
				
					<input type="checkbox" class="option_check" <%= option_check %>
						id="option_<%= options_list[y].options_product_speciality_ID %>" 
						name="option_<%= options_list[y].options_product_speciality_ID %>" 
						value="<%= options_list[y].options_product_speciality_ID %>"
					/>
					<label for="option_<%= options_list[y].options_product_speciality_ID %>">
						<%= options_list[y].options_product_speciality_name %>
					</label>	
				
				
				
				<!-- -------------------- 
				//cấp độ 3 
				--------------------- -->	

				
				<%
				for(var  z in options_list) { %>
					<% if(options_list[z].options_product_speciality_parent_id == options_list[y].options_product_speciality_ID) { %>
						<div class="option_child_line">
						
							<% 
							let option_check = "";
							for( var iii in options_link_datas ){
								if(options_list[z].options_product_speciality_ID == options_link_datas[iii].options_product_speciality_link_option_id){
									option_check = "checked";
									break;
								}
							}
							%>
						
							<input type="checkbox" class="option_check" <%= option_check %>
								id="option_<%= options_list[z].options_product_speciality_ID %>" 
								name="option_<%= options_list[z].options_product_speciality_ID %>" 
								value="<%= options_list[z].options_product_speciality_ID %>"
							/>
							<label for="option_<%= options_list[z].options_product_speciality_ID %>">
								<%= options_list[z].options_product_speciality_name %>
							</label>	
						</div>	
	
				   <% 
				   } //end of if option parrent cấp độ 3
				   %>
				  
				<% 
				} //end of for cap độ 3
				%>	
				
				<!-- -------------------- 
				//cấp độ 3 
				--------------------- -->					
				</div>

			</div>	<!-- //option line wrap cap do 2 -->	
		   <% 
		   } //end of if option parrent cấp độ 2
		   %>
		<% 
		} //end of for cap độ 2
		%>	
		
		<!-- -------------------- 
		//cấp độ 2 
		--------------------- -->		
		</div>	<!-- //option parrent line -->
	</div>	<!-- //option line wrap -->	
   <% 
   } //end of if option parrent
   %>
<% 
} //end of for
%>
<% 
} //end of for
%>