


<!-- --------------------
content
--------------------- -->
<div id="content" class="content" style="width: 100%;max-width: 480px; padding: 30px; background-color: white; border-radius: 10px;">
<div id="content-inner">


	<div class="content-image">
		<img src="<%- datas[0].stores_logo_image -%>" style="max-width:100%;"/>
	</div>
	<br>
	<br>
	<div class="content-title">
		<span> Cửa hàng </span>
		<strong>[ <%- datas[0].stores_name -%> ]</strong>
		<br>
	</div>
	<hr>
	
	<div class="content-date">
		<span> Địa Chỉ </span><br>
		[ 
		<%- datas[0].stores_adress -%> , 
		<%- datas[0].stores_wards -%> , 
		<%- datas[0].stores_district -%> , 
		<%- datas[0].stores_province -%> , 
		
		]
		
	</div>
	<hr>	
	
	<div class="content-date">
		<span> Điện thoại liên hệ </span><br>
		[ <strong>
		<%- datas[0].stores_phone -%>  
		</strong>
		]
		
	</div>
	<hr>		
	
	
	
	<div class="content-date">
		<span> Hạn mức </span><br>
		[ <strong>
		<%- ojs_share_all.show_price_vnd(datas[0].stores_payment_limit,0,",",".","đ") -%>  
		</strong>
		]
		
	</div>
	<hr>		
	
	<div class="content-date">
		<span> Chiếc khấu </span><br>
		[ <strong>
		<%- datas[0].stores_discount_price -%> %  
		</strong>
		]
		
	</div>
	<hr>	
	
	
	
	
	
	<br>
	<div class="content-information">
		<strong><span> Thông tin </span></strong>
		<br>
		<br>
		<%- datas[0].stores_information -%>
	</div>



</div>
</div>

<!-- --------------------
end content
--------------------- -->











