
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../masterpage/loader %>


<script src="../../../../<%= js_css_version %>/javascripts/class-users.js"></script>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content user_edit">

	<h1><%= title %></h1>



<p><span>username</span><input type="text" value="<%= datas[0].users_name %>" id="users_name"/></p>

<p><span>họ </span><input type="text" value="<%= datas[0].users_first_name %>" id="users_first_name" /> </p>

<p><span>tên </span><input type="text" value="<%= datas[0].users_last_name %>" id="users_last_name" /> </p>

<p><span>địa chỉ</span><input type="text" value="<%= datas[0].users_adress %>" id="users_adress" /> </p>

<p><span>email</span><input type="text" value="<%= datas[0].users_email %>" id="users_email" /> </p>

<p><span>Điện thoại</span><input type="text" value="<%= datas[0].users_phone %>" id="users_phone" /> </p>

<% //neu la admin thì hiển thị cái này
if(user_role == "admin"){ %>

	<p><span>router version</span><input type="text" value="<%= datas[0].users_router_version %>" id="users_router_version" /> </p>
	<p><span>api version</span><input type="text" value="<%= datas[0].users_api_version %>" id="users_api_version" /> </p>
	<p><span>view version</span><input type="text" value="<%= datas[0].users_view_version %>" id="users_view_version" /> </p>
	<p><span>js css version</span><input type="text" value="<%= datas[0].users_js_css_version %>" id="users_js_css_version" /> </p>
<%
}
%>





<p><span>PassWord</span><input type="text" value="" id="users_password" /> </p>










<div id="loai_user_wrap">
<span>Loại Users </span>
<select name="users_users_type_id" id="users_users_type_id">
	<% include ../masterpage/widget-users-type %>
</select>
</div>

<div class="btn_box">
	<a href="/users/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>







</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>

$(document).ready(function($){
//////////////////////////////////////////////////////////////	
	//@@
	//@@	
	$(document).on('click','#btn_save',function(e) {
		
		e.preventDefault();
		//alert("sdasdasd");
		//return;
		let users_name = $('#users_name').val();
		let users_first_name = $('#users_first_name').val();
		let users_last_name = $('#users_last_name').val();
		let users_adress = $('#users_adress').val();
		let users_email = $('#users_email').val();
		let users_phone = $('#users_phone').val();
		let users_password = $('#users_password').val();
		let users_users_type_id = $('#users_users_type_id  option:selected').val();


		let users_router_version = $('#users_router_version').val();
		let users_api_version = $('#users_api_version').val();
		let users_view_version = $('#users_view_version').val();
		let users_js_css_version = $('#users_js_css_version').val();		
		


		let user_id = $('#user_id').val();
		
		
		if(users_password.length > 0){
			var datas = {
				"datas":{
					users_name : users_name,
					users_first_name : users_first_name,
					users_last_name : users_last_name,
					users_adress : users_adress,
					users_email : users_email,
					users_phone : users_phone,
					users_password : users_password,
					users_users_type_id  : users_users_type_id,
					users_router_version : users_router_version,
					users_api_version : users_api_version,
					users_view_version : users_view_version,
					users_js_css_version : users_js_css_version						
				}
			}
		}else{
			var datas = {
				"datas":{
					users_name : users_name,
					users_first_name : users_first_name,
					users_last_name : users_last_name,
					users_adress : users_adress,
					users_email : users_email,
					users_phone : users_phone,
					users_users_type_id  : users_users_type_id,
					users_router_version : users_router_version,
					users_api_version : users_api_version,
					users_view_version : users_view_version,
					users_js_css_version : users_js_css_version						
				}
			}
		}
		
		//console.log(datas);
		//return;			
	
		ojs_users.ajax_update(datas,user_id);		
	//#
	//#
	//#
	});
/////////////////////////////////////////////////////////////////////////
});
	
</script>



<% include ../masterpage/loader-end %>