<% include ../masterpage/loader %>
<% include ../masterpage/function-share-all %>
<% include ../masterpage/function-share-orders %>



<script src="../../../../../<%= js_css_version %>/javascripts/class-shipping-speciality.js"></script>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	





<!-- --------------------
content
--------------------- -->
<div id="content" class="content login-wrap">
	<div class="login-box" style="min-width:680px;">
	
		<div class="logo">
		<img src="/images/dala-logo.jpg">
		</div>

		<div class="hello-shipper"><h2> Chào shipper <%- shipper_taget[0].users_full_name -%> </h2>
		<br>
		<hr>
		<h3> Danh sách đơn hàng cần giao của bạn</div>



		<!-- ------------------------------
		// shipper
		---------------------------------->
		
		<div class="shipper-box">
		<div class="shipper-box-inner">
		<%
		for(let x in orders_tracking_list){
		%>
			<div class="tab">
				<div class="shipper-div">
					<h3 class="shipper-title">Mã đơn hàng</h3>
					<div class="shipper-content">[ #<%= orders_tracking_list[x].shipping_tracking_orders_id %> ]</div>
				</div>	
				
				<div class="shipper-div">
					<h3 class="shipper-title">Ngày push</h3>
					<div class="shipper-content">
						<%
						for(let xx in orders_tracking_infor){
						if(
						orders_tracking_infor[xx].shipping_tracking_orders_id == orders_tracking_list[x].shipping_tracking_orders_id  
						&& 
						orders_tracking_infor[xx].shipping_tracking_orders_status == "1"  
						){							
						%>	
							<%= ojs_share_all.format_date(orders_tracking_infor[xx].shipping_tracking_date_created) %>
						<%
						}
						}
						%>						
					</div>
				</div>					
				
				
				<div class="shipper-div">
					<h3 class="shipper-title">Cửa hàng</h3>
					<div class="shipper-content">
						<%
						for(let xxx in orders_list){
						if(
						orders_list[xxx].orders_speciality_ID == orders_tracking_list[x].shipping_tracking_orders_id
						){							
						%>	
							<%- orders_list[xxx].stores_name -%>
						<%
						}
						}
						%>						
					</div>
				</div>

					
					
				<div class="shipper-div">
					<h3 class="shipper-title">trạng thái</h3>
					<div class="shipper-content">
						<%
						for(let xxxx in orders_list){
						if(
						orders_list[xxxx].orders_speciality_ID == orders_tracking_list[x].shipping_tracking_orders_id
						){							
						%>	
							<%- ojs_share_orders.show_order_status_html(orders_list[xxxx].orders_speciality_status_orders) -%>
						<%
						}
						}
						%>						
					</div>
				</div>					
					
					
					
				<div class="shipper-div cap-nhap-order-box">
					<div class="shipper-content">
					<select class="update_status_order">
						<%- ojs_share_orders.show_order_status_select_insert() -%>
					</select>
					<div class="btn-action btn-design" data_order_id="<%= orders_tracking_list[x].shipping_tracking_orders_id %>" >cập nhật</div>
					</div>
				</div>			



				<div class="shipper-div">
					<div class="shipper-content" style="background-color: #b1d2b2;padding: 10px;margin: 5px;">
					<div class="btn-action btn-design" data_order_id="<%= orders_tracking_list[x].shipping_tracking_orders_id %>" >Chi tiết đơn hàng</div>
					</div>
				</div>	


				<div class="shipper-div">
					<div class="shipper-content" style="background-color: #b1d2b2;padding: 10px;margin: 5px;">
					<div class="btn-action btn-design" data_order_id="<%= orders_tracking_list[x].shipping_tracking_orders_id %>" >Lịch sử giao nhận</div>
					</div>
				</div>					
					
					
				<div class="shipper-div order-content-box" style="display:none;">
					<div class="shipper-content">
						<h1>Thông tin đơn hàng</div>
						<div class="div-box">
							<h3>Thông tin lấy hàng</h3>
							<div>adasdasdasdas</div>
						</div>
						
						<div class="div-box">
							<h3>Thông tin giao hàng hàng</h3>
							<div>adasdasdasdas</div>
						</div>						
						
					</div>
				</div>						
					
					
			</div>

		<%
		}
		%>


		</div>
		</div>
		<!-- ------------------------------
		// shipper
		---------------------------------->


	

	</div>
	
	
<input type="hidden" value="<%= shipper_id %>" id="shipper_id"/>	
</div>
<!-- --------------------
end content
--------------------- -->


</div><!-- //content_wrap -->	
</div><!-- //layout -->	
</div><!-- //pagewrap -->	
<% include ../masterpage/loader-end %>

<script>
	$(document).ready(function(){
	
	//
	//
	//@
	//xoa
	$(document).on('click','.btn-action',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("data_order_id");
		let shipper_id = $('#shipper_id').val();
		let status_number = $(this).prev('.update_status_order').val();
		
		var datas = 
		{
			"datas" :   {
				"shipping_tracking_users_id" : shipper_id,
				"shipping_tracking_orders_id" : order_id,
				"shipping_tracking_orders_status" :status_number
			}
		}

		//console.log(datas);
		//return;

		//
		//@
		let x = "xác nhận cập nhật";		
		let y = "shipper_cap_nhat_order";//function name in callback 
		let z = ' { "datas" :' + JSON.stringify(datas) + '}';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
	//	

	});
</script>	










