
<% include ../masterpage/loader %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/brand.css' />






<script src="../../../../<%= js_css_version %>/javascripts/ojs-share-upload.js"></script>		
<script src="../../../../<%= js_css_version %>/javascripts/class-brands-admin.js"></script>	



<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">




<!-- --------------------
page wrap 
--------------------- -->



<% include ../masterpage/header %>
<% include ../masterpage/function-share-brand %>
<% include ../masterpage/function-share-all %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>


<!-- --------------------
content
--------------------- -->
<div id="content" class="content">


	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i>Danh sách Thương hiệu</h1>



	<div class="sap_xep_loc" style="justify-content: flex-end;">

		<div class="loc_wrap" style="display:none;">
			<select id="loc_trang_thai">
				<option id="all" value="[1,2,3,4]">Tất cả trạng thái</option>
				<option id="edit" value="[2]">Đã sửa chờ duyệt</option>
				<option id="refuse" value="[3]">Bị từ chối</option>
				<option id="checked" value="[1]">Đã duyệt</option>
				<option id="checking" value="[4]">Chờ duyệt</option>
			</select>
		</div>
	</div>
	
	<div id="ajax-wrap">
	
	<% include ../masterpage/widget-brand-show-tables-admin %>

	</div>






















<input type="hidden" id="user_id" value="<%= user_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let brand_id = $(this).attr("data_brand_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_brand_admin";//function name in callback 
		let z = ' { "brand_id" : "' + brand_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	//@
	
	
	$("#loc_trang_thai").change(function() {
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: 0,
				store_id	:0,
				status_admin : status_admin
			}
		}	
		//console.log(datas);
		//return;
		ojs_bussiness.ajax_load_brand_admin(datas);	
	});
	

///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../masterpage/loader-end %>




















