

<%- include ("../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-manage.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/brand.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/brand-product.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/product.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/product-show-all.css' />




<script src="../../../../<%= js_css_version %>/javascripts/class-brands.js"></script>
<script src="../../../../<%= js_css_version %>/javascripts/class-product-speciality.js"></script>


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">


<!-- --------------------
page wrap 
--------------------- -->



<%- include ("../masterpage/header") %>
<%- include ("../masterpage/function-share-brand") %>
<%- include ("../masterpage/function-share-all") %>
<%- include ("../masterpage/function-share-all-manage") %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>




<!-- --------------------
content
--------------------- -->
<div id="content" class="content">


	<h1><a href="/stores/manage/<%= store_id %>/"><%= store_list[0].stores_name %></a><i class="fas fa-chevron-right"></i>
	[  <%- title  %>  ]	
	</h1>






	<div id=""  class="">	
	<%- include ("../masterpage/widget-product-speciality-show-tables-v5-brand") %>
	</div>	










	
	
	
	<input type="hidden" id="user_id" value="<%= user_id %>"/>
	<input type="hidden" id="store_id" value="<%= store_id %>"/>



</div>
<!-- --------------------
end content
--------------------- -->





<%- include ("../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let product_id = $(this).attr("data_product_id");
		let store_id = $('#store_id').val();
		//
		//@
		let x = "xác nhận xoá";		
		let y = "store_delete_product_speciality";//function name in callback 
		let z = ' { "product_id" : "' + product_id + '", "store_id" : "' + store_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);	
	});			
	//		
	//	
	
	
	
	//
	//@
	//xem
	$(document).on('click','.btn-xem',function(e) {	
		//@
		e.preventDefault();		
		var product_id = $(this).attr("data_product_id");
		let store_id = $('#store_id').val();
		//alert(product_id);
		//return;
		ojs_products_speciality.show_content_product(product_id,store_id);
		//@
	});		
	
	
	
	
	
	
	
	//
	//@
	//add class active
	$(document).on('click','.btn_add_store',function(e) {	
		e.preventDefault();
		$('.store_row').find('.btn_add_store').removeClass('active');
		$(this).addClass('active');
	});//end of function	
	//@
	//@	
	
	
	
	//
	//@
	//add class active
	$(document).on('click','.tab',function(e) {	
		e.preventDefault();
		
		var id = $(this).attr("data_id");
		
		$('.tab').removeClass('active');
		$(this).addClass('active');
		
		$('.tab-content').removeClass('active');
		$('#' + id).addClass('active');		
		
		
	});//end of function	
	//@
	//@		
	
	
	
	
	
	
	
	
	
	$("#loc_trang_thai").change(function() {
		let user_id = $('#user_id').val();
		let store_id = $('#store_id').val();
		let status_admin = $('#loc_trang_thai').val();
		
		var datas = {
			"datas":{
				user_id 	: user_id,
				store_id	:store_id,
				status_admin : JSON.parse(status_admin)
			}
		}	
		//console.log(datas);
		//return;
		
		if(status_admin == "[0,1,2,3,100]"){
			ojs_bussiness.ajax_load_category_world(datas);	
		}else{
			ojs_bussiness.ajax_load_category_no(datas);	
		}
	});
	
	
	//	
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<%- include ("../masterpage/loader-end") %>


























	