<% include ../../masterpage/loader %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/store-order.css' />


<script src="../../../<%= js_css_version %>/javascripts/ojs-share-date.js"></script>	
<script src="../../../<%= js_css_version %>/javascripts/class-orders-speciality-admin.js"></script>	






<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->



<% include ../../masterpage/header %>
<% include ../../masterpage/function-share-order %>






<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	


<!-- --------------------
content
--------------------- -->

<div id="content" class="content">

	<h1><a href="/admin/">Admin</a><i class="fas fa-chevron-right"></i><%= title %></h1>
	

	<div class="report_wrap">
		<div class="report_bock report_bock_order">
		

			
			<div class="ul-wrap">
				<Select id="select_status" style="margin-bottom:30px;">
					<%- ojs_share_orders.show_order_status_select_fitter();	-%>			
				</Select>	
				<br>				
				<ul class="status_box" style="display:none;">
			
					<li>
						<a href="#"  data_send="[0,1,2,3,4,5,6,7,8,9,10]" class="status_link   status_active"> Tất cả </a>
					</li>	
					
					<li>
						<a href="#"  data_send="[0]" class="status_link ">Chờ xác nhận</a>
					</li>	

					<li>
						<a href="#"  data_send="[2]" class="status_link">Chờ lấy hàng</a>
					</li>	

					<li>
						<a href="#"  data_send="[3]" class="status_link">Đang giao</a>
					</li>	
					<li >
						<a class="one status_link" href="#" data_send="[1]">Đã hoàn thành</a>
					</li>
					<li>
						<a href="#"  data_send="[4]" class="status_link">Đổi trả</a>
					</li>	
					<li >
						<a class="one status_link" href="#" status_num="5" data_send="[5]">Đơn hủy</a>
					</li>
											
				</ul>	
					
			</div>
			<ul class="report_link_box">
			
			
				<li class="one report_link">
					<a href="#"  class="report_active"  data_send="tat_ca">Tất cả</a>
				</li>			
			
				<li class="one report_link">
					<a href="#"  class=""  data_send="thang_nay">Tháng này</a>
				</li>
				
				<li class="one report_link">
					<a href="#" class="" data_send="hom_nay">Hôm nay</a>
				</li>
				<li class="one report_link" >
					<a href="#"  data_send="hom_qua">Hôm qua</a>
				</li>				
				<li class="one report_link">
					<a href="#" data_send="tuan_nay">Tuần này</a>
				</li>
				
			</ul>
			<div class="custom_date">Từ ngày: <input type="text" id="datepicker" > đến ngày <input type="text" id="datepicker2" ><button id="btn_date">Xem</button></div>
			<ul class="reset_box">
					<li>
						<a href="/orders/speciality/"  data_send="" class="">Đặt lại</a>
					</li>				
					
				</ul>
		</div>
		
	</div>

	<div id="ajax-wrap">
	<% include ../../masterpage/widget-orders-show-tables %>
	</div>
	



<input type="hidden" id="user_id" value="<%= user_id %>"/>




</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->





<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	






	$( "#datepicker" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( "#datepicker2" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	

	//
	//@
	//xoa
	$(document).on('click','#btn_date',function(e) {	
	
		var date_01 = $( "#datepicker" ).datepicker( "getDate" );
		var date_02 = $( "#datepicker2" ).datepicker( "getDate" );

		
		if(date_01 == null || date_02 == null){
			ojs_message.message_ok_show("vui lòng chọn ngày");
			return;
		}
	
		//
		//
		$(this).parents('#content').find(".report_wrap").find("a").removeClass("report_active");
		$(this).addClass("report_active");
		//@
		e.preventDefault();		
		var date_01 = $( "#datepicker" ).datepicker( "getDate" );
		var date_01_ok = $.datepicker.formatDate("yy-mm-dd", date_01);
		date_01_ok = date_01_ok + " 00:00:00";
		//@
		//@
		var date_02 = $( "#datepicker2" ).datepicker( "getDate" );
		var date_02_ok = $.datepicker.formatDate("yy-mm-dd", date_02);
		date_02_ok = date_02_ok + " 23:59:59";

		var data_status = $('#select_status').val();
		
		//
		var datas = {
			"datas":{
				date_star : date_01_ok,
				date_end : date_02_ok,
				status_send : data_status
			}
		}	

		
		//console.log(datas);
		//return;
		
		
		ojs_orders.ajax_load_order(datas);	
		
		//
		//@
		//@
	});			
	//		
	//	
	
	
	//
	//@
	//search theo ngày giờ set class
	$(document).on('click','.report_link_box li a',function(e) {	
		//@
		e.preventDefault();	
		$(this).parents('.report_link_box').find("a").removeClass("report_active");
		$(this).addClass("report_active");
		$('#btn_date').removeClass("report_active");
		//
		//lay thòi gian
		var date_send = $(this).attr("data_send");
		var date_star = ojs_loader.get_date_star(date_send);
		var date_end = ojs_loader.get_date_end(date_send);
		
		//
		//lấy atatus
		var data_status = $('#select_status').val();
				
		
		var datas = {
			"datas":{
				date_star 	: date_star,
				date_end 	: date_end,
				status_send : data_status
			}
		}	
		
		
		//console.log(datas);
		//return;
		
		
		
		ojs_orders.ajax_load_order(datas);	
				
		//@
	});			
	//		
	//		
	
	//
	//@
	//search theo ngày giờ set class
	$(document).on('click','.status_box li a',function(e) {	
		//@
		e.preventDefault();	
		
		var check_day = $('.report_link_box').find('.report_active');
		//
		if($("#btn_date").hasClass( "report_active" ) == false && check_day.length == 0){
			var date_star = "2020/01/01 00:00:00";
			var date_end = ojs_loader.get_date_end('hom_nay');	
		}else{
			var date_star="";
			var date_end="";
			//@@
			if($("#btn_date").hasClass( "report_active" )){
				var date_01 = $( "#datepicker" ).datepicker( "getDate" );
				var date_02 = $( "#datepicker2" ).datepicker( "getDate" );

			
				if(date_01 == null || date_02 == null){
					ojs_message.message_ok_show("vui lòng chọn ngày");
					return;
				}
			
				var date_01 = $( "#datepicker" ).datepicker( "getDate" );
				var date_01_ok = $.datepicker.formatDate("yy-mm-dd", date_01);
				date_star = date_01_ok + " 00:00:00";
				//@
				//@
				var date_02 = $( "#datepicker2" ).datepicker( "getDate" );
				var date_02_ok = $.datepicker.formatDate("yy-mm-dd", date_02);
				date_end = date_02_ok  + " 23:59:59";			
			}else{
			//lay thòi gian
				var date_send = $('.report_link_box').find('.report_active').attr("data_send");
				var date_star = ojs_loader.get_date_star(date_send);
				var date_end = ojs_loader.get_date_end(date_send);			
			}
		}
		//
		//
		
		$(this).parents('.status_box').find("a").removeClass("status_active");
		$(this).addClass("status_active");
				
		
		//
		//@
		var data_status = $('#select_status').val();
			
		//@
		var datas = {
			"datas":{
				date_star 	: date_star,
				date_end 	: date_end,
				status_send : data_status
			}
		}	
		
		
		
		//console.log(datas);
		//return;
		
		
		ojs_orders.ajax_load_order(datas);			
		
	});			
	//		
	//		
	
	
	//
	//@
	//search theo ngày giờ set class
	$(document).on('change','#select_status',function(e) {	
		//@
		e.preventDefault();	
		//alert($(this).val());
		
		var check_day = $('.report_link_box').find('.report_active');
		//
		if($("#btn_date").hasClass( "report_active" ) == false && check_day.length == 0){
			var date_star = "2020/01/01 00:00:00";
			var date_end = ojs_loader.get_date_end('hom_nay');	
		}else{
			var date_star="";
			var date_end="";
			//@@
			if($("#btn_date").hasClass( "report_active" )){
				var date_01 = $( "#datepicker" ).datepicker( "getDate" );
				var date_02 = $( "#datepicker2" ).datepicker( "getDate" );

			
				if(date_01 == null || date_02 == null){
					ojs_message.message_ok_show("vui lòng chọn ngày");
					return;
				}
			
				var date_01 = $( "#datepicker" ).datepicker( "getDate" );
				var date_01_ok = $.datepicker.formatDate("yy-mm-dd", date_01);
				date_star = date_01_ok + " 00:00:00";
				//@
				//@
				var date_02 = $( "#datepicker2" ).datepicker( "getDate" );
				var date_02_ok = $.datepicker.formatDate("yy-mm-dd", date_02);
				date_end = date_02_ok  + " 23:59:59";			
			}else{
			//lay thòi gian
				var date_send = $('.report_link_box').find('.report_active').attr("data_send");
				var date_star = ojs_loader.get_date_star(date_send);
				var date_end = ojs_loader.get_date_end(date_send);			
			}
		}
		//
		//
		
		$(this).parents('.status_box').find("a").removeClass("status_active");
		$(this).addClass("status_active");
				
		
		//
		//@
		var data_status = $(this).val();
			
		//@
		var datas = {
			"datas":{
				date_star 	: date_star,
				date_end 	: date_end,
				status_send : data_status
			}
		}	
		
		
		
		//console.log(datas);
		//return;
		
		
		ojs_orders.ajax_load_order(datas);			
		
	});			
	//		
	//		
	
	
	
	//
	//
	//@
	//xoa
	$(document).on('click','.submitdelete',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("data_order_id");
		//
		//@
		let x = "xác nhận xoá";		
		let y = "delete_orders_speciality";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});			
	//		
	//	
	
	$('.status_nomal').each(function(index, value) {
		if($(this).html() == "Cửa hàng đã từ chối đơn hàng"){
			$(this).css('color','red');
		}
	});	
	
	
	//
///////////////////////////////////////////////////////
});//end of document
</script>








<% include ../../masterpage/loader-end %>