<%- include ("../../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/order.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/order-show.css' />



<script src="../../../<%= js_css_version %>/javascripts/ojs-share-date.js"></script>	
<script src="../../../<%= js_css_version %>/javascripts/class-orders-speciality-admin.js"></script>	




<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">



<!-- --------------------
page wrap 
--------------------- -->




<%- include ("../../masterpage/header") %>
<%- include("../../masterpage/function-share-orders") %>
<%- include ("../../masterpage/function-share-all-admin") %>






<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>




	<% 
	if(datas.length > 0){
	%>	
		<div class="order_content">
			<div class="pro_box order_detail">
			
			
			
			
				<h3>Thông tin</h3>	
				<div class="inside">
					<div class="value_row">
						<span>ID đơn hàng</span>
						<input type="text" disabled class= "" value="<%= datas[0].orders_speciality_ID %>" id="orders_speciality_ID"/>
					</div>		

					<div class="value_row">
						<span>Ngày đặt hàng</span>
						<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_date_orders) %>" id="orders_speciality_date_orders"/>
					</div>	


					<div class="value_row">
						<span>Điện thoại</span>
						<input type="text"  class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_phone) %>" id="orders_speciality_phone"/>
					</div>	
						
					<div class="value_row">
						<span>Email</span>
						<input type="text"  class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_email) %>" id="orders_speciality_email"/>
					</div>	
			

					<div class="value_row">
						<span>Địa chỉ giao hàng</span>
						<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_province) %>" id="orders_speciality_province"/>
						<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_district) %>" id="orders_speciality_district"/>
						<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_wards) %>" id="orders_speciality_wards"/>
						<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_adress) %>" id="orders_speciality_adress"/>
					</div>	

					<div class="value_row">
						<span>người nhận hàng</span>
						<input type="text" disabled class= "" value="<%- ojs_share_all.unCape(datas[0].orders_speciality_name) %>" id="orders_speciality_name"/>
					</div>						
					
					<div class="value_row">
						<span>Ghi chú giao hàng</span>
						<textarea rows="4" cols="50" id="orders_speciality_notes"><%- ojs_share_all.unCape(datas[0].orders_speciality_notes) %></textarea>
					</div>	
				</div>
			</div>



			<div class="pro_box trang_thai_box">
				<h3>Trạng thái</h3>	
				<div class="inside">
					<span>Thanh toán:</span>
					<select id="orders_speciality_status_payment">
						<%- ojs_share_orders.show_status_checkout(datas[0].orders_speciality_status_payment) %>
					</select>	
					<span>Trạng thái</span>	
					<select id="orders_speciality_status_orders">
						<%- ojs_share_orders.show_order_status_select_update(datas[0].orders_speciality_status_orders) %>
					</select>
				<br>
					
				</div>

				<%
				if(datas[0].orders_speciality_status_orders != "100"){
				%>
				<div class="inside">
				
					<%
					if(
					datas[0].orders_speciality_status_orders == "101"){
					%>					
						<div id="push_ghtk" class="btn_save" style="margin-bottom: 10px;text-align: center;">Push ghtk</div>
						
						
						
						<div id="push_dala" class="btn_save" style="text-align: center;">Push DALA</div>
						<select id="shipper_select">
							<option value="0">chọn một shipper</option>
							<%
							for(let x in shipper_list ){
							%>
								<option value="<%= shipper_list[x].users_ID  %>">
								<%- ojs_share_all.unCape(shipper_list[x].users_full_name) + "( " + ojs_share_all.unCape(shipper_list[x].users_phone) + " )" -%>
								</option>
							<%
							}
							%>
						</select>
					<%
					}
					%>					
				</div>
				
				<%
				}
				%>
				
				<br>			


				
			</div>	
		</div>
	<% 
	}
	%>	


	<% 
	if(orders_detail.length > 0){
	%>	
	
		<div class="order-box" id="order-box">
			<%- include ("../../masterpage/widget-orders-detail-show-tables-admin") %>
		</div>
	<% 
	}
	%>	










	<div class="order_tracking">
		<h1 class="tracking-title">Theo dõi vận chuyển </div>
		
		<div class="order_tracking_box">
		
			<table class="table-list">
				<thead>
					<tr>
						<th>STT</th>
						<th>Trạng thái</th>
						<th>Thời gian</th>
						<th>shipper</th>
					</tr>
				</thead>
				<tbody>	
		
				<% 
				for(var  x in order_tracking) { 
					var stt = x;
					stt ++;
				%>		
				   <tr>
						<td class="title"><%= stt %></td>			
						<td><%- ojs_share_orders.show_order_status_html(order_tracking[x].shipping_tracking_orders_status) %></td>
						<td><%= ojs_share_all.format_date(order_tracking[x].shipping_tracking_date_created) %></td>	
						<td>
							Tên : <%- ojs_share_all.unCape(order_tracking[x].users_full_name) %><br>
							Điện thoại : <%- ojs_share_all.unCape(order_tracking[x].users_phone) %>
						</td>						
				   </tr>		
				<% 
				} 
				%>		
				</tbody>
				<tfoot>
					<tr>
						<th>STT</th>
						<th>Trạng thái</th>
						<th>Thời gian</th>
						<th>shipper</th>
					</tr>
				</tfoot>
			</table>
					
		</div>
	</div>


	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>




















	
	<div class="btn_box">
		<a href="/orders/speciality/" class="btn_back">Quay về</a>
		<button id="btn_save" class="btn_save">Save</button>
	</div>	
		


	<input type="hidden" id="user_id" value="<%= user_id %>"/>
	<input type="hidden" id="order_id" value="<%= order_id %>"/>





</div>
<!-- --------------------
end content
--------------------- -->





<%- include ("../../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	
	
	
	
	
	
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	// ajax show content add fee
	$(document).on('click','.add_line',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let order_id = $(this).attr("data_order_id");
		//@
		//
		console.log(order_id);
		var datas = '' + 
			'<div class="add_fee_ajax_box">' + 
				'<div class="add_fee_ajax_box_inner">' + 
					'<div class="add_fee_content_box">' + 
						'<span>Dịch vụ</span>' + 
						'<input class="fee_name" type="text" value=""/>' + 
						'<span>tiền </span>' + 
						'<input class="fee_price" type="text" value=""/>' + 
						'<button id="btn_add_fee" data_order_id="' + order_id + '">save</button>' + 
					'</div>' + 
				'</div>' + 
			'</div>'
		ojs_loadding.ajax_show_content(datas)
		//ojs_orders.ajax_add_fee(order_id);	
		
	});//end of save detail 	
		
	
	
	
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	// ajax save add fee
	$(document).on('click','#btn_add_fee',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let order_id = $(this).attr("data_order_id");
		let orders_details_speciality_price = $(this).parents(".add_fee_content_box").find(".fee_price").val();
		let orders_details_medium_text = $(this).parents(".add_fee_content_box").find(".fee_name").val();
				
		
		if(orders_details_medium_text =="" || orders_details_speciality_price == ""){
			ojs_message.message_ok_show("vui lòng nhập dữ liệu");
			return;
		}
			
			
		
		//@
		//
		
		var datas = {
			"datas":{
				"orders_details_speciality_order_id" : order_id,
				"orders_details_speciality_price" : orders_details_speciality_price,
				"orders_details_speciality_line_order":"add_fee",
				"orders_details_medium_text": orders_details_medium_text
			}
		}
		console.log(datas);
		ojs_orders_admin.ajax_add_fee(datas);	
		
	});//end of save detail 	
		
		
	

	
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	// ajax luu detail
	$(document).on('click','.save_order',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let detail_id = $(this).attr("data_save");
		//@
		let orders_details_speciality_price = $(this).parents("tr").find(".price").attr("data_value");
		let orders_details_speciality_qty = $(this).parents("tr").find(".qty").val();
		if(orders_details_speciality_qty  == undefined){
			orders_details_speciality_qty = 0;
		}

		//
		var datas = {
			"datas":{
				orders_details_speciality_price : orders_details_speciality_price,
				orders_details_speciality_qty : orders_details_speciality_qty
			}
		}
		//console.log(datas,detail_id);
		//return;
		ojs_orders_admin.ajax_update_detail_admin(datas,detail_id);	
		
	});//end of save detail 	
	
	
	//@
	//@
	//@@@@@@@
	//@@@@@@@
	//@
	//@
	// delete_order
	$(document).on('click','.delete_order',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		var detail_id = $(this).attr("data_delete");
		
		//console.log(detail_id);
		//return;
		//@
		let x = "xác nhận xoá";		
		let y = "delete_order_speciality_detail_admin";//function name in callback 
		let z = ' { "detail_id" : "' + detail_id + '" }';
		ojs_message.message_yes_no_show(x,y,z);		
		
		//ojs_orders.ajax_delete_detail(detail_id);	
		
	});//end of save detail 	
	
		
	
	//
	//@
	//duyệt
	$(document).on('click','#push_dala',function(e) {	
		//@
		e.preventDefault();	

		let shipper_id = $('#shipper_select  option:selected').val();
		let shipper_name = $('#shipper_select  option:selected').text();
		if(shipper_id == 0){
			ojs_message.message_ok_show("vui lòng chọn 1 shipper");
			return;
		}
		
		var order_id = $('#orders_speciality_ID').val();
		var datas = 
			{
				"datas" :   {
					"shipping_tracking_users_id" : shipper_id,
					"shipping_tracking_orders_id" : order_id,
					"shipping_tracking_orders_status" :1
				}
			}	
		
		//@
		//@
		var x = "Xác nhận giao đơn hàng cho shipper " + shipper_name;
		var y = "push_dala";
		var z = ' { "datas":' + JSON.stringify(datas) + ' }';
		//console.log(z);
		//return;
		ojs_message.message_yes_no_show(x,y,z)
		//@
	});			
	
	
	//
	//@
	//duyệt
	$(document).on('click','#push_ghtk',function(e) {	
		//@
		e.preventDefault();	
		
		var order_id = $('#orders_speciality_ID').val();
		var datas = 
			{
				"datas" :   {
					"shipping_tracking_users_id" : 90,
					"shipping_tracking_orders_id" : order_id,
					"shipping_tracking_orders_status" :1
				}
			}	
		
		//@
		//@
		var x = "Xác nhận giao đơn hàng cho ghtk";
		var y = "push_ghtk";
		var z = ' { "datas":' + JSON.stringify(datas) + ' }';
		//console.log(z);
		//return;
		ojs_message.message_yes_no_show(x,y,z)
		//@
	});			
	
	
	
	
	
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		
		let order_id = $('#orders_speciality_ID').val();	
		//@
		let orders_speciality_phone = $('#orders_speciality_phone').val();
		let orders_speciality_province = $('#orders_speciality_province').val();
		let orders_speciality_district = $('#orders_speciality_district').val();
		let orders_speciality_wards = $('#orders_speciality_wards').val();
		let orders_speciality_adress = $('#orders_speciality_adress').val();
		//@
		let orders_speciality_email = $('#orders_speciality_email').val();
		let orders_speciality_name = $('#orders_speciality_name').val();
		//@
		//@
		let orders_speciality_notes = $('#orders_speciality_notes').val();
		//@
		//@
		let orders_speciality_status_payment = $('#orders_speciality_status_payment  option:selected').val();		
		let orders_speciality_status_orders = $('#orders_speciality_status_orders  option:selected').val();
		
		
		//
		var datas = {
			"datas":{
				orders_speciality_phone : orders_speciality_phone,
				orders_speciality_name : orders_speciality_name,
				orders_speciality_adress : orders_speciality_adress,
				orders_speciality_province : orders_speciality_province,
				orders_speciality_district : orders_speciality_district,
				orders_speciality_wards : orders_speciality_wards,
				orders_speciality_email : orders_speciality_email,
				orders_speciality_notes : orders_speciality_notes,
				orders_speciality_status_payment : orders_speciality_status_payment,
				orders_speciality_status_orders : orders_speciality_status_orders
			}
		}
		
		
		
		//console.log(order_id);		
		//return;
		
		
		
		ojs_orders_admin.ajax_update_admin(datas,order_id);	
		
	});//end of save ajax
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<%- include ("../../masterpage/loader-end") %>		
	











































