

<% if( typeof products_list == 'object' && products_list){ } else{ products_list=[] } %>
<% if( typeof category_link_datas == 'object' && category_link_datas){ } else{ category_link_datas=[] } %>


<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên sản phẩm</th>
			<th>Danh mục</th>
			<th>Giá bán</th>
			<th>Giá khuyến mãi</th>
			<th>Hạn khuyến mãi</th>
			<th>Chiết khấu</th>
			<th>Cửa hàng</th>
			<th>Admin</th>
		</tr>
	</thead>
	<tbody>

	<% 
	for( var  x in products_list ) { 
	if(products_list[x].products_speciality_sale_of_price_time_check=="đãhếthạn"){
		fm = "red";
	}else{
		fm = "blue";
	}
	%>

	   <tr>
			<td class="user-name"><a href="#"><%- products_list[x].products_speciality_name %></a>
				<div class="row-actions">
					<span class="edit"><a href="/products/speciality/show/<%= products_list[x].products_speciality_ID  %>/<%= products_list[x].stores_ID %>">Chỉnh sửa</a> | </span>
					<span class="delete"><a href="#" data_product_id="<%= products_list[x].products_speciality_ID  %>" class="submitdelete">Xóa</a></span>
				</div>
			</td>
			<td><%- ojs_share.show_category_products(products_list[x].products_speciality_ID,category_link_datas ) %></td>
			<td><%= products_list[x].products_speciality_price %></td>		
			<td><%= products_list[x].products_speciality_sale_of_price %></td>
			<td style="color:<%= fm %>;"><%- products_list[x].products_speciality_sale_of_price_time_check %></td>
			<td><%= products_list[x].products_speciality_discount %> <%- ojs_share.show_table_unit_discount(products_list[x].products_speciality_unit_discount) %> </td>	
			<td><%- ojs_share.show_status_table_share_all(products_list[x].products_speciality_status_store) %></td>	
			<td><%- ojs_share.show_status_table_share_all(products_list[x].products_speciality_status_admin) %></td>				
			
	   </tr>


	<% } %>
	
	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tên sản phẩm</th>
			<th>Danh mục</th>
			<th>Giá bán</th>
			<th>Giá khuyến mãi</th>
			<th>Hạn khuyến mãi</th>
			<th>Chiết khấu</th>
			<th>Cửa hàng</th>
			<th>Admin</th>
		</tr>
	</tfoot>
</table>