

<% if( typeof orders_detail == 'object' && orders_detail){  } else{ orders_detail=[] } %>


<%
	var sum_qty = 0;
	var sum_price = 0;
	var sum_line = 0;
	var sum_discount = 0;
	var sum_all = 0;
	//@
	//@
	var shipping = 0;
	var fee = 0;
	var coupon = 0;
	//@
	//@
	var tong_tien_thanh_toan = 0;

%>


<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên sản phẩm</th>
			<th class="user-name">Giá</th>
			<th class="user-name">Số lượng</th>
			<th class="user-name">Tổng tiền</th>
			<th class="user-name">Thao tác</th>
		</tr>
	</thead>
	<tbody>

	<% 
	for(var  x in orders_detail) { 
	%>
		<% 
		if(orders_detail[x].orders_details_speciality_line_order == "product") { 
		%>
		   <tr>
				<td class="line_order" data_product_id="orders_detail[x].orders_details_speciality_product_id %>">
					<%= orders_detail[x].products_speciality_name %>
				</td>	

				<td class="price_box" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
					<input class="price number_change " data_value="<%= orders_detail[x].orders_details_speciality_price %>"  type="text" value="<%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_price,0,",",".","") %>"/>
				</td>
				
				<td class="qty_box" data_qty="<%= orders_detail[x].orders_details_speciality_qty %>">
					<input class="qty" type="text" value="<%= orders_detail[x].orders_details_speciality_qty %>"/>
				</td>
				
				<td class="total_line_box"  data_total_line="">
					<input disabled class="total_line number_change " data_value="<%= orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price %>"   type="text" value="<%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,0,",",".","") %>"/>
				</td>				
				
				<td class="save" >
					<button class="save_order" data_save="<%= orders_detail[x].orders_details_speciality_ID %>">Save</button>
					<button class="delete_order" data_delete="<%= orders_detail[x].orders_details_speciality_ID %>">delete</button>
				</td>					
				
			</tr>
	   
			<% 
			sum_qty = sum_qty + orders_detail[x].orders_details_speciality_qty;
			sum_price =  sum_price + orders_detail[x].orders_details_speciality_price; 
			sum_line = sum_line + orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price;
			sum_discount =  sum_discount + 
					ojs_share.show_order_caution_discount_line(
						orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,
						orders_detail[x].orders_details_speciality_discount,
						orders_detail[x].orders_details_speciality_unit_discount
					); 			
			sum_all = sum_all + orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price
					
			
		}//end of product 
		%>
	<% 
	} 
	%>
	
	</tbody>
	<tfoot>
		<tr>
			<th class="user-name">Tổng cộng</th>
			<th class="user-name"> <%= ojs_share.show_price_format(sum_price,0,",",".","")   %> </th>
			<th class="user-name"> <%=  sum_qty  %> </th>
			<th class="user-name"> <%= ojs_share.show_price_format(sum_line,0,",",".","")  %> </th>
			<th class="user-name"></th>			
		</tr>
	</tfoot>
</table>

<!--  ----------------------------
//@@
//@@
//@@
//shipping
--------------------------------->

<table class="table-list shipping">
	<thead>
		<tr>

		</tr>
	</thead>
	<tbody>

	<% 

	
	for(var  x in orders_detail) { 
	%>
		<% 
		if(orders_detail[x].orders_details_speciality_line_order == "shipping") { 
		%>
		   <tr>
				<td colspan="6" style="text-align: right;" class="line_order" data_product_id="<%= orders_detail[x].orders_details_speciality_product_id %>">
					Phí giao hàng
				</td>	
				<td class="price_box" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
					<input class="price" type="text" value="<%= orders_detail[x].orders_details_speciality_price %>"/>
				</td>	

				<td class="save" >
					<button class="save_order" data_save="<%= orders_detail[x].orders_details_speciality_ID %>">Save</button>
					<button class="delete_order" data_delete="<%= orders_detail[x].orders_details_speciality_ID %>">delete</button>
				</td>			
			</tr>
		<%
		shipping = orders_detail[x].orders_details_speciality_price ;
		}//end of if
		%>
	<% 
	} 
	%>
	
	</tbody>
	<tfoot>
		<tr>
	
		</tr>
	</tfoot>
</table>


<!--  ----------------------------
//@@
//@@
//@@
//end of  shipping
--------------------------------->







<!--  ----------------------------
//@@
//@@
//@@
//add fee
--------------------------------->
<table class="table-list add_fee">
	<thead>
		<tr>

		</tr>
	</thead>
	<tbody>

	<% 

	
	for(var  x in orders_detail) { 
	%>

		<% 
		if(orders_detail[x].orders_details_speciality_line_order == "add_fee") { 
		%>
		   <tr>
				<td colspan="6" style="text-align: right;" class="line_order" data_product_id="<%= orders_detail[x].orders_details_medium_text %>">
					<%- orders_detail[x].orders_details_medium_text %>
				</td>	
				<td class="price_box" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
					<input class="price number_change" 
						data_value="<%= orders_detail[x].orders_details_speciality_price %>" 
						type="text" 
						value="<%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_price,0,",",".","") %>"
					/>
				</td>	

				<td class="save" >
					<button class="save_order" data_save="<%= orders_detail[x].orders_details_speciality_ID %>">Save</button>
					<button class="delete_order" data_delete="<%= orders_detail[x].orders_details_speciality_ID %>">delete</button>
				</td>			
			</tr>
		<%
		fee = fee + orders_detail[x].orders_details_speciality_price;
		}//end of add_fee
		%>
	<% 
	} 
	%>
	
	</tbody>
	<tfoot>
		<tr>
	
		</tr>
	</tfoot>
</table>


<!--  ----------------------------
//@@
//@@
//@@
//end of  add fee
--------------------------------->







<!--  ----------------------------
//@@
//@@
//@@
//coupon
--------------------------------->

<table class="table-list coupon">
	<thead>
		<tr>

		</tr>
	</thead>
	<tbody>

	<% 

	
	for(var  x in orders_detail) { 
	%>

		<% 
		if(orders_detail[x].orders_details_speciality_line_order == "coupon") { 
		%>
		   <tr>
				<td colspan="6" style="text-align: right;" class="line_order" data_product_id="<%= orders_detail[x].orders_details_speciality_product_id %>">
					Phiếu giảm giá 
				</td>	
				<td class="price_box" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
					<input class="price" type="text" value="<%= orders_detail[x].orders_details_speciality_price %>"/>
				</td>	

				<td class="save" >
					<button class="save_order" data_save="<%= orders_detail[x].orders_details_speciality_ID %>">Save</button>
					<button class="delete_order" data_delete="<%= orders_detail[x].orders_details_speciality_ID %>">delete</button>
				</td>				
			</tr>
		<%
		coupon = coupon + orders_detail[x].orders_details_speciality_price ;
		}//end of if
		%>
	<% 
	} 
	%>
	
	</tbody>
	<tfoot>
		<tr>
	
		</tr>
	</tfoot>
</table>


<!--  ----------------------------
//@@
//@@
//@@
//end of  coupon
--------------------------------->


<div class="add_line_box" >
	<button class="add_line" data_order_id="<%= order_id %>">Thêm dòng</button>
</div>



<!--  ----------------------------
//@@
//@@
//@@
//tổng cộng
--------------------------------->

<% 
	tong_tien_thanh_toan = (sum_all + fee + shipping) - coupon;
%>

<table class="table-list">
	<thead>
		<tr>

		</tr>
	</thead>
	<tbody>
	   <tr>
			<td colspan="6" style="text-align: right;" class="line_order" data_product_id="<%= orders_detail[x].orders_details_speciality_product_id %>">
				Tổng tiền thanh toán : 
			</td>	
			<th class="price_box" data_price="">
				<%= ojs_share.show_price_vnd(tong_tien_thanh_toan,0,",",".","đ")  %>
			</td>	

			<td class="save" >
				
			</td>				
		</tr>

	</tbody>
	<tfoot>
		<tr>
	
		</tr>
	</tfoot>
</table>


<!--  ----------------------------
//@@
//@@
//@@
//end of  tỗng cộng
--------------------------------->








