

<% if( typeof orders_detail == 'object' && orders_detail){  } else{ orders_detail=[] } %>


<%
	var sum_qty = 0;
	var sum_price = 0;
	var sum_line = 0;
	var sum_discount = 0;
	var sum_all = 0;
	//@
	//@
	var shipping = 0;
	var fee = 0;
	var coupon = 0;
	//@
	//@
	var tong_tien_thanh_toan = 0;

%>

<script>
	console.log(<%- JSON.stringify(orders_detail) %>);
</script>

<div class="order_detail_top">
	<div class="order_id">Đơn hàng<span>#26158</span></div>
	<div class="order_status demo">Chờ xác nhận</div>
</div>
<div class="ship_number">
	GHTK | Mã vận đơn
	<a href="https://i.ghtk.vn/" target="_blank" style="color: #000"><span>272069727</span></a>
</div>
<div class="order_customer">
	<div class="customer_name">Khách hàng<span>Lê Tuấn Bảo</span></div>
	<div class="customer_address">Địa chỉ nhận hàng<span>11 Đặng Đức Thuật, KP3, P.Tam Hòa, BH, ĐN</span></div>
	<div class="order_date">Đặt hàng lúc<span>11/05/2021</span></div>
</div>
<table class="table-list">
	<thead>
		<tr>
			<th class="user-name">Tên sản phẩm</th>
			<th>Giá</th>
			<th>Số lượng</th>
			<th>Tổng tiền</th>
			<!--<th>Chiết khấu</th>-->
			<th>Chiết khấu</th>
			<th>Còn lại</th>	
		</tr>
	</thead>
	<tbody>

	<% 
	for(var  x in orders_detail) { 
	%>
		<% 
		if(orders_detail[x].orders_details_speciality_line_order == "product") { 
		%>
		   <tr>
				<td class="line_order" data_product_id="orders_detail[x].orders_details_speciality_product_id %>">
					<%= orders_detail[x].products_speciality_name %>
				</td>	
				<td class="" data_price="<%= orders_detail[x].orders_details_speciality_price %>">
					<%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_price,0,",",".","") %>
				</td>
				
				<td class="qty_box" data_qty="<%= orders_detail[x].orders_details_speciality_qty %>">
					<%= orders_detail[x].orders_details_speciality_qty %>
				</td>
				
				<td class="total_line_box"  data_total_line="">
					<%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,0,",",".","") %>
				</td>
				
				<!--<td class="discount" data_discount="">
					<div class="discount_box">
						<span class="order_discount">
							 <%= ojs_share.show_price_format(orders_detail[x].orders_details_speciality_discount,0,",",".","")  %>
						</span>
						<span class="order_unit_discount" data_discount_unit="<%= orders_detail[x].orders_details_speciality_unit_discount  %>">
							<%- ojs_share.show_table_unit_discount(orders_detail[x].orders_details_speciality_unit_discount) %>
						</span>				
					</div>
				</td>	-->	

				<td class="sum_line" data_sum_line="">
					<% 
					var order_caution_discount_line = ojs_share.show_order_caution_discount_line(
						orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,
						orders_detail[x].orders_details_speciality_discount,
						orders_detail[x].orders_details_speciality_unit_discount,
						orders_detail[x].orders_details_speciality_qty
					) 
					%>
					<%= ojs_share.show_price_format(order_caution_discount_line,0,",",".","") %>
				</td>	

				<td class="sum_line" data_sum_line="">
					<% 
					var order_sum_discount_line = ojs_share.show_order_sum_discount_line(
						orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,
						orders_detail[x].orders_details_speciality_discount,
						orders_detail[x].orders_details_speciality_unit_discount,
						orders_detail[x].orders_details_speciality_qty
					) 
					%>
					<%= ojs_share.show_price_format(order_sum_discount_line,0,",",".","") %>
				</td>	
			
				
				
			</tr>
	   
			<% 
			sum_qty = sum_qty + orders_detail[x].orders_details_speciality_qty;
			sum_price =  sum_price + orders_detail[x].orders_details_speciality_price; 
			sum_line = sum_line + orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price;
			sum_discount =  sum_discount + 
					ojs_share.show_order_caution_discount_line(
						orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,
						orders_detail[x].orders_details_speciality_discount,
						orders_detail[x].orders_details_speciality_unit_discount,
						orders_detail[x].orders_details_speciality_qty
					); 			
			sum_all = sum_all + 					
					ojs_share.show_order_sum_discount_line(
						orders_detail[x].orders_details_speciality_qty * orders_detail[x].orders_details_speciality_price,
						orders_detail[x].orders_details_speciality_discount,
						orders_detail[x].orders_details_speciality_unit_discount,
						orders_detail[x].orders_details_speciality_qty
					) 
			
		}//end of product 
		%>
	<% 
	} 
	%>
	
	</tbody>
	<tfoot>
		<tr>
			<th colspan="2">Tổng cộng</th>
			<!--<th> <%= ojs_share.show_price_format(sum_price,0,",",".","")   %> </th>-->
			<th> <%=  sum_qty  %> </th>
			<th> <%= ojs_share.show_price_format(sum_line,0,",",".","")  %> </th>
			<th> <%= ojs_share.show_price_format(sum_discount,0,",",".","")  %> </th>
			<th class="price_box"> <%= ojs_share.show_price_format(sum_all,0,",",".","")  %> </th>
		
		</tr>
	</tfoot>
</table>
<div style="text-align: right"><a href="#" class="btn_green">Xác nhận & chờ lấy hàng</a></div>

