<% 
if( typeof title == 'string' && title && title.length > 0){} else{ title="" } 
if( typeof js_css_version == 'string' && js_css_version  && js_css_version.length > 0){} else{ js_css_version="" } 
%>


<% include ../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-admins.js"></script>	
<script src="../../../../<%= js_css_version %>/javascripts/class-orders-speciality.js"></script>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>
<% include ../masterpage/function-share-orders %>
<% include ../masterpage/function-share-all %>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>






	<!-- --------------------
		// 2. hiển thị cửa hàng
	--------------------- -->
	
	
	<% 
	//@
	//@ sale sum
	var count_product_sale = 0;
	var sum_product_sale = 0;
	for(i in product_sale) { 
		count_product_sale = count_product_sale + product_sale[i].orders_details_speciality_qty;
		sum_product_sale = sum_product_sale + product_sale[i].price_caution;
	}
	
	var sum_product_sale_ok = 0;
	for(i in product_sale) { 
		if(product_sale[i].orders_speciality_status_orders == 100 ){
			sum_product_sale_ok = sum_product_sale_ok + product_sale[i].price_caution;
		}
	}	
	
	
	
	//@
	//@ order_sum	
	var order_count = 0;		
	for(s in order_list) { 
		order_count = order_count + order_list[s].count_orders_speciality_store_id;
	}		
	
	
	//@
	//@ order_sum_ok	
	var order_count_ok = 0;		
	for(a in order_list) { 
		if(order_list[a].orders_speciality_status_orders == 100 ){
			order_count_ok = order_count_ok + order_list[a].count_orders_speciality_store_id;
		}
	}		
	
	%>
	
	
	
	<div class="report">
			<div class="report-box">
				<span> Có <strong> [  <%= order_count %>  ] </strong> Đơn hàng mới vừa bán</span>
			</div>				
		
			<div class="report-box">
				<span> Mới bán <strong> [ <%= count_product_sale %> ] </strong> Sản phẩm</span>
			</div>
			
			<div class="report-box">
				<span> Vừa bán được <strong> [ <%= ojs_share.show_price_format(sum_product_sale,0,",",".","") %> ] </strong> VND</span>
			</div>
		</div>
		<p>-----------------</p>
		<div class="report">
			<div class="report-box">
				<span> Có  <strong> [  <%= order_count_ok %>  ] </strong> Đơn hàng đã giao</span>
			</div>				
		
			<div class="report-box">
				<span> Tổng thu về <strong> [ <%= ojs_share.show_price_format(sum_product_sale_ok,0,",",".","") %> ] </strong> VND</span>
			</div>
		</div>			
	</div>	
		
		
		
		
		
		
		
		
		
		

	<!-- --------------------
		//2. end of hiển thị cửa hàng
	--------------------- -->	






	
	
	
	
</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":1
				}
		}
		//alert(order_id);
		//return;
		//
		//@
		let x = "xác nhận thanh toan tiền cho cửa hàng";		
		let y = "thanh_toan_yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});	





	
	/////////////////////////////////////////////////		
	});
</script>	







<% include ../masterpage/loader-end %>





























