<%-  include ("../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<%- include("../masterpage/header") %>
<% include ("../masterpage/function-share-all-admin") %>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	


<!-- --------------------
//content
--------------------- -->

<div id="content" class="content">
	<h1><%= title %></h1>











	
</div>
<!-- --------------------
end content
--------------------- -->





<% include("../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%-  include("../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":1
				}
		}
		//alert(order_id);
		//return;
		//
		//@
		let x = "xác nhận thanh toan tiền cho cửa hàng";		
		let y = "thanh_toan_yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});	





	
	/////////////////////////////////////////////////		
	});
</script>	







<%- include ("../masterpage/loader-end") %>



















