
<% 
if( typeof title == 'string' && title && title.length > 0){} else{ title="" } 
if( typeof js_css_version == 'string' && js_css_version  && js_css_version.length > 0){} else{ js_css_version="" } 
%>


<% include ../masterpage/loader %>

<script src="../../../../<%= js_css_version %>/javascripts/class-admins.js"></script>	
<script src="../../../../<%= js_css_version %>/javascripts/class-orders-speciality.js"></script>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../masterpage/header %>
<% include ../masterpage/function-share-orders %>
<% include ../masterpage/function-share-all %>



<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	





<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><%= title %></h1>

	

	
		<!-- -----------------------------------
		// thanh toan
		--------------------------------------->

		<%
		for(let i in store_arr){
		%>		
			<div class="store_box_content" style="margin-top:25px;">
				<div class="store_thang_nay">
					<p><strong><%- store_arr[i].stores_name %></strong></p>
					<p>
						<%- store_arr[i].stores_adress %>, 
						<%- store_arr[i].stores_wards %>, 
						<%- store_arr[i].stores_district %>, 
						<%- store_arr[i].stores_province %> 						
					</p>
					<p>
						ĐT : <%- store_arr[i].stores_phone %>						
					</p>					
				</div>
				
				<div class="store_thang_nay" style="width: 66%;background-color: transparent;border: 1px solid #ccc;color: #000;">
					<!-- 
						//show line
					-->
					
					
					
					<%
					//@
					//@
					//@
					//@show order line
					for(let s in orders_arr){
					if(orders_arr[s].orders_speciality_store_id == store_arr[i].orders_speciality_store_id){					
					%>
						<%
						let data_sum = 0;
						let line_product = 0;
						let coupon = 0;
						let coupon_of = 0;
						let add = 0;
						let reduce = 0;
						let shipping = 0;
						let tax = 0;
						let percen = 0;
						let qty = 0;
						let chiec_khau = 0;
						let pull_price = 0;	
						for(let x in orders_details){
						if(orders_details[x].orders_speciality_ID == orders_arr[s].orders_speciality_ID){
							if(orders_details[x].orders_details_speciality_line_order == "product"){
								line_product = line_product + orders_details[x].price_caution;
								qty = qty + orders_details[x].orders_details_speciality_qty;
								
							}else if(orders_details[x].orders_details_speciality_line_order == "coupon" ){
								
								if(orders_details[x].coupon_speciality_type = '0'){
									coupon_of = coupon_of + orders_details[x].orders_details_speciality_price
								}else{
									coupon = coupon + orders_details[x].orders_details_speciality_price	
								}				

							}else if(orders_details[x].orders_details_speciality_line_order == "add"){
								add = add + orders_details[x].orders_details_speciality_price

							}else if(orders_details[x].orders_details_speciality_line_order == "tax"){
								tax = tax + orders_details[x].orders_details_speciality_price
								
							}else if(orders_details[x].orders_details_speciality_line_order == "reduce"){
								reduce = reduce + orders_details[x].orders_details_speciality_price
								
							}else if(orders_details[x].orders_details_speciality_line_order == "shipping"){
								shipping = shipping + orders_details[x].orders_details_speciality_price		
							}			
						}//end of for 
						}
						
						chiec_khau = line_product *  store_arr[i].stores_discount_price / 100;
						pull_price = line_product - chiec_khau - coupon_of;						
						%>	
						
						<div class="line-box" style="display: flex;justify-content: space-between;">
							<div class="inner">
								<p><strong>Mã đơn hàng</strong></p>
								<p>[ #<%= orders_arr[s].orders_speciality_ID %> ]</p>
							</div>
						
							<div class="inner">
								<p><strong>Tổng tiền yêu cầu rút về</strong></p>
								<p><%- ojs_share_all.show_price_vnd( pull_price ,0,",",".","đ")  -%></p>
							</div>								
							
							<div class="inner"  style="display: flex; justify-content: center; align-items: center;">
								<div class="btn-pull btn-design no-pull" style="padding:5px;" dala_order_id="<%= orders_arr[s].orders_speciality_ID %>" >Đồng ý thanh toán</div>
							</div>							
							
							
						</div>
						
						
						
						
						
						
						
						
					
					<%
					}//end of for line
					}
					%>	


					
					<!-- 
						//show line
					-->					
				</div>	
			</div>	
		<%
		}//enf od for store_arr
		%>		
			


		
		<!-- -----------------------------------
		// end of thanh toan
		--------------------------------------->			
	
	
	
	
</div>
<!-- --------------------
end content
--------------------- -->





<% include ../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":1
				}
		}
		//alert(order_id);
		//return;
		//
		//@
		let x = "xác nhận thanh toan tiền cho cửa hàng";		
		let y = "thanh_toan_yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});	





	
	/////////////////////////////////////////////////		
	});
</script>	







<% include ../masterpage/loader-end %>