<%- include ("../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/user-show.css' />




<script src="../../../../<%= js_css_version %>/javascripts/class-users.js"></script>

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->

<%- include("../masterpage/header") %>
<%- include ("../masterpage/function-share-all-admin") %>

<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	



<!-- --------------------
content
--------------------- -->
<div id="content" class="content user_edit">

	<h1><a href="/bussiness/<%= user_id %>">Quản lý doanh nghiệp</a><i class="fas fa-chevron-right"></i><%= title %></h1>

	<div class="white_box">
		<p><span>Tên tài khoản</span><input type="text" value="<%= datas[0].users_full_name %>" id="users_full_name"/></p>
		<p><span>Địa chỉ</span><input type="text" value="<%= datas[0].users_adress %>" id="users_adress" /> </p>
		<p><span>email</span><input type="text" value="<%= datas[0].users_email %>" id="users_email" /> </p>
		<p><span>Điện thoại</span><input type="text" value="<%= datas[0].users_phone %>" id="users_phone" /> </p>


		<p><span>Mật khẩu mới</span><input type="text" value="" id="users_password" /> </p>
		<p><span>Nhập lại mật khẩu</span><input type="text" value="" id="config_users_password" /> </p>

		<div id="loai_user_wrap">
		<span>Loại Users </span>
		<select name="users_users_type_id" id="users_users_type_id">
			<%
			if(datas[0].users_type_ID == 13){
			%>	
				<option value="13" selected >admin</option>
				<option value="14">Doanh nghiệp</option>
				<option value="15">Khách hàng</option>
				<option value="18">Shipping</option>
				<option value="19">Bộ công thương</option>
			<%				
			}else if (datas[0].users_type_ID == 14) {
			%>		
				<option value="13">admin</option>
				<option value="14" selected >Doanh nghiệp</option>
				<option value="15">Khách hàng</option>
				<option value="18">Shipping</option>
				<option value="19">Bộ công thương</option>
			<%					
			}else if (datas[0].users_type_ID == 15) {
			%>				
				<option value="13">admin</option>
				<option value="14">Doanh nghiệp</option>
				<option value="15" selected >Khách hàng</option>
				<option value="18">Shipping</option>
				<option value="19">Bộ công thương</option>
			<%					
			}else if (datas[0].users_type_ID == 18) {
			%>				
				<option value="13">admin</option>
				<option value="14">Doanh nghiệp</option>
				<option value="15">Khách hàng</option>
				<option value="18" selected >Shipping</option>
				<option value="19">Bộ công thương</option>	
			<%					
			}else if (datas[0].users_type_ID == 19) {
			%>				
				<option value="13">admin</option>
				<option value="14">Doanh nghiệp</option>
				<option value="15">Khách hàng</option>
				<option value="18">Shipping</option>
				<option value="19" selected >Bộ công thương</option>					
			<%					
			}else{
			%>
				<option value="13">error</option>
			<%	
			}				
			%>
		
			
		</select>
		</div>

		<div class="btn_box">
			<a href="/users/" class="btn_back">Quay về</a>
			<button id="btn_save" class="btn_save">Save</button>
		</div>	

		<input type="hidden" id="user_id" value="<%= datas[0].users_ID %>"/>
	</div>













</div>
<!-- --------------------
end content
--------------------- -->





<%- include("../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%- include ("../masterpage/sidebar") %>


<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>

$(document).ready(function($){
//////////////////////////////////////////////////////////////	
	//@@
	//@@	
	$(document).on('click','#btn_save',function(e) {
		
		e.preventDefault();
		//alert("sdasdasd");
		//return;
		
		
		
		let users_full_name = $('#users_full_name').val();
		let users_adress = $('#users_adress').val();
		let users_email = $('#users_email').val();
		let users_phone = $('#users_phone').val();
		let users_password = $('#users_password').val();
		let config_users_password = $('#config_users_password').val();
		let users_users_type_id = $('#users_users_type_id  option:selected').val();


		let user_id = $('#user_id').val();
		
		
		if(users_password.length > 0){
			if(config_users_password.length <= 0 ){
				ojs_message.message_ok_show("nhập config pass word");
				return;
			}else{
				if(config_users_password != users_password){
					ojs_message.message_ok_show("mã xác nhận passsword không đúng");
					return;					
				}
			}
		}
		
		
		
		if(users_password.length > 0){
			var datas = {
				"datas":{
					users_full_name : users_full_name,
					users_adress : users_adress,
					users_email : users_email,
					users_phone : users_phone,
					users_password : users_password,
					users_password_lost : "",
					users_users_type_id  : users_users_type_id					
				}
			}
		}else{
			var datas = {
				"datas":{
					users_full_name : users_full_name,
					users_adress : users_adress,
					users_email : users_email,
					users_phone : users_phone,
					users_users_type_id  : users_users_type_id					
				}
			}
		}
		
		//console.log([datas,user_id]);
		//return;			
	
		ojs_users.ajax_update(datas,user_id);		
	//#
	//#
	//#
	});
/////////////////////////////////////////////////////////////////////////
});
	
</script>



<%- include ("../masterpage/loader-end") %>