<%-  include ("../masterpage/loader") %>
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/share-menu-admin.css' />
<link rel='stylesheet' href='/<%= js_css_version %>/stylesheets/mains.css' />

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<%- include("../masterpage/header") %>
<% include ("../masterpage/function-share-all-admin") %>


<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	


<!-- --------------------
//content
--------------------- -->

<div id="content" class="content">
	<h1><%= title %></h1>



	<!-- --------------------
	//thông kê 1
	--------------------- -->
	<div class="thong-ke">	
		<!-- --------------------
		//lượt truy cập
		--------------------- -->
		
		<div class="traffic-box mains-inner-box ">
			<h1 class="thong-ke-title">Thống kê truy cập </h1>
			<p>
				<span> Tổng lượt truy cập <strong>[ 
					<%= ojs_share_all.show_price_format((traffic[0].traffic_app + 
					traffic[0].traffic_web + 
					traffic[0].traffic_webapp),0,",",".","  Lượt") %>]</strong>
				</span>
			</p>
			<p>
				<span> Tổng lượt truy cập trên app <strong>[ 
					<%= ojs_share_all.show_price_format((traffic[0].traffic_app),0,",",".","  Lượt") %>]</strong>
				</span>
			</p>	
			<p>
				<span> Tổng lượt truy cập trên web <strong>[ 
					<%= ojs_share_all.show_price_format((traffic[0].traffic_web),0,",",".","  Lượt") %>]</strong>
				</span>
			</p>	

			<p>
				<span> Tổng lượt truy cập trên webapp <strong>[ 
					<%= ojs_share_all.show_price_format((traffic[0].traffic_webapp),0,",",".","  Lượt") %>]</strong>
				</span>
			</p>
			
		</div><!-- traffic -->
				
		
		<!-- --------------------
		//lượt truy cập
		--------------------- -->	
	
	
	
	
		<!-- --------------------
		//đơn hàng
		--------------------- -->
		
		<div class="traffic-box mains-inner-box ">
			<h1 class="thong-ke-title">Thống kê đơn hàng </h1>
			<p>
				<span> Tổng đơn hàng <strong>[ 
					<%= ojs_share_all.show_price_format((order_all[0].count_orders_speciality_ID
),0,",",".","  đơn") %>]</strong>
				</span>
			</p>
			<p>
				<span> Tổng đơn hàng đã giao <strong>[ 
					<%= ojs_share_all.show_price_format((order_ok[0].count_orders_speciality_ID
),0,",",".","  đơn") %>]</strong>
				</span>
			</p>				
			<p>
				<span> Tổng đơn hàng chưa hoàn thành <strong>[ 
					<%= ojs_share_all.show_price_format((order_no_ok[0].count_orders_speciality_ID
),0,",",".","  đơn") %>]</strong>
				</span>
			</p>				
			<p>
				<span> Tổng doanh thu <strong>[ 
					<%= ojs_share_all.show_price_format((order_total[0].sum_price_caution),0,",",".","  đ") %>]</strong>
				</span>
			</p>				
			
		</div><!-- traffic -->
				
		
		<!-- --------------------
		////đơn hàng end
		--------------------- -->		
	
	
	
	
		<!-- --------------------
		//ĐƠN HÀNG THEO THang
		--------------------- -->
		
		<div class="traffic-box mains-inner-box ">
			<h1 class="thong-ke-title">Thống kê đơn hàng theo dịch vụ </h1>
			<p>
				<span> Tổng đơn hàng trên app <strong>[ 
					<%= ojs_share_all.show_price_format((order_app[0].count_orders_speciality_ID),0,",",".","   đơn") %>]</strong>
				</span>
			</p>	
			<p>
				<span> Tổng đơn hàng trên app trong tháng này <strong>[ 
					<%= ojs_share_all.show_price_format((order_app_mon[0].count_orders_speciality_ID),0,",",".","  đơn") %>]</strong>
				</span>
			</p>	

			<p>
				<span> Tổng đơn hàng trên web <strong>[ 
					<%= ojs_share_all.show_price_format((order_web[0].count_orders_speciality_ID),0,",",".","  đơn") %>]</strong>
				</span>
			</p>	
			<p>
				<span> Tổng đơn hàng tren web trong tháng này <strong>[ 
					<%= ojs_share_all.show_price_format((order_web_mon[0].count_orders_speciality_ID),0,",",".","  đơn") %>]</strong>
				</span>
			</p>
			
			<p>
				<span> Tổng đơn hàng trên webapp <strong>[ 
					<%= ojs_share_all.show_price_format((order_webapp[0].count_orders_speciality_ID),0,",",".","   đơn") %>]</strong>
				</span>
			</p>	
			<p>
				<span> Tổng đơn hàng tren webapp trong tháng này <strong>[ 
					<%= ojs_share_all.show_price_format((order_webapp_mon[0].count_orders_speciality_ID),0,",",".","  đơn") %>]</strong>
				</span>
			</p>				
			
		</div><!-- traffic -->
				
		
		<!-- --------------------
		//thong ke don hang service
		--------------------- -->		
	
	
	
	
	</div><!-- end of thống kê 1 -->






	<!-- --------------------
	//thông kê 2
	--------------------- -->
	<div class="thong-ke">	
		<!-- --------------------
		//thong ke user
		--------------------- -->
		
		<div class="traffic-box mains-inner-box ">
			<h1 class="thong-ke-title">Thống kê user </h1>
			
			<p>
				<span> Tổng số user <strong>[ 
					<%= ojs_share_all.show_price_format((user_all[0].count_users_ID),0,",",".","  user") %>]</strong>
				</span>
			</p>			
			
			<p>
				<span> số User đăng ký trên app <strong>[ 
					<%= ojs_share_all.show_price_format((user_app[0].count_users_ID),0,",",".","  user") %>]</strong>
				</span>
			</p>
			
			<p>
				<span> số User đăng ký trên web<strong>[ 
					<%= ojs_share_all.show_price_format((user_web[0].count_users_ID),0,",",".","  user") %>]</strong>
				</span>
			</p>
			
			
			<p>
				<span> số User đăng ký trên webapp<strong>[ 
					<%= ojs_share_all.show_price_format((user_webapp[0].count_users_ID),0,",",".","  user") %>]</strong>
				</span>
			</p>			
			
		</div><!-- traffic -->
				
		
		<!-- --------------------
		//user 
		--------------------- -->	
	
	
	
	
		<!-- --------------------
		//Cửa hàng
		--------------------- -->
		
		<div class="traffic-box mains-inner-box ">
			<h1 class="thong-ke-title">Thống kê cửa hàng </h1>

			<p>
				<span> Tổng số cửa hàng <strong>[ 
					<%= ojs_share_all.show_price_format((store_all[0].count_stores_ID),0,",",".","  Cửa hàng") %>]</strong>
				</span>
			</p>				
			<p>
				<span> Tổng số cửa hàng mới trong tháng này<strong>[ 
					<%= ojs_share_all.show_price_format((store_new[0].count_stores_ID),0,",",".","  Cửa hàng") %>]</strong>
				</span>
			</p>				
			
		</div><!-- traffic -->
				
		
		<!-- --------------------
		////Cửa hàng
		--------------------- -->		
	
	
	
	
		<!-- --------------------
		//sản phẩm
		--------------------- -->
		
		<div class="traffic-box mains-inner-box ">
			<h1 class="thong-ke-title">Thống kê sản phẩm </h1>
			<p>
				<span> Tổng số sản phẩm <strong>[ 
					<%= ojs_share_all.show_price_format((product_all[0].count_products_speciality_ID),0,",","."," Sản phẩm") %>]</strong>
				</span>
			</p>	
			
			<p>
				<span> Tổng số sản phẩm mới trong tháng này <strong>[ 
					<%= ojs_share_all.show_price_format((product_new[0].count_products_speciality_ID),0,",","."," Sản phẩm") %>]</strong>
				</span>
			</p>				
			
			

			
			
		</div><!-- traffic -->
				
		
		<!-- --------------------
		//thong ke san pham
		--------------------- -->		
	
	
	
	
	</div><!-- end of thống kê 2 -->



	
</div>
<!-- --------------------
end content
--------------------- -->





<% include("../masterpage/footer") %>

</div><!-- //content_wrap -->	


<%-  include("../masterpage/sidebar") %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->






<script>
	$(document).ready(function(){
	//////////////////////////////////////////////
		
	//@
	//@
	//@
	$(document).on('click','.btn-pull',function(e) {	
		//@
		e.preventDefault();		
		let order_id = $(this).attr("dala_order_id");
		var datas={
			"datas":
				{
					"orders_speciality_status_pull_money":1
				}
		}
		//alert(order_id);
		//return;
		//
		//@
		let x = "xác nhận thanh toan tiền cho cửa hàng";		
		let y = "thanh_toan_yeu_cau_rut_tien";//function name in callback 
		let z = ' { "order_id" : "' + order_id + '", "datas":' + JSON.stringify(datas) + ' }';
		ojs_message.message_yes_no_show(x,y,z);		
		//@
	});	





	
	/////////////////////////////////////////////////		
	});
</script>	







<%- include ("../masterpage/loader-end") %>



















