<%-  include ("../masterpage/loader") %>


<!-- --------------------
content
--------------------- -->
<div id="content" class="content bo-cong-thuong-wrap">
	<div class="bo-cong-thuong-box">
	
		<div class="bo-cong-thuong-logo">
			<img src="/images/dala-logo.jpg">
		</div>
		
		<h1 style="text-align:center;">Báo cáo bộ công thương</h1>
		
		<div class="bao-cao-bo-cong-thuong">
		<table class="table-list">
			<thead>
				<tr>
					<th class="user-name">Tổng số cửa hàng hệ thống</th>
					<th>Số lượng cửa hàng mới</th>
					<th>Tổng số sản phẩm</th>		
					<th class="user-name">Số sản phẩm đăng bán mới</th>
					<th>Tổng số đơn hàng</th>
					<th>Tổng số đơn hàng thành công </th>						
				</tr>
			</thead>
			<tbody>
			
				<tr>
					<td class="user-name" style="text-align:center;"><%= store_all[0].count_stores_ID %></td>
					<td class="user-name" style="text-align:center;"><%= store_new[0].count_stores_ID %></td>
					<td class="user-name" style="text-align:center;"><%= product_all[0].count_products_speciality_ID %></td>
					<td class="user-name" style="text-align:center;"><%= product_new[0].count_products_speciality_ID %></td>
					<td class="user-name" style="text-align:center;"><%= order_all[0].count_orders_speciality_ID %></td>
					<td class="user-name" style="text-align:center;"><%= order_ok[0].count_orders_speciality_ID %></td>
				</tr>
			
			
			
			</tbody>
			<tfoot>
				<tr>
					<th class="user-name">Tổng số trên hệ thống</th>
					<th>Số lượng người bán mới</th>
					<th>Tổng số sản phẩm</th>		
					<th class="user-name">Số sản phẩm đăng bán mới</th>
					<th>Tổng số đơn hàng</th>
					<th>Tổng số đơn hàng thành công </th>				
				</tr>
			</tfoot>
		</table>			
			
			
			
			
		</div>		
		
	</div>	
</div>
<!-- --------------------
end content
--------------------- -->



</div><!-- //content_wrap -->	
</div><!-- //layout -->	
</div><!-- //pagewrap -->	
<%- include ("../masterpage/loader-end") %>




<style>

.bo-cong-thuong-logo {
    display: flex;
    align-items: center;
    justify-content: center;
	padding: 30px;
}

.bo-cong-thuong-logo img {
    max-width: 300px;
}

#content .bo-cong-thuong-box h1 {
    font-size: 26px;
    font-weight: bold;
    color: #096e35;
    text-align: center;
    width: 100%;
}

.bao-cao-bo-cong-thuong {
    padding: 0px 3%;
}





</style>














<script>
	$(document).ready(function(){
	

		
		
	});
</script>	










