
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>


<% include ../../masterpage/loader %>

<script src="../../../../../../<%= js_css_version %>/javascripts/class-discount-program-speciality.js"></script>	


<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>




<script>
	console.log(<%- JSON.stringify({"datas_info" : datas_info}) %>);
</script>	







<% //neu admin thi hien muc nay
var	enable_text = " disabled " ;
var	enable_text2 = " " ;
var	enable_text3 = " disabled " ;
var admin_view = " admin_hide ";



if(user_role =="admin"){ 
	enable_text3 = "" ;
	enable_text2 = " disabled "
	admin_view = " admin_show "
}

%>






<!-- --------------------
content
--------------------- -->
<div id="content" class="content">

	<h1><a href="/stores/manage/<%= store_id %>/<%= user_id %>"><%= store_name %></a><i class="fas fa-chevron-right"></i>
	<a href="/discount-program/speciality/<%= store_id %>">Chương trình khuyến mãi</a><i class="fas fa-chevron-right"></i>Cửa hàng tham gia chương trình khuyến mãi</h1>
	
	<div class="ctkm_detail" style="display:none;">
		<div class="white_box">
			<h2>Thông tin chương trình khuyến mãi</h2>
			<div class="km_img">
				<img src="https://appdala.net/wp-content/uploads/muc-day-giam-gia_03.jpg">
			</div>
			<h3 class="green"><%- ojs_share.unCape(discount_program_tager[0].discount_program_name) -%></h3>
			<div class="mb10"><b>Loại KM:</b> <span class="orange">Giảm 40%</span></div>
			<div class="mb10"><b>Chiết khấu: </b> <span class="orange">3%</span>
				<span class="giai-thich">
					<span>
						Chiết khấu thêm % trên mỗi sản phẩm tham gia cho Dala, % chiết khấu sẽ được tính trên giá đã giảm của SP và chỉ khi bán được SP mới bị tính phí.
					</span>
					</span>	
			</div>
			<div class="mb10"><b>Thời gian diễn ra CTKM:</b> Từ <span class="orange"><%- ojs_share.show_date_null(discount_program_tager[0].discount_program_date_star) -%></span>
			Đến <span class="orange"><%- ojs_share.show_date_null(discount_program_tager[0].discount_program_date_end) -%></span></div>
			<div><b>Mô tả:</b> Đây là chương trình khuyến mãi dâu tây, giảm 40% trên các sản phẩm tham gia chương trình. Banner được đặt
			ở phần slider trên trang chủ app Dala. Các cửa hàng tham gia sẽ đăng ký sản phẩm và chấp nhận mức chiết khấu 3% trên mỗi SP</div>
		</div>
		<div class="white_box">
			<h2>Tham gia CTKM</h2>
			<div class="dong_y_box">
				<input type="checkbox" id="giamgia" name="giamgia" value="giamgia">
				<label for="giamgia">Tôi đồng ý giảm 40% cho các sản phẩm tham gia CTKM</label><br>
				<input type="checkbox" id="chietkhau" name="chietkhau" value="chietkhau">
				<label for="chietkhau">Tôi đồng ý chiết khấu 3% cho Dala trên mỗi sản phẩm tham gia CTKM</label>
			</div>
			<div class="time_tham_gia">
				<p>Bạn muốn tham gia chương trình: </p>
				<p>Từ <input type="text" value="" id="discount_program_date_star" /> đến <input type="text" value="" id="discount_program_date_end" /> </p>
			</div>
			<div class="qlsp_tham_gia">
				<div class="qlsp_box">
					<h3>Sản phẩm của bạn</h3>
					<ul>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<h4>Vỏ bưởi mật ong sấy dẻo-100gram</h4>
							<p>65.000đ</p>
							<a href="#" title"Thêm"><i class="fas fa-plus"></i></a>
						</li>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<h4>Vỏ bưởi mật ong sấy dẻo-100gram</h4>
							<p>65.000đ</p>
							<a href="#" title"Thêm"><i class="fas fa-plus"></i></a>
						</li>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<h4>Vỏ bưởi mật ong sấy dẻo-100gram</h4>
							<p>65.000đ</p>
							<a href="#" title"Thêm"><i class="fas fa-plus"></i></a>
						</li>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<h4>Vỏ bưởi mật ong sấy dẻo-100gram</h4>
							<p>65.000đ</p>
							<a href="#" title"Thêm"><i class="fas fa-plus"></i></a>
						</li>
					</ul>
				</div>
				<div class="qlsp_box">
					<h3>Sản phẩm tham gia CTKM</h3>
					<ul>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<i class="fas fa-check-circle green" title="Đã duyệt"></i>
							<h4>Vỏ bưởi mật ong sấy dẻo-100gram</h4>
							<p class="orange">65.000đ <i class="fas fa-long-arrow-alt-right"></i> 39.000đ</p>
							<a href="" title"Thêm" class="orange"><i class="fas fa-times"></i></a>
						</li>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<i class="fas fa-times-circle orange" title="Bị từ chối"></i>
							<h4>Vỏ bưởi mật ong sấy dẻo-100gram</h4>
							<p class="orange">105.000đ <i class="fas fa-long-arrow-alt-right"></i> 99.000đ</p>
							<a href="" title"Thêm" class="orange"><i class="fas fa-times"></i></a>
						</li>
						<li>
							<img src="https://appdala.net/wp-content/uploads/vo-buoi-mat-ong.jpg">
							<i class="fas fa-minus-circle yellow" title="Chờ duyệt"></i>
							<h4>Vỏ bưởi mật ong sấy dẻo-100g (tặng gói 50g)</h4>
							<p class="orange">129.000đ</p>
							<a href="" title"Thêm" class="orange"><i class="fas fa-times"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	<div class="pro_content_edit"">
		<div class="pro_col01">
		
	
			<div class="pro_box ten_sp_box">
				<h3>Số sản phẩm tham gia
					<a class="giai-thich" href="https://hotro.appdala.com/dang-ky-tham-gia-chuong-trinh-khuyen-mai/" target="_blank">
					<span>
						Số sản phẩm muốn tham gia chương trình khuyến mãi,
						dựa vào số sản phẩm , số ngày tham gia , phí khởi tạo để tính tổng phí tham gia
					</span>
					</a>					
				</h3>
				<div class="inside">
					<input type="text" class= "" value="3" id="discount_program_details_limit_product"/>
				</div>
			</div>			
		
	
			<div class="pro_box ten_sp_box">
				<h3>Số ngày tham gia
					<a class="giai-thich" href="https://hotro.appdala.com/dang-ky-tham-gia-chuong-trinh-khuyen-mai/" target="_blank">
					<span>
						Số ngày muốn tham gia chương trình khuyến mãi,
						dựa vào số sản phẩm , số ngày tham gia , phí khởi tạo để tính tổng phí tham gia
					</span>
					</a>					
				</h3>
				<div class="inside">
					<input type="text" class= "" value="10" id="discount_program_details_limit_day"/>
				</div>
			</div>		
	
	

			<div class="pro_box ten_sp_box"  style="display:none;" >
				<h3>Tổng phí tham gia
					<a class="giai-thich" href="#" target="_blank">
					<span>
						Dựa vào số sản phẩm và số ngày tham gia và phí khởi tạo tính ra tổng phí tham gia
					</span>
					</a>				
				</h3>
				<div class="inside">
					<input type="text" class="number_change" data_value="0" value="0" id="discount_program_details_price"/>
				</div>
			</div>	
			
			<div class="pro_box ten_sp_box">
				<h3>Lời nhắn</h3>
				<div class="inside">
					<textarea class=""  id="discount_program_details_qoute"  rows="10" cols="100%"></textarea>
				</div>
			</div>				
			
			
		</div>
		<div class="pro_col02">

			<div class="pro_box ten_sp_box">
				<h3>Tên chương trình khuyến mãi</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.unCape(discount_program_tager[0].discount_program_name) -%>"/>
				</div>
				<h3>ngày bắt đầu</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.show_date_null(discount_program_tager[0].discount_program_date_star) -%>"/>
				</div>				
				<h3>ngày kết thúc</h3>
				<div class="inside">
					<input type="text" disabled class= "" value="<%- ojs_share.show_date_null(discount_program_tager[0].discount_program_date_end) -%>"/>
				</div>		
			</div>
			<div class="pro_box trang_thai_box <%= admin_view %> ">
				<h3>Trạng thái admin</h3>
				<div class="inside">
					<span>ADMIN:</span><span class="giai-thich"><span>Yêu cầu tham gia chương trình phải được admin phê duyệt</span></span>
					<select id="discount_program_details_status_admin" <%= enable_text3 %>>
						<%- ojs_share.show_status_discount_programs(0) -%>
					</select>						
				</div>
			</div>				
		</div>
	</div>
	
	
	

<div class="btn_box">
	<a href="/discount-program/speciality/<%= store_id %>/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Lưu</button>
</div>	
	





<input type="hidden" id="user_id" value="<%= user_id %>"/>
<input type="hidden" id="store_id" value="<%= store_id %>"/>
<input type="hidden" id="discount_program_id" value="<%= discount_program_id %>"/>


</div>
<!-- --------------------
end content
--------------------- -->





<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->


<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	
	
	$( "#discount_program_date_star" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( "#discount_program_date_end" ).datepicker({
			dateFormat: "yy-mm-dd",
			timeFormat:  "hh:mm:ss",
			language: 'vi'
		}
	);
	$( ".dong_y_box input" ).click(function() {
		if($('input#giamgia').is(':checked') && $('input#chietkhau').is(':checked'))
		{
		  $('.time_tham_gia').addClass('active');
		  $('.qlsp_tham_gia').addClass('active');
		}else
		{
			$('.time_tham_gia').removeClass('active');
		  $('.qlsp_tham_gia').removeClass('active');
		}
	});
	
	var user_id = $('#user_id').val();
	var store_id = $('#store_id').val();
	var discount_program_id = $('#discount_program_id').val();
	
	//@
	//@
	//@
	//@
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		var datas = get_datas();	
		
		//console.log(datas);
		//return;
		
		ojs_discount_program_speciality.ajax_save_details(datas);	
	});


	
	
	function get_datas(){
		

		var discount_program_details_price = $('#discount_program_details_price').attr("data_value");		
		var discount_program_details_limit_day = $('#discount_program_details_limit_day').val();
		var discount_program_details_limit_product = $('#discount_program_details_limit_product').val();
		var discount_program_details_qoute = $('#discount_program_details_qoute').val();
		
		var discount_program_details_status_admin = $('#discount_program_details_status_admin  option:selected').val();
		let datas = {
			"datas":{
				
				discount_program_details_price:discount_program_details_price,
				discount_program_details_limit_day:discount_program_details_limit_day,
				discount_program_details_limit_product:discount_program_details_limit_product,				
				discount_program_details_qoute:discount_program_details_qoute,
				
				discount_program_details_discount_program_id:discount_program_id,
				discount_program_details_store_id:store_id,
				discount_program_details_status_admin:discount_program_details_status_admin,
				
			}
		}
		
		return datas;
	}

	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>



<% include ../../masterpage/loader-end %>