
<% if( typeof title == 'string' && title){ title = title } else{ title="" } %>
<% include ../../masterpage/loader %>

<script src="../../../javascripts/class-comments-speciality.js"></script>	

<div id="page_wrap" class="page_wrap">
<div id="layout" class="page_width layout">
<div id="content-wrap" class="content_wrap">
<!-- --------------------
page wrap 
--------------------- -->
<% include ../../masterpage/header %>



<!-- --------------------
content
--------------------- -->
<div id="content" class="content">
	<h1><%= title %></h1>


	<p><span>Ngày đăng</span><input type="text" value="<%= datas[0].comments_speciality_date_created %>" id="comments_speciality_date_created" /> </p>

	<!-- ------------------
	Mô tả danh mục
	------------------- -->
	<div class="value_row">
		<span>Mô tả danh mục</span>
		<textarea class="noi_dung"  id="noi_dung"  rows="20" cols="100%"><%- ojs_share.unCape(datas[0].comments_speciality_contents ) %></textarea>
	</div>
	<!-- ------------------
	//Mô tả danh mục
	------------------- -->


	<div>
	<span>Trạng thái cửa hàng<span>
		<select id="comments_speciality_status_store">
			<%- ojs_share.show_status_product(datas[0].comments_speciality_status_store) %>
		</select>	
	</div>

	<div>
	<span>Trạng thái admin<span>
		<select id="comments_speciality_status_admin">
			<%- ojs_share.show_status_product(datas[0].comments_speciality_status_admin ) %>
		</select>	
	</div>





<div class="btn_box">
	<a href="/comments/general/show-all/" class="btn_back">Quay về</a>
	<button id="btn_save" class="btn_save">Save</button>
</div>	
	
<input type="hidden" id="comment_id" value="<%= comment_id %>"/>	
<input type="hidden" id="users_id" value="<%= users_id %>"/>


</div>

<!-- --------------------
end content
--------------------- -->








<% include ../../masterpage/footer %>

</div><!-- //content_wrap -->	


<% include ../../masterpage/sidebar %>

<!-- --------------------
//end of page wrap 
--------------------- -->
</div><!-- //layout -->	
</div><!-- //pagewrap -->



<script>
$(document).ready(function($){
/////////////////////////////////////////////////////	
	//
	//@
	
	// ajax luu san pham
	$(document).on('click','#btn_save',function(e) {		
		e.preventDefault();
		//alert("hú hú");
		//return;
		

		//@
		let comment_id = $('#comment_id').val();
		let comments_speciality_date_created = $('#comments_speciality_date_created').val();
		//@
		//@
		let comments_speciality_status_store = $('#comments_speciality_status_store  option:selected').val();
		let comments_speciality_status_admin = $('#comments_speciality_status_admin  option:selected').val();
		//@
		let comments_speciality_contents = $('#noi_dung').val();
		
		//
		let datas = {
			"datas":{
				comments_speciality_status_store : comments_speciality_status_store,
				comments_speciality_status_admin : comments_speciality_status_admin,
				comments_speciality_contents : comments_speciality_contents,
				comments_speciality_date_created : comments_speciality_date_created
			}
		}
		//console.log(datas);		
		//return;
		
		ojs_comments_speciality.ajax_update(datas,comment_id);	
		
	});//end of save ajax
	//
	//
///////////////////////////////////////////////////////
});//end of document
</script>












<% include ../../masterpage/loader-end %>






